<div class="header">
	<h4 class="title">{{selectedScenarioElement.cubeMeta.label}}</h4>
	<h3 class="subtitle">Select A View</h3>
</div>
<div class="body">
	<div class="content">
		<div class="main-content">
			<div class="toolbar">
				<div class="search-box">
					<icon type="search"></icon>
					<input type="text" ng-model="searchTerm.name" placeholder="Search">
				</div>
			</div>
			<div class="list-box">
				<div ng-repeat="view in getViewsList() | filter:searchTerm | orderBy:'auditInfo.lastUpdatedOn':true" class="item clickable" ng-class="{'selected': view.id === selectedView.id}" ng-click="selectedView.id = view.id">
					<div class="item-name text-holder"><icon type="circle-o" cname="circle"></icon><icon type="dot-circle-o" cname="dot-circle"></icon>{{view.name}}</div>
					<div class="item-meta">
						<span ng-if="e2e" class="item-date">{{view.auditInfo.createdOn}}</span>
						<span ng-if="!e2e" class="item-date">{{view.auditInfo.createdOn | timeago}}</span>
						<span class="item-owner">{{view.auditInfo.createdBy.name}}</span>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="action-buttons">
		<ms-button type="cancel" action="cancelChangeView()" label="Cancel" data-dismiss="modal"></ms-button>
		<ms-button type="submit" action="changeView()" label="Replace" data-dismiss="modal"></ms-button>
	</div>
</div>