<div class="modal-header" ui-keypress="{'esc': 'close($event)'}">
	<h4 class="modal-title"><icon type="star"></icon>&nbsp;Create a New Project</h4>
</div>
<div class="modal-body">
	<form name="nameDialog" novalidate role="form">
		<div class="form-group input-group-lg" ng-class="{true: 'has-error'}[nameDialog.username.$dirty && nameDialog.username.$invalid]">
			<label class="control-label" for="inputField">Name:&nbsp;</label>
			<input type="text" class="form-control" id="inputField" ng-model="item.name" focus required ng-maxlength="256" ng-pattern='/^[^\\\/\?\:\*"><|]+$/' />
		</div>
	</form>
</div>
<div class="modal-footer">
	<button type="button" ng-disabled="nameDialog.$invalid" class="btn btn-primary" ng-click="create(item.name)" ui-keypress="{13: 'create(item.name, $event)'}">Create New Project</button>
	<button type="button" class="btn btn-default" ng-click="close($event)">Cancel</button>
</div>