<div class="modal-header current-scenario-header" ui-keypress="{'esc': 'close($event)'}">
	<div class="row">
		<div class="col-md-6">
			<h4 class="modal-title"> Base Scenario: <span class="scenario-title">Scenario Title</span></h4>
			<span class="second-line">Switch to a different base scenario by clicking on the row</span>
		</div>
		<div class="col-md-6">
		<div class="form-group has-feedback">
	    	<input type="text" class="form-control" placeholder="Search by Name" ng-model="searchText"/>
	    	<icon type="search" cname="form-control-feedback"></icon>
		</div>
		</div>
	</div>
</div>
<div class="modal-body current-scenario-body" >
	<table class="table table-hover table-bordered no-margin" >
		<thead>
			<th class="col-lg-6">Master Project</th>
		</thead>
		<tbody>
			<tr>
				<td ng-click="setRow(0)">
					<div class="row" >
						<div class="col-md-1">
							<span><img alt="" src="http://dummyimage.com/20x20/075895/fff.gif&amp;text=S" class="media-object"> </span>
						</div>
						<div class="col-md-10">
							<span>Current Plan of Record Scenario</span>
							<span class="second-line">This is the scenario description lorem ipsum dolor sit</span> 
						</div>
						<div class="col-md-1">
							<icon type="check-circle" cname="ok-sign" ng-show="showRow(0)"></icon>
						</div>
					</div>
				</td>
			</tr>
		</tbody>
	</table>
	<table class="table table-hover table-bordered no-margin single-line">
		<thead ng-repeat-start="scenarios in scenarioList | filter: {'title': searchText}">
			<th class="col-lg-6" data-align="left">{{scenarios.title}} Project</th>
		</thead>
		<tbody ng-repeat-end>
			<tr ng-repeat="scenario in scenarios.data">
				<td ng-click="setRow(scenario.id)">
					<div class="row" >
						<div class="col-md-1">
							<span><img alt="" src="http://dummyimage.com/20x20/ff2f92/fff.gif&amp;text=s" class="media-object"></span>
						</div>
						<div class="col-md-10">
							<span class="{{scenario.type}}">{{scenario.title}}</span>
						</div>
						<div class="col-md-1">
							<span ng-show="showRow(scenario.id)"><icon type="check-circle" cname="ok-sign"></icon></span>
						</div>
					</div>
				</td>
			</tr>
		</tbody>
	</table>
</div>
<div class="modal-footer current-scenario-footer">
	<div class="row">
		<div class="col-md-6">
			<a class="pull-left" ng-click="close()" >Cancel</a>
		</div>
		<div class="col-md-6">
			<button type="button" class="btn btn-primary pull-right" ng-click="confirm()">Confirm Base Scenario</button>
		</div>
	</div>
</div>