<div class="filter-modal-header" resize>
	<h4 class="filter-modal-title" id="myModalLabel">Filters</h4>
</div>
<div class="filter-modal-body">
	<div class="pbFilterModalLinks">
		<div class="pbFilterModalLink clickable" ng-repeat="cat in pbData.itemsList" ng-click="chooseFilter(cat, false, false)" ng-class="{active: cat.label == selectedFilter.cat.label}">
			<div>{{cat.label}}
				<span class="pbFilterSize">({{categorizeValues($index, addedFilter[cat.label]).selected}}/{{categorizeValues($index, addedFilter[cat.label]).total}})</span>
			</div>
			<div ng-show="categorizeValues($index, addedFilter[cat.label]).selected<categorizeValues($index, addedFilter[cat.label]).total" class="pbFilterModalValues" data-toggle="tooltip" data-placement="bottom" title="{{categorizeValues($index, addedFilter[cat.label]).label.join(', ')}}">{{categorizeValues($index, addedFilter[cat.label]).label.join(', ')}}</div>
			<div ng-hide="categorizeValues($index, addedFilter[cat.label]).selected<categorizeValues($index, addedFilter[cat.label]).total" class="pbFilterModalValues" data-toggle="tooltip" data-placement="bottom" title="{{categorizeValues($index, addedFilter[cat.label]).label.join(', ')}}">All</div>
		</div>
	</div>
	<div class="pbFilterModalMain">
		<div class="pbFilterModalAlert" role="alert" ng-show="noFilterSelected">
			<div><i class="fa fa-warning"></i> Plaese select at least one item from the following filter<span ng-if="emptyFiltersList.length > 1">s</span>: <span ng-repeat="missing in emptyFiltersList"><span class="underline clickable" ng-click="chooseFilterByName(missing)">{{missing}}</span><span ng-if="!$last">, </span></span></div>
		</div>
		<div class="pbFilterModalContent">
			<div class="pbFilterModalHeader">
				<div class="pbFilterTitleArea">
					<div class="pbFilterTitle" ng-mouseleave="filterViewDrop = false;">
						<div class="pbFilterDropDownContainer">
							<div class="pbFilterViewTitle clickable" ng-click="filterViewDrop = !filterViewDrop">
								{{selectedFilter.selFil.label}} 
								<i class="fa fa-caret-down"></i>
								<div class="pbFilterViewDrop" ng-show="filterViewDrop">
									<div class="pbFilterViewDropVisible">
										<div ng-repeat="item in selectedFilter.cat.members" class="clickable" ng-click="filterViewDrop = false; chooseFilter(selectedFilter.cat, false, $index)">{{item.label}}</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="pbFilterSearch" ng-show="selectedFilter.selFil">
					<i class="fa fa-filter"></i>
					<input class="pbFilterSearchInput" type="text" placeholder="Filter List" ng-model="filterSearch.label"  ng-keyup="searchFilters(selectedFilter.selFil, filterSearch)">
				</div>
			</div>
			<div class="pbFilterCustomSelection" ng-mouseleave="filterPopup = false" ng-hide="totalFilterCount(selectedFilter.cat.members[selectedFilter.cat.members.length - 1].members,filterSearch.label) === 0">
				<div class="pbFilterSelectionButton" ng-class="{active: filterPopup}">
					<div class="pbFilterSelectAll clickable" ng-show="filterCount(addedFilter[selectedFilter.cat.label],false,filterSearch.label) === 0" ng-click="selectFilters(selectedFilter.cat.label, true, true);"><i class="fa fa-circle-o"></i></div>
					<div class="pbFilterSelectAll clickable blue" ng-show="filterCount(addedFilter[selectedFilter.cat.label],false,filterSearch.label) === totalFilterCount(selectedFilter.cat.members[selectedFilter.cat.members.length - 1].members,filterSearch.label)" ng-click="selectFilters(selectedFilter.cat.label, true, false);"><i class="fa fa-check-circle"></i></div>
					<div class="pbFilterSelectAll clickable" ng-show="filterCount(addedFilter[selectedFilter.cat.label],false,filterSearch.label) % totalFilterCount(selectedFilter.cat.members[selectedFilter.cat.members.length - 1].members,filterSearch.label) > 0.01" ng-click="selectFilters(selectedFilter.cat.label, true, true);"><i class="fa fa-minus-circle"></i></div>
					<div class="pbFilterSelectDrop clickable" ng-click="filterPopup = !filterPopup"><i class="fa fa-caret-down"></i></div>
				</div>
				<div class="pFilterDrop" ng-show="filterPopup">
					<div class="pbFilterDropVisible">
						<div class="clickable" ng-click="filterPopup = false; selectFilters(selectedFilter.cat.label, true, true);">Select All Visible</div>
						<div class="clickable" ng-click="filterPopup = false; selectFilters(selectedFilter.cat.label, true, false);">Deselect All Visible</div>
						<div class="clickable" ng-click="filterPopup = false; selectFilters(selectedFilter.cat.label, false, false);">Deselect All Not Visible</div>
					</div>
				</div>
			</div>
			<div class="pbFilterNumberSelected">
				({{filterCount(addedFilter[selectedFilter.cat.label],false,filterSearch.label)}}/{{totalFilterCount(selectedFilter.cat.members[selectedFilter.cat.members.length - 1].members,filterSearch.label)}})
			</div>
			<div class="pbModalHeight" ng-style="{height: (windowHeight - 250) + 'px'}">
				<filters ng-if="searchResults.members" collection="searchResults" filters="addedFilter" category="{label: selectedFilter.cat.label}"></filters>
			</div>
		</div>
		<div class="pbFilterModalButtons">
			<button type="button" class="btn filterCancelButton" data-dismiss="modal" ng-click="cancelChangeFilter();">Cancel</button>
			<button type="button" class="btn filterApplyButton" data-dismiss="modal" ng-click="changeFilter()" ng-disabled="noFilterSelected">APPLY</button>
		</div>
	</div>
</div>