<div class="scenarioTemplates light-box" data-ms-id="simpleModal">
	<div class="header">
		Hello!
	</div>
	<div class="body">
		<div class="content">
			What type of Scenario Template would you like to create?
		</div>
		<div class="type-buttons">
			<ms-button type="ms-action" action="" label="Action"></ms-button>
			<ms-button type="ms-strategy" action="" label="Strategy"></ms-button>
		</div>
		<div class="form-buttons">
			<ms-button type="cancel" action="close($event)" label="Cancel"></ms-button>
			<ms-button type="submit" action="submit(item.title)" label="START" data-ms-id="modalSubmit" ng-disabled="nameDialog.$invalid"></ms-button>
		</div>
	</div>
</div>