<div data-ms-id="scenarioCreateModal" class="optimization-scenario-create">
	<div class="header">
		<h4 class="title">Create New Optimization</h4>
	</div>
	
	<div class="form">
		<div class="form-row">
			<div class="input-label">Based on</div>
			<div class="input-value">
				<span class="input-underline-wrapper">
					<input placeholder="Write a name" type="text" class="blue" ng-model="newScenario.referenceScenario.name">
					<div class="underline"></div>
				</span>
			</div>
		</div>

		<div class="form-row">
			<div class="input-label">Project</div>
			<div class="input-value">
				<span class="input-underline-wrapper">
					<input placeholder="Write a name" type="text" class="blue" ng-model="parentProject">
					<div class="underline"></div>
				</span>
			</div>
		</div>

		<div class="form-row">
			<div class="input-label">Type</div>
			<div class="input-value">
				<ul class="type-buttons">
					<li class="type-btn" ng-repeat="type in types" ng-click="selectType(type)">
						<input type="radio" name="type" id="radio{{$index}}" ng-model="selectedType" value="{{type.label}}" />
						<label class="label-holder" for="radio{{$index}}">
							<span class="label-text">{{type.label}}</span>
						</label>
					</li>
				</ul>
			</div>
		</div>

		<div class="form-row">
			<div class="input-label">Name</div>
			<div class="input-value">
				<span class="input-underline-wrapper">
					<input placeholder="Write a name" type="text" ng-model="newScenario.name">
					<div class="underline"></div>
				</span>
			</div>
		</div>

		<div class="form-row">
			<div class="input-label">Description</div>
			<div class="input-value">
				<span class="input-underline-wrapper">
					<input placeholder="Write a description in 250 characters or less" type="text" ng-model="newScenario.description">
					<div class="underline"></div>
				</span>
			</div>
		</div>
	</div>

	<div class="action-buttons">
		<ms-button type="cancel" action="cancel()" label="Cancel" data-ms-id="ScenarioCreate.cancelBaseScenario"></ms-button>
		<ms-button type="submit" action="submit()" label="Next" data-ms-id="ScenarioCreate.confirmBaseScenario"></ms-button>
	</div>
</div>