<div class="modal-header" ui-keypress="{'esc': 'close($event)'}">
	<h4 class="modal-title"><icon type="star"></icon> Rename Project</h4>
</div>
<div class="modal-body">
	<form name="nameDialog" novalidate role="form">
		<div class="form-group input-group-lg" ng-class="{true: 'has-error'}[nameDialog.username.$dirty && nameDialog.username.$invalid]">
			<label class="control-label" for="inputField">Enter a new name for Project &quot;{{data.title}}&quot;</label>
			<input type="text" class="form-control" id="inputField" ng-model="name" required focus tabindex="1"/>
		</div>
	</form>
</div>
<div class="modal-footer">
	<button type="button" class="btn btn-primary" ng-click="rename(name)" ng-disabled="(nameDialog.$dirty && nameDialog.$invalid) || nameDialog.$pristine" ui-keypress="{13: 'rename(name, $event)'}">Rename</button>
	<button type="button" class="btn btn-default" ng-click="close()" >Cancel</button>
</div>