<div class="choose-base-scenario" data-ms-id="chooseBaseScenario">
	<div class="header">
		<div class="title">Select recommendation base scenario</div>
	</div>
	<div class="body">
		<div class="content">
			<div class="main-content">
				<div class="toolbar">
					<div class="dropdown-box scenario-type">
						<div class="dropdown">
							<div class="dropdown-toggle clickable"><span class="text">{{currentScenarioType}}</span><icon type="caret-down"></icon></div>
							<ul class="dropdown-menu" ms-link-group selected-item="{{currentScenarioType}}" radio="true">
								<li ng-repeat="item in scenarioTypeItems" ng-click="changeScenarioType(item)" class="menu-item" ms-link="{{currentScenarioType}}">{{::item}}</li>
							</ul>
						</div>
					</div>
					<div class="dropdown-box template-type">
						<div class="dropdown">
							<div class="dropdown-toggle clickable">
								<span class="icon" ng-if="getCurrentTemplate().isIconVisible">{{getCurrentTemplate().icon}}</span>
								<span class="text">{{getCurrentTemplate().text}}</span>
								<icon type="caret-down"></icon>
							</div>
							<ul class="dropdown-menu" ms-link-group selected-item="{{getCurrentTemplate().text}}" radio="true">
								<li ng-click="changeTemplate('ALL')" class="menu-item" ms-link="All">All</li>
								<li ng-repeat="template in getTemplates()" ng-click="changeTemplate(template)" class="menu-item" ms-link="{{template.name}}">{{::template.name}}</li>
							</ul>
						</div>
					</div>
					<div class="search-box">
						<icon type="search"></icon>
						<input type="text" ng-model="searchTerm.name" placeholder="Search">
					</div>
				</div>
				<div class="list-box">
					<form>
						<div ng-repeat="project in getProjects() | filter:searchTerm | orderBy:'auditInfo[lastUpdatedOn]':true" class="project clickable">
							<div class="project-name text-holder" ng-click="toggleProject(project)">
								<icon type="caret-right" cname="collapsed-icon"></icon><icon type="caret-down" cname="expanded-icon"></icon>{{::project.name}}
							</div>
							<div class="scenarios-list" ng-class="{'collapsed': isProjectCollapsed(project)}">
								<div ng-repeat="scenario in getScenarios(project) | filter:searchTerm | orderBy:'auditInfo[lastUpdatedOn]':true" class="scenario clickable" ng-class="{'selected': isScenarioSelected(scenario)}" ng-click="selectScenario(scenario)">
									<input type="radio" name="baseScenario" id="radio{{scenario.id}}" model="selectedScenario" value="{{scenario.id}}">
									<label class="scenario-item" for="radio{{scenario.id}}">
										<div class="radio-button"><icon type="circle-o" class="selected"></icon><icon type="dot-circle-o" class="not-selected"></icon></div>
										<div class="scenario-info"><span>{{::scenario.name}}</span></div>
										<div class="scenario-meta">{{scenario.auditInfo.lastUpdatedOn}}, {{scenario.auditInfo.createdBy.name}}</div>
										<div class="scenario-template-type"><span>{{getScenarioType(scenario)}}</span><span>{{scenario.template.name}}<span></div>
									</label>
								</div>
							</div>
						</div>
					</form>
					<div ng-hide="isListLoaded" class="status-message"><icon type="refresh" class="fa-spin"></icon>Loading data ...</div>
				</div>
			</div>
		</div>
		<div class="action-buttons">
			<ms-button type="cancel" action="cancel()" label="Cancel" data-dismiss="modal"></ms-button>
			<ms-button type="submit" action="submit()" label="Confirm" data-dismiss="modal"></ms-button>
		</div>
	</div>
</div>