<div class="scenarioTemplates light-box" data-ms-id="simpleModal">
	<div class="header">
		Hello!
	</div>
	<div class="body">
		<div class="content">
			What type of Scenario Template would you like to create?
		</div>
		<form>
			<ul class="type-buttons">
				<li class="ms-{{module.name}}" ng-repeat="module in modules" ng-click="select(module)">
					<input type="radio" id="radio{{$index}}" name="selectModule" />
					<label class="animated bounceIn" for="radio{{$index}}">
						{{module.label}}
					</label>
				</li>
			</ul>
		</form>
		<div class="form-buttons">
			<ms-button type="cancel" action="close($event)" label="Cancel"></ms-button>
			<ms-button type="submit" action="submit()" label="START" data-ms-id="modalSubmit" ng-disabled="!isModuleSelected()"></ms-button>
		</div>
	</div>
</div>