<div data-ms-id="simpleModal">
	<div class="modal-header">
		<h4 class="modal-title">{{modalProperties.title}}&nbsp;</h4>
	</div>
	<div class="modal-body">
		<form name="nameDialog" novalidate role="form">
			<div class="form-group input-group-lg" ng-class="{true: 'has-error'}[nameDialog.username.$dirty && nameDialog.username.$invalid]">
				<label class="control-label" for="inputField">{{modalProperties.field}}:&nbsp;</label>
				<input type="text" class="form-control" id="inputField" ng-model="item.title" focus required ng-maxlength="{{inputRestrictions.maximumCharacterLimit}}" ng-minlength="{{inputRestrictions.minimumCharacterLimit}}" ng-pattern='inputRestrictions.characterRestrictions'/>
			</div>
		</form>
	</div>
	<div class="modal-footer">
		<ms-button type="submit" action="submit(item.title)" label="{{modalProperties.button}}" ui-keypress="{13: 'submit(item.title, $event)'}" data-ms-id="modalSubmit"></ms-button>
		<ms-button type="cancel" action="close($event)" label="Cancel"></ms-button>
	</div>
</div>