<div data-ms-id="simpleModal">
	<div class="header">
		<h4 class="title">{{modalProperties.title}}</h4>
	</div>
	<div class="body" ui-keypress="{13: 'submit(item.name, $event)'}">
		<div class="content">
			<form class="main-content" name="nameDialog" novalidate role="form">
				<div class="form-group input-group-lg" ng-class="{'has-error': nameDialog.$invalid}">
					<label class="control-label" for="inputField">{{modalProperties.field}}:
						<input type="text" class="form-control" id="inputField" ng-model="item.name" focus required ng-maxlength="256" ng-minlength="2" ng-pattern='inputRestrictions.characterRestrictions' validator="validator" error-type="errorType"/>
					</label>
				</div>
			</form>
		</div>
		<div class="action-buttons">
			<ms-button type="cancel" action="close($event)" label="Cancel"></ms-button>
			<ms-button type="submit" action="submit(item.name)" label="{{modalProperties.button}}" ui-keypress="{13: 'submit(item.name, $event)'}" data-ms-id="modalSubmit" ng-disabled="nameDialog.$invalid"></ms-button>
		</div>
	</div>
</div>