#sidebar-wrapper {
  overflow: hidden;
  left: 0;
  width: 46px;
  background: #000;
  position: fixed;
  height: 100%;
  z-index: 1000;
  transition: all 0.4s ease 0s; }
  #sidebar-wrapper:hover {
    width: 250px; }
    #sidebar-wrapper:hover .sidebar-nav li .label, #sidebar-wrapper:hover .sidebar-nav li .logo {
      width: 200px;
      opacity: 1.0; }
    #sidebar-wrapper:hover .sidebar-nav .pie {
      opacity: 0.0; }
  #sidebar-wrapper .sidebar-nav {
    list-style: none;
    margin: 0;
    padding: 0; }
    #sidebar-wrapper .sidebar-nav li {
      text-indent: 3px;
      font-size: 16px;
      line-height: 30px;
      border-bottom: 1px solid #999;
      margin: 0 -4px; }
      #sidebar-wrapper .sidebar-nav li:hover .sidebar-brand a {
        color: #999; }
      #sidebar-wrapper .sidebar-nav li:hover .icon {
        color: gold; }
      #sidebar-wrapper .sidebar-nav li.current a {
        cursor: default; }
      #sidebar-wrapper .sidebar-nav li.current .icon {
        color: gold; }
      #sidebar-wrapper .sidebar-nav li.current .label {
        color: gold; }
      #sidebar-wrapper .sidebar-nav li a.logo {
        background: transparent url(../images/360sprite.png) -214px -3px no-repeat;
        height: 50px;
        width: 0px;
        margin: 0;
        padding: 0;
        text-indent: -1000px;
        position: absolute;
        left: 35px;
        top: 0;
        opacity: 0.0;
        transition: width  0.4s, opacity 1s ease 0s; }
        #sidebar-wrapper .sidebar-nav li a.logo:hover {
          background: transparent url(../images/360sprite.png) -214px -3px no-repeat; }
      #sidebar-wrapper .sidebar-nav li a:hover, #sidebar-wrapper .sidebar-nav li .current {
        background: inherit; }
        #sidebar-wrapper .sidebar-nav li a:hover span, #sidebar-wrapper .sidebar-nav li .current span {
          color: gold;
          text-decoration: none; }
      #sidebar-wrapper .sidebar-nav li a:active,
      #sidebar-wrapper .sidebar-nav li a:focus {
        text-decoration: none; }
      #sidebar-wrapper .sidebar-nav li .pie {
        background: transparent url(../images/360sprite.png) -43px -48px no-repeat;
        width: 30px;
        height: 30px;
        overflow: hidden;
        position: relative;
        top: 5px;
        left: -4px;
        display: inline-block;
        opacity: 1.0;
        transition: opacity 0.4s ease 0s; }
      #sidebar-wrapper .sidebar-nav li .label {
        color: #999999;
        text-decoration: none;
        white-space: nowrap;
        margin: 0 0 0 10px;
        width: 0px;
        overflow: hidden;
        opacity: 0.0;
        transition: width  0.4s, opacity 0.4s ease 0s; }
      #sidebar-wrapper .sidebar-nav li .icon {
        display: inline-block;
        color: #999;
        border-radius: 3px;
        width: 26px;
        position: absolute;
        left: 0px;
        height: 25px;
        top: 17px; }
      #sidebar-wrapper .sidebar-nav li .sidebar-brand {
        border-bottom: 3px solid magenta;
        margin: 0 -5px;
        position: relative; }
      #sidebar-wrapper .sidebar-nav li > .sidebar-brand {
        height: 55px;
        line-height: 50px;
        font-size: 18px; }
        #sidebar-wrapper .sidebar-nav li > .sidebar-brand a {
          color: #999999; }

/* Custom dialog/modal headers */
/* Fix for Bootstrap 3 with Angular UI Bootstrap */
.modal {
  display: block; }

.dialog-header-error {
  background-color: #d2322d; }

.dialog-header-wait {
  background-color: #428bca; }

.dialog-header-notify {
  background-color: #eeeeee; }

.dialog-header-confirm {
  background-color: #333333; }

.dialog-header-error span, .dialog-header-error h4,
.dialog-header-wait span, .dialog-header-wait h4,
.dialog-header-confirm span, .dialog-header-confirm h4 {
  color: #ffffff; }
