<div class="CreateRecommendation">
	<div class="row main">
		<div class="col-sm-9 left-column column-fix">
			<div class="slideInContainer animated" ng-class="{slideInRight: slideIn, slideOutRight: !slideIn}"></div>
			<ng-include src="'views/includes/create_recommendation/name_and_describe.tpl.html'"></ng-include>
			<ng-include src="'views/includes/create_recommendation/select.tpl.html'"></ng-include>
			<ng-include src="'views/includes/create_recommendation/define.tpl.html'"></ng-include>
		</div>
		<div class="col-sm-3 right-column column-fix">
			<div class="section">
				Base Scenario
				<div class="item-container">
					<a class="item" ng-click="slideIn = !slideIn">Plan of Record</a>
				</div>
			</div>
			<div class="section">
				<div>
					Constraints
					<icon type="caret-right" cname="constraint-link"></icon>
					<icon type="info-circle" cname="info right"></icon>
				</div>
				<div class="item-container">
					<ul>
						<li ng-repeat="constraint in constraints"><a class="item">{{constraint.label}}</a></li>
					</ul>
				</div>
				<div class="item-container add-link">
					<icon type="plus-circle"></icon>
					add
				</div>
			</div>
			<div class="section end" ng-if="isRecommendTypeStrategy">
				Assumptions
				<icon type="info-circle" cname="info right"></icon>
				<div class="item-container">
					<ul>
						<li class="sub-section" ng-repeat="assumption in assumptions">
							<div class="item-container">
								{{assumption.field}}:
								<a class="item">{{assumption.label}}</a>
							</div>
						</li>
					</ul>
				</div>
			</div>
			<div class="section end" ng-if="!isRecommendTypeStrategy">
				Assumptions
				<icon type="info-circle" cname="info right"></icon>
				<div class="item-container">
					Historical Performance Period
					<div class="item-container">
						<span>Start Date</span>
						<span>
							<div class="underlined right">date</div>
							<div class="underline non-input right"></div>
						</span>
					</div>
					<div class="item-container">
						<span>End Date</span>
						<span>
							<div class="underlined right end">date</div>
							<div class="underline non-input right"></div>
						</span>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="row buttons">
		<ms-button type="cancel" label="Cancel" action="cancel()"></ms-button>
		<ms-button type="submit" label="Generate"></ms-button>
	</div>
</div>