<div class="ProjectManager">
	<div class="top" ng-if="CONFIG.topInclude">
		<ng-include src='CONFIG.topInclude'></ng-include>
	</div>
	<div class="middle">
		<div class="row">
			<ng-include src="'views/includes/display.tpl.html'"></ng-include>
		</div>
		<div class="row">
			<div class="col-xs-70">
				<ng-include src="'views/includes/sorter.tpl.html'"></ng-include>
			</div>
			<div class="col-xs-30 tray" >
				<ng-include src="'views/includes/tray.tpl.html'"></ng-include>
			</div>
		</div>
	</div>
