<div class="scenario">
	<div class="scenario-header">
		<ul class="toggle-btn-group">
			<li data-ms-id="scenario.edit.button" class="toggle-btn" ng-show="location==='/results'">
				<ms-button type="submit" ui-sref="Scenario.edit" label="EDIT" ng-hide="isImportStarted" ng-disabled="scenarioState.message === scenarioStates.IN_PROGRESS.message || scenarioState.message === scenarioStates.FAILED.message"></ms-button>
			</li>
			<li data-ms-id="scenario.results.button" class="toggle-btn" ng-show="location==='/edit'">
				<ms-button type="cancel" action="gotoResults()" label="CANCEL" ng-hide="isImportStarted" ng-disabled="scenarioState.message === scenarioStates.NOT_CALCULATED.message || scenarioState.message === scenarioStates.FAILED.message"></ms-button>
			</li>
			<li data-ms-id="scenario.simulate.button" class="toggle-btn" ng-show="location==='/edit'">
				<ms-button type="submit" action="setState('IN_PROGRESS')" ui-sref="Scenario.calculate" label="SIMULATE" ng-hide="isImportStarted" ng-class="{disabled: disableSimulateButton()}"></ms-button>
			</li>
		</ul>
	</div>

	<div class="display">
		<div ui-view="editor"></div>
		<div ui-view="result"></div>
		<div ui-view="calculate"></div>
	</div>
</div>
