<div class="app">
	<div class="scenario-create">
		<div class="ms-breadcrumb">
			<a ng-click="backToProject(scenario.project)">
				<i class="fa fa-chevron-left " type="chevron-left"></i>
				<i class="fa fa-chevron-left " type="chevron-left"></i>
				{{scenario.project}} Project
			</a>
		</div>
		<div class="details scenario-form">
			<form>
				<h3>Create a Scenario</h3>
				<label>
					<img alt="" src="http://dummyimage.com/50x50/f2ca58/fff.gif&amp;text=S" class="media-object">
					<input type="text" placeholder="Enter Scenario Name">
				</label>
				<br />
				<label>
					<span></span>
					<input class="description" type="textarea" placeholder="Enter Scenario description (optional)">
				</label>
				
			</form>
		</div>
		<div class="details dotted_line">
			<h4>Set Up Your Simulate Parameters</h4>
			<span>Select your base plan for comparision, enter some info and you're on your way</span>
		</div>
		<div class="details dotted_line">
			<div class="left-side">
				<span class="glyphicon glyphicon-home"></span>
			</div>
			<div class="push-right">
				<span class="emphasize">Base scenario: </span><span>Select your base scenario to edit</span>
				<p>Your base scenario is <a ng-click="DiaglogService.current_scenario(scenario)">Current Plan of Record Scenario</a></p>
			</div>
		</div>
		<div class="footer">
			<button class="btn btn-primary" ng-click="editScenario(scenario.project, scenario)">CREATE SCENARIO</button>
			<span class="right-side"><a ng-click="backToProject(scenario.project)">Cancel</a></span>
		</div>
	</div>
</div>
<!-- <div>The new scenario name is {{scenario.name}}</div> -->
<!-- <button ng-click="editScenario(scenario.project, scenario.name)">Edit scenario</button> -->