<div class="Scenario">

	<pre>
the state is {{scenarioState}}
	</pre>
	<div class="toggle-header">
		<div class="tabs-holder">
			<ul ms-link-group radio="true" selected-item="{{location}}">
				<li ms-link="/edit" ui-sref="Scenario.edit" ng-class="{disabled: scenarioState === 'in_progress' || scenarioState === 'FAILED'}">
					<a><icon type="pencil"></icon> Editor</a>
				</li>
				<li ms-link="/results" ng-click="gotoResults()" ng-class="{disabled: scenarioState === 'not_calculated' || scenarioState === 'FAILED'}">
					<a><icon type="check-square-o"></icon> Results</a>
				</li>
			</ul>
		</div>
		<div class="button-holder">
			<span ui-sref="Scenario.calculate" ng-class="{disabled: scenarioState === 'in_progress' || scenarioState === 'SUCCESSFUL'}"><icon type="tachometer"></icon>simulate</span>
		</div>
	</div>

	<div class="display">
		<div ui-view="display"></div>
		<div ui-view="result"></div>
		<div ui-view="calculate"></div>
	</div>
</div>
