<div class="Scenario">
	<div class="toggle-header">
		<div class="tabs-holder">
			<ul>
				<li ng-repeat="tab in tabs" ng-click="select($index)" ng-class="{sel: $index == selected}" ui-sref="{{tab.url}}">
					<a><i class="fa {{tab.icon}}"></i> {{tab.name}}</a>
				</li>
			</ul>
		</div>
		<div class="button-holder">
			<span><i class="fa fa-tachometer" type="simulate" ng-click="resultsCalculated=true"></i>simulate</span>
		</div>
		<div class="icon-holder">
			<span><i class="fa fa-cog" type="settings"></i></span>
		</div>
		<div class="icon-holder">
			<span><i class="fa fa-info" type="information"></i></span>
		</div>
	</div>

	<div class="display">
		<tabset>
		    <tab heading="Pivot Table">
		    	<div ui-view="builder"></div>
		    </tab>
		    <tab heading="Import">
		    	<h1>Import here</h1>
		    </tab>
		    <tab heading="Export">
		    	<h1>Export here</h1>
		    </tab>
		</tabset>
		<div ui-view="table"></div>
		<div ui-view="results"></div>
	</div>
</div>
