<form class="app" name="ScenarioCreate">
	<div class="scenario-create">
		<div class="ms-breadcrumb">
			<a ng-click="GotoService.dashboard(scenario.project)">
				<icon type="chevron-left"></icon>
				<icon type="chevron-left"></icon>
				{{scenario.project}} Project
			</a>
		</div>
		<div class="details scenario-form">
			<div>
				<h3>Create a Scenario</h3>
				<label>
					<img alt="" src="http://dummyimage.com/50x50/f2ca58/fff.gif&amp;text=S" class="media-object">
					<input type="text" focus placeholder="Enter Scenario Name" required ng-maxlength="256" ng-minlength="2" ng-pattern='/^[^\\\/\?\:\*"><|]+$/' ng-model="scenario.title">
				</label>
				<label class="description-holder">
					<input class="description" type="text" placeholder="Enter Scenario description (optional)" ng-model="scenario.description" ng-maxlength="1024">
				</label>
			</div>
		</div>
		<div class="details dotted_line">
			<h4>Set Up Your Simulate Parameters</h4>
			<span>Select your base plan for comparision, enter some info and you're on your way</span>
		</div>
		<div class="details dotted_line">
			<div class="left-side">
				<icon type="home" cname="home"></icon>
			</div>
			<div class="push-right">
				<span class="emphasize">Base scenario: </span><span>Select your base scenario to edit</span>
				<p>Your base scenario is <a ng-click="DiaglogService.currentScenario(scenario)">Current Plan of Record Scenario</a></p>
			</div>
		</div>
		<div class="footer">
			<button class="btn btn-primary" ng-disabled="(ScenarioCreate.$dirty && ScenarioCreate.$invalid) || ScenarioCreate.$pristine" ng-click="createScenario(scenario)">CREATE SCENARIO</button>
			<span class="right-side"><a ng-click="GotoService.dashboard(scenario.project)">Cancel</a></span>
		</div>
	</div>
</form>