<div class="scenario">
	<div class="toggle-header">
		<div class="tabs-holder">
			<ul ms-link-group radio="true" selected-item="{{location}}">
				<!-- for now changed disabled to xdisabled to make sure functionality is correct -->
				<li data-ms-id="scenario.edit.button" ms-link="/edit" ui-sref="Scenario.edit" ng-class="{xdisabled: scenarioState.message === scenarioStates.IN_PROGRESS.message || scenarioState.message === scenarioStates.FAILED.message}">
					<a><icon type="pencil"></icon>Editor</a>
				</li>
				<li data-ms-id="scenario.results.button" ms-link="/results" ng-click="gotoResults()" ng-class="{disabled: scenarioState.message === scenarioStates.NOT_CALCULATED.message || scenarioState.message === scenarioStates.FAILED.message}">
					<a><icon type="check-square-o"></icon>Results</a>

				</li>
			</ul>
		</div>
		<div class="button-holder">
			<span data-ms-id="scenario.simulate.button" ui-sref="Scenario.calculate" ng-click="setState('IN_PROGRESS')" ng-class="{disabled: disableSimulateButton()}"><icon type="tachometer"></icon>simulate</span>
		</div>
	</div>

	<div class="display">
		<div ui-view="editor"></div>
		<div ui-view="result"></div>
		<div ui-view="calculate"></div>
	</div>
</div>
