<div class="scenario-edit">
	<div class="ms-breadcrumb"><a ng-click="GotoService.dashboard(projectName)">
		<icon type="chevron-left"></icon>
		<icon type="chevron-left"></icon>
		&nbsp;{{projectName}}</a></div>

	<div class="details">
		<div class="media">
			<a class="pull-left">
				<img class="media-object" src="http://dummyimage.com/50x50/65d642/fff.gif&text=Ca" alt="">
			</a>
			<div class="media-body">
				<h4 class="media-heading pull-left">{{entity}}</h4>&nbsp;<icon type="cog"></icon><p class='pull-right no-margin'>Base Scenario:&nbsp;<a>Current Master Plan 2015</a></p>
				<div style="clear:both;">Decription: Bacon ipsum dolor sit amet pastrami chuck andouille, shankle jerky drumstick chicken frankfurter fatback. Ham hock tri-tip andouille turducken.</div>
			</div>
		</div>
		<div>
			<form class="form-inline">
				<div class='form-group'>
					<label><span ng-click="view = 'edit'">Edit:</span>&nbsp;
						<select ng-model="scenarioElementType" ng-options="value for value in types"></select>
					</label>
				</div>
			</form>

			<span ng-click="view = 'results'" class="results" Xng-class="{disabled: !resultsCalculated}">Results: (Not Calculated)</span>
			<span class="pull-right">
				<button class="btn btn-primary" ng-click="resultsCalculated=true">simulate</button>
			</span>
		</div>

	</div>

	<div class="display">
		<div ng-switch on="view">
			<div ng-switch-when="edit"><ng-include src="'views/includes/scenario_edit_edit.tpl.html'"></ng-include></div>
			<div ng-switch-when="results"><ng-include src="'views/includes/scenario_edit_results.tpl.html'"></ng-include></div>
			<div ng-switch-default><ng-include src="'views/includes/scenario_edit_edit.tpl.html'"></ng-include></div>
		</div>
	</div>
</div>