/* Animation CSS */
@import "variables";

#fade-in.ng-enter, #fade-in.ng-leave {
	@include transition;
}

#fade-in.ng-enter {
	opacity: 0.0;
}

#fade-in.ng-enter.ng-enter-active {
	opacity: 1.0;
}

#fade-in.ng-leave {}

#fade-in.ng-leave.ng-leave-active {
	opacity: 0.0;
}

#slide-in.ng-hide-add,
#slide-in.ng-hide-remove {
	@include transition;
}

#slide-in.ng-hide-add {
	width:$app_right;
}

#slide-in.ng-hide-add.ng-hide-add-active {
	width:0px;
}

#slide-in.ng-hide-remove {
	width:0px;
}

#slide-in.ng-hide-remove.ng-hide-remove-active {
	width:$app_right;
}