/* Application Styles */
@import "variables";
@import "new_variables";

html {
  background: url($background_img) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

body {
	@extend .baseFont;
  background-color: transparent;
  position: relative;
  height: 100%;
  width: 100%;
  overflow: auto;
}

.app {
  margin: 105px auto 0;
  width: calc(100% - 40px);
  height: calc(100% - 160px);
  box-sizing: content-box;
  max-width: $app_max_width;
  min-width: $app_min_width;
}
