/* Application Styles */
@import "variables";

html {
	background: url($background_img) no-repeat center center fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	padding: 0;
	margin: 0;
	height: 100%;
}

body {
	@extend .baseFont;
	background-color: transparent;
	height: 100%;
	width: 100%;
	overflow-y: auto;
	overflow-x: hidden;
}

.wrapper {
	min-height: 100%;
	margin-bottom: -$footer_height;
	background-color: $background-shade;
	min-width: $app_min_width + 2 * $app_padding;
	&:after {
		content: "";
  		display: block;
  		height: $footer_height;
	}

	.app {
		box-sizing: content-box;
		padding: 0 0 80px;
	}
}

.ms-wrapper {
    max-width: $app_max_width;
    min-width: $app_min_width;
    margin: 0 auto;
    padding: 0 $app_padding;
}