/* Application Styles */
@import "variables";

html {
	background: url($background_img) no-repeat center center fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	padding: 0;
	margin: 0;
	height: 100%;
}

body {
	@extend .baseFont;
	background-color: transparent;
	/*position: relative;*/
	height: 100%;
	width: 100%;
	overflow-y: auto;
	overflow-x: hidden;
}

.wrapper {
	min-height: 100%;
	position: relative;
	background-color: $background-shade;
	min-width: $app_min_width + 2*$app_padding;

	.app {
		/*width: calc(100% - 40px);*/
		box-sizing: content-box;
		max-width: $app_max_width;
		min-width: $app_min_width;
		margin: 100px auto 0;
		padding: 0 $app_padding 80px;
	}

	.footer {
		position: absolute;
		clear: both;
		bottom: 0;
		padding: 0;
	}
}