/* Application Styles */
@import "variables";

html {
  background: url($background_img) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

body {
  overflow-y: scroll;
  overflow-x: hidden;
  /* overflow-y:hidden; */
  background-color: transparent;
  font-family: $sansFontFamily;
  position: relative;
}

.cap {
    width:100%;
    background-color: $header-background;
    height: $cap_height;
    position: relative;
    z-index: 1000;

	.headerrow {
		min-width: $content_min_width;
		margin: auto 20px;
	}
	.row {
		margin: 0;
	}

	.navigation {
		.bar {
			max-width:$app_max_width;
			min-width:$navigation_min_width;
			width:100%;
			height:$cap_height;
			padding:0 15px;
			margin:auto;
		}
		a.logo {
			background: transparent url($logo) 0px 0px no-repeat;
			display:inline-block;
			height: 50px;
			width: 100px;
			text-indent: -1000px;
		}
		a.piechart {
			background: transparent url($logo) -239px 4px no-repeat;
			background-size: auto 76px;
			display:inline-block;
			height: 50px;
			width: 50px;
			text-indent: -1000px;
		}
		ul.navbar-nav {
			float: none;
			display: block;
			width: 555px;
			margin: 0 auto;
			font-size: 0.8em;

			li a.information {
				width: 110px;
				padding: 0;
				color: $gray;
				line-height: 11px;
				text-align: center;
				cursor: pointer;
				position: relative;

                &:hover {
                    background-color: inherit;
                    color: $white;
                }
            }

			li.active a.information{
				color: $white;
			}
		}
		&.col-xs-3 {
			ul.navbar-nav {
				width: auto;
			}
		}
	}
	div {
		&.headerCenter {
			color: $gray;

			i {
				display: inline-block;
				margin-right: 6px;
				font-size: 2.2em;
			}
			span.midHead {
				/*margin-top: 8px;*/
				display: inline-block;
				position: relative;
				top: -4px;
			}
			span.highHead {
				margin-top: 3px;
				display: inline-block;
				text-align: left;
			}
			.navbar-nav > li {
				padding-top: 12px;
				height: 50px;
			}
			/*.navbar-nav > li:hover,*/
			.navbar-nav > li.active {
				background-color: $navbar-active;
				border-top: 3px solid $navbar-border;
				color: $white;
			}
		}
		&.headerRight {
			padding: 0;

			ul.navbar-nav {
				float: right;
				min-width: 200px;
				font-size: 1.0em;

                li {
                    float: right;
                    width: 50px;

                    a.information {
                        width: auto;
                        padding: 12px;
                        text-align: center;
                        font-size: 1.6em;
                    }
                    a.piechart {
                        display: block;
                        width: auto;
                        padding: 12px;
                        text-align: center;
                    }
                    div.userStatus {
                        display: block;
                        float: right;
                        position: relative;
                        top: -9;
                        right: -3;
                        padding-top: 1px;
                        padding-right: 1px;

                        height: 14px;
                        width: 14px;
                        text-align: center;
                        border-radius: 50%;
                        background-color: $orange;

                        font-size: 0.5em;
                        color: $white;
                    }
                }
            }
        }
    }
    div.smallrow {
        height: 35px;
        display: block;
        background-color: $header-smallrow;
        width: 100%;

		div.smallLeft {
			margin: auto;
			min-width: $app_min_width;
			padding-top: 8px;
			padding-left: 15px;
			color: $white;
			font-size: 1.0em;
			.breadcrumbs {
				text-transform: uppercase;
				margin-left: 20px;
				margin-right: 20px;
				a {
					cursor: pointer;
					&:hover {
						text-decoration: none;
					}
				}
			}
		}
	}
	&.footer {
		background-color: $footer-background;
		width:100%;
		z-index:1000;
		height:50px;
		// position:fixed;
		bottom:0;
		div {
			&.footerLeft {
					height: 50px;
					background-image: url($sprite);
					background-repeat: no-repeat;
					background-position: -188px 0;

                    div.colorRow {
                        height: 2px;
                        margin-left: 9px;
                        width: 50%;
                        position: absolute;
                        bottom: 0;

                        @include linear-gradient-logo($colorcell1,$colorcell2,$colorcell3,$colorcell4,$colorcell5,$colorcell6 );

                    }
                }
            &.footerCenter {
                padding-top: 20px;

                ul.navbar-nav {
                    width: 275px;

                    li {
                        border-right: 1px solid $gray;

                        &:last-child {
                            border-right: none;
                        }
                    }

                    a.information {
                        width: auto;
                        padding: 0 15px;
                        font-size: 1.2em;

                        &:hover {
                            text-decoration: underline;
                            color: $gray;
                        }
                    }
                }
            }
            &.footerRight {
                padding: 10px 20px 0 0;
                text-align: right;

                a {
                    color: $gray;
                    i {
                        font-size: 25px;
                        margin-right: 5px;
                        line-height: 17px;
                    }
                }
            }
        }
    }
}

.app {
	max-width: $app_max_width;
	min-width: $app_min_width;
	font-size: $body_font_size;
	margin: $app_top_margin auto 60px;
	// background-color: $white;
	overflow-y: hidden;
	// height: 77%;
}
