@import "variables";

.lightbox.base-scenario-modal {
	.modal-content {
		box-shadow: 0 5px 10px rgba(0, 0, 0, .5);

		.choose-base-scenario {
			background-color: $ms-white;
			padding: 20px 20px;

			.header {
				.title {
					font-size: 34px;
					margin-bottom: 10px;
					display: inline-block;
				}
			}

			.body {
				.content {
					.main-content {
						width: 100%;
						background-color: inherit;
						border: none;

						.toolbar {
							background-color: inherit;
							margin-bottom: 10px;

							div {
								display: inline-block;
							}

							.dropdown-box {
								border-right: 1px solid $ms-mediumLightGray;
								width: inherit;

								i.fa {
									font-size: 14px;
									margin-left: 5px;
								}

								&.scenario-type {
									padding-right: 15px;

									.dropdown-toggle {
										margin: 5px 0;

										.text {
											font-size: 18px;
										}
									}
								}

								&.template-type {
									padding-right: 15px;
									padding-left: 15px;

									.dropdown-toggle {
										margin: 5px 0;

										.text {
											font-size: 14px;
										}
									}
								}
							}

							.search-box {
								border: none;
								background-color: inherit;
								font-size: 16px;
								padding-left: 4px;

								input {
									background-color: inherit;
								}
							}
						}

						.list-box {
							overflow-y: auto;
							overflow-x: none;
							height: calc(100% - 280px);

							.project {
								.project-name {
									font-size: 18px;
									margin: 10px 0;

									i {
										margin-right: 5px;
									}
								}

								.scenario {
									input {
										display: none;
									}

									input[type="radio"]:checked + label {
										background-color: $ms-lightGray;

										.not-selected {
											display: inline-block;
										}

										.selected {
											display: none;
										}
									}

									label {
										display: table-row;
										width: 100%;
										text-align: left;
										font-weight: normal;

										.radio-button {
											padding-left: 30px;
											padding-right: 10px;

											.not-selected {
												display: none;
											}
										}

										div {
											display: table-cell;
										}
									}
								}
							}
						}
					}
				}

				.action-buttons {
					float: none;
					text-align: right;
				}
			}
		}
	}
}