@import "variables";

.lightbox.base-scenario-modal {
	.modal-content {
		box-shadow: 0 5px 10px rgba(0, 0, 0, .5);

		.choose-base-scenario {
			background-color: $ms-white;
			padding: 20px 20px;

			.header {
				.title {
					font-size: 34px;
					margin-bottom: 10px;
					display: inline-block;
				}
			}

			.body {
				.content {
					.main-content {
						width: 100%;
						background-color: inherit;
						border: none;

						.toolbar {
							background-color: inherit;
							margin-bottom: 10px;

							div {
								display: inline-block;
							}

							.dropdown-box {
								width: inherit;

								i.fa {
									font-size: 14px;
									margin-left: 5px;
								}

								&.scenario-type {
									padding-right: 15px;

									.dropdown-toggle {
										margin: 5px 0;

										.text {
											font-size: 14px;
										}
									}
								}

								&.template-type {
									padding-right: 15px;
									padding-left: 15px;

									.dropdown {
										.dropdown-toggle {
											margin: 5px 0;

											.icon {
												font-size: 14px;
												background-color: $ms-lightGreen;
												border-radius: 3px;
												margin-right: 2px;
												height: 17px;
												width: 17px;
												text-align: center;
												display: inline-block;
											}

											.text {
												font-size: 14px;
											}
										}

										.dropdown-menu {
											width: 300px;
											max-height: 400px;
											overflow-y: auto;
										}
									}
								}
							}

							.search-box {
								border: none;
								background-color: inherit;
								font-size: 16px;
								padding-left: 4px;

								input {
									background-color: inherit;
								}
							}
						}

						.list-box {
							overflow-y: auto;
							overflow-x: hidden;
							height: calc(100% - 280px);

							.project {
								.project-name {
									font-size: 14px;
									margin: 10px 0;
									background-color: $ms-lightGray;
									padding: 0 20px;

									i {
										margin-right: 5px;
									}
								}

								.scenarios-list {
									&.collapsed {
										display: none;
									}

									.scenario {
										input {
											display: none;
										}

										input[type="radio"]:checked + label {
											background-color: $ms-lightGray;

											.not-selected {
												display: inline-block;
											}

											.selected {
												display: none;
											}
										}

										label {
											display: table-row;
											width: 100%;
											text-align: left;
											font-weight: normal;

											.radio-button {
												padding-left: 30px;
												padding-right: 10px;

												.not-selected {
													display: none;
												}
											}

											.scenario-template-type {
												width: 150px;
												padding: 0 10px;
											}

											div {
												display: table-cell;
											}
										}
									}
								}
							}
						}
					}
				}

				.action-buttons {
					float: none;
					text-align: right;
				}
			}
		}
	}
}