@import "variables";

.cap {
	width:100%;
	background-color: $header-background;
	height: $cap_height;
	padding: 0 $app_padding;
	// position: fixed;
	// z-index: 1000;
	// top: 0;

	.navbar-holder {
		max-width: $app_max_width;
		margin: 0 auto;
	}

	.headerrow {
		min-width: $content_min_width;
		margin: auto 0;
		height: 100%;
		display: flex;
		align-items: center;

		.row {
			.col-xs-3 {
				padding-left: 0;
			}

			.col-xs-9 {
				padding-right: 0;
			}
		}
	}
	.row {
		margin: 0;
		width: 100%;
		height: 100%;
	}

	.navigation {
		.bar {
			max-width:$app_max_width;
			min-width:$navigation_min_width;
			width:100%;
			height:$cap_height;
			padding:0 15px;
			margin:auto;
		}
		.navbar-header {
			height: 100%;
			display: flex;
			align-items: center;
		}
		a.logo {
			background: transparent url($client_logo) 0px 0px no-repeat;
			display:inline-block;
			height: 50px;
			width: 100px;
			text-indent: -1000px;
			margin: 0;
		}
		a.piechart {
			background: transparent url($client_logo) -239px 4px no-repeat;
			background-size: auto 76px;
			display:inline-block;
			height: 50px;
			width: 50px;
			text-indent: -1000px;
		}
		ul.navbar-nav {
			float: none;
			display: flex;
			align-items: center;
			margin: 0 auto;
			font-size: 16px;
			height: 100%;

			li a.action {
				/*width: 120px;*/
				margin-right: 60px;
				padding: 0;
				color: $ms-gray;
				line-height: 11px;
				text-align: center;
				cursor: pointer;
				position: relative;

				&:hover {
					background-color: inherit;
					color: inherit;
				}
			}

			li.active a.action {
				color: $ms-white;
				cursor: pointer;
			}
		}
		&.col-xs-3 {
			ul.navbar-nav {
				width: auto;
			}
		}
	}
	div {
		&.headerCenter {
			color: $ms-gray;
			span.midHead {
				display: inline-block;
				position: relative;
			}
			.navbar-nav {
				float: right;
			}
			.navbar-nav > li {
				margin: auto;

				a.information {
					width: auto;
					padding: 12px;
					text-align: center;
					font-size: 1.6em;
					color: $ms-gray;

					&.search {
						margin-right: 20px;
					}

					&:hover {
						background-color: inherit;
						color: inherit;
					}
				}
				a.piechart {
					display: block;
					width: auto;
					padding: 12px;
					text-align: center;
				}
				div.userStatus {
					display: block;
					float: right;
					position: relative;
					top: 15px;
					right: 5px;
					height: 14px;
					width: 14px;
					text-align: center;
					border-radius: 50%;
					background-color: $ms-orange;

					font-size: 0.5em;
					color: $ms-white;

					.notification {
						position: absolute;
						top: -2px;
						left: 3px;
					}
				}
			}
			/*.navbar-nav > li:hover,*/
			.navbar-nav > li.active {
				color: $ms-white;
				cursor: pointer;
			}
		}

	}
	div.smallrow {
		color: $ms-white;
		font-size: 34px;
		line-height: 40px;
		font-weight: 100;

		.breadcrumb {
			background: transparent;
			padding: 8px 20px;
			margin: 0 auto;
			/*width: calc(100% - 40px);*/
			/*max-width: $app_max_width;*/
			min-width: $app_min_width;
			text-transform: uppercase;
			white-space: nowrap;
			a {
				color: $ms-white;
				//cursor: pointer;
				&:hover {
					text-decoration: none;
				}
			}
			li {
				text-overflow: ellipsis;
				max-width: 50%;
				overflow: hidden;
			}
			.parent {
				padding-top: 20px;
				font-size: 14px;
				line-height: 25px;
			}
			.single {
				padding-top: 45px;
			}
		}
	}
}

.footer {
	background-color: $footer-background;
	width:100%;
	height:50px;
	// z-index:1001;
	// bottom:0;
	// position: fixed;
	padding: 0 10px;
	.footerrow {
		min-width: $content_min_width;
		margin: auto 20px;
	}
	div {
		&.footerLeft {
				height: 50px;
				background-image: url($sprite);
				background-repeat: no-repeat;
				background-position: -188px 0;

				div.colorRow {
					height: 2px;
					margin-left: 9px;
					width: 50%;
					position: absolute;
					bottom: 0;

					@include linear-gradient-logo($colorcell1,$colorcell2,$colorcell3,$colorcell4,$colorcell5,$colorcell6 );

				}
			}
		&.footerCenter {
			padding: 20px;

			ul.navbar-nav {
				width: 350px;
				float: none;
				display: block;
				font-size: 13px;
				margin: auto;
				li {
					border-right: 1px solid $ms-gray;

					&:last-child {
						border-right: none;
					}

					a:hover {
						background-color: transparent;
					}
				}

				a.information {
					width: auto;
					padding: 0 15px;
					width: 110px;
					color: $ms-gray;
					line-height: 11px;
					text-align: center;
					cursor: default;

					&:hover {
						text-decoration: none;
						color: $ms-gray;
					}
				}
			}
		}
		&.footerRight {
			padding: 10px 20px 0 0;
			text-align: right;

			a {
				color: $ms-gray;
				i {
					font-size: 25px;
					margin-right: 5px;
					line-height: 17px;
				}
			}
		}
	}
}
