/* Contextual Menu CSS */
@import "variables";

.contextual-menu{
	min-width:50px;
	position:relative;
	.dropdown-trigger {
		display:none;
		font-size: 26px;
		line-height: 18px
	}
	.contextual-menu-body {
		position:absolute;
		left:-150px;
		top:0;
		padding:6px 10px;
		li a {
			padding:3px 0;
			color: $enabled;
			white-space: normal;
			.ms-icon{
				padding:0 8px 0 0;
			}
			&.disabled {
				color: $disabled;
				cursor: default;
			}
		}
	}
}
