@import "variables";

.create_recommendations {

	.scenario-content {
		.left-content {
			.date-picker {
				margin: 10px 0;
				font-size: 14px;
			}
		}
		.right-content {
			z-index: 1;
			.slideInContainerBg {
		  	  	position: absolute;
		  	  	width: 100%;
				height: 100%;
				background-color: rgba(0,0,0,0.7);
				z-index:2;
			}
			.slideInContainer {
			  	z-index: 3;
		  	  	position: absolute;
		  	  	width: 99%;
				box-shadow: 0 2px 4px -1px rgba(0,0,0,.14),0 4px 5px 0 rgba(0,0,0,.098),0 1px 10px 0 rgba(0,0,0,.084);
			}
			.sub-view {
				position: relative;

				.budget-box {
				    position: absolute;
				    bottom: 20px;
				    right: 0;
				    width: 378px;
				    height: 200px;
				    border-radius: 3px 3px 3px 3px;
				    background-color: #78909c;
				    .icon-container {
				        position: relative;
				        float: left;
				        width: 30%;
				        height: 100%;
				        background-color: #4f6e7e;
				        border-radius: 3px 0px 0px 3px;
				        display: table;
				        .budget-icon {
				        	width: 54px;
				        	height: 64px;
				        	path {
				        		fill: #a3becc;
				        	}
				        }
				    }
				    .number-container {
				        position: relative;
				        float: right;
				        width: 70%;
				        height: 100%;
				        color: $ms-white;
				        display: table;
				        .description {
				        	font-size: 20px;
				        	line-height: 32px;
				        }
				        .number {
				            margin: 10px 0 30px 0;
				        	font-size: 32px;
				        	line-height: 32px;
				        }
				        .action {
				        	font-size: 14px;
				        	line-height: 32px;
				            a {
				            	text-decoration: none;
				            	color: $ms-white;
				                border-bottom-width: 1px;
				                border-bottom-style: solid;
				                padding-bottom: 1px;
				            }
				        }
				    }
				    .budget-wrapper {
				        display: table-cell;
				        text-align: center;
				        vertical-align: middle;
				    }
				}

				.date-container {
					width: 536px;
					margin-bottom: 15px;
				}

				.budget-column {
					width: 287px;
					float: right;
				}

				.prompt {
					margin: 15px 0 15px 0 ;
					font-size: 24px;
				}

				.input-title {
					font-size: 16px;
					margin-top: 25px;
					margin-bottom: 10px;
				}

				.prompt-small {
					margin: 0 0 15px 0
				}

				.header {
					font-size: 35px;
					line-height: 35px;
				}

				.filters {
					margin: 25px 0 50px 0;
				}

				.hyphen {
					font-size: 20px;
					margin: {
						top: 32px;
					}
					padding: 0 10px;
				}

				.kpi-buttons {
					.kpi-btn {
						@include ms-radio-btn($ms-mediumBlue);
						display: inline-block;
						list-style-type: none;
						padding-right: 20px;

						label {
							font-weight: normal;
							height: 75px;
							display: table;

							.label-text {
								vertical-align: middle;
								display: table-cell;
							}
						}
					}
				}
			}
		}
	}

	input:focus {
		outline: none
	}
	input {
		width: calc(100% - 2px);
	}
	input,
	.underlined {
		margin-left: 1px;
		padding: 0 0 2px 15px;
		font-size: 18px;

		&.right {
			display: inline;
			padding: 0 0 2px 25px;
			&.end {
				padding: {
					left: 29px;
				}
			}
		}
	}
	input[type=text] {
		border: 0;
		cursor: text;
		background-color: $ms-white;
	}
	input:focus ~ .underline {
		background-color: $ms-blue;
	}
	.input-underline-wrapper {
		display: inline-block;
		width: 700px;
	}
	.underline {
		background-color: $ms-mediumLightGray;
		transition: color 0.3s, background 0.3s, border 0.3s, text-shadow 0.3s;
		z-index: 0;
		height: 10px;
		margin-top: -9px;
		width: 100%;

		&.non-input {
			background-color: transparent;
			width: 206px;
			border: 1px solid $ms-mediumLightGray;
			border-top: none;

			&.right {
				margin: -8px 0 0 75px;
				width: 150px;
			}
		}
	}

	.base-scenario-view {
		padding: 40px 20px;

		svg {
			display: inline-block;
			vertical-align: text-bottom;
			width: 45px;
			color: $ms-mediumBlue;
			margin-right: 5px;
		}

		.sub-view-icon {
			vertical-align: top;
		}

		.main-header {
			font-size: 32px;
			margin-bottom: 10px;
			display: inline-block;
		}

		.sub-header {
			font-size: 14px;
			color: $ms-darkGray;
			margin-bottom: 35px;
		}

		.base-scenario-info {
			display: inline-block;
			width: 440px;
			background-color: $ms-green;
			color: $ms-white;
			padding: 20px;
			border-radius: 3px;
			margin-bottom: 30px;

			.header {
				font-size: 18px;
				margin-bottom: 5px;
			}

			.name {
				font-size: 28px;
				margin-bottom: 5px;
			}

			.options {
				margin-bottom: 20px;

				.type {
					display: inline-block;
					float: left;

					.type-logo {
						background-color: $ms-white;
						margin-right: 5px;
						padding: 1px 3px ;

						.marketshare-logo {
							width: 13px;
							vertical-align: middle;
							fill: $ms-blue;
							stroke: $ms-blue;
						}

						.type-initial {
							margin-left: -3px;
							color: $ms-blue;
						}

						&.action {
							.marketshare-logo {
								fill: $ms-green;
								stroke: $ms-green;
							}

							.type-initial {
								color: $ms-green;
							}
						}
					}

					.type-text {
						width: 280px;
						display: inline-block;
						vertical-align: bottom;
					}
				}

				.change {
					display: inline-block;
					float: right;

					.change-icon {
						margin-right: 5px;
					}
				}
			}
		}

		.plan-summary {
			.title {
				font-size: 22px;
				margin-bottom: 5px;
			}

			.header {
				border-top: 1px solid $ms-lightGray;
				background-color: $ms-veryLightGray;
				padding: 10px 20px;
				margin-bottom: 20px;

				.filters {
					font-weight: bold;
					margin-right: 20px;

					.filter-icon {
						margin-right: 5px;
					}
				}

				.time {}
			}

			.kpis {
				display: table;
				margin-bottom: 20px;
				width: 100%;

				.kpi-info {
					display: table-cell;
					padding: 0 20px;

					.kpi-name {
						text-align: center;
						color: $ms-darkGray;
					}

					.kpi-value {
						font-size: 40px;
						text-align: center;
					}
				}
			}

			.summary-table-options {
				color: $ms-darkGray;
				margin-bottom: 10px;

				.breakdown {
					color: $ms-black;
					margin-left: 10px;

					.caret-icon {
						margin-left: 5px;
					}
				}
			}

			.summary-table {
				width: 100%;

				.table-header {
					padding-bottom: 15px;
					border-bottom: 1px solid $ms-lightGray;

					th {
						padding: 10px 20px;
						font-weight: normal;
						font-size: 12px;
					}
				}

				.table-row {

					&:nth-child(even) {
						background-color: $ms-veryLightGray;
					}

					td {
						padding: 15px 20px;
					}
				}
			}
		}
	}
}