@import "variables";

.CreateRecommendation {
	background-color: $ms-pureWhite;

	// Bootstrap Overrides
	.row {
		width: 100%;

		margin: {
			left: 0px;
			right: 0px;
		}
	}

	.col-md-5,
	.col-md-1 {
		padding: 0;
	}
	// Bootstrap Overrides END

	//Possible input Mixin
	input:focus {
		outline: none
	}

	input {
		width: calc(100% - 2px);
	}

	input,
	.underlined {
		margin-left: 1px;
		padding: 0 0 2px 15px;
		font-size: 18px;

		&.right {
			display: inline;
			padding: 0 0 2px 25px;
			&.end {
				padding: {
					left: 29px;
				}
			}
		}
	}

	input[type=text] {
		border: 0;
		cursor: text;
	}

	input:focus ~ .underline {
		background-color: $ms-blue;
	}

	.input-underline-wrapper {
		display: inline-block;
		width: 700px;
	}

	.underline {
		background-color: $ms-mediumLightGray;
		transition: color 0.3s, background 0.3s, border 0.3s, text-shadow 0.3s;
		z-index: 0;
		height: 10px;
		margin-top: -9px;
		width: 100%;

		&.non-input {
			background-color: transparent;
			width: 206px;
			border: 1px solid $ms-mediumLightGray;
			border-top: none;

			&.right {
				margin: -8px 0 0 75px;
				width: 150px;
			}
		}
	}
	//Possible input Mixin END

	.main {
		display: table;

		.column-fix {
		display: table-cell;
		float: none;
	}
	}

	.buttons {
		text-align: right;
		padding: 15px 0;
		border:{
			top: {
				style: solid;
				width: 1px;
				color: $ms-mediumLightGray;
			}
		}
		.btn {
			margin: 0 15px 0 0;
		}
	}

	.info {
			color: $ms-mediumLightGray;
			font-size: 18px;
			&.right{
				float: right;
			}
		}

	.left-column{
		padding: 0 40px 0 40px;
		.slideInContainer {
			height: 100%;
			background: $ms-lightGray;
			position: absolute;
		  	top: 0;
		  	right: 0;
		  	z-index: 2;
		  	&.ms-animation-slideIn {
		  		width: 100%;
		  		&.ng-enter {
					@include transition($d:"0.5s", $s:"ease-in-out", $c:"all");
					width:0;
		  			&.ng-enter-active {
			  			width:100%;
		  			}
		  		}
		  		&.ng-leave {
					@include transition($d:"0.5s", $s:"ease-in-out", $c:"all");
					width:100%;
		  			&.ng-leave-active {
			  			width:0;
		  			}
		  		}
		  	}
		}
		.sub-view {
			margin: 25px 0 0 0;

			svg {
				text-align: center;

				&.line-stroke {
					stroke: white;
					stroke-width: 1px;
				}

				&.icon {
					float: left;
					margin: 0 15px 0 0;
				}

				&.budget-block {
					height: 225px;
					width: 271px;
				}
				&.budget-caret {
					width: 16px;
					height: 225px;
					float: left;
					padding: 97px 0 0 0;
				}
			}

			.date-container {
				width: 536px;
				margin-bottom: 15px;
			}

			.budget-column{
				width: 287px;
				float: right;
			}

			&.bottom-border {
				padding: 0 0 25px 0;
				border: {
					bottom-style: dotted;
					width: 2px;
					color: $ms-mediumLightGray;
				}
			}

			.prompt {
				margin: 15px 0 15px 0 ;
				font-size: 24px;
			}
			.input-title {
				font-size: 16px;
				margin-top: 25px;
				margin-bottom: 10px;
			}
			.prompt-small {
				margin: 0 0 15px 0
			}
			.header {
				font-size: 35px;
				line-height: 35px;
			}
			.register{
				margin: 50px 0 0 0;
			}
			.filters {
				margin: 25px 0 50px 0;
			}
			.hyphen {
				font-size: 20px;
				margin: {
					top: 32px;
				}
				padding: 0 10px;
			}

			.kpi-buttons {
				.kpi-btn {
					@include ms-radio-btn($ms-mediumBlue);
					display: inline-block;
					list-style-type: none;
					padding-right: 20px;

					label {
						font-weight: normal;
						height: 75px;
						display: table;

						.label-text {
							vertical-align: middle;
							display: table-cell;
						}
					}
				}
			}
		}
	}

	.right-column {
		padding: 0 25px 25px;
		background-color: $ms-veryLightGray;
		box-shadow: -5px 0px 3px -2px $ms-lightGray;
		.section {
			margin: 25px 0 0 0;
			font-size: 14px;
			color: $ms-gray;
			border: {
				bottom: {
					style: solid;
					color: $ms-mediumLightGray;
					width: 1px;
				}
			}
			&.end {
				border: none;
			}
			a {
				display: block;
			}
			.sub-section {
				color: $ms-mediumBlue;
			}
			.item-container {
				margin: 10px 0;
				&.add-link{
					color: $ms-mediumGray;
				}
			}
			.item {
				font-size: 18px;
				color: $ms-mediumBlue;
			}
			.constraint-link {
				margin: 0 0 0 5px;
			}
		}
	}

	.base-scenario-view {
		padding: 40px 20px;

		svg {
			display: inline-block;
			vertical-align: text-bottom;
			width: 45px;
			color: $ms-mediumBlue;
			margin-right: 5px;
		}

		.main-header {
			font-size: 32px;
			margin-bottom: 10px;
			display: inline-block;
		}

		.sub-header {
			font-size: 14px;
			color: $ms-darkGray;
			margin-bottom: 35px;
		}

		.base-scenario-info {
			display: inline-block;
			width: 440px;
			background-color: $ms-green;
			color: $ms-white;
			padding: 20px;
			border-radius: 3px;
			margin-bottom: 30px;

			.header {
				font-size: 18px;
				margin-bottom: 5px;
			}

			.name {
				font-size: 28px;
				margin-bottom: 5px;
			}

			.options {
				margin-bottom: 20px;

				.type {
					display: inline-block;
					float: left;

					.type-logo {}

					.type-text {}
				}

				.change {
					display: inline-block;
					float: right;

					.change-icon {
						margin-right: 5px;
					}
				}
			}
		}

		.plan-summary {
			.title {
				font-size: 22px;
				margin-bottom: 5px;
			}

			.header {
				border-top: 1px solid $ms-lightGray;
				background-color: $ms-veryLightGray;
				padding: 10px 20px;
				margin-bottom: 20px;

				.filters {
					font-weight: bold;
					margin-right: 20px;

					.filter-icon {
						margin-right: 5px;
					}
				}

				.time {}
			}

			.kpis {
				display: table;
				margin-bottom: 20px;
				width: 100%;

				.kpi-info {
					display: table-cell;
					padding: 0 20px;

					.kpi-name {
						text-align: center;
						color: $ms-darkGray;
					}

					.kpi-value {
						font-size: 40px;
						text-align: center;
					}
				}
			}

			.summary-table-options {
				color: $ms-darkGray;
				margin-bottom: 10px;

				.breakdown {
					color: $ms-black;
					margin-left: 10px;

					.caret-icon {
						margin-left: 5px;
					}
				}
			}

			.summary-table {
				width: 100%;

				.table-header {
					padding-bottom: 15px;
					border-bottom: 1px solid $ms-lightGray;

					th {
						padding: 10px 20px;
						font-weight: normal;
						font-size: 12px;
					}
				}

				.table-row {

					&:nth-child(even) {
						background-color: $ms-veryLightGray;
					}

					td {
						padding: 15px 20px;
					}
				}
			}
		}
	}
}