@import "variables";

.pbSec {
	margin-bottom: 10px;

	.pbSecTitle {
		vertical-align: middle;
		display: inline-block;
		width: 70px;
	}

	.pbItemsHolder {
		outline: 0;
		vertical-align: middle;
		display: inline-block;
	}

	.dropdown-menu {
		background-color: transparent;
		border: 0;
		-webkit-box-shadow: none;
		box-shadow: none;
	}

	.pbFilterValues {
		vertical-align: top;
		display: inline-block;
		outline: 0;
		overflow: hidden;
		width: 100%;

		.pbFilterBox {
			display: inline-block;
			width: 22.39%;
			min-width: 215px;
			margin-right: 25px;

			.pbFilterCat {
				color: $darkgray;
			}

			.pbFilterVal {
				color: $blue;
				white-space: nowrap;
				overflow: hidden;
				text-overflow: ellipsis;
			}
		}
	}

}

.pbSliderCollapse {
	text-align: center;
	color: $gray;
	font-size: 12px;

	&:hover {
		color: $blue;
	}
}
