@import "variables";

.display-actions {
	position: relative;
	padding: 7px 20px;
	height: 50px;
	background-color: $ms-mediumLightBlue;
	box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.15);

	.filter-holder {
		width: 180px;
		margin-right: 10px;
		float:left;
		.title {
			color: $ms-pureWhite;
			font-weight: 300;
			font-size: 19px;
			text-transform: capitalize;
			cursor: pointer;
		}
		.filterDropdown {
			position: absolute;
			top: 45px;
			left: 5px;
			border:1px solid $ms-mediumBlue;
			margin: 5px 0 0 0;
			padding:15px;
			min-width:160px;
			background-color:$ms-white;
			li {
				padding: 6px 0;
				margin-bottom: 5px;

				&:last-child {
					margin: 0;
				}
			}
			.selected {
				font-weight: bold;
			}

			a {
				font-size: 18px;
				color: $ms-black;
				&:hover {
					color: $ms-mediumBlue;
					text-decoration: none;
				}
			}
		}
		.filterToggle {
			font-size: 12px;
			padding: 0 5px;
		}
	}
	.input-holder {
		@include vertical-align;
		float:left;
		color: $ms-mediumGray;
		i {
			position: relative;
			left: 26px;
		}
		.search-input {
			padding: 6px 8px 6px 30px;
			width: 200px;
			border: 0;
			border-radius: 3px;
		}
	}
	.button-holder {
		// @include vertical-align;
		// float:right;
	 	position: absolute;
	  	top: -48px;
	  	right: 20px;
		button {
			padding: 5px 15px;
			font-size: 16px;
			text-transform: uppercase;
			background-color: $ms-orange;
			color: $ms-white;
			cursor: pointer;
			&:hover {
				background-color: darken($ms-orange, 5%);
			}
			i {
				font-size: 14px;
				padding-right: 5px;
			}
		}
		.scenarioTypeSelector {
			display: inline-block;
			.dropdown-menu {
				top: 45px;
				left: -15px;
			}
		}
	}
}
