@import "variables";

.display-actions { 
	position: relative;
	padding: 7px 20px;
	height: 50px;
	background-color: $white;
	box-shadow: 0px 0px 8px $shadow;

	.filter-holder {
		width: 150px;
		margin-right: 40px;
		float:left;
		.title {
			font-weight: 300;
			text-transform: capitalize;
			cursor: pointer;
			&:hover {
				color: $blue;
			}
		}
		.filterDropdown {
			position: absolute;
			top: 45px;
			left: 5px;
			border:1px solid $blue;
			margin: 5px 0 0 0;
			padding:15px;
			min-width:160px;
			background-color:$white;
			li {
				padding: 6px 0;
				margin-bottom: 5px;

				&:last-child {
					margin: 0;
				}
			}
			.selected {
				font-weight: bold;
			}

			a {
				font-size: 18px;
				color: $black;
				&:hover {
					color: $blue;
					text-decoration: none;
				}
			}
		}
		.filterToggle {
	    	font-size: 12px;
			padding: 0 5px;
		}
	}
	.input-holder { 
		float:left;
		i {
			position: relative;
			left: 26px;
			color: $orange;
		}
		.search-input {
			padding: 6px 8px 6px 30px;
			margin-top: 2px;
			width: 200px;
			border: 1px solid $subtitle;

			&:hover,
			&:focus {
				border: 1px solid $blue;
			}
		}
	}
	.button-holder {
		float:right;
		height: 50px;
		width: auto;
		button {
			margin-top: 1px;
			/*padding: 7px 18px 6px;*/
			background-color: $orange;


			color: $white;
			cursor: pointer;
			box-shadow: 0px 3px 5px $shadow;
			&:hover {
				background-color: darken($orange, 5%);
			}
			i {
				font-size: 14px;
				padding-right: 5px;
			}
		}
	}
}

