@import "variables";

.display-actions {
	.filter-holder {
		width: 120px;
		margin-right: 10px;
		float:left;
		@include vertical-align;
		.title {
			color: $ms-lightGray;
			font-size: 14px;
			text-transform: capitalize;
			cursor: pointer;
		}
		.filterDropdown {
			position: absolute;
			top: 45px;
			left: 5px;
			border:1px solid $ms-mediumBlue;
			margin: 5px 0 0 0;
			padding:15px;
			min-width:160px;
			background-color:$ms-white;
			li {
				padding: 6px 0;
				margin-bottom: 5px;

				&:last-child {
					margin: 0;
				}
			}
			.selected {
				font-weight: bold;
			}

			a {
				font-size: 18px;
				color: $ms-black;
				&:hover {
					color: $ms-mediumBlue;
					text-decoration: none;
				}
			}
		}
		.filterToggle {
			font-size: 12px;
			padding: 0 5px;
		}
	}
	.input-holder {
		float:left;
		@include vertical-align;
	   	color: $ms-lightGray;
		i {
			position: relative;
			left: 25px;
  			line-height: 25px;
		}
		.search-input {
		    width: 100px;
		    height: 25px;
		    padding: 4px 8px 4px 25px;
		    background: rgba(255,255,255,0);
		    border: none;
		    float: right;
		    -webkit-transition: all ease-in-out .3s;
		    &:focus {
			    color: $ms-darkGray;
			    width: 165px;
			    outline: none;
			    background: $ms-white;
			    border-radius: 3px;
			}
		}
	}
	.button-holder {
		position:absolute;
		top: -50px;
		right: 0;
		height: 50px;
		width: auto;
		button {
			padding: 5px 15px;
			font-size: 16px;
			text-transform: uppercase;
			background-color: $ms-orange;
			color: $ms-white;
			cursor: pointer;
			&:hover {
				background-color: darken($ms-orange, 5%);
			}
			i {
				font-size: 14px;
				padding-right: 5px;
			}
		}
		.scenarioTypeSelector {
			display: inline-block;
			.dropdown-menu {
				top: 45px;
				left: -15px;
			}
		}
	}
}
