@import "variables";
@import "new_variables";

.draggable-item {
	min-width: 50px;
	border: 1px solid $ms-mediumLightGray;
	background-color: white;
	height: 28px;
	display: inline-block;
	margin-right: 10px;
	vertical-align: top;
	border-radius: 0;

	i {
		height: 26px;
		padding: 5px;
		width: 23px;
	}

	.drag-handle i {
		background-color: $ms-mediumLightGray;
		color: white;
	}		

	&:hover {
		border-color: $ms-blue;

		.drag-handle i {
			background-color: $ms-blue;
		}
	}

	.dimension-label {
		color: $ms-blue;
		padding: auto 10px;
		text-transform: capitalize;
	}

	.action-icon i {
		background-color: white;
		color: $ms-mediumLightGray;

		&:hover {
			color: $ms-blue;
		}
	}

	.dropdown-menu {
		width: 350px;
		left: -120px;
	}

	&.locked {
		.dimension-label {
			color: $ms-darkGray;

			&:hover {
				cursor: url(https://ssl.gstatic.com/ui/v1/icons/mail/images/2/openhand.cur) 6 0, move !important;
			}
		}
	}
}

.dimension-add-button {
	border: 1px dashed $ms-mediumGray;
	background-color: transparent;

	.add-label {
		padding: 1px 10px;
		color: $ms-gray;

		i {
			font-size: 14px;
			padding-right: 5px;
		}
	}

	&:hover {
		border-color: $ms-blue;

		.add-label {
			color: $ms-blue;
		}
	}
}

.dimension-add-menu {
	padding: 15px;

	table {
		width: 100%;
	}

	.dimension-category {
		border-bottom: 1px solid $mediumgray;
		vertical-align: top;

		&:last-child {
			border-bottom: 0;
		}

		.category-label {
			color: $gray;
			padding-right: 15px;
			padding-top: 10px;
		}

		.dimension-item {
			padding: 5px 5px 0 5px;
			text-transform: capitalize;

			& .disabled {
				color: $ms-mediumLightGray;
			}
		}
	}
}

.as-sortable-item-handle {
	cursor: url(https://ssl.gstatic.com/ui/v1/icons/mail/images/2/openhand.cur) 6 0, move !important;
}

.as-sortable-placeholder {
	display: inline-block;
	border: 1px dashed rgba(245,245,245,1.0);
	min-width: 50px;
	background-color: rgba(215,215,215,1.0);
	color: rgba(66,66,66,1.0);
	padding: 0.3em;
	margin-right: 5px;
	border-radius: 0;
}

.as-sortable-drag {
    position: absolute;
    pointer-events: none;
    z-index: 9999;
    padding: 0;
    overflow: hidden;
	cursor: url(https://ssl.gstatic.com/ui/v1/icons/mail/images/2/closedhand.cur) 6 0, move !important;
}
