@import "variables";

.display-actions { 
	cursor: pointer;
	.filterDropdown {
		display:inline-block;
		border:1px solid #7D7D7D;
		margin-top: 5px;
		padding:5px 0;
		min-width:195px;
		position:absolute;
		background-color:white;
		left: 5px;
    	top: 40px;
	}
	.filterDropdown:before {
		border-bottom: 7px solid black;
	    border-left: 7px solid transparent;
	    border-right: 7px solid transparent;
	    content: "";
	    display: inline-block;
	    left: 65px;
	    position: absolute;
	    top: -7px;
	}
	.filterDropdown:after {
		border-bottom: 6px solid white;
	    border-left: 6px solid transparent;
	    border-right: 6px solid transparent;
	    content: "";
	    display: inline-block;
	    left: 66px;
	    position: absolute;
	    top: -6px;
	}
}

.ms-dropdown {
	position:relative;
	font-size: 13px;
	display: block;
	.ms-select-list {
		display:inline-block;
		border:1px solid #7D7D7D;
		margin-top: 5px;
		padding:5px 0;
		min-width:195px;
		position:absolute;
		background-color:white;
	}
	.ms-select-list:before {
		border-bottom: 7px solid black;
	    border-left: 7px solid transparent;
	    border-right: 7px solid transparent;
	    content: "";
	    display: inline-block;
	    left: 65px;
	    position: absolute;
	    top: -7px;
	}
	.ms-select-list:after {
		border-bottom: 6px solid white;
	    border-left: 6px solid transparent;
	    border-right: 6px solid transparent;
	    content: "";
	    display: inline-block;
	    left: 66px;
	    position: absolute;
	    top: -6px;
	}
	ul {
		list-style-type: none;
		margin:0;
		padding: 0;
		li {
			margin: 0 0 5px;
		}
	}
	.ms-label {
		font-size: 13px;
		cursor: pointer;
		margin:0;
		font-weight:bold;
		min-width: 100px;
		white-space: nowrap;
		color:#8695B4;
		.filter-icon {
			margin: 0 4px 0 -13px;
		}
	}

	.ms-label.active  .status{
		color:$highlight;
		font-weight: 400;
		font-size: 0.9em;
		text-transform: uppercase;
	}

	.sort-order {
		display:inline-block;
		margin:10px 0;
		cursor: pointer;
	}

	.sort-order:after {
		font-family: "font awesome";
		content : '\f0de';
	}

	.sort-order.reverse:after {
		font-family: "font awesome";
		content: '\f0dd';
	}

	.ms-item {
		text-indent:20px;
		font-weight: normal;
	}

	.ms-item.disabled {
		cursor: default;
	}

	.ms-item.disabled:hover {
		cursor: default;
		background-color: inherit;
	}

	.ms-item.disabled .ms-ok {
		visibility: visible;
	}

	.ms-item .ms-ok {
		visibility: hidden;
		display:inline;
	}

	.ms-item:hover {
		cursor: pointer;
		background-color: #BBBBBB;
	}

	.ms-item.selected .ms-ok {
		visibility: visible;
	}

	.ms-holder {
		padding:2px 20px 0 20px;
	}

	.ms-sublabel {
		font-weight:bold;
		text-indent: 10px;
	}
	.divider {
		border-bottom: 1px solid  #7D7D7D;
		margin:0 5px 5px;
	}

	.ms-ok {
		display:inline;
		padding: 0 10px 0 0;
	}	
}