/* Application Styles */
@import "variables";
@import "new_variables";

.dropdown {
	.dropdown-toggle {
		cursor: pointer;
	}
	
	.dropdown-menu {
		top: 30px;
		border-radius: 0;
		background-color: $ms-pureWhite;
		border: 1px solid $ms-blue;
		padding: 7px 0;
		width: 125px;
		box-shadow: 0 3px 10px rgba(160,160,160,0.5);

		&::before {
			position: absolute;
			height: 11px;
			width: 11px;
			content: "";
			border-left: 1px solid $ms-blue;
			border-top: 1px solid $ms-blue;
			@include vendor(transform, rotate(45deg));
			left: 46%;
			top: -6px;
			z-index: 13;
			background-color: $ms-pureWhite;
		}

		.menu-item {
			padding: 5px 20px;
			cursor: pointer;
			overflow: hidden;
			white-space: nowrap;
			text-overflow: ellipsis;

			&:hover {
				color: $ms-black;
				background-color: $ms-lightGray;
			}

			i {
				padding-right: 5px;
			}

			&.selected {
				background-color: $ms-blue;
				color: $ms-pureWhite;
			}
		}

		hr {
			margin: 10px 0;
		}
	}
}
