/* Application Styles */
@import "variables";
@import "new_variables";

.editor {
	.ms-title {
		font-size: 17px;
		height: 31px;
		padding: 3px 5px;
		transition: width 0.3s linear;
		transition: color 0.3s linear;
		width: 250px;
		border: 0 none;
		color: $ms-black;

		&:hover {
			color: $ms-blue;

			.edit {
				i {
					color: $ms-blue;
				}
			}
		}

		.edit {
			width: 240px;

			i {
				vertical-align: top;
				margin-top: 5px;
				margin-right: 5px;
			}

			.pbTitleText {
				display: inline-block;
				border: 1px solid rgba(255,255,255,0);
				width: 200px;
				white-space: nowrap;
				overflow: hidden;
				text-overflow: ellipsis;
			}

			.pbSaveAsBox {
				display: inline-block;
				width: 200px;
				border: 1px solid $blue;
				background-color: white;

				input {
					width: 155px;
					height: 24px;
					border: 0;
					outline: 0;
				}

			}
		}
	}

	.header {
		padding: 7.5px 15px;
	}

	.tab-content {
		>.tab-pane {
			background-color: #f2f2f2;
			border-left: 1px solid #ddd;
			border-right: 1px solid #ddd;
			font-family: $sansFontFamily;
			font-size: 14px;
			color: $black;

			>div {
				border-bottom: 1px solid #ddd;
			}
		}
	}

	.nav > li > a {
		padding: 0;
		margin-right: 0;
		border-radius: 0;
		border: none;
		cursor: pointer;

		> tab-heading > div {
			border: 1px solid $mediumgray;

			&.lightestgrayBg {
				background-color: $lightestgray;
				border-bottom-color: $lightestgray;
				cursor: pointer;
			}
		}

		&:hover {
			background-color: transparent;
		}
	}

	.nav-tabs {
		border-bottom: none;

		> li {
			margin-bottom: -4px;
			&.active {
				background-color:$ms-lightGray;
				> a {
					background-color: transparent;

					&:hover {
						border: none;
					}
				}	
			} 	
		}
	}
}
