/* Application Styles */
@import "variables";

.editor {
	.tab-content {
		.content {
			background-color: $ms-lightGray;
			border: 1px solid $ms-mediumGray;
			color: $ms-black;
		}

		.collapse-handle {
			text-align: center;
			color: $ms-gray;
			font-size: 12px;
			margin-top: 10px;

			i {
				margin-right: 5px;
			}

			&:hover {
				color: $ms-mediumBlue;
			}
		}
	}

	.nav {
		border-bottom: none;
		> li {
			height: 37px;
			border: 1px solid $ms-mediumGray;
			border-right:0px none;
			&:last-child {
				border-right: 1px solid $ms-mediumGray;
			}
			&:hover {
				background-color: $ms-lightGray;
			}
			> a {
				padding: 0;
				margin-right: 0;
				border-radius: 0;
				border: none;
				cursor: pointer;

				&:hover {
					background-color: $ms-lightGray;
					border: none;
				}
			}
			&.active {
				border-bottom: 1px solid $ms-lightGray;
				background-color: $ms-lightGray;
				a {
					background-color: $ms-lightGray;
				}
			}
		}
	}

	.header {
		padding: 7.5px 15px;
	}

	.ms-title {
		font-size: 17px;
		height: 31px;
		padding: 3px 5px;
		border: 0;
		float: left;
		color: $ms-black;
		.fa-eye {
			color: $ms-darkGray;
			vertical-align: top;
			margin-top: 3px;
			margin-right: 5px;
		}
		&:hover  {
			color: $ms-blue;
			.fa-eye {
				cursor: pointer;
				color: $ms-blue;
			}
		}

		.text {
			display: inline-block;
			width: 250px;
			white-space: nowrap;
			overflow: hidden;
			text-overflow: ellipsis;
			&:hover {
				cursor: pointer;
			}
		}

	}

	.saveAsBox {
		form {
			width: 286px;
			margin: 4px 0 0 0;
			input {
				width: 195px
			}
		}
	}

	.slider {
		padding: 0 15px;

		.toolbar {
			padding: 15px 0;
		}
	}

	.save-menu {
		display: inline-block;
		position: relative;
		margin-left: 20px;
		color: $ms-darkGray;

		.ms-button {
			display: inline-block;
			border: 1px solid $ms-mediumLightGray;
			padding: 1px 5px;
			float: left;
			/*color: $ms-darkGray;*/

			i {
				padding-right: 5px;
			}

			&:hover {
				border: 1px solid $ms-mediumBlue;
				color: $ms-mediumBlue;
			}
		}

		.dropdown-button {
			display: inline-block;
			border: 1px solid $ms-mediumLightGray;
			background-color: $ms-mediumLightGray;
			padding: 4px 4px;
			float: left;
			/*color: $ms-darkGray;*/
		}

		.dropdown-menu {
			left: 23px;
		}
	}

	.toggle-switch {
		color: $ms-darkGray;

		.switch {
			background-color: $ms-mediumLightGray;
			margin: 0;
			padding: 4px 13px;
			display: inline-block;
			float: left;
			font-size: 16px;

			&.selected {
				background-color: $ms-blue;
				color: white;
			}
		}
	}

	.recent-items {
		color: $ms-darkGray;
		display: inline-block;
		margin-left: 20px;
		position: relative;
		font-size: 14px;
		vertical-align: top;

		.dropdown-toggle {
			i {
				margin: 0 5px;
				line-height: 24px;
			}

			&:hover {
				color: $ms-mediumBlue;
			}
		}

		.dropdown-menu {
			width: 350px;
			left: -50px;
		}
	}

	.dimensions-list {
		margin-bottom: 10px;

		.title {
			vertical-align: middle;
			display: inline-block;
			width: 100px;
			overflow: hidden;
			text-overflow: ellipsis;
		}

		.list {
			outline: 0;
			vertical-align: middle;
			display: inline-block;
		}
	}

	.filters-list {

		.list {
			vertical-align: top;
			overflow: hidden;
			width: 100%;

			.filter-category {
				display: inline-block;
				width: 22.39%;
				min-width: 215px;
				margin-right: 25px;
				&.disabled {
					.filter-label, .filter-values {
						color: $ms-mediumLightGray;
					}
				}

				.filter-label {
					color: $ms-darkGray;

					.filter-stats {
						margin-left: 5px;
					}
				}

				.filter-values {
					color: $ms-mediumBlue;

					&:hover {
						text-decoration: underline;
					}
				}
			}

			.filter-category-list {
				display: block;
				min-width: 215px;
				margin: 10px 25px 10px 0;
				font-size: 16px;

				.filter-label {
					/*color: $ms-darkGray;*/
					display: inline-block;

					.filter-stats {
						margin-left: 0;
					}
				}

				.filter-values {
					color: $ms-mediumBlue;
					display: inline-block;
					margin-left: 10px;
					max-width: 400px;
					vertical-align: bottom;

					&:hover {
						text-decoration: underline;
					}
				}
			}

			.filter-category-inline {
				display: inline;
				.filter-label:hover {
					text-decoration: underline;
				}
			}
		}
	}

    .replace {
        padding: 0px 0 20px 0;
        .filename {
            font-size: 16px;
            margin-left: 15px;
            vertical-align: bottom;
            display: inline-block;
            max-width: 370px;
            i {
                margin-right: 5px;
            }
        }
        .filename-option {
            font-size: 14px;
            margin-right: 20px;
            &:hover {
            	border-bottom: 1px solid #000;
            }
            i {
                margin-right: 5px;
            }
        }
    }
}
