/* Application Styles */
@import "variables";
@import "new_variables";

.editor {
	.nav-tabs {
		li.active {
			background-color:$ms-lightGray;
		}
	}
	.nav {
		li {
			a {
				tab-heading {
					div {
						border: 0!important;
					}
				}
			}
		}
	}
	.ms-title {
		font-size: 17px;
		height: 31px;
		padding: 3px 5px;
		width: 300px;
		border: 0;
		color: $ms-black;

		&:hover {
			color: $ms-blue;

			.edit {
				i {
					color: $ms-blue;
				}
			}
		}

		.edit {
			width: 240px;

			i {
				vertical-align: top;
				margin-top: 5px;
				margin-right: 5px;
			}

			.pbTitleText {
				display: inline-block;
				width: 200px;
				white-space: nowrap;
				overflow: hidden;
				text-overflow: ellipsis;
			}

			.pbSaveAsBox {
				display: inline-block;
				width: 200px;
				border: 1px solid $ms-blue;
				background-color: white;

				input {
					width: 155px;
					height: 24px;
					border: 0;
					outline: 0;
				}

			}
		}
	}
}