/* Application Styles */
@import "variables";
@import "new_variables";

.editor {
	.nav-tabs {
		li.active {
			background-color:$ms-lightGray;
		}
	}
	.nav {
		li {
			div {
				border: 0!important;
			}
		}
	}
	.ms-title {
		font-size: 17px;
		height: 31px;
		padding: 3px 5px;
		width: 300px;
		border: 0;
		color: $ms-black;
		&:hover {
			color: $ms-blue;
			i {
				color: $ms-blue;
			}
		}

		i {
			vertical-align: top;
			margin-top: 5px;
			margin-right: 5px;
		}

		.text {
			display: inline-block;
			width: 250px;
			white-space: nowrap;
			overflow: hidden;
			text-overflow: ellipsis;
		}

		.saveAsBox {
			display: inline-block;
			width: 250px;
			border: 1px solid $ms-blue;
			background-color: white;

			input {
				width: 200px;
				height: 24px;
				border: 0;
				outline: 0;

				&:hover {
					color: $ms-black;
				}

				i {
					color: $ms-blue;
				}
			}

		}
	}
	.slider {}
	.save-menu {
		display: inline-block;
		position: relative;
		margin-left: 20px;

		.ms-button {
			display: inline-block;
			border: 1px solid $mediumgray;
			padding: 1px 5px;
			float: left;
			color: $darkgray;

			i {
				padding-right: 5px;
			}

			&:hover {
				border: 1px solid $blue;
				color: $blue;
			}
		}
		
		.dropdown-button {
			display: inline-block;
			border: 1px solid $mediumgray;
			background-color: $mediumgray;
			padding: 4px 4px;
			float: left;
			color: $darkgray;
		}

		.dropdown-menu {
			left: 44px;
		}
	}
	

	.header {
		padding: 7.5px 15px;
	}

	.tab-content {
		.content {
			background-color: $ms-lightGray;
			border: 1px solid $ms-mediumGray;
			color: $ms-black;
		}
	}

	.nav {
		border-bottom: none;
		> li {
			height: 37px;
			border: 1px solid $ms-mediumGray;
			border-right:0px none;
			&:last-child {
				border-right: 1px solid $ms-mediumGray;
			}
			&:hover {
				background-color: $ms-lightGray;
			}
			> a {
				padding: 0;
				margin-right: 0;
				border-radius: 0;
				border: none;
				cursor: pointer;

				&:hover {
					background-color: $ms-lightGray;
					border: none;
				}
			}
			&.active {
				border-bottom: 1px solid $ms-lightGray;
				background-color: $ms-lightGray;
				a {
					background-color: $ms-lightGray;
				}
			}
		}
	}
	.recent-items {}
	.dimensions-list {}
	.filter-values {}
}
