/* Application Styles */
@import "variables";
@import "new_variables";

.editor {
	.tab-content {
		.content {
			background-color: $ms-lightGray;
			border: 1px solid $ms-mediumGray;
			color: $ms-black;
		}

		.collapse-handle {
			text-align: center;
			color: $gray;
			font-size: 12px;

			i {
				margin-right: 5px;
			}

			&:hover {
				color: $blue;
			}
		}
	}

	.nav {
		border-bottom: none;
		> li {
			height: 37px;
			border: 1px solid $ms-mediumGray;
			border-right:0px none;
			&:last-child {
				border-right: 1px solid $ms-mediumGray;
			}
			&:hover {
				background-color: $ms-lightGray;
			}
			> a {
				padding: 0;
				margin-right: 0;
				border-radius: 0;
				border: none;
				cursor: pointer;

				&:hover {
					background-color: $ms-lightGray;
					border: none;
				}
			}
			&.active {
				border-bottom: 1px solid $ms-lightGray;
				background-color: $ms-lightGray;
				a {
					background-color: $ms-lightGray;
				}
			}
		}
	}

	.header {
		padding: 7.5px 15px;
	}

	.ms-title {
		font-size: 17px;
		height: 31px;
		padding: 3px 5px;
		width: 300px;
		border: 0;
		color: $ms-black;
		&:hover {
			color: $ms-blue;
			i {
				color: $ms-blue;
			}
		}

		i {
			vertical-align: top;
			margin-top: 5px;
			margin-right: 5px;
		}

		.text {
			display: inline-block;
			width: 250px;
			white-space: nowrap;
			overflow: hidden;
			text-overflow: ellipsis;
		}

		.saveAsBox {
			display: inline-block;
			width: 250px;
			border: 1px solid $ms-blue;
			background-color: white;

			input {
				width: 200px;
				height: 24px;
				border: 0;
				outline: 0;

				&:hover {
					color: $ms-black;
				}

				i {
					color: $ms-blue;
				}
			}

		}
	}

	.slider {
		padding: 0 15px;

		.toolbar {
			padding: 15px 0;
		}
	}

	.save-menu {
		display: inline-block;
		position: relative;
		margin-left: 20px;
		color: $ms-darkGray;

		.ms-button {
			display: inline-block;
			border: 1px solid $ms-mediumGray;
			padding: 1px 5px;
			float: left;
			/*color: $ms-darkGray;*/

			i {
				padding-right: 5px;
			}

			&:hover {
				border: 1px solid $blue;
				color: $blue;
			}
		}
		
		.dropdown-button {
			display: inline-block;
			border: 1px solid $ms-mediumGray;
			background-color: $ms-mediumGray;
			padding: 4px 4px;
			float: left;
			/*color: $ms-darkGray;*/
		}

		.dropdown-menu {
			left: 23px;
		}
	}

	.toggle-switch {
		color: $ms-darkGray;

		.switch {
			background-color: $ms-mediumGray;
			margin: 0;
			padding: 4px 13px;
			display: inline-block;
			float: left;
			font-size: 16px;

			&.selected {
				background-color: $ms-blue;
				color: white;
			}
		}
	}

	.recent-items {
		color: $ms-darkGray;
		display: inline-block;
		margin-left: 20px;
		position: relative;
		font-size: 14px;
		vertical-align: top;

		.dropdown-toggle {
			i {
				margin: 0 5px;
			}

			&:hover {
				color: $blue;
			}
		}

		.dropdown-menu {
			width: 350px;
			left: -50px;
		}
	}

	.dimensions-list {
		margin-bottom: 10px;

		.title {
			vertical-align: middle;
			display: inline-block;
			width: 100px;
		}

		.list {
			outline: 0;
			vertical-align: middle;
			display: inline-block;
		}
	}

	.filter-values {}
}
