@import "variables";

.filters-modal {
	.body {
		.side-menu {
			display: inline-block;
			width: 320px;
			vertical-align: top;
			margin-right: 20px;
			border: 1px solid $ms-mediumLightGray;
			background-color: $ms-lightGray;
			font-size: 16px;
			padding: 10px 0;

			.menu-item {
				padding: 10px 15px;

				&.active {
					background-color: $ms-blue;
					color: white;

					&:hover {
						background-color: $ms-blue;
					}

					.values {
						color: white;
					}
				}

				&:hover {
					background-color: $ms-mediumLightGray;
				}

				.values {
					color: $ms-gray;
				}
			}
		}

		.content {
			display: inline-block;
			width: 780px;
			vertical-align: top;

			.alert {
				width: 780px;
				background-color: $ms-red;
				color: white;
				position: absolute;
				top: -5px;
				padding: 10px 15px;
				border-radius: 3px;
				font-size: 16px;
				transition: all 0.3s linear;

				i {
					margin-right: 5px;
				}

				.underline {
					text-decoration: underline;
				}
			}

			.main-content {
				.toolbar {
					.dropdown-box .dropdown {
						.dropdown-toggle {
							i {
								font-size: 14px;
								margin-left: 5px;
							}

							&:hover {
								color: $ms-blue;
							}
						}

						.dropdown-menu {
							width: 260px;

							.menu-item {
							}
						}
					}

					.search-box {
						i {
							color: $ms-orange;
						}
					}
				}

				.selection-tools {
					height: 35px;

					.dropdown {
						margin: 5px 10px 5px 28px;
						display: inline-block;

						.static-button {
							display: inline-block;
							width: 46px;
							height: 25px;

							.selection-toggle {
								display: inline-block;
								padding: 4px 6px;
								border: 1px solid $ms-mediumLightGray;
								height: 25px;

								&:hover {
									border: 1px solid $ms-blue;
									color: $ms-blue;
								}
							}

							.dropdown-toggle {
								display: inline-block;
								background-color: $ms-lightGray;
								float: right;
								padding: 5px 5px 4px;
								border: 1px solid $ms-mediumLightGray;

								&:hover {
									background-color: $ms-blue;
									border: 1px solid $ms-blue;
									color: $ms-pureWhite;

								}
							}
						}

						.dropdown-menu {
							left: -58px;
							width: 190px;
						}
					}

					.stat {
						display: inline-block;
						margin-left: 5px;
					}
				}

				.list-box {
					border-top: 1px solid $ms-mediumLightGray;
					padding: 5px;
					@include vendor(height, calc(100% - 235px));

					.list {
						margin: 5px 10px;
						font-weight: normal;

						i {
							margin-right: 2px;
						}

						.list-subcategory {
							padding: 5px 0;

							label {
								font-weight: normal;
								margin-top: 5px;
								margin-bottom: 4px;
							}

							.expand-handle {
								padding: 5px;

								i {
									color: $ms-mediumGray;

									&.fa-rotate-90 {
										color: $ms-black;
									}
								}
							}
						}

						.list-item {
							padding: 5px 10px 5px 20;
						}

						.list-category {
							padding-left: 25px;
							height: inherit;

							&.collapsed {
								height: 0;
								overflow: hidden;
							}
						}

						.all-selected {
							color: $ms-blue;
							font-weight: bold;
						}
					}
				}

				.blue {
					color: $ms-blue;
				}
			}
		}
	}
}
