// ford images 
$background_img: "../images/ford-bg.jpg";
$client_logo: "../images/logo_pic_sprite.png";

// action colors
$header-background: rgba(28,51,83, 0.7);
$header-smallrow: rgba(0,27,62, 0.8);
$footer-background: rgba(0,0,0, 0.6);