@import "variables";
@import "new_variables";

.import-export {
	.slider-title {
		display: inline-block;
		margin: 5px 10px 10px 0;
		font-size: 18px;
	}

	.file {
		width: 400px;
		padding: 4px 6px;
		display: inline-block;
		background: white;
		margin-right: 5px;
		border: 1px solid #2d5eab;
		color: #727272;

		&.selected {
			color: $ms-darkGray;
		}

		&.invalid {
			color: $ms-red;
			border-color: $ms-red;
		}
	}

	.message {
		display: inline-block;
		margin-left: 10px;
		padding: 5px;

		i {
			margin-right: 5px;
		}

		&.success {
			border: 1px solid $ms-green;
			background-color: $ms-lightGreen;
		}

		&.error {
			border: 1px solid $ms-red;
			background-color: $ms-lightRed;
		}
	}

	.btn {
		padding: 5px 20px;
		margin-right: 10px;
	}

	.button-group {
		margin-top: 15px;
		display: inline-block;
	}

	.status-container {
		display: inline-block;
		max-width: 700px;

		i {
			margin-right: 5px;
		}
	}

	.edit-area {
		position: relative;

		.disabled-edit {
			background-color: $ms-lightGray;
			opacity: 0.5;
			position: absolute;
			width: 100%;
			height: 100px;
			z-index: 99;
		}
	}
}
