@import "variables";


.listingView {
	margin: 0;
	.row {
		position: relative;
		margin: 0;
		&.display-actions {
			position: relative;
			margin-bottom: 20px;
			height: 50px;
			border-top: 1px solid $ms-darkGray;
			z-index: 3;
		}
		&.alert-area {
			z-index: 2;
		}
		&.display-area {
			background-color: $ms-pureWhite;
			top: -4px;
			height: 100%;
			border-radius: 3px;
			z-index: 1;
		}
	}
	.display{
		width: calc(100% - 360px);
		overflow-y: auto;
		overflow-x: hidden;
		padding: 25px;
		height: 100%;

		.display-title {
		  	height: 20px;
			.filter-holder {
				max-width: 250px;
				float:left;
				@include vertical-align;
				margin-right: 20px;
				.filter-title {
					font-size: 24px;
					text-transform: capitalize;
					cursor: pointer;
				}
				.filterToggle {
					font-size: 18px;
				}
				.dropdown-menu {
					top: 40px;
					left: 0;
					.menu-item { text-transform: capitalize; }
				}
			}
			.ms-filter-input-container {
				position: relative;
				float:left;
				@include vertical-align;
				font-size: 20px;
				color: $ms-mediumLightGray;
				.ms-filter-input-box {
					width: 40px;
					height: 40px;
					border: none;
					border-bottom: 1px solid transparent;
					cursor: pointer;
					transition: all ease-in-out .4s;
					& + label .ms-filter-input-icon {
						position: relative;
						left: -30px;
						color: $ms-mediumLightGray;
						cursor: pointer;
					}
					&:hover {
						color: $ms-black;
						& + label .ms-filter-input-icon { color: $ms-black; }
					}
					&:focus {
						transition: all ease-in-out .4s;
						border-bottom: 1px solid $ms-black;
						outline: none;
						cursor: text;
						color: $ms-black;
						width: 250px;
						& + label .ms-filter-input-icon { color: $ms-black; }
					}
					&:not(:focus) { text-indent:-5000px; }
				}
			}
		}
		.display-table {
			&.viewport {
				max-height: 890px;
				min-height: 117px
			}
			table {
				margin-top: 10px;
				padding: 20px 8px 5px 8px;
				width: 100%;
				th {
					.title {
						margin: 0 0 0 20px;
					}
					&:first-child {
						padding: 20px 8px 5px 20px;
					}
				}
				tr {
					&.active {
						td {
							background-color:$ms-lightGray;
							.text-holder {
								.favorites {
									a {
										&:after { color: $ms-mediumGray; }
										&:hover {
											&:after { color: $ms-darkGray; }
										}
										&.favorite:after { color: $ms-gold; }
									}
								}
							}
						}
					}
				}
				td {
					color: $ms-black;
					white-space: nowrap;
					border-top: 1px solid $ms-lightGray;
					vertical-align: middle;
					height: 50px;

					&:first-child {
						// padding: 13px 0;

						.text-holder {
							cursor: pointer;
						}
					}

					&.master {
						font: {
							weight:bold;
							size:16px;
						}
						.favorites .favorite {
							cursor: default;
						}
					}

					.text-holder {
						&.template {
							padding: 3px 5px;
							color: $ms-white;
							text-transform: uppercase;
							font-size: 10px;
						}
						&.strategy {
							background-color: $ms-lightBlue;
						}
						&.action {
							background-color: $ms-green;
						}
						&.favorites-holder {
							width:25px;
						}
						display: inline-block;
						float: left;
						max-width:400px;
						margin-right: 10px;
						padding: 5px;
						a {
							color: inherit;
						}

						.title {
							display: inline-block;
							vertical-align: bottom;
							max-width: 245px;
							@extend .hide-overflow;
						}

						.favorites {
							display: inline-block;
							padding: 0px 5px;
							a {
							  font-family: "font awesome";
							  display: inline-block;
							  width: 15px;
							  height: 17px;
							  background-color:inherit;
							  &:hover {
								text-decoration: none;
								&:after {
								  content: '\f006';
								  color: $ms-gray;
								}
							  }
							  &:after {
								content: '\f006';
								color: $ms-lightGray;
							  }
							  &.favorite:after {
								content: '\f005';
								color: $ms-gold;
							  }
							}
						}
					}
				}
				thead {
					.heading.active a{
						color: $ms-orange;
						font-weight: 500;
					}
					th {
						border: 0 none;
						border-bottom:1px solid $ms-mediumLightGray;
						line-height: normal;
						a {
							color: $ms-gray;
							text-decoration: none;
							font-weight: 500;
							font-size: 11px;
							text-transform: uppercase;
							white-space: nowrap;
						}
					}
				}
			}
		}
	}
	.tray {
		width: $app_tray_width;
		padding: 10px;
		background-color: $ms-lightGray;
		overflow-x: hidden;
		overflow-y: auto;
		position: absolute;
		right:0;
		top: 0;
		bottom: 0;
		border-radius: 3px;

		@include drop-shadow(-1px, 0, 8px, 0, 0.2);

		.tray-holder {
			margin: 15px 10px 10px;

			.ms-label {
				margin: 5px 0 2px 0;
				color: $ms-mediumGray;
				// font-weight: bold;
				clear:both;
			}
			.details {
				margin:0 0 10px;

				.title-holder {

					.title {
						font-size: 20px;
						max-width: 280px;
					}
				}
				.button-group {
					border-top: 1px solid $ms-mediumLightGray;
					border-bottom: 1px solid $ms-mediumLightGray;
					height: 50px;
					margin: 0;

					.button-holder {
						display: inline-block;
						margin: 0;
						background-color:transparent;
						height: 48px;
						button {
							@include vertical-align;
							background-color: inherit;
							cursor: pointer;
							display: block;
							float: none;
							width: 100%;
							padding: 10px 15px;
							color: $ms-mediumGray;
							text-align: center;
							border: 0;
							&:hover {
								color: #333;
							}
							&:focus {
								outline: 0 !important;
							}
						}
					}
				}
			}
			.well {
				padding: 10px;
				margin-bottom: 10px;
				background-color: $ms-pureWhite;
				// @include drop-shadow(1px, 1px, 5px, 0, 0.3);
				border-radius: 3px;

				.ms-label {
				  	font-weight: 700;
				}
				p { margin: 0; }
				.inlineDescription-holder, .createdBy-holder, .modifiedBy-holder {
					display: block;
				}
				.createdBy-holder, .modifiedBy-holder {
					margin-top: 10px;
				}
				.referenceScenario-holder {
					.reference-label {
						display: inline-block;
						margin-right: 5px;
						margin-bottom: 5px;
					}
					.text-holder {
						display: inline;
					  	&.template {
						  	padding: 3px 5px;
						  	color: #fafafa;
						  	text-transform: uppercase;
						  	font-size: 10px;
					  	}
						&.strategy {
							background-color: $ms-lightBlue;
						}
						&.action {
							background-color: $ms-green;
						}
					}
				}
				&.meta {
					.description-label {
						float: left;
					}
					.description {
						display: inline-block;
						min-height: 26px;
						word-wrap: break-word;
						width: 100%;
					}
					.text-holder {
						.template.strategy {
							padding: 3px;
							display: inline-block;
							background-color: $ms-green;
						}
					}
				}
				&.relatedItems {
					padding: 0;

					.relatedItems-holder {
						position: relative;
						.item-holder {
							.item {
								&:nth-of-type(1) { margin: 10px 0 5px; }
								margin:0 0 5px;
								padding: 0;

								.element-name {
									color: $ms-black;
								}
								.element-title {
									color: $ms-mediumGray;
								}
							}
						}
						.item-expand {
							margin-bottom: -30px;
							cursor: pointer;
							position: absolute;
							bottom: 0;
							left: 0;
							height: 30px;
							width: 100%;
							background-color: $ms-white;
							text-align: center;
							border-bottom-right-radius: 3px;
							border-bottom-left-radius: 3px;
							&:hover { background-color: darken($ms-white, 1%); }
							span {
								color: $ms-gray;
								line-height: 30px;
								vertical-align: middle;
							}
						}
						height: auto;
						padding: 10px;
						.field-label {
							margin: 0 0 5px;
						}
					}
					.description-label {
						display: inline-block;
						margin-bottom: 15px;
						font-weight: bold;
					}
				}
				.viewAll{
					width: 100%;
					span {
						display: block;
						width: 100%;
						padding: 5px;
						background-color: $ms-lightGray;
						color: $ms-mediumGray;
						text-align: center;
						cursor: pointer;

						&:hover {
							color: $ms-pureWhite;
							text-decoration: none;
							background-color: $ms-blue;
						}
					}
				}
			}
		}
	}
}