@import "variables";

.current-scenario-header {
	width: 675px;
	.form-control-feedback {
		top: 0;
		right: 0;
		font-size: 18px;
	}
	.form-control {
		height: 40px;
	}
	.form-group{
		width: 227px;
		float: right;
	}
	.modal-title {
		float: left;
		width: 100%;
		font-weight: 700;
	}
	.scenario-title {
		color: $mustard;
	}
	.second-line {
		font-size: 12px;
		color: $gray;
	}
}
.current-scenario-body {

	overflow: auto; 
	height: 70%;
	width: 675px;
	padding: 0px 20px;

	table {
		width: 100%;
	}

	th,tr {
		font-size: 14px;
	}

	th {
		background-color: $lightgray;
	}

	span {
		margin: 10px 11px;
		float: left;
		font-weight: 600;
	}

	.row {
		span {
				margin: 0;
				width: 90%;
		}

	} 
	.single-line {
		.row {
			span {
				margin: 7px;
			}
			.glyphicon-ok-sign {
				margin-top: 7px;
			}
		}
	}
	.not-calculated {	
		color: $gray;
	}

	.second-line {
		font-size: 12px;
		color: $gray;
		font-weight: normal;
	}

	.ok-sign {
		color: $green;
	}

}

.current-scenario-footer {
	a{
		cursor: pointer;
		&:hover {
			text-decoration: none;
		}
	}
}

// .modal-dialog {
// 	margin: 0 auto;
// 	width: 700px;
// }