@import "variables";

.ms-dropdown {
	position:relative;
	font-size: 14px;
	display: block;
	.ms-select-list {
		display:inline-block;
		border:1px solid $ms-blue;
		margin-top: 10px;
		padding: 20px;
		min-width:195px;
		position:absolute;
		background-color:white;
		left: -30px;
		& > ul:first-of-type{
			border-bottom: 1px solid $ms-mediumGray;
    		margin-bottom: 10px;
    		padding-bottom: 3px;
		}
	}
	.ms-select-list:before {
		content: "";
		width: 15px;
		height: 15px;
		border-top: 1px solid $ms-blue;
		border-left: 1px solid $ms-blue;
		background-color: $ms-pureWhite;
		border-radius: 3px 0;
		position: absolute;
		top: -8px;
		left: 133px;
		z-index: 2;

		-ms-transform: rotate(45deg);
	    -webkit-transform: rotate(45deg);
	    transform: rotate(45deg);
	}
	ul {
		list-style-type: none;
		margin:0;
		padding: 0;
		li {
			margin: 0 0 10px;
			&.list-label {
				color: $ms-mediumGray;
				font-weight: 500;
			}
		}
	}
	.ms-label {
		font-size: 14px;
		cursor: pointer;
		margin:0;
		min-width: 100px;
		white-space: nowrap;
		text-transform: uppercase;
		color: $ms-black;
		.filter-icon {
			margin: 0 4px 0 -13px;
		}
	}

	.ms-label.active {
		color: $ms-orange;
		&.status {
			font-size: 14px;
		}
	}

	.sort-order {
		display:inline-block;
		margin:10px 0;
		cursor: pointer;
	}

	.sort-order:after {
		font-family: "font awesome";
		content : '\f0de';
	}

	.sort-order.reverse:after {
		font-family: "font awesome";
		content: '\f0dd';
	}

	.ms-item {
		font-weight: normal;
	}

	.ms-item.disabled {
		cursor: default;
		color: $ms-black;
		font-weight: 700;
	}

	.ms-item.disabled:hover {
		cursor: default;
		background-color: inherit;
	}

	.ms-item.disabled .ms-ok {
		visibility: visible;
	}

	.ms-item .ms-ok {
		visibility: hidden;
		display:inline;
	}

	.ms-item:hover {
		cursor: pointer;
		background-color: $ms-mediumGray;
	}

	.ms-item.selected .ms-ok {
		visibility: visible;
	}

	.ms-holder {
		padding:2px 20px 0 20px;
	}

	.ms-sublabel {
		font-weight:bold;
		text-indent: 10px;
	}
	.divider {
		border-bottom: 1px solid  #7D7D7D;
		margin:0 5px 5px;
	}

	.ms-ok {
		display:inline;
		padding: 0 10px 0 0;
	}
}