@import "variables";
@import "new_variables";
$icon-size:14px;
.ms-checkbox {
    label {
        display: block;
        position: relative;
        line-height: $icon-size;
        font-weight: normal;
        cursor: pointer;
    }
    label:last-of-type {
        margin-right: 1rem;
    }
    label i {
        display: inline-block;
        height: $icon-size;
        position: relative;
        font-style: normal;
    }
    label span {
        display: inline-block;
        line-height: $icon-size;
    }
    input[type="checkbox"] {
        display: none;
    }
    input[type="checkbox"] + i:before {
        font-family: 'FontAwesome';
        font-size: $icon-size;
        height: $icon-size;
        width: $icon-size;
        display: inline-block;
    }
    input[type="checkbox"] + i:before {
        content: "\f096";
    }
    input[type="checkbox"]:checked + i:before {
        content: "\f14a";
    }
    input[type="checkbox"]:indeterminate + i:before {
        content: "\f147";
    }
    input[type="checkbox"]:checked + i + span, input[type="checkbox"]:checked + i:before {
        color: $ms-blue;
    }
}
