@import "variables";

$icon-size:14px;
.ms-checkbox {
    margin-bottom: 8px;
    i.ms-checkbox-lock {
        margin-right: 5px;
    }
    label {
        display: inline-block;
        position: relative;
        line-height: $icon-size;
        font-weight: normal;
        cursor: pointer;
    }
    label i {
        margin-right: 5px;
        display: inline-block;
        height: $icon-size;
        position: relative;
        font-style: normal;
    }
    label span {
        display: inline-block;
        line-height: $icon-size;
    }
    input[type="checkbox"] {
        display: none;
    }
    input[type="checkbox"] + i:before {
        font-family: 'FontAwesome';
        font-size: $icon-size;
        height: $icon-size;
        width: $icon-size;
        display: inline-block;
    }
    input[type="checkbox"] + i:before {
        content: "\f096";
    }
    input[type="checkbox"]:checked + i:before {
        content: "\f14a";
    }
    input[type="checkbox"]:indeterminate + i:before {
        content: "\f146";
    }
    input[type="checkbox"]:indeterminate + i + span, input[type="checkbox"]:indeterminate + i:before,
    input[type="checkbox"]:checked + i + span, input[type="checkbox"]:checked + i:before {
        color: $ms-blue;
    }
    input[type="checkbox"]:disabled + i + span, input[type="checkbox"]:disabled + i:before {
        color: $ms-gray;
    }
}
