@import "variables";
@import "new_variables";

@include keyframes(bouncedelay) {
    0%, 80%, 100% {
        transform: scale(0.0);
        -webkit-transform: scale(0.0);
    }
    40% {
        transform: scale(1.0);
        -webkit-transform: scale(1.0);
    }
}

.pivot-table-container {
    position: relative;
    margin: 20px 0;
    .pivot-table {
        width: 100%;
    }

    .spinner-container {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: 999;
        background-color: rgba(255, 255, 255, 0.75);
        @include animation('all 1s ease-in-out');
        .spinner {
            position: absolute;
            top: 30%;
            left: 50%;
            margin-left: -25px;
            margin-top: -25px;
            width: 50px;
            height: 50px;
            .spinner-circle {
                position: absolute;
                width: 100%;
                height: 100%;
                .circle1 {
                    top: 0;
                    left: 0;
                }
                .circle2 {
                    top: 0;
                    right: 0;
                }
                .circle3 {
                    right: 0;
                    bottom: 0;
                }
                .circle4 {
                    left: 0;
                    bottom: 0;
                }
            }
        }
        .group1 {
            .circle2 {
                -webkit-animation-delay: -0.9s;
                animation-delay: -0.9s;
            }
            .circle3 {
                -webkit-animation-delay: -0.6s;
                animation-delay: -0.6s;
            }
            .circle4 {
                -webkit-animation-delay: -0.3s;
                animation-delay: -0.3s;
            }
        }
        .group2 {
            -webkit-transform: rotateZ(45deg);
            transform: rotateZ(45deg);
            .circle1 {
                -webkit-animation-delay: -1.1s;
                animation-delay: -1.1s;
            }
            .circle2 {
                -webkit-animation-delay: -0.8s;
                animation-delay: -0.8s;
            }
            .circle3 {
                -webkit-animation-delay: -0.5s;
                animation-delay: -0.5s;
            }
            .circle4 {
                -webkit-animation-delay: -0.2s;
                animation-delay: -0.2s;
            }
        }
        .group3 {
            -webkit-transform: rotateZ(90deg);
            transform: rotateZ(90deg);
            .circle1 {
                -webkit-animation-delay: -1.0s;
                animation-delay: -1.0s;
            }
            .circle2 {
                -webkit-animation-delay: -0.7s;
                animation-delay: -0.7s;
            }
            .circle3 {
                -webkit-animation-delay: -0.4s;
                animation-delay: -0.4s;
            }
            .circle4 {
                -webkit-animation-delay: -0.1s;
                animation-delay: -0.1s;
            }
        }
        .group1 > div, .group2 > div, .group3 > div {
            width: 10px;
            height: 10px;
            background-color: #333;
            border-radius: 100%;
            position: absolute;
            @include animation('bouncedelay 1.2s infinite ease-in-out');
            -webkit-animation-fill-mode: both;
            animation-fill-mode: both;
        }
    }

    .empty-message {
        font-size: 20px;
    }
}
