@import "variables";
@import "new_variables";

#pivotBuilder {
	.pbSlider {
		border: 0;
		padding: 0 16px;

		.pbControlBar {
			padding: 16px 0;

			.pbFunctionFlip {
				color: $darkgray;

				.pbFunctionFlipButton {
					background-color: $mediumgray;
					margin: 0;
					padding: 4px 13px;
					display: inline-block;
					float: left;
					font-size: 16px;

					&.selected {
						background-color: $blue;
						color: white;
					}
				}
			}

			.pbViewsList {
				color: $darkgray;
				display: inline-block;
				margin-left: 20px;
				position: relative;
				font-size: 14px;
				vertical-align: top;

				&:hover {
					.pbRecentViewsButton {
						color: $blue;
					}
				}

				.pbRecentViewsButton {
					padding: 1px 5px;

					.fa:first-child {
						padding-right: 5px;
					}

					.fa:last-child {
						padding-left: 5px;
					}
				}

				.pbRecentViewsMenu {
					position: absolute;
					min-height: 250px;
					width: 290px;
					padding: 20px;
					padding-top: 0;
					left: -50%;
					z-index: 10;

					.pbRecentViewsMenuVisible {
						background: white;
						border: 1px solid $blue;
						padding: 7px 0;
						width: 250px;
						position: absolute;
						top: 7px;
						box-shadow: 0 3px 10px rgba(100,100,100,0.5);

						&::before {
							position: absolute;
							height: 11px;
							width: 11px;
							content: "";
							border-left: 1px solid $blue;
							border-top: 1px solid $blue;
							-webkit-transform: rotate(45deg);
							-moz-transform: rotate(45deg);
							-ms-transform: rotate(45deg);
							-o-transform: rotate(45deg);
							transform: rotate(45deg);
							top: -6px;
							left: 47%;
							z-index: 13;
							background-color: white;
						}

						li {
							div {
								white-space: nowrap;
								overflow: hidden;
								text-overflow: ellipsis;
								padding: 5px 20px;
								cursor: pointer;

								&:hover {
									background-color: $lightgray;
								}

								i {
									margin-right: 5px;
								}
							}

							&.selected {
								div {
									background-color: $blue;
									color: white;
								}
							}
						}

						hr {
							margin: 12px 0;
						}
					}
				}
			}
		}
	}

	.pbGray {
		color: $darkgray;
	}

	.blue {
		color: $blue;
	}

	.bold {
		font-weight: bold;
	}

	.dropdown-menu {
		background-color: transparent;
		border: 0;
		-webkit-box-shadow: none;
		box-shadow: none;
	}
}

.filtersSelectionModal {
	.filter-modal-header {
		h4 {
			font-size: 32px;
			font-weight: normal;
		}
	}

	.filter-modal-body {

		.pbFilterModalLinks {
			display: inline-block;
			width: 320px;
			vertical-align: top;
			margin-right: 20px;
			border: 1px solid $mediumgray;
			background-color: $lightestgray;
			font-size: 16px;
			padding: 10px 0;

			.pbFilterModalLink {
				padding: 10px 15px;

				&.active {
					background-color: $blue;
					color: white;

					&:hover {
						background-color: $blue;
					}

					.pbFilterModalValues {
						color: white;
					}
				}

				&:hover {
					background-color: $mediumgray;
				}

				.pbFilterModalValues {
					white-space: nowrap;
					overflow: hidden;
					text-overflow: ellipsis;
					color: $gray;
				}
			}
		}

		.pbFilterModalMain {
			display: inline-block;
			width: 780px;
			vertical-align: top;

			.pbFilterModalAlert {
				width: 780px;
				background-color: $errorRed;
				color: white;
				position: absolute;
				top: -5px;
				padding: 10px 15px;
				border-radius: 3px;
				font-size: 16px;
				transition: all 0.3s linear;

				&.pbHideAlert {
					opacity: 0;
				}

				.fa {
					padding-right: 5px;
				}
			}

			.pbFilterModalContent {
				border: 1px solid $mediumgray;
				background-color: white;

				.pbFilterModalHeader {
					background-color: $lightestgray;

					.pbFilterTitleArea {
						display: inline-block;
						width: 270px;

							&:hover {
								.pbFilterViewTitle {
									color: $blue;
								}
							}

							.pbFilterDropDownContainer {
									display: inline-block;
									position: relative;

							.pbFilterViewTitle {
								font-size: 20px;
								margin: 5px 10px 5px 20px;
								text-transform: capitalize;

								.fa {
									font-size: 14px;
									padding-left: 5px;
								}

								.pbFilterViewDrop {
									position: absolute;
									padding: 5px 10px 10px;
									z-index: 20;
									width: 230px;
									top: 35px;
									font-size: 14px;
									margin-left: auto;
									margin-right: auto;
									left: -200%;
									right: -200%;

									.pbFilterViewDropVisible {
										border: 1px solid $blue;
										background-color: white;
										padding: 7px 0;
										box-shadow: 0 3px 10px rgba(100,100,100,0.5);

										&::before {
											position: absolute;
											height: 11px;
											width: 11px;
											content: "";
											border-left: 1px solid $blue;
											border-top: 1px solid $blue;
											-webkit-transform: rotate(45deg);
											-moz-transform: rotate(45deg);
											-ms-transform: rotate(45deg);
											-o-transform: rotate(45deg);
											transform: rotate(45deg);
											top: 0;
											left: 44%;
											z-index: 13;
											background-color: white;
										}

										div {
											padding: 5px 20px;
											color: $black;
											text-transform: capitalize;

											&:hover {
												background-color: $blue;
												color: white;
											}
										}
									}
								}
							}
						}
					}

					.pbFilterSearch {
						display: inline-block;
						width: 350px;
						margin: 5px 10px 5px 10px;
						background-color: white;
						border: 1px solid $mediumgray;
						padding: 3px 5px;
						transition: 0.2s all linear;

						.fa {
							color: $orange;
						}

						.pbFilterSearchInput {
							width: 90%;
							border: 0;
							outline: 0;
							margin-left: 5px;
						}
					}
				}

				.pbFilterCustomSelection {
					margin: 5px 10px 5px 28px;
					position: relative;
					display: inline-block;

					.pbFilterSelectionButton {
						display: inline-block;
						width: 46px;
						height: 25px;

						&.active {
							.pbFilterSelectDrop {
								color: white;
							}

							.pbFilterSelectDrop {
								background-color: $blue;
								border: 1px solid $blue;
							}
						}

						.pbFilterSelectAll {
							display: inline-block;
							padding: 4px 6px;
							border: 1px solid $mediumgray;
							height: 25px;

							&:hover {
								border: 1px solid $blue;
								color: $blue;
							}
						}

						.pbFilterSelectDrop {
							display: inline-block;
							background-color: $lightestgray;
							float: right;
							padding: 5px 5px 4px;
							border: 1px solid $mediumgray;

							&:hover {
								background-color: $blue;
								border: 1px solid $blue;
								color: white;
							}
						}
					}

					.pFilterDrop {
						position: absolute;
						padding: 10px;
						left: -60px;
						z-index: 20;
						width: 210px;

						.pbFilterDropVisible {
							border: 1px solid $blue;
							background-color: white;
							padding: 7px 0;
							box-shadow: 0 3px 10px rgba(100,100,100,0.5);

							&::before {
								position: absolute;
								height: 11px;
								width: 11px;
								content: "";
								border-left: 1px solid $blue;
								border-top: 1px solid $blue;
								-webkit-transform: rotate(45deg);
								-moz-transform: rotate(45deg);
								-ms-transform: rotate(45deg);
								-o-transform: rotate(45deg);
								transform: rotate(45deg);
								top: 5px;
								left: 44%;
								z-index: 13;
								background-color: white;
							}

							div {
								padding: 5px 20px;

								&:hover {
									background-color: $blue;
									color: white;
								}
							}
						}
					}
				}

				.pbFilterNumberSelected {
					display: inline-block;
					vertical-align: top;
					padding-top: 7px;
				}

				.pbModalHeight {
					overflow-y: auto;
					border-top: 1px solid $mediumgray;
					padding: 5px;

					.pbFilterList {
						margin: 5px 10px;
						font-weight: normal;

						.fa {
							margin-right: 2px;
						}

						.pbFilterListCategory {
							padding: 5px 0;

							label {
								font-weight: normal;
								margin-top: 5px;
								margin-bottom: 4px;
							}

							.pbExpandHandle {
								padding: 5px;

								.fa-caret-right {
									color: $mediumgray;

									&.fa-rotate-90 {
										color: $black;
									}
								}
							}
						}

						.pbFilterListValue {
							padding: 5px 10px 5px 20;

						}

						.pbFilterCollection {
							padding-left: 25px;
							height: inherit;

							&.pbFilterCollapsed {
								height: 0;
								overflow: hidden;
							}
						}
					}
				}
			}

			.pbFilterModalButtons {
				float: right;

				.btn {
					margin-left: 20px;
					margin-top: 15px;
					padding: 5px 20px;
					border-radius: 3px;
				}

				.filterCancelButton {
					background-color: $mediumgray;
					border: 1px solid $gray;
					color: white;
				}

				.filterApplyButton {
					background-color: $orange;
					color: white;
				}
			}
		}
	}

	.pbGray {
		color: $darkgray;
	}

	.allSelected {
		color: $blue;
		font-weight: bold;
	}

	.blue {
		color: $blue;
	}

	.bold {
		font-weight: bold;
	}

	.underline {
		text-decoration: underline;
	}

	.dropdown-menu {
		background-color: transparent;
		border: 0;
		-webkit-box-shadow: none;
		box-shadow: none;
	}
}