@import"variables";

@mixin animation($animate...) {
    $max: length($animate);
    $animations: '';
    @for $i from 1 through $max {
        $animations: #{$animations + nth($animate, $i)};
        @if $i < $max {
            $animations: #{$animations + ", "};
        }
    }
    -webkit-animation: $animations;
    -moz-animation:    $animations;
    -o-animation:      $animations;
    animation:         $animations;
}

@mixin keyframes($animationName) {
    @-webkit-keyframes #{$animationName} {
        @content;
    }
    @-moz-keyframes #{$animationName} {
        @content;
    }
    @-o-keyframes #{$animationName} {
        @content;
    }
    @keyframes #{$animationName} {
        @content;
    }
}

@include keyframes(bouncedelay) {
    0%, 80%, 100% {
        transform: scale(0.0);
        -webkit-transform: scale(0.0);
    }
    40% {
        transform: scale(1.0);
        -webkit-transform: scale(1.0);
    }
}

.pivotableContainer {
    position: relative;
    margin: 20px 0;
    .pivotable {
        width: 100%;
        height: 500px;
    }
    .spinnerContainer {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: 99999;
        background-color: rgba(255, 255, 255, 0.5);
        @include animation('all 1s ease-in-out');
        .spinner {
            position: absolute;
            top: 50%;
            left: 50%;
            margin-left: -25px;
            margin-top: -25px;
            width: 50px;
            height: 50px;
            .spinner-container {
                position: absolute;
                width: 100%;
                height: 100%;
                .circle1 {
                    top: 0;
                    left: 0;
                }
                .circle2 {
                    top: 0;
                    right: 0;
                }
                .circle3 {
                    right: 0;
                    bottom: 0;
                }
                .circle4 {
                    left: 0;
                    bottom: 0;
                }
            }
        }
        .container1 {
            .circle2 {
                -webkit-animation-delay: -0.9s;
                animation-delay: -0.9s;
            }
            .circle3 {
                -webkit-animation-delay: -0.6s;
                animation-delay: -0.6s;
            }
            .circle4 {
                -webkit-animation-delay: -0.3s;
                animation-delay: -0.3s;
            }
        }
        .container2 {
            -webkit-transform: rotateZ(45deg);
            transform: rotateZ(45deg);
            .circle1 {
                -webkit-animation-delay: -1.1s;
                animation-delay: -1.1s;
            }
            .circle2 {
                -webkit-animation-delay: -0.8s;
                animation-delay: -0.8s;
            }
            .circle3 {
                -webkit-animation-delay: -0.5s;
                animation-delay: -0.5s;
            }
            .circle4 {
                -webkit-animation-delay: -0.2s;
                animation-delay: -0.2s;
            }
        }
        .container3 {
            -webkit-transform: rotateZ(90deg);
            transform: rotateZ(90deg);
            .circle1 {
                -webkit-animation-delay: -1.0s;
                animation-delay: -1.0s;
            }
            .circle2 {
                -webkit-animation-delay: -0.7s;
                animation-delay: -0.7s;
            }
            .circle3 {
                -webkit-animation-delay: -0.4s;
                animation-delay: -0.4s;
            }
            .circle4 {
                -webkit-animation-delay: -0.1s;
                animation-delay: -0.1s;
            }
        }
        .container1 > div, .container2 > div, .container3 > div {
            width: 10px;
            height: 10px;
            background-color: #333;
            border-radius: 100%;
            position: absolute;
            @include animation('bouncedelay 1.2s infinite ease-in-out');
            -webkit-animation-fill-mode: both;
            animation-fill-mode: both;
        }
    }
}

.pivotTablefixed {
    position: fixed;
    top: 0;
}
