@import "variables";

.importExport {
	padding: 0 16px;
	h4 {
		display: inline-block;
		margin-right: 10px;
	}

	p.warning {
		padding: 6px;
		display: inline-block;
		background-color: #f9eabf;
	}

	.prepareContainer {
		width: 450px;
		background: #fff;
		padding: 20px;
	}

	.uploadContainer {
		display: inline-block;
		width: 400px;
	}

	.percentage {
		display: inline-block;
		margin-left: 5px;
		vertical-align: middle;
	}

	.btn {
		padding: 6px 22px;
	}

	.btnGroup {
		margin-top: 16px;
		display: inline-block;
		.btn {
			margin-right: 12px;
		}
	}	

	.activeBtn {
		background-color: #f35528;
		color: #fff;
	}

	.inactiveBtn {
		background-color: #d9d9d9;
		color: #727272;
	}

	.disabledBtn {
		background-color: #f2f2f2;
		border: 1px solid #d9d9d9;
		color: #d9d9d9;
		cursor: not-allowed;
	}

	.progress {
		margin-bottom: 0;
		height: 14px;
		border: 1px solid #2d5eab;
		background-color: #ddf0fe;
		width: 90%;
		display: inline-block;
	}

	.progress-bar {
		background-color: #2d5eab;
	}

	.fileName {
		width: 230px;
		padding: 4px 6px;
		display: inline-block;
		background: white;
		margin-right: 5px;
		border: 1px solid #2d5eab;
		color: #727272;
	}

	.activeFileName {
		color: black;
	}

	.errFileName {
		border-color: #cf1006;
	}

	.errMsg {
		display: inline-block;
		color: #cf1006;
	}

	.successMsg {
		padding: 5px;
		border: 1px solid #449e47;
		display: inline-block;
		background-color: #c7e9c8;
	}
}
.editor {
	.tab-content {
		>.tab-pane {
			background-color: #f2f2f2;
			border-bottom: 1px solid #ddd;
			border-left: 1px solid #ddd;
			border-right: 1px solid #ddd;
		}
	}

	.nav > li > a {
		padding: 6px 15px;
		border: 1px solid $mediumgray;
		margin-right: 0;
		border-radius: 0;
	}

	.nav-tabs>li.active>a {
		background-color: $lightestgray;
		border-bottom: 1px solid $lightestgray;
	}
}

