@import "variables";

#pivotBuilder {
	font-family: $sansFontFamily;
	font-size: 14px;
	color: $black;

	.pbTitle {
		border: 1px solid $mediumgray;
		float: left;
		font-size: 17px;
		height: 30px;
		padding: 3px 5px;
		transition: width 0.3s linear;
		transition: color 0.3s linear;
		width: 240px;

		&:hover {
			color: $blue;
			border: 1px solid $blue;

			.pbRenameArea {
				.fa-eye {
					color: $blue;
				}
			}

			&.pbTitleSel {
				border: 1px solid $mediumgray;
				border-bottom: 0;
			}
		}

		&.pbTitleSel {
			background-color: $lightestgray;
			border-bottom: 0;
			width: 240px;
			transition: width 0.3s linear;

			.pbRenameArea {
				.pbTitleText:hover {
					border: 1px solid $blue;
				}
			}
		}

		.pbRenameArea {
			width: 225px;

			.fa-eye {
				vertical-align: top;
				margin-top: 5px;
			}

			.pbTitleText {
				display: inline-block;
				border: 1px solid rgba(255,255,255,0);
				width: 200px;
				white-space: nowrap;
				overflow: hidden;
				text-overflow: ellipsis;
			}

			.pbSaveAsBox {
				display: inline-block;
				width: 200px;
				border: 1px solid $blue;
				background-color: white;

				input {
					width: 155px;
					height: 24px;
					border: 0;
					outline: 0;
				}

				.fa-check {
					color: $blue;
				}
			}
		}
	}

	.pbToolbar {
		height: 30px;
		border-bottom: 1px solid $mediumgray;
		min-width: 100px;

		&.pbTitleSel {
			border-bottom: 0;
		}
	}

	.pbSlider {
		background-color: $lightestgray;
		border: 0;
		max-height: 0;
		transition: all 0.3s ease-out;
		overflow: hidden;

		&.pbOpened {
			max-height: 300px;
			border: 1px solid $mediumgray;
			border-top: 0;
			overflow: inherit;
		}

		.pbControlBar {
			font-size: 16px;
			padding: 10px 15px;

			.pbFunctionFlip {
				color: $darkgray;

				.pbFunctionFlipButton {
					background-color: $mediumgray;
					margin: 0;
					padding: 4px 13px;
					display: inline-block;
					float: left;

					&.pbFunctionFlipButtonActive {
						background-color: $blue;
						color: white;
					}
				}
			}

			.pbSaveMenu {
				font-size: 14px;
				display: inline-block;
				position: relative;
				margin-left: 20px;

				.pbSaveHolder {
					display: inline-block;
					color: $darkgray;

					.pbSaveButton {
						display: inline-block;
						border: 1px solid $mediumgray;
						padding: 1px 5px;
						float: left;

						&:hover {
							border: 1px solid $blue;
							color: $blue;
						}
					}

					.pbSaveDropButton {
						display: inline-block;
						border: 1px solid $mediumgray;
						background-color: $mediumgray;
						padding: 4px 4px;
						float: left;

						&:hover {
							background-color: $blue;
							border: 1px solid $blue;
							color: white;
						}

						&.pbSaveDropSelected {
							background-color: $blue;
							border: 1px solid $blue;
							color: white;
						}
					}
				}

				.pbViewSaveMenu {
					position: absolute;
					width: 145px;
					height: 100px;
					padding: 10px;
					left: 29%;
					z-index: 10;

					.pbViewSaveMenuVisible {
						background: white;
						border: 1px solid $blue;
						padding: 7px 0;
						width: 125px;
						box-shadow: 0 3px 10px rgba(160,160,160,0.5);

						&::before {
							position: absolute;
							height: 11px;
							width: 11px;
							content: "";
							border-left: 1px solid $blue;
							border-top: 1px solid $blue;
							-webkit-transform: rotate(45deg);
							-moz-transform: rotate(45deg);
							-ms-transform: rotate(45deg);
							-o-transform: rotate(45deg);
							transform: rotate(45deg);
							top: 5px;
							left: 44%;
							z-index: 13;
							background-color: white;
						}

						.pbViewSaveMenuItem {
							padding: 5px 20px;
							cursor: pointer;

							&:hover {
								color: white;
								background-color: $blue;
							}

							.fa {
								padding-right: 5px;
							}
						}
					}
				}
			}

			.pbViewsList {
				color: $darkgray;
				display: inline-block;
				margin-left: 20px;
				position: relative;
				font-size: 14px;
				vertical-align: top;

				&:hover {
					.pbRecentViewsButton {
						color: $blue;
					}
				}

				.pbRecentViewsButton {
					padding: 1px 5px;
				}

				.pbRecentViewsMenu {
					position: absolute;
					min-height: 250px;
					width: 290px;
					padding: 20px;
					padding-top: 0;
					left: -50%;
					z-index: 10;

					.pbRecentViewsMenuVisible {
						background: white;
						border: 1px solid $blue;
						padding: 7px 0;
						width: 250px;
						position: absolute;
						top: 7px;
						box-shadow: 0 3px 10px rgba(100,100,100,0.5);

						&::before {
							position: absolute;
							height: 11px;
							width: 11px;
							content: "";
							border-left: 1px solid $blue;
							border-top: 1px solid $blue;
							-webkit-transform: rotate(45deg);
							-moz-transform: rotate(45deg);
							-ms-transform: rotate(45deg);
							-o-transform: rotate(45deg);
							transform: rotate(45deg);
							top: -6px;
							left: 47%;
							z-index: 13;
							background-color: white;
						}

						div {
							white-space: nowrap;
							overflow: hidden;
							text-overflow: ellipsis;
							padding: 5px 20px;
							cursor: pointer;

							&:hover {
								background-color: $blue;
								color: white;
							}

							i {
								margin-right: 5px;
							}
						}

						hr {
							margin: 12px 0;
						}
					}
				}
			}
		}

		.pbSec {
			margin-bottom: 10px;

			.pbSecTitle {
				margin: 5px 15px;
				display: inline-block;
				width: 60px;
				float: left;
			}

			.pbItemsHolder {
				outline: 0;
				overflow: hidden;
				margin-right: 20px;

				.pbItem {
					min-width: 50px;
					border: 1px solid $mediumgray;
					background-color: white;
					height: 28px;
					display: inline-block;
					margin-right: 5px;
					vertical-align: top;

					&:hover {
						border: 1px solid $blue;

						.fa-reorder {
							background-color: $blue;
						}
					}

					.fa-reorder {
						background-color: $mediumgray;
						height: 26px;
						padding: 5px;
						width: 23px;
						color: white;
					}

					.pbItemInfo {
						color: $blue;
						padding: auto 10px;

						.pbItemName {
							text-transform: capitalize;
						}
					}

					.fa-remove {
						color: $mediumgray;
						padding: 5px;

						&:hover {
							color: $blue;
						}
					}
				}

				.as-sortable-placeholder {
					display: inline-block;
					border: 1px dashed rgba(245,245,245,1.0);
					min-width: 50px;
					background-color: rgba(215,215,215,1.0);
					color: rgba(66,66,66,1.0);
					padding: 0.3em;
					margin-right: 5px;
				}

				.pbAddBox {
					display: inline-block;
					border: 1px dashed $gray;
					height: 28px;
					vertical-align: top;

					.pbItemAdd {
						padding: 3px 10px;
						color: $gray;

						.fa-plus-square {
							font-size: 10px;
						}
					}

					&:hover {
						border-color: $blue;

						.pbItemAdd {
							color: $blue;
						}
					}

					.pbAddPopUp {
						position: absolute;
						z-index: 10;
						width: 370px;
						padding: 20px;
						left: 20%;
						height: 450px;

						.pbAddPopUpVisible {
							padding: 15px;
							background: white;
							border: 1px solid $blue;
							width: 330px;
							position: absolute;
							top: 7px;
							box-shadow: 0 3px 10px rgba(100,100,100,0.5);

							&::before {
								position: absolute;
								height: 11px;
								width: 11px;
								content: "";
								border-left: 1px solid $blue;
								border-top: 1px solid $blue;
								-webkit-transform: rotate(45deg);
								-moz-transform: rotate(45deg);
								-ms-transform: rotate(45deg);
								-o-transform: rotate(45deg);
								transform: rotate(45deg);
								top: -6px;
								left: 47%;
								z-index: 13;
								background-color: white;
							}

							table tr {
								border-bottom: 1px solid $mediumgray;
								vertical-align: top;

								&:last-child {
									border-bottom: 0;
								}

								td:first-child {
									color: $gray;
									padding-right: 15px;
									padding-top: 10px;
								}

								td div {
									padding: 5px 5px;

									&:first-child {
										padding-top: 10px;
									}

									&:last-child {
										padding-bottom: 10px;
									}

									.pbItemAddEnabled {
										text-transform: capitalize;

										&:hover {
											color: $blue;
										}
									}

									.pbItemAddDisabled {
										color: $mediumgray;
										text-transform: capitalize;
									}
								}
							}
						}
					}
				}
			}

			.pbFilterValues {
				vertical-align: top;
				outline: 0;
				margin-right: 20px;
				overflow: hidden;

				.pbFilterBox {
					display: inline-block;
					width: 22.39%;
					min-width: 215px;
					margin-right: 25px;
					margin-top: 5px;

					.pbFilterCat {
						color: $darkgray;
					}

					.pbFilterVal {
						color: $blue;
						white-space: nowrap;
						overflow: hidden;
						text-overflow: ellipsis;
					}
				}
			}
		}

		.pbSliderCollapse {
			text-align: center;
			color: $gray;
			font-size: 12px;

			&:hover {
				color: $blue;
			}
		}
	}

	.as-sortable-item-handle {
		cursor: url(https://ssl.gstatic.com/ui/v1/icons/mail/images/2/openhand.cur) 7 5, default !important;
	}

	.as-sortable-drag {
		cursor: url(https://ssl.gstatic.com/ui/v1/icons/mail/images/2/closedhand.cur) 7 5, default !important;
		/*pointer-events: auto;*/

		.pbItem {
					min-width: 50px;
					border: 1px solid $blue;
					background-color: white;
					height: 28px;
					display: inline-block;
					margin-right: 0px;
					vertical-align: top;

					.fa-reorder {
						background-color: $blue;
						height: 26px;
						padding: 5px;
						width: 23px;
						color: white;
					}

					.pbItemInfo {
						color: $blue;
						padding: auto 10px;
					}

					.fa-remove {
						color: $mediumgray;
						padding: 4px;
					}
				}
	}

	.as-sortable-item, .as-sortable-placeholder {
		border-radius: 0;
	}

	.pbGray {
		color: $darkgray;
	}

	.blue {
		color: $blue;
	}

	.bold {
		font-weight: bold;
	}

	.clickable {
		cursor: pointer;
	}
}

.filtersSelectionModal {
	background-color: rgba(255,255,255,0.9);
	width: 100%;
	height: 100%;
	overflow: hidden;


	.modal-dialog {
		width: 1126px;

		.modal-content {
			/*width: 1126px;*/
			margin: 50px auto;
			-webkit-box-shadow: none;
			-moz-box-shadow: none;
			-ms-box-shadow: none;
			box-shadow: none;
			border: 0;
			border-radius: 0;
			background-color: transparent;

			.filter-modal-header {
				h4 {
					font-size: 32px;
					font-weight: normal;
				}
			}

			.filter-modal-body {

				.pbFilterModalLinks {
					display: inline-block;
					width: 320px;
					vertical-align: top;
					margin-right: 20px;
					border: 1px solid $mediumgray;
					background-color: $lightestgray;
					font-size: 16px;
					padding: 10px 0;

					.pbFilterModalLink {
						padding: 10px 15px;

						&.active {
							background-color: $blue;
							color: white;

							&:hover {
								background-color: $blue;
							}

							.pbFilterModalValues {
								color: white;
							}
						}

						&:hover {
							background-color: $mediumgray;
						}

						.pbFilterModalValues {
							white-space: nowrap;
							overflow: hidden;
							text-overflow: ellipsis;
							color: $gray;
						}
					}
				}

				.pbFilterModalMain {
					display: inline-block;
					width: 780px;
					vertical-align: top;

					.pbFilterModalAlert {
						width: 780px;
						background-color: $errorRed;
						color: white;
						position: absolute;
						top: -5px;
						padding: 10px 15px;
						border-radius: 3px;
						font-size: 16px;
						transition: all 0.3s linear;

						&.pbHideAlert {
							opacity: 0;
						}
					}

					.pbFilterModalContent {
						border: 1px solid $mediumgray;
						background-color: white;

						.pbFilterModalHeader {
							background-color: $lightestgray;

							.pbFilterTitleArea {
								display: inline-block;
								width: 270px;
								
								.pbFilterTitle {
									display: inline-block;

									&:hover {
										.pbFilterViewTitle {
											color: $blue;
										}
									}

									.pbFilterDropDownContainer {
											display: inline-block;
											position: relative;

									.pbFilterViewTitle {
											font-size: 20px;
											margin: 5px 10px 5px 20px;

											.fa {
												font-size: 14px;
											}

											.pbFilterViewDrop {
												position: absolute;
												padding: 5px 10px 10px;
												z-index: 20;
												width: 230px;
												top: 35px;
												font-size: 14px;
												margin-left: auto;
												margin-right: auto;
												left: -60%;
												right: -70%;

												.pbFilterViewDropVisible {
													border: 1px solid $blue;
													background-color: white;
													padding: 7px 0;
													box-shadow: 0 3px 10px rgba(100,100,100,0.5);

													&::before {
														position: absolute;
														height: 11px;
														width: 11px;
														content: "";
														border-left: 1px solid $blue;
														border-top: 1px solid $blue;
														-webkit-transform: rotate(45deg);
														-moz-transform: rotate(45deg);
														-ms-transform: rotate(45deg);
														-o-transform: rotate(45deg);
														transform: rotate(45deg);
														top: 0;
														left: 44%;
														z-index: 13;
														background-color: white;
													}

													div {
														padding: 5px 20px;
														color: $black;

														&:hover {
															background-color: $blue;
															color: white;
														}
													}
												}
											}
										}
									}
								}
							}

							.pbFilterSearch {
								display: inline-block;
								width: 350px;
								margin: 5px 10px 5px 10px;
								background-color: white;
								border: 1px solid $mediumgray;
								padding: 3px 5px;
								transition: 0.2s all linear;

								.fa {
									color: $orange;
								}

								.pbFilterSearchInput {
									width: 90%;
									border: 0;
									outline: 0;
									margin-left: 5px;
								}
							}
						}

						.pbFilterCustomSelection {
							margin: 5px 10px 5px 28px;
							position: relative;
							display: inline-block;

							.pbFilterSelectionButton {
								display: inline-block;
								width: 46px;
								height: 25px;

								&.active {
									.pbFilterSelectDrop {
										color: white;
									}

									.pbFilterSelectDrop {
										background-color: $blue;
										border: 1px solid $blue;
									}
								}

								.pbFilterSelectAll {
									display: inline-block;
									padding: 4px 6px;
									border: 1px solid $mediumgray;
									height: 25px;

									&:hover {
										border: 1px solid $blue;
										color: $blue;
									}
								}

								.pbFilterSelectDrop {
									display: inline-block;
									background-color: $lightestgray;
									float: right;
									padding: 5px 5px 4px;
									border: 1px solid $mediumgray;

									&:hover {
										background-color: $blue;
										border: 1px solid $blue;
										color: white;
									}
								}
							}

							.pFilterDrop {
								position: absolute;
								padding: 10px;
								left: -60px;
								z-index: 20;
								width: 210px;

								.pbFilterDropVisible {
									border: 1px solid $blue;
									background-color: white;
									padding: 7px 0;
									box-shadow: 0 3px 10px rgba(100,100,100,0.5);

									&::before {
										position: absolute;
										height: 11px;
										width: 11px;
										content: "";
										border-left: 1px solid $blue;
										border-top: 1px solid $blue;
										-webkit-transform: rotate(45deg);
										-moz-transform: rotate(45deg);
										-ms-transform: rotate(45deg);
										-o-transform: rotate(45deg);
										transform: rotate(45deg);
										top: 5px;
										left: 44%;
										z-index: 13;
										background-color: white;
									}

									div {
										padding: 5px 20px;

										&:hover {
											background-color: $blue;
											color: white;
										}
									}
								}
							}
						}

						.pbFilterNumberSelected {
							display: inline-block;
							vertical-align: top;
							padding-top: 7px;
						}

						.pbModalHeight {
							overflow-y: auto;
							border-top: 1px solid $mediumgray;
							padding: 5px;

							.pbFilterList {
								margin: 5px 10px;
								font-weight: normal;

								.fa {
									margin-right: 2px;
								}

								.pbFilterListValue {
									padding: 5px 10px 5px 16px;
									/*border-bottom: 1px solid $lightestgray;*/

									label {
										font-weight: normal;
										margin-top: 5px;
										margin-bottom: 4px;
									}
								}

								.pbFilterListCategory {
									padding: 5px 0;
									/*border-bottom: 1px solid $lightestgray;*/

									label {
										font-weight: normal;
										margin-top: 5px;
										margin-bottom: 4px;
									}

									.pbExpandHandle {
										padding: 5px;

										.fa-caret-right {
											color: $mediumgray;

											&.fa-rotate-90 {
												color: $black;
											}
										}
									}
								}
								
								.pbFilterCollection {
									padding-left: 25px;
									height: inherit;

									&.pbFilterCollapsed {
										height: 0;
										overflow: hidden;
									}
								}
							}
						}
					}

					.pbFilterModalButtons {
						float: right;

						.btn {
							margin-left: 20px;
							margin-top: 15px;
							padding: 5px 20px;
							border-radius: 3px;
						}

						.filterCancelButton {
							background-color: $mediumgray;
							border: 1px solid $gray;
						}

						.filterApplyButton {
							background-color: $orange;
							color: white;
						}
					}
				}
			}
		}
	}

	.pbGray {
		color: $darkgray;
	}

	.blue {
		color: $blue;
	}

	.bold {
		font-weight: bold;
	}

	.clickable {
		cursor: pointer;
	}

	.underline {
		text-decoration: underline;
	}
}