@import "variables";

.app {
	.row {
		margin: 0;
	}

	.ProjectManager, 
	.Dashboard {
		background-color: white;
    	margin-left: 20px;
    	margin-right: 20px;

		.left { 
			width: $app_left;
			border: 1px solid $mediumgray;
			position: absolute;
			top: 0;
			bottom: 0;
			height: 100%;
		}
		.center {
			border-top: 1px solid $lightgray;
			margin: -$cap_height 0 0 $app_left;
			padding: $cap_height 0 0 0;
			width: auto;
			overflow-y: auto;
			overflow-x: hidden;
			height: 100%;
		}
		.right {
			width: $app_right;
			background-color: $lightgray;
			height: 100%;
			float: right;
			overflow-x: hidden;
			overflow-y: auto;
			padding: $cap_height 0 0 0;
			@include drop-shadow(-5px, 1px, 5px, 0px, 0.3);
		}
		.top {
			padding: 15px 10px 0 20px;
			height: 100px;

			.project-title {
				float:left;
				margin: 0;
			}
			.star {
				font-size: 18px;
				margin: 9px 0 0 4px;
			}
			p {
				clear:both;
			}
		}
		.middle {
			position:relative;

			.row {
				&:first-child {
					position: relative;
					z-index: 20;
				}
				&:nth-child(2) {
					position: relative;
					top: -4px;
				}
			}
			.center {
				margin: 0 0 0 200px;
				padding:0;
			}
			.right {
				padding:0;
			}
			.alerts {
				padding:10px;
				border-bottom: 1px solid $lightgray;
				p {
					margin: 0px;
				}
			}
			.col-xs-70 {
				height: 90%;
				width: calc(100% - 360px);
				overflow-y: scroll;
				padding-right: 0;
				padding-left: 15px;
			}
		}
		.alert {
			a {
				cursor: pointer;
			}
		}
		ul.detail-list{
			height: 50px;

			li.detail {
	    		display: inline-block;
				margin: 10px 6px 10px 0;
	    		background-color:transparent;
	    		&:last-child {
	    			margin: 10px 0;
	    			a {
	    				padding: 6px 8px;
		    		}
	    		}

	    		button {
	    			cursor: pointer;
	    			display: block;
	    			float: none;
	    			width: 100%;
				    padding: 6px 13px;
				    color: #999;
				    text-align: center;
				    height:32px;
	    			border: 1px solid $subtitle;
				    &:hover {
				    	border: 1px solid $blue;
				    	text-decoration: none;
				    	color: $black;
				    }			    
				}
			}		
		}
		.detail 
		.detail .fa {
			font-size: 16px;
			padding-right: 12px;
		}
		.filters {
			text-transform: uppercase;
			font: {
				size:14px;
				weight: bold;
			}
			.title {
				color: $gray;
				margin: 10px 0 30px;
				padding: 0 10px;
				/* over write bootstrap */
				font: {
					size:14px;
					weight: bold;
				}
				> i {
					padding: 0 5px 0 0;
				}
			}
			.menu > .header {
				padding: 0 10px;
				margin: 0 0 10px;
				a {
					color: $black;
					text-decoration: none;
					cursor: pointer;
					display: inline-block;
					width: 100%;
				}
				&.selected {
					background-color: $mouseover;
					> a {
						color:$white;
					}
				}
			}
		}
		.display-table {
			table {
				/*margin-bottom: 60px;*/
				padding: 20px 8px 5px 8px;
				width: 100%;

				th {
					.title {
						margin: 0 0 0 20px;
					}
					&:first-child {
						padding: 20px 8px 5px 20px;
					}
				}
				tr {
					&.error {
						background-color:#FFF2F1;
						i, .status {
							color:$error;
						}
					}
					&.completed {
						i {
							color:$completed;
						}
					}
					&.inprogress {
						background-color:$lightestgray;
					}
					&.active span{
						color: #EEE;
					}
				}
				td {
					white-space: nowrap;
					font-size: 1.1em;
					font-weight: normal;
					line-height: normal;
					padding: 13px 8px;
					border-top: 1px solid #e5e5e5;

					&:first-child {
						padding: 13px 0;

						.text-holder {
							cursor: pointer;
						}
					}
					.status {
						font: {
							size: 10px;
							weight: bold;
						}
						text-transform: uppercase;
						color: $darkgray;

						padding: 0 0 0 5px;
					}
					.title {
						/*font-size: 1.2em;*/
						i {
							font-size: 1.2em;
							padding: 0 10px 0 5px;
							visibility: hidden;
						}
					}
					
					&.master {
						font: {
							weight:bold;
							size:16px;
						}
						 i {
							visibility: visible;
							display:inline-block;
						}
						.favorites {
							.favorite {
								cursor: default;
								&:hover {
									color:#428bca;
								}
							}
						}
					}
					.text-holder.favorites-holder {
						width:25px;
					}

					.text-holder {
						display: inline-block;
						float: left;
						max-width:400px;
						margin-right: 10px;
						a {
							color: inherit;
						}
						.favorites {
							display: inline-block;
							margin-top: 2px;
							padding: 0px 5px;

							&.disabled {
								cursor: default;
								display:none;
							}
							a {
							  font-family: "font awesome";
							  display: inline-block;
							  width: 15px;
							  height: 15px;
							  background-color:inherit;
							  &:hover {
								text-decoration: none;

								&:after {
								  content: '\f006';
								  color: $gray;
								}
							  }
							  &:after {
								content: '\f006';
								color: $lightgray;
							  }
							  &.favorite:after {
								content: '\f005';
								color: gold;
							  }
							}
						}
					}
					span.name {
						display: inline-block;
						float: left;
						color: $item-hover; /*$subtitle;*/
						text-transform: capitalize;
					}
				}
				tr.active  td{
					background-color:$active;
				}
				thead {
					.title.active a{
						color: $highlight;
						font-weight: bold;
					}
					th {
						border: 0 none;
						border-bottom:1px solid $mediumgray;
						a {
							color: #333;
							text-decoration: none;
							cursor: pointer;
							font-weight: bold;
							text-transform: uppercase;
							font-size: 13px;
						}
					}
				}
				tbody tr:hover .dropdown-trigger {
					display: block;
				}
			}
		}
	}
	div.tray {
		width: 360px;

		height: 100%;
		overflow-y: hidden;
		overflow-x: hidden;
		position: absolute;
		right: 0;
		top: 0;
		z-index: 10;
		padding-bottom: 150px;
		background-color: #e6e6e6;
		box-shadow: -2px 0 6px rgba(0,0,0, 0.3);
	}
	.info-tray {
		margin: 15px 10px 10px;
		min-width: 315px;
		.details {
			margin:0 0 10px;

			.sub-header {
				margin:0 0 10px;
				font-weight: bold;
				color: $gray;
				float:left;
			}
			.title-holder {
				border-bottom: 1px solid #BBB;
			}
		}
	}
	.profile {
		padding: 10px;
		margin-bottom: 10px;
		background-color: white;
		box-shadow: 1px 1px 5px rgba(0,0,0,0.2);
		border-radius: 0;

		&.description-holder {
			font-size: 14px;

			.field-label {
				float: left;
				color: $gray;
				width: auto;
			}
			h5 {
				margin-bottom: 1px;
				color: #999;
				font-weight: 400;
			}
		}
		&.scenario-listing {
			padding: 0;

			.scenarioWrapper {
				padding: 10px;
			}
			.field-label {
				display: inline-block;
				margin-bottom: 15px;
			}
			.used-in {
				font-weight: bold;
				margin: 0 0 10px;
				float:left;
			}
			.see-all-toggle {
				float:right;
				cursor: pointer;
			}
			.entity-holder {
				clear: both;

				.scenario {
					margin:0 0 10px;
					padding: 0;
					a {
						cursor: pointer;
						text-transform: capitalize;
						&:hover {
							text-decoration: none;
						}
					}
				}
			}
			.create{
				float: right;
				width: 28.5%;
				margin-left: 10px;
			}
			.fa-plus-circle{
				margin-right: 5px;
			}
		}
		.media-heading {
			margin-bottom: 5px;
			font-weight: 400;
			color: #999;
		}
		.name {
			text-transform: capitalize;
		}
	}
	.profile-footer{
		width: 100%;

		a {
			display: block;
			width: 100%;
			padding: 5px;
			background-color: $lightgray;
			color: $subtitle;
			text-align: center;
			cursor: pointer;

			&:hover {
				color: $white;
				text-decoration: none;
				background-color: $blue;
			}
		}
	}
}