@import "variables";

.app {
	.ProjectManager, .Dashboard {
		.left { 
			width: $app_left;
			border: 1px solid $mediumgray;
			position: absolute;
			top: 0;
			bottom: 0;
			height: 100%;
		}
		.center {
			border-top: 1px solid $lightgray;
			margin: -$cap_height 0 0 $app_left;
			padding: $cap_height 0 0 0;
			width: auto;
			overflow-y: auto;
			overflow-x: hidden;
			height: 100%;
		}
		.right {
			width: $app_right;
			background-color: $lightgray;
			height: 100%;
			float: right;
			overflow-x: hidden;
			overflow-y: auto;
			padding: $cap_height 0 0 0;
			@include drop-shadow(-5px, 1px, 5px, 0px, 0.3);
		}
		.top {
			padding: 15px 10px 0 20px;
			height: 100px;
			.project-title {
				float:left;
				margin: 0;
			}
			.star {
				font-size: 18px;
				margin: 9px 0 0 4px;
			}
			p {
				clear:both;
			}
		}
		.middle {
			position:relative;
			.center {
				margin: 0 0 0 200px;
				padding:0;
			}
			.right {
				padding:0;
			}
			.alerts {
				padding:10px;
				border-bottom: 1px solid $lightgray;
				p {
					margin: 0px;
				}
			}
		}
		.alert {
			a {
				cursor: pointer;
			}
		}
		.filters {
			text-transform: uppercase;
			font: {
				size:14px;
				weight: bold;
			}
			.title {
				color: $gray;
				margin: 10px 0 30px;
				padding: 0 10px;
				/* over write bootstrap */
				font: {
					size:14px;
					weight: bold;
				}
				> i {
					padding: 0 5px 0 0;
				}
			}
			.menu > .header {
				padding: 0 10px;
				margin: 0 0 10px;
				a {
					color: $black;
					text-decoration: none;
					cursor: pointer;
					display: inline-block;
					width: 100%;
				}
				&.selected {
					background-color: $mouseover;
					> a {
						color:$white;
					}
				}
			}
		}
		.display-actions {
			padding:0 0 0 20px;
			height:50px;
			.title {
				color:$gray;
				max-width:400px;
				font-weight:bold;
				text-transform: capitalize;
				margin-top: 15px;
			}
			.button-holder {
				float:right;
				height: 50px;
				width: auto;
				.trash {
					margin:11px 30px 0 0;
					font-size:14px;
					color:$enabled;
					cursor: pointer;
					display:inline-block;
				}
				.actions {
					border-left: 1px solid  $mediumgray;
					display:inline-block;
					> span {
						padding: 12px;
						font-size: 17px;
						color:$gray;
						display:inline-block;
						border-right: 1px solid  $mediumgray;
						height:100%;
						cursor: pointer;
						&:hover {
							color:$mouseover;
						}
						i {
							font-size:24px;
						}
					}
					.search-holder {
						border: 1px solid $gray;
						display: inline-block;
						padding: 2px 5px;
						.search-input {
							border: 0 none;
							font-size: 14px;
							width: 250px;
						}
						.close-button i {
							font-size: 18px;
						}
					}
					.toggle-info-tray {
						cursor: default;
						color:$lightgray;
						&:hover {
							cursor:default;
							color: $lightgray;
						}
						&.enabled {
							color:$gray;
							&:hover {
								cursor: pointer;
								color:$mouseover;
							}
						}
					}
				}
			}
		}
		.display-table {
			table {
				th {
					.title {
						margin: 0 0 0 20px;
					}
					&:first-child {
						padding: 8px 8px 8px 20px;
					}
				}
				tr {
					&.error {
						background-color:#FFF2F1;
						i, .status {
							color:$error;
						}
					}
					&.completed {
						i {
							color:$completed;
						}
					}
					&.inprogress {
						background-color:$lightestgray;
					}
				}
				td {
					white-space: nowrap;
					cursor: pointer;
					&:first-child {
						padding:8px 0 0 20px;
					}
					.status {
						font: {
							size:10px;
							weight:bold;
						}
						text-transform: uppercase;
						color:$darkgray;

						padding:0 0 0 5px;
					}
					.title {
						font-weight: bold;
						i {
							visibility: hidden;
						}
					}
					.master {
						font: {
							weight:bold;
							size:16px;
						}
						 i {
							visibility: visible;
							display:inline-block;
						}
					}
					.text-holder {
						max-width:350px;
						.favorites {
							padding:8px 0;
							&.disabled {
								cursor: default;
								display:none;
							}
							a {
							  font-family: "font awesome";
							  display: inline-block;
							  width: 10px;
							  height: 10px;
							  background-color:inherit;
							  &:hover {
								text-decoration: none;
								&:after {
								  content: '\f006';
								}
							  }
							  &.favorite:after {
								content: '\f005';
							  }
							}
						}
					}
				}
				tr.active  td{
					background-color:$active;
				}
			}
			thead {
				.title.active a{
					color: $highlight;
				}
				th {
					background-color:$lightgray;
					border: 0 none;
					border-top:1px solid $mediumgray !important;
					border-bottom:1px solid $mediumgray;
					a {
						color:$mouseover;
						text-decoration: none;
						cursor: pointer;
					}
				}
			}
			tbody tr:hover .dropdown-trigger {
				display: block;
			}
		}
	}
	.info-tray {
		margin:10px;
	  	width: 280px;
		.details {
			margin:0 0 10px;
			.sub-header {
				margin:0 0 10px;
				font-weight: bold;
				color: $gray;
				float:left;
			}
			.title-holder {
				border-bottom: 1px solid $gray;
				&:hover {
					.inlineRename {
						.edit {
							visibility: visible;
						}
					}
				}
				&.hasFavorites .title {clear:none;}
				.favorites {
					clear: both;
					float:left;
					padding: 0 8px 0 0;
					a {
						cursor:pointer;
						font-family: "font awesome";
						&:after {
							content: '\f006';
						}
						&.favorite {
							&:after {
								content: '\f005';
							}
						}
						&:hover {
							text-decoration: none;
						}
					}
				}
				.title {
					clear:both;
					overflow: hidden;
					text-overflow: ellipsis;
					white-space: nowrap;
					float: left;
					width: 220px;
					padding: 0 0 3px;
					margin: 0 0 10px 0;
				}
				.title.clear {
					clear: both;
				}
			}
			.pencil {
				float:right;
				font-size: 18px;
				margin: 0 15px 0 0;
				cursor: pointer;
			}
			.inlineRename {
				input {
					height:24px;
					width: 172px;
					float:left;
					margin: 0 0 8px;
				}
				a {
					float:left;
					padding:0 0 0 3px;
					cursor: pointer;
				}
				.edit {
					visibility: hidden;
				}
			}
			.close {
				margin:0 15px 0 0;
			}
		}
		.profile {
			padding:8px 5px;
			margin-bottom:10px;
			background-color: white;
			&.description-holder {
				.field-label {
					font-weight: bold; 
					float:left;
				}
				.controls {
					float: right;
					a {
						cursor: pointer;
					}
				}
				.edit {
					float:right;
					visibility: hidden;
					cursor: pointer;
				}
				.description {
					clear:both;
					width:100%;
					display:block;
					border: 0 none;
				}
				&:hover .edit {
					visibility: visible;
				}
			}
			&.scenario-listing {
				.used-in {
					font-weight: bold;
					margin: 0 0 10px;
					float:left;
				}
				.see-all-toggle {
					float:right;
					cursor: pointer;
				}
				.entity-holder {
					clear: both;
					a {
						cursor: pointer;
						&:hover {
							text-decoration: none;
						}
					}
				}
			}
		}
	}
}