@import "variables";

.app {
	.row {
		margin: 0;
	}

	.ProjectManager, 
	.Dashboard {
		.left { 
			width: $app_left;
			border: 1px solid $mediumgray;
			position: absolute;
			top: 0;
			bottom: 0;
			height: 100%;
		}
		.center {
			border-top: 1px solid $lightgray;
			margin: -$cap_height 0 0 $app_left;
			padding: $cap_height 0 0 0;
			width: auto;
			overflow-y: auto;
			overflow-x: hidden;
			height: 100%;
		}
		.right {
			width: $app_right;
			background-color: $lightgray;
			height: 100%;
			float: right;
			overflow-x: hidden;
			overflow-y: auto;
			padding: $cap_height 0 0 0;
			@include drop-shadow(-5px, 1px, 5px, 0px, 0.3);
		}
		.top {
			padding: 15px 10px 0 20px;
			height: 100px;
			.project-title {
				float:left;
				margin: 0;
			}
			.star {
				font-size: 18px;
				margin: 9px 0 0 4px;
			}
			p {
				clear:both;
			}
		}
		.middle {
			position:relative;

			div.row:first-child {
				position: relative;
				z-index: 20;
			}
			.center {
				margin: 0 0 0 200px;
				padding:0;
			}
			.right {
				padding:0;
			}
			.alerts {
				padding:10px;
				border-bottom: 1px solid $lightgray;
				p {
					margin: 0px;
				}
			}
			.col-xs-70 {
				height: 100%;
				overflow-y: scroll;
				padding-right: 0;
			}
		}
		.alert {
			a {
				cursor: pointer;
			}
		}
		ul.detail-list{
			height: 50px;

			li.detail {
	    		display: inline-block;
				margin: 10px 8px 10px 0;
	    		background-color: #FFF;

	    		&:last-child {
	    			margin: 10px 0;

	    			a {
	    			padding: 6px 8px;

		    			i {
		    				margin: 0;
		    				font-size: 1.4em;
		    			}
		    		}
	    		}

	    		a {
	    			&.share{
	    				padding-left: 12px;
	    				padding-right: 12px;
	    			}

	    			display: block;
	    			float: none;
	    			width: 100%;
				    padding: 6px 13px;
				    color: #999;
				    text-align: center;
	    			border: 1px solid #999;

				    &:hover {
				    	border: 1px solid $blue;
				    	text-decoration: none;
				    }

				    i {
				    	font-size: 1.1em;
				    	margin-right: 5px;
				    }				    
				}
			}		
		}
		.detail 
		.detail .fa {
			font-size: 16px;
			padding-right: 12px;
		}
		.filters {
			text-transform: uppercase;
			font: {
				size:14px;
				weight: bold;
			}
			.title {
				color: $gray;
				margin: 10px 0 30px;
				padding: 0 10px;
				/* over write bootstrap */
				font: {
					size:14px;
					weight: bold;
				}
				> i {
					padding: 0 5px 0 0;
				}
			}
			.menu > .header {
				padding: 0 10px;
				margin: 0 0 10px;
				a {
					color: $black;
					text-decoration: none;
					cursor: pointer;
					display: inline-block;
					width: 100%;
				}
				&.selected {
					background-color: $mouseover;
					> a {
						color:$white;
					}
				}
			}
		}
		.display-actions {
			padding: 7px 13px;
			height: 50px;
			background-color: #fafafa;
			box-shadow: 0px 0px 8px #AAA;
			z-index: 20;

			> span { 
				padding-top: 10px;

				i {
					position: relative;
					left: 26px;
					color: $orange;
				}
				input {
					padding: 6px 8px 6px 30px;
					margin-top: 2px;

					&:hover {
						border: 1px solid $blue;
					}
				}
			}

			.title {
				max-width: 400px;
				margin-right: 40px;
				font-weight: 300;
				font-size: 1.3em;
				text-transform: capitalize;
			}
			.filterDropdown {
				position: absolute;
				padding: 22px;

				span {
					display: inline-block;
					font-size: 1.1em;
				}
				.selected {
					font-weight: 700;
				}

				a {
					color: $black;
				}
			}
			.button-holder {
				float:right;
				height: 50px;
				width: auto;
				.trash {
					margin:11px 30px 0 0;
					font-size:14px;
					color:$enabled;
					cursor: pointer;
					display:inline-block;
				}
				.actions {
					display:inline-block;

					> span {
						/* Orange Button */
						display:inline-block;
						padding: 5px 18px;
						background-color: $orange;
						border-radius: 5px;
						font-size: 1.1em;
						color: $white;
						cursor: pointer;
						box-shadow: 0px 3px 5px #AAA;

						&:hover {
							color:$mouseover;
						}
						i {
							font-size: 14px;
							padding-right: 5px;
						}
					}
					.search-holder {
						border: 1px solid $gray;
						display: inline-block;
						padding: 2px 5px;
						.search-input {
							border: 0 none;
							font-size: 14px;
							width: 250px;

							&:hover {
								border: 1px solid $blue;
							}
						}
						.close-button i {
							font-size: 18px;
						}
					}
					.toggle-info-tray {
						cursor: default;
						color:$lightgray;
						&:hover {
							cursor:default;
							color: $lightgray;
						}
						&.enabled {
							color:$gray;
							&:hover {
								cursor: pointer;
								color:$mouseover;
							}
						}
					}
				}
			}
			.filtertoggle {
			    font-size: 12px;
    			padding: 0 5px;
			}
		}
		.display-table {
			table {
				margin-bottom: 60px;
				padding: 20px 8px 5px 8px;

				th {
					.title {
						margin: 0 0 0 20px;
					}
					&:first-child {
						padding: 20px 8px 5px 20px;
					}
				}
				tr {
					&.error {
						background-color:#FFF2F1;
						i, .status {
							color:$error;
						}
					}
					&.completed {
						i {
							color:$completed;
						}
					}
					&.inprogress {
						background-color:$lightestgray;
					}
					&.active span{
						color: $white;
					}
				}
				td {
					white-space: nowrap;
					cursor: pointer;
					font-size: 1.2em;
					font-weight: normal;
					padding:15px 8px;

					&:first-child {
						padding: 15px 0 15px 0;
					}
					.status {
						font: {
							size:10px;
							weight:bold;
						}
						text-transform: uppercase;
						color:$darkgray;

						padding:0 0 0 5px;
					}
					.title {
						/*font-size: 1.2em;*/
						i {
							font-size: 1.2em;
							padding: 0 10px 0 5px;
							visibility: hidden;
						}
					}
					&.master {
						font: {
							weight:bold;
							size:16px;
						}
						 i {
							visibility: visible;
							display:inline-block;
						}
						.favorites {
							.favorite {
								cursor: default;
								&:hover {
									color:#428bca;
								}
							}
						}
					}
					.text-holder {
						display: inline-block;
						float: left;
						max-width:350px;
						margin-right: 10px;

						.favorites {
							padding: 0px 5px;

							&.disabled {
								cursor: default;
								display:none;
							}
							a {
							  font-family: "font awesome";
							  display: inline-block;
							  width: 15px;
							  height: 10px;
							  background-color:inherit;
							  &:hover {
								text-decoration: none;

								&:after {
								  content: '\f006';
								  color: $gray;
								}
							  }
							  &:after {
								content: '\f006';
								color: $lightgray;
							  }
							  &.favorite:after {
								content: '\f005';
								color: gold;
							  }
							}
						}
					}
					span.name {
						display: inline-block;
						float: left;
						color: $gray;
						text-transform: capitalize;
					}
				}
				tr.active  td{
					background-color:$active;
				}
			}
			thead {
				.title.active a{
					color: $highlight;
				}
				th {
					border: 0 none;
					border-bottom:1px solid $mediumgray;
					a {
						color:$mouseover;
						text-decoration: none;
						cursor: pointer;
						font-weight: 400;
						text-transform: uppercase;
						font-size: 0.9em;
					}
				}
			}
			tbody tr:hover .dropdown-trigger {
				display: block;
			}
		}
	}
	div.tray {
		height: 100%;
		position: relative;
		top: -5px;
		z-index: 10;
		padding-bottom: 60px;
		background-color: #e6e6e6;
		box-shadow: -2px 0 6px rgba(0,0,0, 0.3);
	}
	.info-tray {
		margin: 15px 10px 10px;
		min-width: 315px;
	  	/*width: 280px;*/

		.details {
			margin:0 0 10px;

			.sub-header {
				margin:0 0 10px;
				font-weight: bold;
				color: $gray;
				float:left;
			}
			form.inlineRename {
				margin: 0;
			}
			.title-holder {
				border-bottom: 1px solid #BBB;

				&:hover {
					.inlineRename {
						.edit {
							display: inline-block;
							visibility: visible;
							float: right;
						}
					}
				}
				&.hasFavorites .title {clear:none;}
				.favorites {
					clear: both;
					float:left;
					padding: 2px 8px 0 0;
					a {
						cursor:pointer;
						font-family: "font awesome";
						&:after {
							content: '\f006';
						}
						&.favorite {
							&:after {
								content: '\f005';
							}
						}
						&:hover {
							text-decoration: none;
						}
					}
				}
				.title {
					clear:both;
					overflow: hidden;
					text-overflow: ellipsis;
					white-space: nowrap;
					float: left;
					display: block;
					width: auto;
					padding: 0;
					margin: 0 0 10px;
					button {
						text-align: right;
					}
				}
				.title.clear {
					clear: both;
				}
			}
			.pencil {
				float:right;
				font-size: 18px;
				margin: 0 15px 0 0;
				cursor: pointer;
			}
			.inlineRename {
				input {
					height:24px;
					width: 185px;
					float:left;
					margin: 0 10px 8px 0;
				}
				a {
					float:left;
					padding:0 0 0 3px;
					cursor: pointer;
				}
				.edit {
					visibility: hidden;
					float: right;
					margin: 0 0 10px;
				}
			}
			.close {
				margin:0 15px 0 0;
			}
		}
	}
	.profile {
		padding: 10px;
		margin-bottom: 10px;
		background-color: white;
		box-shadow: 1px 1px 5px rgba(0,0,0,0.2);
		border-radius: 0;

		&.description-holder {
			.field-label {
				font-weight: 400; 
				float: left;
				color: $gray;
				width: auto;
			}
			.controls {
				float: right;
				a {
					cursor: pointer;
				}
			}
			.edit {
				float:right;
				visibility: hidden;
				cursor: pointer;
			}
			.description {
				clear:both;
				width:100%;
				display:block;
				border: 1px solid $gray;
				background-color: $white;
			}
			text-area {
				background-color: $white;
			}
			&:hover .edit {
				visibility: visible;
			}
			h5{
				margin-bottom: 0px;
				color: $gray;
			}
		}
		&.scenario-listing {
			.used-in {
				font-weight: bold;
				margin: 0 0 10px;
				float:left;
			}
			.see-all-toggle {
				float:right;
				cursor: pointer;
			}
			.entity-holder {
				clear: both;
				a {
					cursor: pointer;
					text-transform: capitalize;
					&:hover {
						text-decoration: none;
					}
				}
			}
			.create{
				float: right;
				width: 28.5%;
				margin-left: 10px;
			}
			.fa-plus-circle{
				margin-right: 5px;
			}
		}
		.media-heading {
			color: $gray;
		}
		.name {
			text-transform: capitalize;
		}
	}
	.profile-footer{
		text-align: center;
	}
}