@import "variables";

.scenario_results {
    .scenario-type-dropdown {
        .dropdown-menu {
            left: 163px;
        }
    }
	.editor {
        .save-menu {
            margin-left: 0;
        }

        .toggle-switch {
            display: inline-block;
            margin-left: 20px;

            .toggle-switch-title {
                float: left;
                margin-right: 10px;
                line-height: 24px;
            }
            .switch {
                font-size: 14px;
                padding: 2px 8px;
                width: 40px;
                text-align: center;
            }
        }

        .filter-category {
            &.disabled {
                .filter-label {
                    color: $ms-gray;
                }
                .filter-values {
                    color: $ms-gray;
                }
            }
        }
	}
    .results-panel {
        margin-top: 25px;
        .results-panel-title {
            font-weight: 300;
            font-size: 30px;
            margin: 0 0 10px;
        }
        .result-panel-body {
            .kpi-container {
                text-align: center;
                .kpi-title {
                    color: $ms-darkGray;
                    font-size: 20px;
                    white-space: nowrap;
                    text-overflow: ellipsis;
                    overflow: hidden;
                    font-weight: 700;
                    text-transform: capitalize;
                    margin: 0 0;
                }
                .kpi-incremental {
                    font-size: 40px;
                    font-weight: 700;
                    margin: 13px 0 5px;
                    line-height: 32px;
                    i.kpi-arrow {
                        font-size: 25px;
                        font-weight: 400;
                        vertical-align: middle;
                        line-height: 22px;
                        margin: 0 5px 10px 0;
                    }
                }
                .kpi-total, .kpi-percent {
                    font-size: 16px;
                    line-height: 22px;
                }
                .kpi-total {
                    color: $ms-darkGray;
                    margin-right: 10px;
                }
                .kpi-increase {
                    color: #068700;
                }
                .kpi-decrease {
                    color: #c71f04;
                }
            }
            .spend-container{
				.spend-table {
					width: 100%;
					thead {
						background: transparent;
						border-bottom: 1px solid #ccc;
						th {
							color: #333;
							text-transform: capitalize;
							padding: 10px 0;
							font-size: 20px;
							line-height: 22px;
							font-weight: 700;
                            padding: 5px;
							&.spend-increase {
								color: #068700;
							}
							&.spend-decrease {
								color: #c71f04;
							}
						}
					}
					tbody {
						tr {
                            &:first-child { height: 20px; }
                            -webkit-transition:0.15s linear all;
                            -moz-transition:0.15s linear all;
                            -o-transition:0.15s linear all;
                            transition:0.15s linear all;
							td {
								color: #333;
								text-transform: capitalize;
								font-size: 16px;
								line-height: 22px;
								font-weight: 400;
                                padding: 5px;
								&.spend-increase {
									color: #068700;
								}
								&.spend-decrease {
									color: #c71f04;
								}
                                -webkit-transition:0.15s linear all;
                                -moz-transition:0.15s linear all;
                                -o-transition:0.15s linear all;
                                transition:0.15s linear all;
							}
                            &:not(:first-child):hover ,&.highlight {
                                -webkit-transition:0.15s linear all;
                                -moz-transition:0.15s linear all;
                                -o-transition:0.15s linear all;
                                transition:0.15s linear all;
                                background-color: $ms-blue;
                                td {
                                    -webkit-transition:0.15s linear all;
                                    -moz-transition:0.15s linear all;
                                    -o-transition:0.15s linear all;
                                    transition:0.15s linear all;
                                    color:$ms-pureWhite;
                                }
                            }
						}
					}
				}
                .legend {
                    margin-left: 32px;
                    margin-bottom: 12px;
                    img {
                        width: 15px;
                        height: 15px;
                        border: 1px solid $ms-pureBlack;
                        margin-bottom: 5px;
                    }
                    span {
                        font-size: 14px;
                    }
                }
                ms-bar-chart {
                    .axis path,
                    .axis line {
                      fill: none;
                      stroke: $ms-mediumLightGray;
                      shape-rendering: crispEdges;
                    }
                    #stripe {
                        line {
                            fill: $ms-pureWhite;
                            stroke: $ms-pureWhite;
                            stroke-linecap: square;
                            stroke-linejoin: miter;
                            stroke-width: 10px;
                        }
                    }
                    text { font-size: 12px; }
                }
            }
        }
    }
}