@import "variables";
@import "new_variables";

.scenario-calculation {
    margin: 55px auto;
    width: 330px;
    height: 590px;
    text-align: center;
    .title {
        margin-bottom: 10px;
        font-size: 26px;
        i {
            font-size: 20px;
            color: #f45724;
        }
    }
    .description {
        text-align: center;
        text-justify: inter-word;
    }
    .progress {
        height: 30px;
        i {
            line-height: 30px;
            font-size: 14px;
            font-weight: 700;
            font-style: normal;
        }
        .progress-bar-danger {
            background-color: #f45724;
        }
        .progress-bar-success {
            background-color: #5cb85c;
        }
    }
    ul.list {
        text-align: left;
        li {
            margin: 10px 0 10px 90px;
            color: #808080;
            &.completed {
                color: #333;
                span.number-circle {
                    background-color: #5cb85c;
                }
                i.fa-check {
                    color: #5cb85c;
                }
                i.fa-failed {
                    color: #f45724;
                }
            }
            span.number-circle {
                display: inline-block;
                margin-right: 10px;
                border-radius: 50%;
                width: 22px;
                height: 22px;
                padding: 4px;
                background: #bfbfbf;
                color: $ms-pureWhite;
                text-align: center;
                font-size: 14px;
                line-height: 14px;
            }
        }
    }
    .action-buttons {
        margin-top: 20px;
        .col-sm-6 {
            padding: 0;
            &:first-child {
                padding-right: 5px;
            }
            &:last-child {
                padding-left: 5px;
            }
            .ms-btn-cancel {
                font-size: 14px;
                color: $ms-black;
                text-transform: uppercase;
                background-color: $lightgray;
                &:hover, &:active {
                    color: $ms-black;
                    background-color: $ms-mediumLightGray;
                }
            }
        }
    }
}