@import "variables";

.scenario {
	.scenario-header {
		height: 50px;
		border-bottom: 1px solid $ms-darkGray;
		margin-top: -50px;
		.toggle-btn-group {
			float: right;
			.toggle-btn {
				display: inline-block;
				margin-left: 10px;
			}
		}
	}
	.display {
		width: 100%;
		.scenario-settings {
			margin: 20px 0;
        	color: $ms-lightGray;
        	font-size: 14px;
	        .dropdown-menu {
	            color: $ms-black;
	            border-radius: 3px;
	        }
	        .filters-selector {
	            float: right;
	            margin-right: 30px;
	            .dropdown-menu {
				  	right: -80px;
				  	left: inherit;
	                width: 510px !important;
	                padding: 0;
	                &::before {
	                    background-color: $ms-veryLightGray;
	                    left: 420px;
	                }
	                .header {
	                    background-color: $ms-veryLightGray;
	                    border-top-left-radius: 2px;
	                    border-top-right-radius: 2px;
	                    padding: 20px;
	                    .title {
	                        p {
	                            margin: 0;
	                            span {
	                                display: block;
	                                font-size: 16px;
	                                font-weight: 700;
	                                &.draft {
	                                    font-style: italic;
	                                }
	                            }
	                        }
	                    }
	                    .icon {
	                        position: absolute;
	                        button {
	                            height: 35px;
	                            width: 35px;
	                            i {
	                                font-size: 12px;
	                            }
	                        }
	                        &.open-icon {
	                            top: 28px;
	                            right: 60px;
	                        }
	                        &.save-icon {
	                            top:28px;
	                            right: 20px;
	                        }

	                    }
	                    .floating-container {
	                        position: absolute;
	                        top: 68px;
	                        right: 20px;
	                        z-index: 1;
	                        .sub-icon {
	                            position: relative;
	                            margin-bottom: 5px;
	                            &:hover {
	                                .floating-text {
	                                    transition: opacity 0.4s;
	                                    opacity: 1;
	                                }
	                            }
	                            button {
	                                width: 35px;
	                                height: 35px;
	                                i {
	                                    font-size: 12px;
	                                }
	                            }
	                            .floating-text{
	                                opacity: 0;
	                                transition: opacity 0.4s;
	                                position: absolute;
	                                top: 0;
	                                right: 40px;
	                                line-height: 35px;
	                                color:$ms-white;
	                                text-align:right;
	                                min-width: 100px;
	                                .floating-text-BG{
	                                    padding: 5px 10px;
	                                    background-color:rgba(33, 33, 33, 0.8);
	                                    border-radius: 3px;
	                                }
	                            }
	                        }
	                    }
	                }
	                .content {
	                    padding: 10px 20px;
	                    .editor {
	                        .toggle-switch {
	                            display: inline-block;

	                            .toggle-switch-title {
	                                float: left;
	                                margin-right: 10px;
	                                line-height: 24px;
	                            }
	                            .switch {
	                                font-size: 14px;
	                                padding: 2px 8px;
	                                width: 40px;
	                                text-align: center;
	                            }
	                        }
	                        .filter-content {
	                            margin-top: 20px;
	                            .filter-category-list {
	                                .filter-values {
	                                    margin-left: 0;
	                                    max-width: 200px;
	                                }
	                                &.disabled {
	                                    .filter-label {
	                                        color: $ms-gray;
	                                    }
	                                    .filter-values {
	                                        color: $ms-gray;
	                                    }
	                                }
	                            }
	                        }
	                    }
	                }
	            }
	        }
	        .time-selector {
	        	display: inline-block;
	            float: right;
	        	i { margin-right: 5px; }
	        }
		}

		.scenario-content {
        	margin: 0;
        	.left-content {
	            float: left;
	            padding: 0 30px 0 0;
	            width: 300px;
				.date-picker {
					margin: 10px 0;
					font-size: 14px;
					.underlined {
						.dropdown-menu { left: -20px; }
					}
				}
	            .group {
	                padding-bottom: 10px;
	                margin-bottom: 20px;
	                border-bottom: 1px solid $ms-lightGray;
	                &:last-child {
	                    padding-bottom: 0;
	                    margin-bottom: 0;
	                    border-bottom: 1px solid transparent;
	                }
	                .group-title {
	                    color: $ms-mediumGray;
	                    margin-bottom: 10px;
	                    font-weight: 700;
	                    .group-info {
	                        color: $ms-mediumGray;
	                        float: right;
	                        cursor: pointer;
	                        &:hover {
	                            color: darken($ms-mediumGray,5%);
	                        }
	                    }
	                }
	                .group-item {
	                    padding: 5px 30px;
	                    margin-left: -30px;
	                    margin-right: -30px;
	                    font-size: 16px;
	                    color: $ms-blue;
	                    cursor:pointer;
	                    span {
	                    	display: block;
	                    	&.item-category {
	                    		font-size: 14px;
	                    		color: $ms-mediumGray;
	                    	}
	                    }
	                    &:hover {
	                        background-color: $ms-lightGray;
	                    }
	                    &.selected {
	                        background-color: darken($ms-lightGray,5%);
	                    }
	                }
	            }
        	}
        	.right-content {
	            float: left;
	            padding: 0;
	            width: calc(100% - 300px);
	            overflow: hidden;
				position: relative;
        	}
			.underline {
				background-color: $ms-mediumLightGray;
				transition: color 0.3s, background 0.3s, border 0.3s, text-shadow 0.3s;
				z-index: 0;
				height: 10px;
				margin-top: -9px;
				width: 100%;

				&.non-input {
					background-color: transparent;
					width: 206px;
					border: 1px solid $ms-mediumLightGray;
					border-top: none;

					&.right {
						margin: -8px 0 0 75px;
						width: 150px;
					}
				}
			}
			.underlined {
				margin-left: 1px;
				padding: 0 0 2px 15px;
				font-size: 18px;

				&.right {
					display: inline;
					padding: 0 0 2px 25px;
					&.end {
						padding: {
							left: 29px;
						}
					}
				}
			}
		}

		.tableHolder {
			width: 100%;
			.trayHolder {
				border:1px solid $ms-mediumLightGray;
				border-right: 0 none;
				width: 300px;
				overflow: hidden;
				.tray {
					overflow: hidden;
				}

			}
			 table {
				width: 100%;
				tr {
					td.editable {
						cursor:pointer;
						width:170px;
						input {
							width:120px;
						}
					}
				}
			}
		}

		table {
			thead {
				background-color:$ms-lightGray;
				th {
					text-transform:uppercase;
					color: $ms-blueGray;
					font-size:12px;
				}
			}
		}
	}
}