@import "variables";
.scenario_results {
	.results-dropdown {
		margin: 20px 0;
		span {
			font-size: 17px;
			line-height: 22px;
			font-weight: 300;
			&.dropdown {
				font-weight: 700;
				a.dropdown-toggle {
					width: 200px;
					display: inline-block;
					color: #f35528;
					text-decoration: none;
					i {
						float: right;
						color: #999;
					}
				}
				ul.dropdown-menu {
					width: 200px;
				}
			}
		}
	}
	.results-view {
        margin-bottom: 25px;
        .view-title {
            display: inline-block;
            height: 28px;
            border: 1px solid #ccc;
            vertical-align: middle;
            margin-right: 5px;
            padding: 0 5px;
            .view-text {
                font-size: 17px;
                line-height: 28px;
                color: #666;
            }
            .view-icon {
                font-size: 15px;
                color: #999;
                line-height: 28px;
                margin-right: 5px;
            }
        }
        .view-time {
            display: inline-block;
            font-size: 14px;
            line-height: 22px;
            color: #888;
            text-transform: capitalize;
        }
	}
    .results-panel {
        margin-bottom: 5px;
        .results-panel-title {
            font-weight: 300;
            font-size: 30px;
            margin: 0 0 10px;
            // text-shadow: 1px 2px 2px rgba(0, 0, 0, 0.75);
        }
        .result-panel-body {
            margin-bottom: 25px;
            &.compact {
                padding: 0;
                height: 180
            }
            .kpi-container {
                text-align: center;
                .kpi-title {
                    color: #666;
                    font-size: 20px;
                    font-weight: 700;
                    text-transform: capitalize;
                    margin: 0 0;
                }
                .kpi-incremental {
                    font-size: 50px;
                    font-weight: 700;
                    margin: 13px 0 5px;
                    line-height: 32px;
                    i.kpi-arrow {
                        font-size: 25px;
                        font-weight: 400;
                        vertical-align: middle;
                        line-height: 22px;
                        margin: 0 5px 10px 0;
                    }
                }
                .kpi-unit {
                    font-size: 40px;
                }
                .kpi-total, .kpi-percent {
                    font-size: 16px;
                    line-height: 22px;
                }
                .kpi-total {
                    color: #666;
                    margin-right: 10px;
                }
                .kpi-increase {
                    color: #068700;
                }
                .kpi-decrease {
                    color: #c71f04;
                }
            }
            .kpi-chart-container {
                padding: 0;
                height: 180px;
                background-color: #fff;
                box-shadow: -2px 0px 5px 0px rgba(0, 0, 0, 0.3);
            }
            .kpi-table-container {
                padding: 0;
                table.kpi-table {
                    width: 100%;
                    tbody {
                        tr {
                            -webkit-transition:0.15s linear all;
                            -moz-transition:0.15s linear all;
                            -o-transition:0.15s linear all;
                            transition:0.15s linear all;
                            td {
                                color: #333;
                                text-transform: capitalize;
                                font-size: 16px;
                                line-height: 22px;
                                font-weight: 400;
                                padding: 7px 15px;
                                &.kpi-increase {
                                    color: #068700;
                                }
                                &.kpi-decrease {
                                    color: #c71f04;
                                }
                            }
                            &:hover {
                                background-color: #eee;
                                -webkit-transition:0.15s linear all;
                                -moz-transition:0.15s linear all;
                                -o-transition:0.15s linear all;
                                transition:0.15s linear all;
                            }
                            &.selected {
                                background-color: #295da7;
                                -webkit-transition:0.15s linear all;
                                -moz-transition:0.15s linear all;
                                -o-transition:0.15s linear all;
                                transition:0.15s linear all;
                                td {
                                    color: #fff;
                                }
                            }
                        }
                    }
                }
            }
            .spend-container{
				table.spend-table {
					width: 100%;
					thead {
						background: transparent;
						border-bottom: 1px solid #ccc;
						th {
							color: #333;
							text-transform: capitalize;
							padding: 10px 0;
							font-size: 20px;
							line-height: 22px;
							font-weight: 700;
                            padding: 5px;
							&.spend-increase {
								color: #068700;
							}
							&.spend-decrease {
								color: #c71f04;
							}
						}
					}
					tbody {
						tr {
                            -webkit-transition:0.15s linear all;
                            -moz-transition:0.15s linear all;
                            -o-transition:0.15s linear all;
                            transition:0.15s linear all;
							td {
								color: #333;
								text-transform: capitalize;
								font-size: 16px;
								line-height: 22px;
								font-weight: 400;
                                padding: 5px;
								&.spend-increase {
									color: #068700;
								}
								&.spend-decrease {
									color: #c71f04;
								}
                                -webkit-transition:0.15s linear all;
                                -moz-transition:0.15s linear all;
                                -o-transition:0.15s linear all;
                                transition:0.15s linear all;
							}
                            &.highlight {
                                -webkit-transition:0.15s linear all;
                                -moz-transition:0.15s linear all;
                                -o-transition:0.15s linear all;
                                transition:0.15s linear all;
                                background-color: #295da7;
                                td {
                                    -webkit-transition:0.15s linear all;
                                    -moz-transition:0.15s linear all;
                                    -o-transition:0.15s linear all;
                                    transition:0.15s linear all;
                                    color:#fff;
                                }
                            }
						}
					}
				}
                .legend {
                    margin-left: 33px;
                    img {
                        width: 15px;
                        height: 15px;
                        border: 1px solid #000;
                    }
                    span {
                        font-size: 14px;
                    }
                }
            }
        }
    }
}
/* Five Columns */
.col-xs-5ths, .col-sm-5ths, .col-md-5ths, .col-lg-5ths {
    position: relative;
    min-height: 1px;
    padding-right: 10px;
    padding-left: 10px;
}
.col-xs-5ths {
    width: 20%;
    float: left;
}
@media (min-width: 768px) {
    .col-sm-5ths {
        width: 20%;
        float: left;
    }
}
@media (min-width: 992px) {
    .col-md-5ths {
        width: 20%;
        float: left;
    }
}
@media (min-width: 1200px) {
    .col-lg-5ths {
        width: 20%;
        float: left;
    }
}
/* D3 */
.axis path,
.axis line {
  fill: none;
  stroke: #ccc;
  shape-rendering: crispEdges;
}