@import "variables";

.Scenario {
	margin: 0 20px;
	padding: 20px;
	background-color: $white;
	.toggle-header {
		position: relative;
		padding: 7px 20px;
		margin: -20px -20px 30px;
		height: 50px;
		background-color: #fafafa;
		box-shadow: 0px 0px 8px #AAA;
		z-index: 20;
		.tabs-holder {
			float:left;
			ul {
				list-style: none;
				display: inline-block;
				margin-bottom: -7px;
				margin-top: -7px;
				li {
					float: left;
					margin-right: 20px;
					height: 50px;
					width: 90px;
					text-align: center;
					cursor: pointer;
					-webkit-transition: all 0.4s;
					transition: all 0.4s;
					a {
						text-overflow: ellipsis;
						white-space: nowrap;
						text-decoration: none;
						font-weight: 300;
						font-size: 19px;
						line-height: 50px;
						color: #a9a9a9;
						-webkit-transition: all 0.4s;
						transition: all 0.4s;
						i {
							font-size: 16px;
						}
					}
					&:hover {
						a {
							color: #333;
							-webkit-transition: all 0.4s;
							transition: all 0.4s;
						}
					}
					&.sel {
						color: #333;
						border-bottom: 4px solid #142f55;
						-webkit-transition: all 0.4s;
						transition: all 0.4s;
						a {
							color: #333;
							-webkit-transition: all 0.4s;
							transition: all 0.4s;
						}
					}
				}
			}
		}
		.icon-holder {
			float: right;
			margin-right: 15px;
			span {
				text-align: center;
				white-space: nowrap;
				display: inline-block;
				width: 38px;
				height: 35px;
				background-color: #d9d9d9;
				margin-top: 1px;
				border-radius: 5px;
				color: #a4a4a4;
				cursor: pointer;
				-webkit-user-select: none;
				-moz-user-select: none;
				-ms-user-select: none;
				user-select: none;
				i {
					font-size: 16px;
					line-height: 35px;
				}
				&:hover {
					background-color: $mediumgray;
				}
			}
		}
		.button-holder {
			float: right;
			span {
				display: inline-block;
				margin-top: 1px;
				padding: 7px 20px 6px;
				background-color: #f45724;
				border-radius: 5px;
				font-size: 1.2em;
				line-height: 20px;
				color: white;
				cursor: pointer;
				box-shadow: 0px 3px 5px #AAA;
				text-transform: uppercase;
				&:hover {
					background-color: darken($orange, 5%);
				}
				i {
					font-size: 16px;
					padding-right: 5px;
				}
			}
		}
	}
	.details {
		margin: 0 0 20px 0;
		.media {
			margin: 0 0 20px 0;
		}
		form {
			display:inline-block;
		}
		.results {
			display:inline-block;
			margin:0 0 0 10px;
			cursor:pointer;
			&.disabled {
				color:$disabled;
			}
		}
	}
	.display {
		width: 100%;
		.actions {
			/*border: 1px solid $mediumgray;
			border-bottom: 0 none;
			height: 30px;*/
			> span:hover {
				background-color:$mouseover;
				/*cursor: pointer;*/
			}
			.holder {
				/*border-right: 1px solid $mediumgray;
				height:29px;
				padding:4px 0 0 9px;*/
				border: 1px solid $mediumgray;
				/*height: 25px;*/
				display: inline-block;
				margin: 0 -1px 0 -4px;
				padding: 0.2em 1em;
				&:last-child {
					border-right: 0 none;
				}
			}
			.pivotTableControlsHolder {
				position: relative;
				.pivotTableControls {
					position: absolute;
					top: 29px;
					left: 0px;
					width:100%;
					border: 1px solid $mediumgray;
					background-color: $white;
					.dimensions {
						padding:15px;
						.dimension {
							margin: 0 0 8px;
							span {
								display:inline-block;
							}
							.tag {
								font-size:14px;
								color: $darkgray;
								margin:0 5px 0 0;
							}
							.type {
								width:120px;
								text-transform: uppercase;
							}
							.name {width:100px}
							.trigger {float:right}
						}
					}
				}
			}
			.pivitTableHolder {
				border:1px solid $mediumgray;
				padding: 0;
			}
		}
		.tableHolder {
			width: 100%;
			.trayHolder {
				border:1px solid $mediumgray;
				border-right: 0 none;
				width: 300px;
				overflow: hidden;
				.tray {
					overflow: hidden;
				}

			}
			 table {
				width: 100%;
				tr {
					td.editable {
						cursor:pointer;
						width:170px;
						input {
							width:120px;
						}
					}
				}
			}
		}
		table {
			thead {
				background-color:$lightgray;
				th {
					text-transform:uppercase;
					color: $mouseover;
					font-size:12px;
				}
			}
		}
	}
}