@import "variables";

.scenario_results {
    .scenario-settings {
        .scenario-selector {
            float: left;
            .dropdown-toggle {
                margin-left: 5px;
                font-weight: 700;
                color: $ms-orange;
            }
            .dropdown-menu {
                left: 0;
                width: 300px;
                &::before {
                    left: 206px;
                }
            }
        }
    }
    .scenario-content {
        .left-content {
            ul.nav-menu {
                border-radius: 3px;
                background-color: $ms-white;
                padding: 10px 0;
                font-size: 18px;
                li {
                    padding: 10px 20px;
                    cursor: pointer;
                    &:hover, &.selected {
                        background-color: darken($ms-white, 5%);
                    }
                }
            }
        }
        .right-content {
            .ms-card {
                .ms-card-content {
                    .kpi-summary {
                        text-align: center;
                        .kpi-title {
                            color: $ms-darkGray;
                            font-size: 20px;
                            white-space: nowrap;
                            text-overflow: ellipsis;
                            overflow: hidden;
                            font-weight: 700;
                            text-transform: capitalize;
                            margin: 0 0;
                        }
                        .kpi-incremental {
                            font-size: 40px;
                            font-weight: 700;
                            margin: 13px 0 5px;
                            line-height: 32px;
                            i.kpi-arrow {
                                font-size: 25px;
                                font-weight: 400;
                                vertical-align: middle;
                                line-height: 22px;
                                margin: 0 5px 10px 0;
                            }
                        }
                        .kpi-total, .kpi-percent {
                            font-size: 16px;
                            line-height: 22px;
                        }
                        .kpi-total {
                            color: $ms-darkGray;
                            margin-right: 10px;
                        }
                        .kpi-increase {
                            color: #068700;
                        }
                        .kpi-decrease {
                            color: #c71f04;
                        }
                    }
                    .spend-summary{
                        .spend-table {
                            width: 100%;
                            thead {
                                background: transparent;
                                border-bottom: 1px solid #ccc;
                                th {
                                    color: #333;
                                    text-transform: capitalize;
                                    padding: 10px 0;
                                    font-size: 20px;
                                    line-height: 22px;
                                    font-weight: 700;
                                    padding: 5px;
                                    &.spend-increase {
                                        color: #068700;
                                    }
                                    &.spend-decrease {
                                        color: #c71f04;
                                    }
                                }
                            }
                            tbody {
                                tr {
                                    &:first-child { height: 20px; }
                                    -webkit-transition:0.15s linear all;
                                    -moz-transition:0.15s linear all;
                                    -o-transition:0.15s linear all;
                                    transition:0.15s linear all;
                                    td {
                                        color: #333;
                                        text-transform: capitalize;
                                        font-size: 16px;
                                        line-height: 22px;
                                        font-weight: 400;
                                        padding: 5px;
                                        &.spend-increase {
                                            color: #068700;
                                        }
                                        &.spend-decrease {
                                            color: #c71f04;
                                        }
                                        -webkit-transition:0.15s linear all;
                                        -moz-transition:0.15s linear all;
                                        -o-transition:0.15s linear all;
                                        transition:0.15s linear all;
                                    }
                                    &:not(:first-child):hover ,&.highlight {
                                        -webkit-transition:0.15s linear all;
                                        -moz-transition:0.15s linear all;
                                        -o-transition:0.15s linear all;
                                        transition:0.15s linear all;
                                        background-color:darken($ms-white, 5%);
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}