@import "variables";

$toggle-btn-radius: 56px;
$toggle-btn-padding: 8px;
$circle-btn-radius: $toggle-btn-radius - 2 * $toggle-btn-padding;

.scenario {
	.toggle-header {
		height: $toggle-btn-radius;
		border-bottom: 1px solid $ms-darkGray;
		margin-top: -$toggle-btn-radius;
		.toggle-btn-group {
			float: right;
			.toggle-btn {
				display: inline-block;
				width: $toggle-btn-radius;
				height: $toggle-btn-radius;
				padding: $toggle-btn-padding;
				.circle-btn {
					cursor: pointer;
					border-radius: 50%;
					width: 100%;
					height: 100%;
					&.orange {
						background-color: $ms-orange;
			  			&:hover {
							background-color: darken($ms-orange, 5%);
						}
					}
					i {
						display:inline-block;
					    font-size: 20px;
					    line-height: $circle-btn-radius;
					    color:white;
					    width: $circle-btn-radius;
					    height: $circle-btn-radius;
					    text-align: center;
					    vertical-align: bottom;
					}
				}
			}
		}
	}
	.details {
		margin: 0 0 20px 0;
		.media {
			margin: 0 0 20px 0;
		}
		form {
			display:inline-block;
		}
		.results {
			display:inline-block;
			margin:0 0 0 10px;
			cursor:pointer;
			&.disabled {
				color:$ms-gray;
			}
		}
	}
	.display {
		width: 100%;

		.scenario-settings {
			margin: 20px 0 30px 0;

			.dropdown {
				display: inline-block;

				.dropdown-menu {
					width: 320px;

					div {
						.group-title {
							margin: 10px 15px 3px 20px;
							color: $ms-gray;
							border-bottom: 1px solid $ms-mediumGray;
							font-weight: 700;
							text-transform: uppercase;
							font-size: 12px;
						}
					}

					&::before {
						// left: 50px;
					}
				}

				.filename {
					font-size: 16px;
					margin-left: 15px;
					vertical-align: bottom;
					display: inline-block;
					max-width: 370px;

					i {
						margin-right: 5px;
					}
				}

				.filename-option {
					font-size: 14px;
					margin-left: 20px;
					border-bottom: 1px solid #000;

					i {
						margin-right: 5px;
					}
				}
			}
		}

		.scenario-modeling-period {
			.title {
				display: inline-block;
				margin-right: 20px;
			}

			.period-pickers {
				display: inline-block;

				.period-range {
					display: inline-block;
					margin-right: 20px;

					.subtitle {
						display: inline-block;
						margin-right: 10px;
					}

					.dropdown {
						.dropdown-toggle {
							display: inline-block;
							color: $ms-gray;
						}
					}
				}
			}
		}

		.save-status {
			float: right;
			margin-top: -40px;
			color: $ms-mediumGray;
		}

		.tableHolder {
			width: 100%;
			.trayHolder {
				border:1px solid $ms-mediumLightGray;
				border-right: 0 none;
				width: 300px;
				overflow: hidden;
				.tray {
					overflow: hidden;
				}

			}
			 table {
				width: 100%;
				tr {
					td.editable {
						cursor:pointer;
						width:170px;
						input {
							width:120px;
						}
					}
				}
			}
		}

		table {
			thead {
				background-color:$ms-lightGray;
				th {
					text-transform:uppercase;
					color: $ms-blueGray;
					font-size:12px;
				}
			}
		}
	}
}
