@import "variables";

.scenario-create {
	margin: 25px;
	
	h3 {
		color: $darkgray;
		font-weight:900;
	}

	h4 {
		color: $darkgray;
		font-weight:900;
		margin-bottom:0;
	}
	
	.details {
    	margin: 0 20px 20px;
    	padding-bottom: 20px;
    	a {
    		cursor: pointer;
    		&:hover {
    			text-decoration: none;
    		}
    	}
	}

	.footer {
    	margin: 40px 20px 20px;
    	padding-bottom: 20px;
    	button, a {
    		cursor: pointer;
    	}
    	a:hover {
    		text-decoration:none
    	}
	}

	.scenario-form {
    	margin: 0 0 44px 0;
	}

	label {
		display: inline-flex;
		&.description-holder {
			margin: 0 0 0 50px;
		}
	}

	input {
		margin-left: 20px;
		width: 534px;
		background: $white;
		border: 1px solid black;
		padding-left: 30px;
		@include placeholder {
		    color: $black;
		    font-weight:400;
		    font-size: 18px;
		}
	}

	.description {
		height: 100px;
		padding-bottom: 64px;
		@include placeholder {
		    font-style:normal;
		    color: $gray;
		    font-weight:100;
		    font-size: 12px;
		}
	}

	.dotted_line {
		border-bottom: 1px dotted $gray;
	}

	span {
		font-size: 16px;
		display: block;
		&.emphasize {
			font-weight:900;
			color: $darkgray;
		}
	}
	p {
		color: $gray;
	}

	.footer {
		.btn {
			height: 50px;
		}
	}

	.home{
		font-size: 45px;
	}

	.right-side{
		text-align: right;
		float: right;
		a {
			font-size: 20px;
		}
	}

	.left-side{
		text-align: left;
		float: left;
	}

	.push-right {
		margin-left:80px;
	}
	
}