@import "variables";

/*** KEYFRAMES ***/
/******************/

@-webkit-keyframes fadeIn {
	0% {opacity: 0;}
	100% {opacity: 1;}
}
@keyframes fadeIn {
	0% {opacity: 0;}
	100% {opacity: 1;}
}


@-webkit-keyframes fadeOut {
	0% {opacity: 1;}
	100% {opacity: 0;}
}
@keyframes fadeOut {
	0% {opacity: 1;}
	100% {opacity: 0;}
}


@-webkit-keyframes slideDown {
	0% { 
		max-height: 0; 
		opacity: 0; }
	100% { 
		max-height: 100px; 
		opacity: 1; }
}
@keyframes slideDown {
	0% {
		max-height: 0; 
		opacity: 0; }
	100% {
		max-height: 100px; 
		opacity: 1; }
}

@-webkit-keyframes buttonSlideDown {
	0% {
		max-height: 0; 
		opacity: 0; }
	20% {
		max-height: 100px;
		opacity: 0; }
	100% {
		max-height: 100px; 
		opacity: 1; }
}
@keyframes buttonSlideDown {
	0% {
		max-height: 0; 
		opacity: 0; }
	20% {
		max-height: 100px;
		opacity: 0; }
	100% {
		max-height: 100px; 
		opacity: 1; }
}


@-webkit-keyframes slideUp {
	0% {
		max-height: 100px; 
		opacity: 1; }
	100% {
		max-height: 0;
		opacity: 0; }
}
@keyframes slideUp {
	0% {
		max-height: 100px;
		opacity: 1; }
	100% {
		max-height: 0;
		opacity: 0; }
}


@-webkit-keyframes hideInputs {
	0% {
		opacity: 1;
		max-height: 450px;
		overflow: hidden; }
	100% {
		opacity: 0;
		max-height: 0px;
		overflow: hidden; }
}
@keyframes hideInputs {
	0% {
		opacity: 1;
		max-height: 450px; }
	100% {
		opacity: 0;
		max-height: 0px; }
}


@-webkit-keyframes showInputs {
	0% {
		opacity: 0;
		max-height: 0px; }
	100% {
		opacity: 1;
		max-height: 450px; }
}
@keyframes showInputs {
	0% {
		opacity: 0;
		max-height: 0px; }
	100% {
		opacity: 1;
		max-height: 450px; }
}


@-webkit-keyframes showScenarios {
	0% {
		opacity: 0;
		max-height: 0px; }
	50% {
		opacity: 0.7; }
	100% {
		opacity: 1.0;
		max-height: 1500px; }
}
@keyframes showScenarios {
	0% {
		opacity: 0;
		max-height: 0px; }
	50% {
		opacity: 0.7; }
	100% {
		opacity: 1.0;
		max-height: 1500px; }
}


@-webkit-keyframes hideScenarios {
	0% {
		opacity: 1.0;
		width: 100%;
		max-height: 1000px;	}
	100% {
		opacity: 0;
		width: 100%;
		max-height: 0px; }
}
@keyframes hideScenarios {
	0% {
		opacity: 1.0;
		width: 100%;
		max-height: 1000px;	}
	100% {
		opacity: 0;
		width: 100%;
		max-height: 0px; }
}


/*** NG-ANIMATION-STYLES ***/
/***************************/

/*** Hiding and showing the full popup ***/
/*	.fullPopUp.ng-hide-add {
	-webkit-animation-name: fadeOut;
	-webkit-animation-duration: 0.7s;
	-webkkit-animation-timing-function: linear;
	animation-name: fadeOut;
	animation-duration: 0.7s;
	animation-timing-function: linear;
}
.fullPopUp.ng-hide-remove {
	-webkit-animation-name: fadeIn;
	-webkit-animation-duration: 0.7s;
	-webkkit-animation-timing-function: linear;
	animation-name: fadeIn;
	animation-duration: 0.7s;
	animation-timing-function: linear;
}*/

/*** Hiding and showing the SUBMIT BUTTONS ***/
.buttons.ng-hide-add {
	display: block !important;  /* Required for animation */

	-webkit-animation-name: fadeOut;
	-webkit-animation-duration: 1s;
	-webkit-animation-timing-function: linear;
	animation-name: fadeOut;
	animation-duration: 1s;
	animation-timing-function: linear;
}
.buttons.ng-hide-remove {
	overflow: hidden;
	max-height: 0px;
	opacity: 0;

	-webkit-animation-name: buttonSlideDown;
	-webkit-animation-duration: 0.5s;
	-webkit-animation-delay: 1s;
	animation-name: buttonSlideDown;
	animation-duration: 0.5s;
	animation-delay: 1s;
}
/*** INITIAL INPUT FIELDS sliding up and down ***/
/* Delay on remove should be length of .radios add (below) */
.inputGroup.ng-hide-add {
	display: block !important;  /* Required for animation */

	-webkit-animation-name: hideInputs;
	-webkit-animation-duration: 1s;
	-webkit-animation-timing-function: ease;
	animation-name: hideInputs;
	animation-duration: 1s;
	animation-timing-function: ease;
}
.inputGroup.ng-hide-remove {
	opacity: 0;
	max-height: 0px;

	-webkit-animation-name: showInputs;
	-webkit-animation-duration: 1s;
	-webkit-animation-delay: 0.75s;
	-webkit-animation-timing-function: ease;
	animation-name: showInputs;
	animation-duration: 1s;
	animation-delay: 0.75s;
	animation-timing-function: ease;
}
/*** Showing the BASE SCENARIO OPTIONS ***/
/* Delay on remove should be the length of the inputGroup hide-add (above) */
.radios.ng-hide-remove {
	opacity: 0;
	max-height: 0px;
	overflow: hidden;

	-webkit-animation-name: showScenarios;
	-webkit-animation-duration: 1s;
	-webkit-animation-delay: 1s;
	-webkit-animation-timing-function: ease;
	animation-name: showScenarios;
	animation-duration: 1s;
	animation-delay: 1s;
	animation-timing-function: ease;
}
.radios.ng-hide-add {
	overflow: hidden;
	display: block !important; /* Required for animation */

	-webkit-animation-name: hideScenarios;
	-webkit-animation-duration: 0.75s;
	-webkit-animation-timing-function: ease;
	animation-name: hideScenarios;
	animation-duration: 0.75s;
	animation-timing-function: ease;
}
/*** Base Scenario filter animations ***/
.scenarioRepeatGroup.ng-enter {
	opacity: 0;
	max-height: 0;

	-webkit-animation: slideDown 0.25s;
	animation: slideDown 0.25s;
}
.scenarioRepeatGroup.ng-move {
	overflow: hidden;
	-webkit-animation: slideUp 0.25s;
	animation: slideUp 0.25s;
}
.scenarioRepeatGroup.ng-leave {
	overflow: hidden;
	-webkit-animation: slideUp 0.25s;
	animation: slideUp 0.25s;
}


/*** STYLES ***/
/**************/

.scenario-create {
	width: 100%;
	max-height: 70%;
	padding: 30px;

	input {
		border: 1px solid $ms-mediumLightGray;

		&:focus,
		&:active {
			background-color: #EEF;
			border: 1px solid $ms-blue;
		}
	}
	.open {
		position: absolute;
		top: 35px;
		right: 14px;
		font-size: 17px;
		color: $ms-mediumLightGray;
	}
	
	.loaderHolder {
		margin:10px 0 0 0;
		float:right;
	}

	.baseGroup {
		position: relative;

		.radios {
			.search-box {
				position: relative;
				margin:0 0 10px;
				padding: 10px;
				background-color: $ms-lightGray;

				input {
					margin-bottom: 0!important;
					margin-top: 0!important;
					padding-left: 35px!important;
					border: 1px solid $ms-mediumLightGray;
				}

				i {
					position: absolute;
					left: 20px;
					top: 17px;
					font-size: 17px;
					color: $ms-mediumLightGray;
				}
			}

			.panel-group {
				overflow-y: auto;
				max-height: 45%;
			}
		}
	}
}

.scenario-create-modal.lightbox {
	.modal-content {
		box-shadow: 0 5px 10px rgba(0, 0, 0, .5);
		width: 760px;

		.optimization-scenario-create {
			padding: 10px 20px;
			background-color: $ms-white;

			.header {
				margin-bottom: 40px;

				.title {
					font-size: 26px;
					font-weight: normal;
				}
			}

			.form {
				.form-row {
					margin-bottom: 40px;

					.input-label {
						display: inline-block;
						width: 110px;
						font-size: 16px;
						color: $ms-darkGray;
						vertical-align: top;
					}

					.input-value {
						display: inline-block;
						width: calc(100% - 130px);

						.input-underline-wrapper {
							display: inline-block;
							width: 100%;

							input[type=text] {
								width: calc(100% - 2px);
								margin-left: 1px;
								padding: 0 0 2px 15px;
								font-size: 14px;
								border: 0;
								cursor: text;
								background-color: $ms-white;

								&:focus {
									outline: none;

									& + .underline {
										border-color: $ms-blue;
									}
								}

								&.blue {
									color: $ms-blue;
								}
							}

							.underline {
								border: 1px solid $ms-mediumLightGray;
								border-top: 0;
								height: 10px;
								margin-top: -7px;
							}
						}

						.type-buttons {
							.type-btn {
								@include ms-radio-btn($ms-mediumBlue);
								display: inline-block;
								list-style-type: none;
								padding-right: 20px;

								label {
									font-weight: normal;
									height: 75px;
									display: table;
									background-color: transparent;

									.label-text {
										vertical-align: middle;
										display: table-cell;
									}
								}
							}
						}
					}
				}
			}

			.action-buttons {
				padding-top: 20px;
				text-align: right;

				button {
					margin-left: 10px;
				}
			}
		}
	}
}