/* Scenario Template Styles */
@import "variables";
@import "new_variables";

.scenarioTemplates {
	//background-color: $ms-pureWhite;
	color: $ms-black;
	.left-column {
		height: 100%;
		padding: 0;
		background-color: $ms-lightGray;
		border-right: 1px solid $ms-mediumLightGray;
		.product-banner {
			padding: 20px;
			background-color: $ms-actionGreen;
			color: $ms-pureWhite;
			font-size: 38px;
			.ms-logo {
				width: 35px;
				height: 35px;
				background-image: url(../images/ms-logo-01.png);
				background-repeat: no-repeat;
				float: left;
				margin: 5px 0 0 65px;
			}
		}
		div {
			font-size: 18px;
			&.template-steps-header{
				margin: 15px 0;
				padding: 5px 0;
				background-color: $ms-mediumLightGray;
				color: $ms-orange;
				text-align: center;
				font-weight: bold;
			}
			&.template-steps {
				padding: 0 0 0 80px;
				color: $ms-mediumGray;
				line-height: 21px;
				.pipe-line{
					padding: 0 0 0 3px;
					font-size: 40px;
					font-weight: normal;
				}
			}
			.currentView {
				color: $ms-orange;
				line-height: 20px;
				i {
					position: absolute;
				}
				.icon-stack {
					padding: 0 20px 0 0;
					.fa-circle {
						color: lighten($ms-orange, 25%);
					}
				}
			}
		}
	}
	.right-column {
		max-width: 700px;
		padding: 15px 0 15px 30px;
		margin: 0 0 25px 0;
		div.header {
			font-size: 38px;
			font-weight: normal;
		}
		div.prompt {
			font-size: 24px;
			margin: 15px 0 0 0;
			& > span {
				margin: 15px 0 0 0;
				display: block;
				line-height: 40px;
			}
			input {
				&[type="text"] {
					width: 100%;
					border-style: solid;
					border-width: 1px;
					border-color: $ms-lightGray;
					border-radius: 3px;
				}
				&[type="radio"] {
					display: none;

					& + label .fa-circle-o, &:checked + label .fa-dot-circle-o {
						display: inline;
					}
					& + label .fa-dot-circle-o, &:checked + label .fa-circle-o {
						display: none;
					}
					&:checked + label {
						color: $ms-blue;
						font-weight: bold;
					}
				}
			}

			label {
				font-weight: normal;
				font-size: 16px;
				padding: 0 20px 0 0;
                span {
                    cursor: pointer;
    				.fa-circle-o {
    					color: $ms-mediumGray;
    				}
    				.fa-stack {
    					width: 15px;
    				}
                }

			}

			.confirmation {
				margin: 0 0 25px 0;
			}
		}
		div.confirmation, span.confirmation{
			color: $ms-mediumGray;
			font-size: 16px;
			margin: 25px 0 0 0;
		}
		div.review-field {
			font-size: 20px;
		}
		.row {
			.col-md-1 {
				width: 20px;
				padding: 20px 0 0 10px;
				text-align: center;
			}
		}
		div.button-container {
			margin: 15px 0 0 0;
			span.right{
				float: right;
			}
		}
	}

    .dimensionContainer {
        margin: 0 auto;
        .dimensionCard {
            box-sizing: border-box;
            position: relative;
            background-color: $ms-pureWhite;
            padding: 10px;
            margin: 0 auto 20px;
            box-shadow: 0 1px 4px rgba(0, 0, 0, 0.24);
            border-radius: 2px;
            .dimensionCheckbox {
                overflow: auto;
                height: 128px;
                input[type=checkbox] { cursor: pointer; }
                .selected {
                    color: $ms-blue;
                    font-weight: bold;
                }
                .parent-checkbox {
                    margin-bottom: 10px;
                }
                .children-checkbox {
                    padding-left: 20px;
                    label {
                        span {
                            text-transform: lowercase;
                            &:first-letter { text-transform: uppercase; }
                        }
                    }
                }
            }
            .dimensionFilter {
                position: absolute;
                bottom: 0;
                left: 0;
                height: 37px;
                width: 100%;
                padding: 10px;
                border-top: 1px solid $ms-lightGray;
                overflow: hidden;
                text-overflow: ellipsis;
                span {
                    cursor: pointer;
                    white-space: nowrap;
                    line-height: 14px;
                    &:hover {
                        text-decoration: underline;
                    }
                    &.selected {
                        color: $ms-blue;
                    }
                    i {
                        margin-right: 10px;
                    }
                }
            }
        }
        .spendDimensionCard {
            width: 200px;
            height: 185px;
        }
        .kpiDimensionCard {
            height: 100px;
        }
    }
    &.light-box{
    	background: none;
    	font-size: 32px;
    	text-align: center;
    	.header {
    		margin: 200px 0 0 0;
    	}
    	.body {
    		.content {
    			margin: 30px 0;
    			font-size: 24px;
    		}
    		.type-buttons {
    			button {
    				margin: 0 20px 0 0;
    			}
    		}
    		.form-buttons{
    			margin: 20px 0 0 0;
    		}
    	}
    }
}