@import "variables";

.Scenario {
	margin: 0 20px;
	padding: 20px;
	background-color: $purewhite;
	.toggle-header {
		position: relative;
		padding: 7px 20px;
		margin: -20px -20px 30px;
		height: 50px;
		background-color: #fafafa;
		box-shadow: 0px 0px 8px #AAA;
		z-index: 20;
		.tabs-holder {
			float:left;
			ul {
				list-style: none;
				display: inline-block;
				margin-bottom: -7px;
				margin-top: -7px;
				li {
					float: left;
					margin-right: 20px;
					height: 50px;
					width: 90px;
					text-align: center;
					cursor: pointer;
					-webkit-transition: all 0.4s;
					transition: all 0.4s;
					a {
						text-overflow: ellipsis;
						white-space: nowrap;
						text-decoration: none;
						font-weight: 300;
						font-size: 19px;
						line-height: 50px;
						color: #a9a9a9;
						-webkit-transition: all 0.4s;
						transition: all 0.4s;
						i {
							font-size: 16px;
						}
					}
					&:hover {
						a {
							color: #333;
							-webkit-transition: all 0.4s;
							transition: all 0.4s;
						}
					}
					&.selected {
						color: #333;
						border-bottom: 4px solid #142f55;
						-webkit-transition: all 0.4s;
						transition: all 0.4s;
						a {
							color: #333;
							-webkit-transition: all 0.4s;
							transition: all 0.4s;
						}
					}
				}
			}
		}
		.icon-holder {
			float: right;
			margin-right: 15px;
			span {
				text-align: center;
				white-space: nowrap;
				display: inline-block;
				width: 38px;
				height: 35px;
				background-color: #d9d9d9;
				margin-top: 1px;
				border-radius: 5px;
				color: #a4a4a4;
				cursor: pointer;
				-webkit-user-select: none;
				-moz-user-select: none;
				-ms-user-select: none;
				user-select: none;
				i {
					font-size: 16px;
					line-height: 35px;
				}
				&:hover {
					background-color: $mediumgray;
				}
			}
		}
		.button-holder {
			float: right;
			span {
				display: inline-block;
				margin-top: 1px;
				padding: 7px 20px 6px;
				background-color: #f45724;
				border-radius: 5px;
				font-size: 1.2em;
				line-height: 20px;
				color: white;
				cursor: pointer;
				box-shadow: 0px 3px 5px #AAA;
				text-transform: uppercase;
				&:hover {
					background-color: darken($orange, 5%);
				}
				i {
					font-size: 16px;
					padding-right: 5px;
				}
			}
		}
	}
	.details {
		margin: 0 0 20px 0;
		.media {
			margin: 0 0 20px 0;
		}
		form {
			display:inline-block;
		}
		.results {
			display:inline-block;
			margin:0 0 0 10px;
			cursor:pointer;
			&.disabled {
				color:$disabled;
			}
		}
	}
	.display {
		width: 100%;
		.scenario-type-dropdown {
			margin: 20px 0;
			span {
				font-size: 17px;
				line-height: 22px;
				font-weight: 300;
				text-transform: capitalize;
			}
	        .dropdown {
	            display: inline-block;
	            .dropdown-menu {
	                li.selected {
	                    a {
	                        color: #f35528;
	                        font-weight: 700;
	                    }
	                }
	            }
	            .dropdown-toggle {
	                cursor: pointer;
	                color: #f35528;
	                text-decoration: none;
	                font-weight: 700;
	                i {
	                    line-height: 21px;
	                    color: #999;
	                    font-size: 14px;
	                }
	            }
	            .dropdown-filename {
	            	margin-left: 15px;
	            	i {
	            		font-size: 14px;
	            	}
	            }

	            .filename-option {
	            	font-size: 14px;
	            	margin-left: 20px;
	            	border-bottom: 1px solid #000;
	            	cursor: pointer;

	            	.fa {
	            		margin-right: 5px;
	            	}
	            }
			}
		}
		.actions {
			/*border: 1px solid $mediumgray;
			border-bottom: 0 none;
			height: 30px;*/
			> span:hover {
				background-color:$mouseover;
				/*cursor: pointer;*/
			}
			.holder {
				/*border-right: 1px solid $mediumgray;
				height:29px;
				padding:4px 0 0 9px;*/
				border: 1px solid $mediumgray;
				/*height: 25px;*/
				display: inline-block;
				margin: 0 -1px 0 -4px;
				padding: 0.2em 1em;
				&:last-child {
					border-right: 0 none;
				}
			}
			.pivotTableControlsHolder {
				position: relative;
				.pivotTableControls {
					position: absolute;
					top: 29px;
					left: 0px;
					width:100%;
					border: 1px solid $mediumgray;
					background-color: $white;
					.dimensions {
						padding:15px;
						.dimension {
							margin: 0 0 8px;
							span {
								display:inline-block;
							}
							.tag {
								font-size:14px;
								color: $darkgray;
								margin:0 5px 0 0;
							}
							.type {
								width:120px;
								text-transform: uppercase;
							}
							.name {width:100px}
							.trigger {float:right}
						}
					}
				}
			}
			.pivitTableHolder {
				border:1px solid $mediumgray;
				padding: 0;
			}
		}
		.tableHolder {
			width: 100%;
			.trayHolder {
				border:1px solid $mediumgray;
				border-right: 0 none;
				width: 300px;
				overflow: hidden;
				.tray {
					overflow: hidden;
				}

			}
			 table {
				width: 100%;
				tr {
					td.editable {
						cursor:pointer;
						width:170px;
						input {
							width:120px;
						}
					}
				}
			}
		}
		table {
			thead {
				background-color:$lightgray;
				th {
					text-transform:uppercase;
					color: $mouseover;
					font-size:12px;
				}
			}
		}
	}
}

.scenarioAnalysisElementFiles {
	background-color: rgba(255,255,255,0.95);
	width: 100%;
	height: 100%;
	overflow: hidden;

	.modal-dialog {
		width: 660px;

		.modal-content {
			/*width: 1126px;*/
			margin: 50px auto;
			-webkit-box-shadow: none;
			-moz-box-shadow: none;
			-ms-box-shadow: none;
			box-shadow: none;
			border: 0;
			border-radius: 0;
			background-color: transparent;

			.element-file-modal-header {
				h4 {
					font-size: 32px;
					font-weight: normal;
				}
			}

			.element-file-modal-body {
				background-color: white;

				.element-file-toolbar {
					height: 60px;
					background-color: $lightgray;

					.file-type-dropdown {
						display: inline-block;
						width: 300px;

						.dropdown {
							.dropdown-toggle {
								padding-left: 20px;
								font-size: 18px;

								.fa {
									margin-left: 5px;
									font-size: 14px;
								}
							}

							.dropdown-menu {
								border: 1px solid $blue;
								border-radius: 0;
								background-color: white;
								padding: 7px 0;
								box-shadow: 0 3px 10px rgba(100,100,100,0.5);
								margin-top: 5px;
								position: absolute;
								left: -35px;

								&::before {
									position: absolute;
									height: 11px;
									width: 11px;
									content: "";
									border-left: 1px solid $blue;
									border-top: 1px solid $blue;
									-webkit-transform: rotate(45deg);
									-moz-transform: rotate(45deg);
									-ms-transform: rotate(45deg);
									-o-transform: rotate(45deg);
									transform: rotate(45deg);
									top: -6px;
									left: 47%;
									z-index: 13;
									background-color: white;
								}

								li:hover {
									background-color: $blue;
								}
							}
						}
					}

					.file-name-search {
						display: inline-block;
						width: 340px;

						.search-box {
							background-color: white;
							margin-top: 10px;
							height: 40px;
							border: 1px solid $mediumgray;
							padding: 5px;

							.fa {
								margin-left: 5px;
								color: $gray;
							}

							input {
								border: none;
								outline: none;
								font-size: 16px;
								width: 290px;
							}
						}
					}
				}

				.element-file-list {
					overflow-y: auto;
					height: 400px;
					border: 1px solid $mediumgray;

					.fa-dot-circle-o {
						display: none;
					}

					.element-file-item {
						height: 70px;
						border-top: 1px solid $lightgray;
						padding-top: 15px;
						padding-bottom: 10px;
						cursor: pointer;

						.element-file-name {
							padding-left: 35px;
							padding-right: 15px;
							width: 300px;
							display: inline-block;
							white-space: nowrap;
							overflow: hidden;
							text-overflow: ellipsis;

							.fa {
								margin-right: 5px;
							}
						}

						.element-file-info {
							display: inline-block;
							width: 300px;

							.element-file-date {}

							.element-file-owner {
								color: $gray;
								margin-left: 10px;
							}
						}

						.element-file-description {
							padding-left: 52;
							color: $gray;
						}

						&.current-file {
							background-color: $blue;
							color: white;

							.element-file-owner {
								color: $lightgray;
							}

							.element-file-description {
								color: $lightgray;
							}

							.fa-circle-o {
								display: none;
							}

							.fa-dot-circle-o {
								display: inline;
							}
						}
					}
				}

				.element-file-buttons {
					float: right;

					.btn {
						margin-left: 20px;
						margin-top: 15px;
						padding: 5px 20px;
						border-radius: 3px;
					}

					.cancel-button {
						background-color: $mediumgray;
						border: 1px solid $gray;
						color: white;
					}

					.apply-button {
						background-color: $orange;
						color: white;
					}
				}
			}
		}
	}
}

.scenarioAnalysisElementCopy {
	background-color: rgba(255,255,255,0.95);
	width: 100%;
	height: 100%;
	overflow: hidden;

	.modal-dialog {
		width: 660px;

		.modal-content {
			/*width: 1126px;*/
			margin: 50px auto;
			-webkit-box-shadow: none;
			-moz-box-shadow: none;
			-ms-box-shadow: none;
			box-shadow: none;
			border: 0;
			border-radius: 0;
			background-color: transparent;

			.element-copy-modal-header {
				h4 {
					font-size: 32px;
					font-weight: normal;
				}
			}

			.element-copy-modal-body {
				background-color: white;

				.element-copy-form {
					.element-copy-label {
						font-size: 16px;
						display: block;
						margin-bottom: 5px;
						font-weight: normal;
					}

					input {
						font-size: 16px;
						height: 30px;
						width: 660px;
						margin-bottom: 15px;
						font-weight: normal;
					}

					.ng-dirty.ng-invalid {
						background-color: #F2CBDB;
						border: 1px solid #D43538;
					}

					.element-copy-name {}

					.element-copy-description {}
				}

				.element-copy-buttons {
					float: right;

					.btn {
						margin-left: 20px;
						margin-top: 15px;
						padding: 5px 20px;
						border-radius: 3px;
					}

					.cancel-button {
						background-color: $mediumgray;
						border: 1px solid $gray;
						color: white;
					}

					.apply-button {
						background-color: $orange;
						color: white;
					}
				}
			}
		}
	}
}