@import "variables";

.scenario-calculation {
	margin: 55px auto;
	width: 330px;
	height: 590px;
	text-align: center;
	.title {
		margin-bottom: 10px;
		font-size: 26px;
		i {
			font-size: 20px;
			color: $ms-orange;
		}
	}
	.description {
		text-align: center;
		text-justify: inter-word;
	}
	.progress {
		height: 30px;
		i {
			line-height: 30px;
			font-size: 14px;
			font-weight: 700;
			font-style: normal;
		}
		.progress-bar-danger {
			background-color: $ms-orange;
		}
		.progress-bar-success {
			background-color: $ms-mediumGreen;
		}
	}
	ul.list {
		text-align: left;
		li {
			margin: 10px 0 10px 60px;
			color: #808080;
			&.completed {
				color: #333;
				span.number-circle {
					background-color: $ms-mediumGreen;
				}
				i.fa-check {
					color: $ms-mediumGreen;
				}
				i.fa-failed {
					color: $ms-orange;
				}
			}
			span.number-circle {
				display: inline-block;
				margin-right: 10px;
				border-radius: 50%;
				width: 22px;
				height: 22px;
				padding: 4px;
				background: $ms-mediumLightGray;
				color: $ms-pureWhite;
				text-align: center;
				font-size: 14px;
				line-height: 14px;
			}
		}
	}
	.action-buttons {
		margin-top: 20px;
		.col-sm-6 {
			padding: 0;
			&:first-child {
				padding-right: 5px;
			}
			&:last-child {
				padding-left: 5px;
			}
			.ms-btn-cancel {
				font-size: 14px;
				color: $ms-black;
				text-transform: uppercase;
				background-color: $ms-lightGray;
				&:hover, &:active {
					color: $ms-black;
					background-color: $ms-mediumLightGray;
				}
			}
		}
	}
}