@import "variables";

.scenario {
	margin: 0 20px;
	padding: 20px;
	background-color: $purewhite;

	.toggle-header {
		position: relative;
		padding: 7px 20px;
		margin: -20px -20px 30px;
		height: 50px;
		background-color: #fafafa;
		box-shadow: 0px 0px 8px #AAA;
		z-index: 20;
		.tabs-holder {
			float:left;
			ul {
				list-style: none;
				display: inline-block;
				margin-bottom: -7px;
				margin-top: -7px;
				li {
					float: left;
					margin-right: 20px;
					height: 50px;
					width: 90px;
					text-align: center;
					cursor: pointer;
					-webkit-transition: all 0.4s;
					transition: all 0.4s;
					a {
						text-overflow: ellipsis;
						white-space: nowrap;
						text-decoration: none;
						font-weight: 300;
						font-size: 19px;
						line-height: 50px;
						color: #a9a9a9;
						-webkit-transition: all 0.4s;
						transition: all 0.4s;
						i {
							font-size: 16px;
						}
					}
					&:hover {
						a {
							color: #333;
							-webkit-transition: all 0.4s;
							transition: all 0.4s;
						}
					}
					&.selected {
						color: #333;
						border-bottom: 4px solid #142f55;
						-webkit-transition: all 0.4s;
						transition: all 0.4s;
						a {
							color: #333;
							-webkit-transition: all 0.4s;
							transition: all 0.4s;
						}
					}
				}
			}
		}
		.icon-holder {
			float: right;
			margin-right: 15px;
			span {
				text-align: center;
				white-space: nowrap;
				display: inline-block;
				width: 38px;
				height: 35px;
				background-color: #d9d9d9;
				margin-top: 1px;
				border-radius: 5px;
				color: #a4a4a4;
				cursor: pointer;
				-webkit-user-select: none;
				-moz-user-select: none;
				-ms-user-select: none;
				user-select: none;
				i {
					font-size: 16px;
					line-height: 35px;
				}
				&:hover {
					background-color: $mediumgray;
				}
			}
		}
		.button-holder {
			float: right;
			span {
				display: inline-block;
				margin-top: 1px;
				padding: 7px 20px 6px;
				background-color: #f45724;
				border-radius: 5px;
				font-size: 1.2em;
				line-height: 20px;
				color: white;
				cursor: pointer;
				box-shadow: 0px 3px 5px #AAA;
				text-transform: uppercase;
				&:hover {
					background-color: darken($orange, 5%);
				}
				i {
					font-size: 16px;
					padding-right: 5px;
				}
				&.disabled {
					background-color: #cdcdcd;
					cursor: not-allowed;
				}
			}
		}
	}
	.details {
		margin: 0 0 20px 0;
		.media {
			margin: 0 0 20px 0;
		}
		form {
			display:inline-block;
		}
		.results {
			display:inline-block;
			margin:0 0 0 10px;
			cursor:pointer;
			&.disabled {
				color:$disabled;
			}
		}
	}
	.display {
		width: 100%;
		.scenario-type-dropdown {
			margin: 20px 0;
			span {
				font-size: 17px;
				line-height: 22px;
				font-weight: 300;
			}
	        .dropdown {
	            display: inline-block;

	            .dropdown-menu {
	            	width: 320px;
	            	border-radius: 0;
	            	border: 1px solid $blue;
	            	padding: 7px 0;
	            	margin-top: 5px;

	            	div {
	            		.group-title {
		            		margin: 10px 15px 3px 20px;
		            		color: $gray;
		            		border-bottom: 1px solid $mediumgray;
		            		font-weight: 700;
		            		text-transform: uppercase;
		            		font-size: 12px;
		            	}

		                li {
		                	color: $black;
		                	padding: 3px 20px;

			                &.selected {
			                    background-color: $blue;

			                    span {
			                        color: $lightestgray;
			                        font-weight: 400;
			                    }

			                    &:hover {
			                    	background-color: $blue;
			                    }
			                }

			                &:hover {
			                	background-color: $lightgray;
			                }
			            }
			        }

		            &::before {
						position: absolute;
						height: 11px;
						width: 11px;
						content: "";
						border-left: 1px solid $blue;
						border-top: 1px solid $blue;
						@include vendor(transform, rotate(45deg));
						top: -6px;
						left: 27%;
						z-index: 13;
						background-color: white;
					}
	            }
	            .dropdown-toggle {
	                cursor: pointer;
	                color: #f35528;
	                text-decoration: none;
	                font-weight: 700;
	                i {
	                    line-height: 21px;
	                    color: #999;
	                    font-size: 14px;
	                    margin-left: 5px;
	                }
	            }
	            .dropdown-filename {
	            	margin-left: 15px;
	            	i {
	            		font-size: 14px;
	            		margin-right: 5px;
	            	}
	            }

	            .filename-option {
	            	font-size: 14px;
	            	margin-left: 20px;
	            	border-bottom: 1px solid #000;
	            	cursor: pointer;

	            	.fa {
	            		margin-right: 5px;
	            	}
	            }
			}
		}
		
		.tableHolder {
			width: 100%;
			.trayHolder {
				border:1px solid $mediumgray;
				border-right: 0 none;
				width: 300px;
				overflow: hidden;
				.tray {
					overflow: hidden;
				}

			}
			 table {
				width: 100%;
				tr {
					td.editable {
						cursor:pointer;
						width:170px;
						input {
							width:120px;
						}
					}
				}
			}
		}
		table {
			thead {
				background-color:$lightgray;
				th {
					text-transform:uppercase;
					color: $mouseover;
					font-size:12px;
				}
			}
		}
	}
}

.scenarioAnalysisElementCopy {

	.element-copy-modal-body {
		background-color: white;
		padding: 10px 20px;

		.element-copy-form {
			.element-copy-label {
				font-size: 16px;
				display: block;
				margin-bottom: 5px;
				font-weight: normal;
			}

			input {
				font-size: 16px;
				height: 30px;
				width: 660px;
				margin-bottom: 15px;
				font-weight: normal;
			}

			.ng-dirty.ng-invalid {
				background-color: #F2CBDB;
				border: 1px solid #D43538;
			}
		}
	}
}

.scenarioEditControls {
	border: 0!important;
	color: $black;

	&:hover {
		color: $blue;
	}

	.fa {
		margin-right: 5px;
	}
}
