@import "ford_client";

// images and sprites
$sprite: "../images/360sprite.png";
$logo: "../images/logo_pic_sprite.png";
$users_img: "../images/users_pic_sprite.png";

// Fonts
$sansFontFamily: "proxima-nova", arial, sans-serif;
$body_font_size: 14px;

// Colors
$ms-pureBlack: #000;
$ms-black: #333;
$ms-pureWhite: #fff;
$ms-white: #fafafa;

$ms-blueGray: #8796B4;
$ms-blue: #3271cd;
$ms-lightBlue: #428bca;
$ms-mediumBlue: #295da7;
$ms-darkBlue: #001b3e;

$ms-orange: #f45724;
$ms-gold: #ffa500;

$ms-red: #cd1f28;
$ms-lightRed: #ff817c;

$ms-green: #449e47;
$ms-lightGreen: #c7e9c8;
$ms-mediumGreen: #5cb85c;

$ms-gray: #808080;
$ms-veryLightGray: #f5f5f5;
$ms-lightGray: #e6e6e6;
$ms-mediumGray: #999;
$ms-mediumLightGray: #cdcdcd;
$ms-darkGray: #666666;

$ms-actionGreen: #01a951;
$ms-strategyBlue: #0062A9;

// Marketshare color bar logo
$colorcell1: #ffde00;
$colorcell2: #e22778;
$colorcell3: #18a3a4;
$colorcell4: #ec2224;
$colorcell5: #049146;
$colorcell6: #211f5e;

// sizes
$cap_height: 50px;
$app_left: 200px;
$app_right: 300px;
// $app_max_width: 1160px;
$app_max_width: 1400px;
$app_min_width: 1160px;
$app_top_margin: 50px;
$navigation_min_width: 1024px;
$content_min_width: 1080px;

// Text styles
.baseFont {
  font-size: $body_font_size;
  color: $ms-black;
  font-family: $sansFontFamily;
}


.hide-overflow {
  overflow:hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}


// Mixins
@mixin drop-shadow($t,$r,$b,$l,$o) {
  -webkit-box-shadow: $t $r $b $l rgba(0,0,0,$o);
  -moz-box-shadow: $t $r $b $l rgba(0,0,0,$o);
  box-shadow: $t $r $b $l rgba(0,0,0,$o);
}

@mixin transition($d:"0.3s", $s:"linear", $c:"all") {
  -webkit-transition: #{$d} #{$s} #{$c};
  transition: #{$d} #{$s} #{$c};
  display: block !important;
}

@mixin placeholder {
  &::-webkit-input-placeholder {@content}
  &:-moz-placeholder           {@content}
  &::-moz-placeholder          {@content}
  &:-ms-input-placeholder      {@content}
}

@mixin vertical-align {
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

@mixin linear-gradient-logo ($c1,$c2,$c3,$c4,$c5,$c6){
  background: $c1; /* Old browsers */
  background: -moz-linear-gradient(left, $c1 0%, $c1 16%, $c2 16%, $c2 17%, $c2 33%, $c3 33%, $c3 44%, $c3 50%, $c4 50%, $c4 50%, $c4 66%, $c5 66%, $c5 84%, $c5 84%, $c6 84%, $c6 84%, $c6 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, right top, color-stop(0%,$c1), color-stop(16%,$c1), color-stop(16%,$c2), color-stop(17%,$c2), color-stop(33%,$c2), color-stop(33%,$c3), color-stop(44%,$c3), color-stop(50%,$c3), color-stop(50%,$c4), color-stop(50%,$c4), color-stop(66%,$c4), color-stop(66%,$c5), color-stop(84%,$c5), color-stop(84%,$c5), color-stop(84%,$c6), color-stop(84%,$c6), color-stop(100%,$c6)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(left, $c1 0%,$c1 16%,$c2 16%,$c2 17%,$c2 33%,$c3 33%,$c3 44%,$c3 50%,$c4 50%,$c4 50%,$c4 66%,$c5 66%,$c5 84%,$c5 84%,$c6 84%,$c6 84%,$c6 100%); /* Chrome10+,Safari5.1+ */
  background: -ms-linear-gradient(left, $c1 0%,$c1 16%,$c2 16%,$c2 17%,$c2 33%,$c3 33%,$c3 44%,$c3 50%,$c4 50%,$c4 50%,$c4 66%,$c5 66%,$c5 84%,$c5 84%,$c6 84%,$c6 84%,$c6 100%); /* IE10+ */
  background: linear-gradient(to right, $c1 0%,$c1 16%,$c2 16%,$c2 17%,$c2 33%,$c3 33%,$c3 44%,$c3 50%,$c4 50%,$c4 50%,$c4 66%,$c5 66%,$c5 84%,$c5 84%,$c6 84%,$c6 84%,$c6 100%); /* W3C */
}

@mixin vendor($name, $argument) {
  -webkit-#{$name}: #{$argument};
  -ms-#{$name}: #{$argument};
  -moz-#{$name}: #{$argument};
  -o-#{$name}: #{$argument};
  #{$name}: #{$argument};
}

@mixin animation($animate...) {
  $max: length($animate);
  $animations: '';
  @for $i from 1 through $max {
	$animations: #{$animations + nth($animate, $i)};
	@if $i < $max {
	  $animations: #{$animations + ", "};
	}
  }
  -webkit-animation: $animations;
  -moz-animation:    $animations;
  -o-animation:      $animations;
  animation:         $animations;
}

@mixin keyframes($animationName) {
  @-webkit-keyframes #{$animationName} {
	@content;
  }
  @-moz-keyframes #{$animationName} {
	@content;
  }
  @-o-keyframes #{$animationName} {
	@content;
  }
  @keyframes #{$animationName} {
	@content;
  }
}

@mixin reveal-animation($time:0.5) {
  $delayTime: #{$time / 2}s;
  $longDelayTime: #{$delayTime / 2}s;
  &.animated { 
	-webkit-animation-duration: #{$time}s; 
	animation-duration: #{$time}s; 
	-webkit-animation-fill-mode: both; 
	animation-fill-mode: both; 
  } 

  &.delay {
	-webkit-animation-delay: #{$delayTime}s;
	  animation-delay: #{$delayTime}s;
  }

  &.delay-long {
	-webkit-animation-delay: #{$longDelayTime}s;
	  animation-delay: #{$longDelayTime}s;
  }

  @-webkit-keyframes fadeIn { 
	0% {opacity: 0;}
	100% {opacity: 1;} 
  } 
  @keyframes fadeIn { 
	0% {opacity: 0;}
	100% {opacity: 1;} 
  } 
  &.fadeIn { 
	-webkit-animation-name: fadeIn; 
	animation-name: fadeIn; 
  }
}

@mixin product-btn($btn-type, $color, $logo-image) {
	input[type="radio"] {
		display: none;
		&:checked + label {
			@include reveal-animation();
			color: $ms-pureWhite;
			background-image: url(../images/ms-logo-01.png);
			background-color: $color;
			border-right-color: $color;
			border-bottom-color: $color;
			border-left-color: $color;
			outline: none;
		}
	}
	label {
		width: 230px;
		text-align: center;
		color: $color;
		font-size: 38px;
		background-color: $ms-pureWhite;
		border-top: 0;
		border-right: 1px solid $ms-mediumLightGray;
		border-bottom: 2px solid $ms-mediumLightGray;
		border-left: 1px solid $ms-lightGray;
		border-radius: 0;
		background-image: url(../images/#{$logo-image});
		background-repeat: no-repeat;
		@if $btn-type == "ms-strategy" { 
			background-position: 25px center; 
			padding: 10px 0px 10px 40px;
		}
		@if $btn-type == "ms-action" { 
			background-position: 40px center; 
			padding: 10px 0px 10px 45px;
		}

		&:hover {
			cursor: pointer;
			color: $ms-pureWhite;
			background-image: url(../images/ms-logo-01.png);
			background-color: $ms-mediumLightGray;
			border-right-color: $ms-mediumLightGray;
			border-bottom-color: $ms-mediumLightGray;
			border-left-color: $ms-lightGray;
		}
	}
}

@mixin ms-radio-btn ($color) {
	input[type="radio"] {
		display: none;
		&:checked + label {
			@include reveal-animation();
			background-color: $ms-pureWhite;
			border-color: $color;
			border: 2px solid $color;
			color: $color;
			font-weight: bold;
			outline: none;
		}
	}
	label {
		width: 160px;
		height: 75px;
		padding: 23px 0 0 0;
		text-align: center;
		color: $ms-mediumLightGray;
		font-size: 18px;
		font-weight: normal;
		background-color: $ms-pureWhite;
		border: 1px solid $ms-lightGray;
		border-radius: 5px;

		&:hover {
			cursor: pointer;
			color: $ms-pureWhite;
			background-color: $ms-lightGray;
		}
	}
}