/* line 17, ../../../../../../Ruby200-x64/lib/ruby/gems/2.0.0/gems/compass-0.12.5/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../../Ruby200-x64/lib/ruby/gems/2.0.0/gems/compass-0.12.5/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../../Ruby200-x64/lib/ruby/gems/2.0.0/gems/compass-0.12.5/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../../Ruby200-x64/lib/ruby/gems/2.0.0/gems/compass-0.12.5/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../../Ruby200-x64/lib/ruby/gems/2.0.0/gems/compass-0.12.5/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../../Ruby200-x64/lib/ruby/gems/2.0.0/gems/compass-0.12.5/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../../Ruby200-x64/lib/ruby/gems/2.0.0/gems/compass-0.12.5/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../../Ruby200-x64/lib/ruby/gems/2.0.0/gems/compass-0.12.5/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../../Ruby200-x64/lib/ruby/gems/2.0.0/gems/compass-0.12.5/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

/* line 16, ../sass/d3test.scss */
body {
  background-color: #2e3036;
  color: #fff;
}

/* line 21, ../sass/d3test.scss */
#chartTypes {
  width: 770px;
  margin-left: 256px;
  margin-bottom: 20px;
}
/* line 4, ../sass/d3test.scss */
#chartTypes:after {
  content: "";
  display: table;
  clear: both;
}
/* line 27, ../sass/d3test.scss */
#chartTypes li {
  width: 20%;
  float: left;
  text-align: center;
  padding: 10px 0;
  border-bottom: 1px solid #fff;
}

/* line 36, ../sass/d3test.scss */
#dashboard {
  width: 1024px;
  margin: 0 auto;
}
/* line 39, ../sass/d3test.scss */
#dashboard .scenarioDetails {
  margin-bottom: 25px;
}
/* line 4, ../sass/d3test.scss */
#dashboard .scenarioDetails:after {
  content: "";
  display: table;
  clear: both;
}
/* line 42, ../sass/d3test.scss */
#dashboard .scenarioDetails .scenarioInfo {
  float: left;
  width: 25%;
}
/* line 46, ../sass/d3test.scss */
#dashboard .scenarioDetails .charts {
  float: left;
  width: 75%;
}
/* line 4, ../sass/d3test.scss */
#dashboard .scenarioDetails .charts:after {
  content: "";
  display: table;
  clear: both;
}
/* line 50, ../sass/d3test.scss */
#dashboard .scenarioDetails .charts li {
  float: left;
  width: 20%;
  height: 50px;
  margin-left: -1px;
  border-left: 1px solid #4f535f;
  border-bottom: 1px solid #4f535f;
}
/* line 57, ../sass/d3test.scss */
#dashboard .scenarioDetails .charts li .bar {
  height: 15px;
  margin: 6px;
  position: relative;
}
/* line 61, ../sass/d3test.scss */
#dashboard .scenarioDetails .charts li .bar.current {
  background-color: #0099ff;
}
/* line 64, ../sass/d3test.scss */
#dashboard .scenarioDetails .charts li .bar.compare {
  background-color: #c6ae4e;
}
/* line 67, ../sass/d3test.scss */
#dashboard .scenarioDetails .charts li .bar .barLabel {
  font-size: 12px;
  line-height: 15px;
  position: absolute;
  left: 102%;
}
