<div class="display-actions">
	<h4 class="pull-left title">{{selectedCategory}}&nbsp;<span>({{data.counts[selectedCategory] || 0}})</span></h4>
	
	<div class="pull-right">

		<div class="actions">
			<span class='FA enabled create' ng-click="alert('This will take you to a create new page')">&#xf067</span>
			<span class="FA copy" ng-class='{enabled: enableDisplayActions==1}'>&#xf0c5</span>
			<span class="set-as-default"><a ng-class='{enabled: enableDisplayActions==1}'><img src="images/ms-confirm_gray.png" width="18" height="16"/></a></span>
			<span class="FA trash" ng-class='{enabled: enableDisplayActions > 0}'>&#xf014</span>
		</div>
		<div class='search-field'>
			<i class="icon-search"></i>
			<input type="text" placeholder="Search" ng-model="FilterService.searchText" />
		</div>
		<span class="toggle-info-tray FA" ng-class='{enabled: enableDisplayActions==1}'><a ng-click="toggleInfoTray()">&#xf05a</a></span>

	</div>
</div>

<sorter>
	<form class="form-inline display-table">
		<table class="table table-hover">
			<colgroup>
			    <col width="29">
			    <col width="698">
			    <col width="237">
			    <col width="237">
			</colgroup>
			<thead>
				<th>
					<div class="checkbox">
		                <tri-state-checkbox checkboxes="data.data"  class="select-all-cb" delete-service-for-checkbox></tri-state-checkbox>
		            </div>
		        </th>
				<th><sorting-options label="title" display="Name"></sorting-options></th>
				<th><ms-dropdown selected-sort-index="0" is-active=true id="column_1"></ms-dropdown></th>
				<th><ms-dropdown selected-sort-index="1" id="column_2"></ms-dropdown></th>
			</thead>
			<tbody>
				SortAndFilterService.getOrderBy() is {{SortAndFilterService.getOrderBy()}} <br/>
				SortAndFilterService.activeFilters is {{SortAndFilterService.activeFilters}} <br/>
				SortAndFilterService.getFilterBy is {{SortAndFilterService.getFilterBy()}} <br/>
				SortAndFilterService 1 is {{SortAndFilterService.getSorter("column_1")}} <br/>
				SortAndFilterService 2 is {{SortAndFilterService.getSorter("column_2")}}
				<tr ng-repeat="item in data.data | orderBy: SortAndFilterService.getOrderBy() : SortAndFilterService.getReverse() | filter : SortAndFilterService.activeFilters">
					<!--  | filter : FilterService.activeFilters | filter: FilterService.searchText | filter: FilterService.filterBy -->
					<td style="width:1%">
						<div class="checkbox pull-left multi-select">
		                    <input type="checkbox" ng-model="item.isSelected" />
		                </div>
		            </td>
					<td ng-click="item.isSelected=!item.isSelected"><span class="symbol icon-{{item.icon}}"></span>{{item.title}}</td>
					<td ng-click="item.isSelected=!item.isSelected" ng-switch on="SortAndFilterService.getSorter('column_1')">
						<div ng-switch-when="Last Modified">{{item.lastModified_display}}</div>
						<div ng-switch-when="Modified By">{{item.modifiedBy}}</div>
						<div ng-switch-when="Type">{{item.type}}</div>
						<div ng-switch-when="Owner">{{item.owner}}</div>
						<div ng-switch-when="Defaults">{{item.defaultScenariosElements}}</div>
					</td>
					<td ng-click="item.isSelected=!item.isSelected" ng-switch on="SortAndFilterService.getSorter('column_2')">
						<div ng-switch-when="Last Modified">{{item.lastModified_display}}</div>
						<div ng-switch-when="Modified By">{{item.modifiedBy}}</div>
						<div ng-switch-when="Type">{{item.type}}</div>
						<div ng-switch-when="Owner">{{item.owner}}</div>
						<div ng-switch-when="Defaults">{{item.defaultScenariosElements}}</div>
					</td>
				</tr>
			</tbody>
		</table>
	</form>
</sorter>