<div class="display-actions">
	<h4 class="pull-left title">{{SortAndFilterService.getSelected()}}&nbsp;<span>({{data.counts[SortAndFilterService.getSelected()] || 0}})</span></h4>
	
	<div class="pull-right">

		<span ng-show="FileDeleteService.getFileCount()" ng-click="trash()" class="trash"><i class="fa fa-trash-o"></i>&nbsp;Delete({{FileDeleteService.getFileCount()}})</span>

		<div class="actions">
			<span ng-click="DiaglogService.create()"><i class="fa fa-plus"></i></span>
			<span><i class="fa fa-filter"></i></span>
			<search></search>
			<span class="toggle-info-tray" ng-class='{enabled: ActiveSelection.getActiveItem() !== ""}' ng-click="InfoTrayService.closeInfoTray()"><i class="fa fa-info-circle"></i></span>
		</div>
		
	</div>
</div>

<sorter>
	<form class="form-inline display-table">
		<table class="table table-hover">
			<colgroup>
			    <col width="30">
			    <col width="700">
			    <col width="230">
			    <col width="230">
			    <col width="30">
			</colgroup>
			<thead>
				<th>
					<div class="checkbox">
		                <tri-state-checkbox checkboxes="data.data"  class="select-all-cb" delete-service-for-checkbox></tri-state-checkbox>
		            </div>
		        </th>
				<th><sorting-options label="title" display="Name" msid="name-field"></sorting-options></th>
				<th><ms-dropdown selected-sort-index="0" is-active=true msid="column_1"></ms-dropdown></th>
				<th><ms-dropdown selected-sort-index="1" msid="column_2"></ms-dropdown></th>
<!-- 				<th><ms-dropdown selected-sort-index="2" msid="column_3"></ms-dropdown></th> -->
				<th>&nbsp;</th>
			</thead>
			<tbody>
<!--   				SortAndFilterService.searchText is {{SortAndFilterService.searchText}} <br/>
 				SortAndFilterService.getSearchText() is {{SortAndFilterService.getSearchText()}} <br />
				SortAndFilterService.getReverse() is {{SortAndFilterService.getReverse()}} <br/>
				SortAndFilterService.getOrderBy() is {{SortAndFilterService.getOrderBy()}} <br/>
				SortAndFilterService.activeFilters is {{SortAndFilterService.getActiveFilters()}} <br/>
				SortAndFilterService.getFilterBy is {{SortAndFilterService.getFilterBy()}} <br/>
				SortAndFilterService 1 is {{SortAndFilterService.getSorter("column_1")}} <br/>
				SortAndFilterService 2 is {{SortAndFilterService.getSorter("column_2")}}  -->
<!-- 				ActiveSelection.getActiveItem() is {{ActiveSelection.getActiveItem()}}<br/>
				ActiveSelection.activeItem() is {{ActiveSelection.activeItem()}}<br/> -->
<!-- 				FileDeleteService.getFilesToDelete() is {{FileDeleteService.getFilesToDelete()}}</br/> -->
				<tr ng-repeat="item in data.data | orderBy: SortAndFilterService.getOrderBy() : SortAndFilterService.getReverse() | filter : SortAndFilterService.getActiveFilters() | filter: SortAndFilterService.getSearchText() | filter: SortAndFilterService.getFilterBy()" ng-class="{active: ActiveSelection.isActiveItem(item)}">
					<td style="width:1%">
						<div class="checkbox pull-left multi-select">
		                    <input type="checkbox" ng-model="item.isSelected" />
		                </div>
		            </td>
					<td ng-click="ActiveSelection.setActiveItem(item);InfoTrayService.toggleInfoTray()">
						<div class="text-holder">
	                    	<span ng-switch='item.defaults'>
		                        <span ng-switch-when='false'>{{item.title}}</span>
		                        <span ng-switch-default><span class="default"><span class="symbol icon-masterset"></span>{{item.title}}
	                    	</span>
	                	</div>
					</td>
					<td ng-click="ActiveSelection.setActiveItem(item);InfoTrayService.toggleInfoTray()"><sortable-columns item=item display-by="SortAndFilterService.getSorter('column_1')"></sortable-columns></td>
					<td ng-click="ActiveSelection.setActiveItem(item);InfoTrayService.toggleInfoTray()"><sortable-columns item=item display-by="SortAndFilterService.getSorter('column_2')"></sortable-columns></td>
					<!-- <td ng-click="ActiveSelection.setActiveItem(item);InfoTrayService.toggleInfoTray()"><sortable-columns item=item display-by="SortAndFilterService.getSorter('column_3')"></sortable-columns></td> -->
					<td class="ms-actions-holder">
						<div class="ms-actions">
							<div class='dropdown-toggle' data-toggle="dropdown">
								<div class="dropdown-trigger">*</div>
								<div class="dropdown-trigger">*</div>
								<div class="dropdown-trigger">*</div>
							</div>
							<ul class="dropdown-menu ms-actions-menu" role="menu">
								<li><a ng-click="DiaglogService.copy(item)"><span class="ms-icon fa">&#xf0c5</span>copy</a></li>
<!-- 								<li><a ng-click="setAsMaster(item)"><img src="images/ms-confirm_gray.png" width="18" height="16"/>
									<span ng-switch='item.defaults'>
				                        <span ng-switch-when='false'>&nbsp;set as default</span>
				                        <span ng-switch-default>&nbsp;unset as default</span>
		                    		</span>
								</a></li> -->
								<li><a ng-click="setAsMaster(item)" ng-class="{disabled: item.defaults}"><img src="images/ms-confirm_gray.png" width="18" height="16">
									<span>&nbsp;Make default</span>
								</a></li>
								<li><a><span class="ms-icon fa">&#xf019</span>add to a secenario</a></li>
								<li><a><span class="ms-icon fa">&#xf0c0</span>share settings</a></li>
								<li><a ng-click="DiaglogService.trash(item)"><span class="ms-icon fa">&#xf014</span>delete</a></li>
								<li><a ng-click="DiaglogService.rename(item)"><span class="ms-icon fa">&#xf040</span>rename</a></li>
								<li class="divider"></li>
								<li><a ng-click="ActiveSelection.setActiveItem(item);InfoTrayService.toggleInfoTray()"><span class="ms-icon fa">&#xf05a</span>details</a></li>
							</ul>
						</div>
					</td>
				</tr>
			</tbody>
		</table>
	</form>
</sorter>