<div class="display-actions">
	<h4 class="pull-left title">Default Scenario Elements&nbsp;<span>(7)</span></h4>
	<div class="pull-left actions">
		<span class='enabled'>&#xf067</span>
		<span>&#xf0c5</span>
		<span><img src="images/ms-confirm_gray.png" width="18" height="16"/></span>
		<span>&#xf014</span>
	</div>
	<div class="pull-left search-field">
		<i class="icon-search"></i>
		<input type="text" placeholder="Search" ng-model="searchText" />
	</div>
	<div class="info pull-left"><span><a ng-click="toggleInfoTray()">&#xf05a</a></span></div>
</div>

<form class="form-inline">
	<table class="table table-hover display-table">
		<thead>
			<th>
				<div class="checkbox">
	                <tri-state-checkbox checkboxes="data.data"  class="select-all-cb" delete-service-for-checkbox></tri-state-checkbox>
	            </div>
	        </th>
			<th><a>Name</a>&nbsp;</th>
			<th><a>Last Modified</a>&nbsp;</th>
			<th class="selected"><a>Modified By</a>&nbsp;</th>
			<th><a>Type</a>&nbsp;</th>
		</thead>
		<tbody>
			<tr ng-repeat="item in data.data">
				<td>
					<div class="checkbox pull-left multi-select">
	                    <input type="checkbox" ng-model="item.isSelected" />
	                </div>
	            </td>
				<td><span class="symbol icon-{{item.icon}}"></span>{{item.title}}</td>
				<td>{{item.lastModified_display}}</td>
				<td>{{item.modifiedBy}}</td>
				<td>{{item.fileType}}</td>
			</tr>
		</tbody>
	</table>
</form>