<div class="info-tray" ng-controller="InfoTrayCtrl">
	<div class="details">
		<p class="sub-header pull-left">DETAILS</p>
		<button type="button" style="margin:0 15px 0 0" class="close" ng-click="toggleInfoTray()"><span aria-hidden="true">&times;</span></button>
		<h4>{{selectedItem.title}}&nbsp;<a ng-click="rename(selectedItem)"><i class="fa fa-pencil"></i></a></h4>
		<p>Type: {{selectedItem.type}}</p>
		<p>
			<a ng-click="setAsMaster(selectedItem)"><img src="images/ms-confirm_gray.png" width="18" height="16">
				<span ng-switch on="selectedItem.defaults">
					<span ng-switch-when="true">&nbsp;Unset as default</span>
					<span ng-switch-default>&nbsp;Make default</span>
				</span>
			</a>
		</p>
		<p><a ng-click="copy(selectedItem)"><span class='FA enabled create' >&#xf067</span>&nbsp;Copy</a></p>
	</div>

	<div class="well profile">
		<ul class="media-list no-margin">
		  <li class="media">
		    <a class="pull-left" href="#">
		      <img class="media-object" src="images/user_pic_pete_small.png" width="35" height="34">
		    </a>
		    <div class="media-body">
		      <h5 class="media-heading bold">Created by:</h5>
		      <p class="name">{{selectedItem.owner}}</p>
		      <p class="date">{{selectedItem.lastModified | date}}</p>
		    </div>
		  </li>
		</ul>
	</div>


	<div class="well profile" ng-show="selectedItem.lastModified">
		<ul class="media-list no-margin">
		  <li class="media">
		    <a class="pull-left" href="#">
		      <img class="media-object" src="images/user_pic_johnwayne_small.png" width="35" height="34">
		    </a>
		    <div class="media-body">
		      <h5 class="media-heading bold">Last Modified by:</h5>
		      <p class="name">{{selectedItem.modifiedBy | date}}</p>
		      <p class="date">{{selectedItem.lastModified | date}}</p>
		    </div>
		  </li>
		</ul>
	</div>

	<div class="well profile">
		<h4 class="used-in">Used in <span>20</span> Scenarios</h4>
		<div class="see-all-toggle" ng-click="seeAll = !seeAll">See <span ng-hide="seeAll">all&nbsp;<i class="fa fa-chevron-down"></i></span><span ng-show="seeAll">less&nbsp;<i class="fa fa-chevron-up"></i></span></div>
		<div class="entity-holder" ng-class="{'see-all': seeAll}">
			<div class="entity">
				<span class="symbol icon-costassumptions"></span>
				This is an entity
				<div class="in-project">In project: Joe's Project</div>
			</div>
			<div class="entity"><span class="symbol icon-economy"></span> This is also an entity<div class="in-project">In project: Joe's Project</div></div>
			<div class="entity"><span class="symbol icon-economy"></span> Economy 101<div class="in-project">In project: Joe's Project</div></div>
			<div class="entity"><span class="symbol icon-laborcost"></span> Entity name<div class="in-project">In project: Joe's Project</div></div>
			<div class="entity"><span class="symbol icon-pricing"></span> NTT<div class="in-project">In project: Joe's Project</div></div>
			<div class="entity"><span class="symbol icon-costassumptions"></span> Marco Polo Entity<div class="in-project">In project: Joe's Project</div></div>
			<div class="entity"><span class="symbol icon-competition"></span> Entity Schmitity<div class="in-project">In project: Joe's Project</div></div>
			<div class="entity"><span class="symbol icon-laborcost"></span> Enity Number 5<div class="in-project">In project: Joe's Project</div></div>
			<div class="entity"><span class="symbol icon-costassumptions"></span> Fred's Stuff<div class="in-project">In project: Joe's Project</div></div>
			<div class="entity"><span class="symbol icon-competition"></span> Google Smoogle<div class="in-project">In project: Joe's Project</div></div>
			<div class="entity"><span class="symbol icon-economy"></span> What is this<div class="in-project">In project: Joe's Project</div></div>
			<div class="entity"><span class="symbol icon-pricing"></span> Let's Dance<div class="in-project">In project: Joe's Project</div></div>
			<div class="entity"><span class="symbol icon-competition"></span> Let's not<div class="in-project">In project: Joe's Project</div></div>
			<div class="entity"><span class="symbol icon-laborcost"></span> The silly entity<div class="in-project">In project: Joe's Project</div></div>
			<div class="entity"><span class="symbol icon-economy"></span> last one<div class="in-project">In project: Joe's Project</div></div>
		</div>
		<!-- <div class="add-scenario-holder">
			<button class="btn btn-primary btn-sm add-scenario dropdown-toggle" data-toggle="dropdown">ADD A SCENARIO</button>
			<ul class="dropdown-menu" role="menu">
				<li class="entity"><span class="symbol icon-economy"></span> Scenarios title 1<div class="in-project">In project: Joe's Project</div></li>
				<li class="entity"><span class="symbol icon-economy"></span> Scenarios title 2<div class="in-project">In project: Joe's Project</div></li>
				<li class="entity"><span class="symbol icon-laborcost"></span> Scenarios title 3<div class="in-project">In project: Joe's Project</div></li>
				<li class="entity"><span class="symbol icon-pricing"></span> Scenarios title 4<div class="in-project">In project: Joe's Project</div></li>
			</ul>
		</div> -->
	</div>
	<div class="well profile measures">
		<h4>Measures</h4>
		<ul>
			<li>National Unemployment Rate</li>
			<li>Gas Prices</li>
		</ul>
	</div>

	<div class="details"><p><a ng-click="trash(selectedItem);"><span class="ms-icon fa">&#xf014</span>&nbsp;Delete</a></p></div>
</div>