 <!-- start .navigation -->
<div class="container-fluid">
    <div class="col-xs-12 navigation">

        <div class="bar">
             <nav role="navigation">

               <div class="navbar-header">
                    <a class="logo">MarketShare Logo</a>
                </div>

                <ul class="nav navbar-nav navbar-right">
                    <li><a href="#"><span class="glyphicon glyphicon-question-sign"></span></a></li>
                </ul>

            </nav> 
        </div>

    </div>
</div>
<!-- end .navigation -->