 <!-- start navigation -->
<div class="container-fluid no-padding">
    <div class="col-xs-12 navigation">
        <div class="bar">
            <div class="navbar-header">
                <a class="logo">MarketShare Logo</a>
            </div>
            <ul class="nav navbar-nav navbar-left">
                <li><a ng-href="/">Scenarios Entities</a></li>
                <li><a ng-href="/#projects">Projects</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li><a href="#"><span class="glyphicon glyphicon-question-sign"></span></a></li>
            </ul>
        </div>
    </div>
</div>
<!-- end navigation -->