<div ng-controller="ScenarioTemplatesChooseDefaultsCtrl">
	<div class="header">
		Just one final step!
	</div>
	<div class="prompt animated fadeIn">
		What's the default view of your template?
		<div class="confirmation">
			This will apply anytime a user first opens a scenario using this template. Users will be able to create their own views once the template is created.
		</div>
	</div>

	<div class="editor animated" ng-if="spendCubeLoaded" ng-class="{fadeIn: spendCubeLoaded}">
		<div id="dragDropArea">
			<div ng-repeat="pivotBuilderItem in getPivotBuilderItems()" class="dimensions-list">
				<div class="title">{{pivotBuilderItem.label}}</div>
				<div class="list" data-as-sortable="dragOptions" ng-model="viewData[pivotBuilderItem.name]" tabindex="-1">
					<div class="" data-as-sortable-item style="display:inline-block;width:5px;height:26px;vertical-align:top;margin:0;" ng-if="isDragging">
						<span data-as-sortable-item-handle></span>
					</div>
					<draggable-dimension ng-repeat="item in getViewData(pivotBuilderItem.name)" row-or-col="{{pivotBuilderItem.name}}" template="draggable_dimension"></draggable-dimension>
					<draggable-dimension row-or-col="{{pivotBuilderItem.name}}" template="add_dimension_button" ng-hide="isDragging"></draggable-dimension>
				</div>
			</div>
		</div>

		<div class="dimensions-list filters-list">
			<div class="title">Filters</div>
			<div class="list">
				<dimension-filter ng-repeat="dimension in getDimensions()" ng-if="addedFilters[dimension.label]" dimension="dimension" categorized-values="categorizedValue[$index]" action="filtersModal(dimension)"></dimension-filter>
			</div>
		</div>
	</div>
	<div ng-hide="spendCubeLoaded">
		<span class="loading"></span>Loading default view ...
	</div>

	<div class="modeling-period animated" ng-if="isDatePickerVisible()" ng-class="{fadeIn: isDatePickerVisible()}">
		<div class="prompt">
		What historical period would you like to use to measure marketing performance?
			<div class="confirmation">
				You will be able to change this when doing scenario planning.
			</div>
		</div>
		<div class="period-range">
			<div>From</div>
			<div class="dropdown">
				<div class="dropdown-toggle">{{fromDate.label}}</div>
				<ul class="dropdown-menu" ms-link-group selected-item="{{fromDate.id}}" radio="true">
					<li class="menu-item" ng-repeat="item in modelingPeriod" ms-link="{{item.id}}" ng-hide="item.label > toDate.label" ng-click="setFromDate(item)">{{item.label}}</li>
				</ul>
			</div>
		</div>
		<div class="period-range">
			<div>To</div>
			<div class="dropdown">
				<div class="dropdown-toggle">{{toDate.label}}</div>
				<ul class="dropdown-menu" ms-link-group selected-item="{{toDate.id}}" radio="true">
					<li class="menu-item" ng-repeat="item in modelingPeriod" ms-link="{{item.id}}" ng-hide="item.label < fromDate.label" ng-click="setToDate(item)">{{item.label}}</li>
				</ul>
			</div>
		</div>
	</div>

<div>