<div ng-controller="ScenarioTemplatesChooseDefaultsCtrl">
	<div class="header">
		Just one final step!
	</div>
	<div class="prompt">
		What's the default view of your template?
		<div class="confirmation">
			This will apply anytime a user first opens a scenario using this template. Users will be able to create their own views once the template is created
		</div>
	</div>

	<div class="editor">
		<div id="dragDropArea">
			<div ng-repeat="pivotBuilderItem in getPivotBuilderItems()" class="dimensions-list">
				<div class="title">{{pivotBuilderItem.label}}</div>
				<div class="list" data-as-sortable="dragOptions" ng-model="viewData[pivotBuilderItem.name]" tabindex="-1">
					<div class="" data-as-sortable-item style="display:inline-block;width:5px;height:26px;vertical-align:top;margin:0;" ng-if="isDragging">
						<span data-as-sortable-item-handle></span>
					</div>
					<draggable-dimension ng-repeat="item in getViewData(pivotBuilderItem.name)" row-or-col="{{pivotBuilderItem.name}}" template="draggable_dimension"></draggable-dimension>
					<draggable-dimension row-or-col="{{pivotBuilderItem.name}}" template="add_dimension_button" ng-hide="isDragging"></draggable-dimension>
				</div>
			</div>
		</div>

		<div class="dimensions-list filters-list">
			<div class="title">Filters</div>
			<div class="list">
				<dimension-filter ng-repeat="dimension in getDimensions()" ng-if="addedFilters[dimension.label]" dimension="dimension" categorized-values="categorizedValue[$index]" action="filtersModal(dimension)"></dimension-filter>
			</div>
		</div>
	</div>

	<div class="prompt" ng-if="currentType.label !== 'Strategy'">
		What historical period would you like to use measure marketing performance?
		<div class="confirmation">
			You will be able to change this when doing scenario planning.
		</div>
	</div>

	<div class="row" ng-if="currentType.label !== 'Strategy'">
		<div class="col-md-3">
			<div>From</div>
			<span class="date-picker clickable" datepicker-popup="{{dateFormat}}" ng-model="fromDate" ng-click="isFromDateOpen = !isFromDateOpen" is-open="isFromDateOpen" max-date="toDate" show-button-bar="false" datepicker-options datepicker-mode='month'>{{fromDate | date:'yyyy-MM-dd Week (ww)'}}</span>
		</div>
		<div class="col-md-1">
			<span>-</span>
		</div>
		<div class="col-md-3">
			<div>To</div>
			<span class="date-picker clickable" datepicker-popup="{{dateFormat}}" ng-model="toDate" ng-click="isToDateOpen = !isToDateOpen" is-open="isToDateOpen" min-date="fromDate" show-button-bar="false" datepicker-options>{{toDate | date:'yyyy-MM-dd Week (ww)'}}</span>
		</div>
	</div>

<div>