<div ng-controller="ChooseDimensionsCtrl">
	<div class="header">
		Tell us more about your scenario template
	</div>
	<div class="prompt">
		<span>Please choose the time granularity for this template</span>
		<form>
			<span ng-repeat="time in times">
				<input type="radio" id="radio{{$index}}" name="selectedTime" ng-value="time" ng-model="selectedTime">
	        	<label for="radio{{$index}}" ng-click="setTime(time)">
		            <span>
		            	<icon type="circle-o"></icon>
		            	<icon type="dot-circle-o"></icon>
		            </span>
		            <span class="capitalized">{{time}}</span>
	        	</label>
			</span>
		</form>
	</div>
	<div class="confirmation reveal animated fadeIn" ng-show="selectedTime">
		Got it!
	</div>
	<div class="prompt reveal animated fadeIn delay" ng-show="selectedTime">
		Now, choose your dimensions &amp; KPIs
		<div class="confirmation">
			The dimensions &amp; KPIs selected will be available for scenario planning.
		</div>
	</div>

	<div class="dimensions reveal animated fadeIn delay-long" ng-show="selectedTime">
		<div class="row dimensionContainer">
			<div class="col-md-4" ng-repeat="standardDimension in standardDimensions | orderBy:id">
				<ms-dimension-card dimension-data="standardDimension" all-dimensions-data="standardDimensions" filters-data="addedFilters" dimension-type="standard" template-type="templateType.label" filter-update-callback="updateMembers(addedMembers)"></ms-dimension-card>
			</div>
		</div>
		<div class="row dimensionContainer">
			<div class="col-md-12">
				<ms-dimension-card all-dimensions-data="kpiDimensions" dimension-type="kpi" template-type="templateType.label"></ms-dimension-card>
			</div>
		</div>
	</div>
<div>
