<div ng-controller="NameAndDescribeCtrl">
	<div class="header">
		Now let's create your {{templateType.label}} scenario template
	</div>
	<div class="prompt">
		<form novalidate name="scenarioTemplateInfo">
			<div>
				<span>What's the template name?</span>
				<input type="text" name="templateName" ng-model="template.name" required placeholder="Enter scenario template name" validator="isTemplateNameUnique" error-type="'isNotUnique'" >
				<div class="alert alert-danger" role="alert" ng-if="scenarioTemplateInfo.$invalid && scenarioTemplateInfo.$dirty">
					{{getError(scenarioTemplateInfo.$error)}}
				</div>
			</div>
			<div class="animated fadeIn" ng-show="template.name">
				<span>Do you want to add a description?</span>
				<input type="text" name="templateDescription" ng-model="template.description" placeholder="Enter scenario template description">
			</div>
		</form>
	</div>
	<div class="confirmation animated fadeIn" ng-show="template.name && template.description">
		Thanks for all that info.
	</div>
<div>
