<div class="scenarioTemplates">
	<div class="header">
		Congrats! You are ready to start planning.
	</div>
	<div class="prompt">
		What we have so far:
	</div>
	<div class="review-field">
		<div class="confirmation">Name</div>
		<div>Placeholder{{templateName}}</div>
	</div>
	<div class="review-field">
		<div class="confirmation">
			Description
		</div>
		<div>Placeholder{{templateDescription}}</div>
	</div>
	<div class="review-field">
		<div class="confirmation">Time Granularity</div>
		<div>Placeholder{{timeGranularity}}</div>
	</div>
	<div class="review-field">
		<div class="confirmation">Dimensions</div>
		<div>Placeholder{{dimensions}}</div>
	</div>
	<div class="review-field">
		<div class="confirmation">KPIs</div>
		<div>Placeholder{{KPIs}}</div>
	</div>
	<div class="review-field">
		<div class="confirmation">Default Marketing Performance Period</div>
		<div>Placeholder{{date-picker}}</div>
	</div>
<div>