<div class="review animated fadeIn">
	<div class="header">
		Congrats! You are ready to start planning.
	</div>
	<div class="prompt">
		What we have so far:
	</div>
	<div class="review-field">
		<div class="confirmation">Name</div>
		<div>{{template.name}}</div>
	</div>
	<div class="review-field">
		<div class="confirmation">Description</div>
		<div>{{template.description}}</div>
	</div>
	<div class="review-field">
		<div class="confirmation">Time Granularity</div>
		<div class="capitalized">{{timeGranularity}}</div>
	</div>
	<div class="review-field">
		<div class="confirmation">Dimensions</div>
		<div>{{standardDimensionsLabel}}</div>
	</div>
	<div class="review-field">
		<div class="confirmation">KPIs</div>
		<div>{{kpiDimensionsLabel}}</div>
	</div>
	<div class="review-field" ng-if="templateType.label === 'Action'">
		<div class="confirmation">Default Marketing Performance Period</div>
		<div>{{performancePeriod.from.label}} - {{performancePeriod.to.label}}</div>
	</div>
<div>