<div class="scenarioTemplates">
	<div class="header">
		Congrats! You are ready to start planning.
	</div>
	<div class="prompt">
		What we have so far:
	</div>
	<div class="review-field">
		<div class="confirmation">Name</div>
		<div>{{template.name}}</div>
	</div>
	<div class="review-field">
		<div class="confirmation">
			Description
		</div>
		<div>{{template.description}}</div>
	</div>
	<div class="review-field">
		<div class="confirmation">Time Granularity</div>
		<div>{{timeGranularity}}</div>
	</div>
	<div class="review-field">
		<div class="confirmation">Dimensions</div>
		<div>{{spendDimensionsLabel}}</div>
	</div>
	<div class="review-field">
		<div class="confirmation">KPIs</div>
		<div>{{kpiDimensionsLabel}}</div>
	</div>
	<div class="review-field" ng-if="currentType.label !== 'Strategy'">
		<div class="confirmation">Default Marketing Performance Period</div>
		<div>{{performancePeriod.from | date:'yyyy-MM-dd (Week ww)'}} - {{performancePeriod.to | date:'yyyy-MM-dd (Week ww)'}}</div>
	</div>
<div>