<div class="info-tray" ng-controller="InfoTrayCtrl">
	<div class="details">
		<p class="sub-header pull-left">DETAILS</p>
		<button type="button"  class="close" ng-click="InfoTrayService.closeInfoTray()"><span aria-hidden="true">&times;</span></button>

		<div class="clearfix title-holder">
			<span ng-switch="selectedItem.access">
				<h4 ng-switch-when="view only" class="title clear"><span class="symbol icon-masterset"></span>{{selectedItem.title}}</h4>
				<span ng-switch-default>
					<inline-rename item="selectedItem"><span class="favorites" ng-class="{disabled:selectedItem.access==='view only'}"><a ng-class="{favorite:FavoritesService.isFavorite(selectedItem.id)}" ng-click="FavoritesService.toggleFavorite(selectedItem)"></a></span></inline-rename>
				</span>
			</span>
		</div>

		<p ng-if="selectedItem.type">Type:&nbsp;{{selectedItem.type}}</p>
	</div>

	<div ng-if="selectedItem.description" class="well profile description-holder">
		<span class='field-label'>Description</span><span class='edit' ng-hide="selectedItem.access==='view only'"><a ng-click="disabled = !disabled"><icon type="pencil"></icon></a></span>
		<textarea ng-init="disabled=true" ng-disabled="disabled" ng-model=selectedItem.description class="description" elastic></textarea>
	</div>

	<div class="well profile">
		<ul class="media-list no-margin">
		  <li class="media">
		    <a class="pull-left" href="#">
		      <img class="media-object" src="images/user_pic_pete_small.png" width="35" height="34">
		    </a>
		    <div class="media-body">
		      <h5 class="media-heading bold">Created by:</h5>
		      <p class="name">{{selectedItem.owner}}</p>
		      <p class="date">{{selectedItem.lastModified | date}}</p>
		    </div>
		  </li>
		</ul>
	</div>


	<div class="well profile" ng-show="selectedItem.lastModified">
		<ul class="media-list no-margin">
		  <li class="media">
		    <a class="pull-left" href="#">
		      <img class="media-object" src="images/user_pic_johnwayne_small.png" width="35" height="34">
		    </a>
		    <div class="media-body">
		      <h5 class="media-heading bold">Last Modified by:</h5>
		      <p class="name">{{selectedItem.modifiedBy | date}}</p>
		      <p class="date">{{selectedItem.lastModified | date}}</p>
		    </div>
		  </li>
		</ul>
	</div>

	<div class="well profile" ng-show="selectedItem.base">
		<h4 class="used-in">Base Scenario</h4>
		<p class="entity-holder"><a ng-click="alert('edit base scenario')"><span class="symbol icon-costassumptions"></span> {{selectedItem.base}}</a></p>
	</div>

	<div class="well profile">
		<h4 class="used-in">Used in <span>{{selectedItem.scenarios.length}}</span> Scenarios</h4>
		<div class="see-all-toggle" ng-click="seeAll = !seeAll">See <span ng-hide="seeAll">all&nbsp;<i class="fa fa-chevron-down"></i></span><span ng-show="seeAll">less&nbsp;<i class="fa fa-chevron-up"></i></span></div>
		<div class="entity-holder" ng-class="{'see-all': seeAll}">
			<div class="scenario" ng-repeat="scenario in selectedItem.scenarios">
				<a ng-click="alert('edit scenario')">
					<span class="symbol icon-costassumptions"></span>
					{{scenario.title}}
				</a>
			</div>
		</div>
	</div>
</div>