.app {
  min-width: 970px; }
  .app .navigation {
    margin: 50px 0 0 0; }
    .app .navigation a.logo {
      background: transparent url("../images/360sprite.png") -214px -3px no-repeat;
      display: inline-block;
      height: 50px;
      width: 200px;
      text-indent: -1000px;
      margin: 0 0 0 15px; }
      .app .navigation a.logo:hover {
        background: transparent url("../images/360sprite.png") -214px -3px no-repeat; }
  .app .fileManager .search {
    background-color: green; }
  .app .fileManager .display {
    background-color: blue; }
