<div class="editor col-md-12 col-xs-12">
	<tabset tabs-control>
		<tab expand-collapse-control="#dragDropArea" ng-controller="PivotBuilderCtrl">
			<tab-heading>
				<div class="header">
					<icon type="table"></icon>&nbsp;Rows & Columns
				</div>
			</tab-heading>
			<div id="dragDropArea" class="content slider import-export">
				<div class="slider-title">Rows & Columns</div>
				<div ng-repeat="pivotBuilderItem in getPivotBuilderItems()" class="dimensions-list" ng-if="viewData">
					<div class="title">{{pivotBuilderItem.label}}</div>
					<div class="list" data-as-sortable="dragOptions" ng-model="viewData[pivotBuilderItem.name]" tabindex="-1">
						<div class="" data-as-sortable-item style="display:inline-block;width:5px;height:26px;vertical-align:top;margin:0;" ng-if="isDragging">
							<span data-as-sortable-item-handle></span>
						</div>
						<draggable-dimension ng-repeat="item in getViewData(pivotBuilderItem.name)" row-or-col="{{pivotBuilderItem.name}}" template="draggable_dimension"></draggable-dimension>
						<draggable-dimension row-or-col="{{pivotBuilderItem.name}}" template="add_dimension_button" ng-hide="isDragging"></draggable-dimension>
					</div>
				</div>
			</div>
		</tab>
		<tab expand-collapse-control="#replaceBody" ng-controller="AnalysisElementCtrl">
			<tab-heading>
				<div class="header">
					<icon type="exchange"></icon>&nbsp;Replace with another file
				</div>
			</tab-heading>
			<div id="replaceBody" class="content hidden slider import-export">
				<div class="slider-title">Replace with another file</div>
				<div class="replace" ng-hide="isHiddenElement(selectedScenarioElement)" >
					<span data-ms-id="ScenarioEdit.copyReplaceElementHolder">
						<span data-ms-id="ScenarioEdit.replaceElement" ng-click="openScenarioElementFileModal(scenario.id, selectedScenarioElement, e2e)" class="filename-option clickable" ng-class="{disabled: readOnlyMode}"><icon type="folder-open-o"></icon>Replace</span>
						<span data-ms-id="ScenarioEdit.copyElement" ng-click="openScenarioElementCopyModal(scenario.id, selectedScenarioElement)" class="filename-option clickable" ng-class="{disabled: readOnlyMode}"><icon type="folder-open-o"></icon>Copy &amp; Replace</span>
					</span>
				</div>
			</div>
		</tab>
		<tab expand-collapse-control="#importBody" ng-controller="ImportCtrl">
			<tab-heading>
				<div class="header">
					<icon type="cloud-download"></icon>&nbsp;Import
				</div>
			</tab-heading>
			<ng-include src="'views/includes/scenario/editor/import.tpl.html'"></ng-include>
		</tab>
		<tab expand-collapse-control="#exportBody" ng-controller="ExportCtrl">
			<tab-heading>
				<div class="header" ng-click="setupExportView()" id="exportHeader">
					<icon type="cloud-upload"></icon>&nbsp;Export
				</div>
			</tab-heading>
			<ng-include src="'views/includes/scenario/editor/export.tpl.html'"></ng-include>
		</tab>
	</tabset>
</div>
