<div class="modal-header">
	<h4 class="modal-title"><span class="glyphicon glyphicon-star"></span> MarketShare</h4>
</div>
<div class="modal-body">
	<div ng-bind="user.errorMsg" class="text-danger"></div>
	<ng-form name="nameDialog" novalidate role="form">
		<div class="form-group input-group-lg" ng-class="{true: 'has-error'}[nameDialog.username.$dirty && nameDialog.username.$invalid]">
			<label class="control-label" for="course">Name:</label>
			<input type="text" class="form-control" name="username" id="username" ng-model="user.username" ng-keyup="hitEnter($event)" required focus tabindex="1"/>
			<span class="help-block">Enter your user name.</span>
		</div>

		<div class="form-group input-group-lg" ng-class="{true: 'has-error'}[nameDialog.username.$dirty && nameDialog.username.$invalid]">
			<label class="control-label" for="course">Password:</label>
			<input type="text" class="form-control" name="password" id="password" ng-model="user.password" ng-keyup="hitEnter($event)" required tabindex="1">
			<span class="help-block">Enter your password.</span>
		</div>
	</ng-form>
</div>
<div class="modal-footer">
<!-- 	<button type="button" class="btn btn-default" ng-click="cancel()">Cancel</button> -->
	<button type="button" class="btn btn-primary" ng-click="save()" ng-disabled="(nameDialog.$dirty && nameDialog.$invalid) || nameDialog.$pristine">Login</button>
</div>