<div class="scenario-type-dropdown" data-ms-id="ScenarioEdit.scenarioElements">
    <div class="dropdown">
        <span class="dropdown-toggle">
            {{selectedScenarioElement.cubeMeta.label}}<icon type="caret-down"></icon>
        </span>
        <span ng-hide="hiddenScenarioElement(selectedScenarioElement)">
            <span class="dropdown-filename"><icon type="file-text-o"></icon>{{selectedScenarioElementsFile}}</span>
            <span ng-click="openScenarioElementFileModal(scenario.id, selectedScenarioElement, e2e)" class="filename-option"><icon type="folder-open-o"></icon>Replace</span>
            <span ng-click="openScenarioElementCopyModal(scenario.id, selectedScenarioElement)" class="filename-option"><icon type="folder-open-o"></icon>Copy &amp; Replace</span>
        </span>
        <ul class="dropdown-menu" ms-link-group selected-item="{{selectedScenarioElement.cubeMeta.id}}" radio="true">
            <div ng-repeat="(groupLabel, group) in getGroupedScenarioElements()">
                <div class="group-title">{{groupLabel}}</div>
                <li ng-repeat="element in group | orderBy:'title'" ms-link="{{element.cubeMeta.id}}" ng-click="setScenarioElement(element)">
                    <span class="clickable">{{element.title}}</span>
                </li>
            </div>
        </ul>
    </div>
</div>