<div class="scenario-calculation">

    <div class="row">
        <div class="title">
            <icon type="{{currentStateTitle.icon}}"></icon>&nbsp;{{currentStateTitle.description}}
        </div>
        <p class="description" ng-if="scenarioState.message === 'FAILED'">{{errorMessage}}</p>
    </div>
    <div class="row">
        <progressbar class="progress-striped active" max="100" value="progressValue" type="{{progressbarType}}"><i ng-if="progressValue !== 0">{{progressValue | number:0}}%</i></progressbar>
    </div>
    <div class="row">
        <ul class="list">
            <li ng-repeat="state in getStates()" ng-class="{completed: styleState($index)}">
                <span class="number-circle">{{state.id}}</span>
                {{state.label}}
                <span class="{{state.iconType}}"><icon type="{{state.iconType}}"></icon>&nbsp;{{state.iconText}}</span>
            </li>
        </ul>
    </div>
    <div class="row action-buttons" ng-if="scenarioState.message === 'FAILED'">
        <div class="col-sm-6">
            <ms-button type="cancel" class="btn-block" action="gotoEdit()" label="goto editor"></ms-button>
        </div>
        <div class="col-sm-6">
            <ms-button type="cancel" class="btn-block" action="retry()" label="try again"></ms-button>
        </div>
    </div>

</div>