<div class="scenario_edit">
    <ng-include src="'views/includes/scenario/editor/analysis_element_toolbar.tpl.html'"></ng-include>
    <div class="ms-card">
        <div class="ms-card-title">{{selectedScenarioElementsFile}}
            <span class="ms-card-info"><icon type="info-circle"></icon></span>
            <span class="save-status">{{pivotTableSaveStatus}}</span>
        </div>
        <div class="ms-card-content row">
            <ng-include src="'views/includes/scenario/editor/pivot_toolbar.tpl.html'"></ng-include>
            <ng-include src="'views/includes/scenario/editor/pivot_table.tpl.html'" ng-controller="PivotTableCtrl" onload="init()"></ng-include>
        </div>
    </div>
</div>