@import "utility_classes";
@import "ms-popover";
@import "animation";

.cap {
	width:100%;
	background-color:#222;
	height: 50px;
	position: fixed;
	z-index: 1000;
}

.app {
	width:970px;
	font-size: 13px;
	margin: auto;
	.col-3 {
		width: 200px;
	}
	.col-9 {
		min-width: 745px;
		max-width:900px;
	}
	.col-12 {
		height: 45px;
	}
	.ms-popover {
		z-index:2000;
	}
	.header {
		position:fixed;
	}
	.navigation {
		margin:50px 0 0 0;
		.bar {
			width:970px;
			margin:auto;
			position: fixed;
			z-index:1000;
			top:0;
			ul li a {
				color:$lightgray;
				&:hover {
					background-color: inherit;
					color: $darkgray;
				}
			}
		}
		a.logo {
			background: transparent url($spirte) -214px -3px no-repeat;
			display:inline-block;
			height: 50px;
			width: 200px;
			text-indent: -1000px;
			margin:0 0 0 15px;
			&:hover {
				background: transparent url($spirte) -214px -3px no-repeat;
			}
		}
	}
	.fileManager {
		min-width: 1024px;
		.file-manager-search {
			position:fixed;
			ul {
				list-style: none;
				padding: 0;
				li {
					a {
						color: $black;
						text-decoration: none;
						cursor: pointer;
					}
					&.selected {
						> a {
							color: $selected
						}
					}
					margin: 10px 0 0 10px;
					transition: all 0.3s ease 0s;
					/* sub menu styles only */
					> ul {
						max-height: 500px;
						opacity: 1.0;
						transition: all 0.3s ease 0s;
						> li {
							a {
								color: $darkgray;
								display: inline-block;
							}
						}
						&.closed {
							max-height: 0px;
							opacity: 0.0;
							pointer-events: none;
							> li {
								margin:0;
							}
						}
					}
				}
			}
			.file-manager-filters {
				margin:10px 0 0 10px;
			}
		}
	}
	.file-manager-display {
		min-width:703px;
		clear:both;
		.sorting-bar {
			a {
				text-decoration:none;
				color: $black;
				cursor: pointer;
			}
			.heading {
				display:inline-flex;
				overflow:hidden;
				vertical-align: top;
				&.selected:after {
					font-family: "font awesome";
					color: $black;
					content : '\f0de';
				}
				&.selected {
					a {color:red;}
					&:after {
						content: '\f0dd';
					}
				}
				&.selected.reverse {
					a {color:red;}
					&:after {
						content: '\f0de';
					}
				}
			}
			&.plans {
				.title {
					padding-left:10px;
					min-width:245px
				}
				.modifiedBy {
					width:100px
				}
				.lastModified {
					width:120px
				}
				.fileType {
					width:130px
				}
			}
		}
		.file-cell {
			cursor: default;
			border-bottom: 1px solid #ddd;
			padding: 15px 15px 35px 15px;
			a, input[type=checkbox] {
				cursor: pointer;
			}
			.hidden-content {
				max-height:0;
				overflow: hidden;
				transition: all 0.4s ease 0s;
			}
			.text {
				white-space: nowrap;
				overflow: hidden;
				text-overflow: ellipsis;
				margin:0 0 0 45px;
			}
			&.selected {
				.hidden-content {
					max-height:500px;
				}
				.file-management-buttons {
					opacity:1.0;
				}
				.text {
					white-space: normal;
					overflow: visible;
				}
			}
			.file-management-buttons {
				&.selected {
					opacity:1.0;
				}
			}
			&:last-child {
				margin:0;
				border-bottom: 0 none;
			}
			&:hover {
				background-color: #eee;
				.file-management-buttons {
					opacity:1.0;
				}
			}
			.categories {
				.name {
					display: inline-block;
					font-weight:bold;
				}
				.modifiedBy {
					width:100px;
				}
				.lastModified {
					width:120px;
				}
				.fileType {
					width:130px;
				}
				> div .heading {
					display:inline-flex;
					min-width:100px;
				}
			}
			h5 {
				margin-left: 22px;
				a {
					text-decoration: none;
					color: $black;
					 i {
						opacity:0;
						transition: all 0.4s ease 0s;
					}
					&:hover {
						text-decoration: underline;
					}
				}
				&:hover .edit {
					text-decoration: none;
					i {
						opacity:0.4;
						&:hover {
							opacity:1.0;
						}
					}
				}

			}
			.file-preview-pane {
				border:1px solid $black;
				text-align:center;
				width: 580px;
				margin:10px auto;
				height: 300px;
				vertical-align: middle;
			}
			.scenarios {
				width:682px;
				margin:10px auto 0;
				max-height:300px;
				overflow: hidden;
				transition: max-height 0.4s ease 0s;
				.tableBody {
					max-height:200px;
					overflow-y:scroll;
					padding:5px 5px 0 8px;
					> div {
						margin: 0 0 10px 0;
					}
					div div:first-child {
						padding:0 0 0 10px;
					}
					span {
						display:inline-block;
					}
					.name, .title {
						width: 215px; 
						overflow:hidden;
						white-space: nowrap;
						margin: 0 10px 0 0;
						vertical-align:bottom;
						text-overflow: ellipsis;
					}
				}
				&.myHide {
					max-height: 0px;
					border:0 none;
				}
				.symbol {
					width:30px;
					.icon {
						font-size:9px;
					}
				}
				.title {width: 215px;margin: 0 10px;}
				.lastModified {width:115px;}
				.modifiedBy {width:130px;}
			    .file-type-icon {width:20px;height:20px;display:inline-block;}
			    .square {width:10px;height:10px;float:left;}
			    .blue {background-color:blue;}
			    .green {background-color:green;}
			    .yellow {background-color:yellow;}
			    .red {background-color:red;}
			}
		}
		.symbol-holder {
			left:23px;
			top:3px;
			position: absolute;
		}
		.icon {
			display: table-cell;
			height:15px;
			width:15px;
			color:white;
			font-size: 9px;
			text-align: center;
			vertical-align: middle;
			font-family: arial, helvetica, sans-serif;
			padding:2px 0 0 0;
			&.icon-costassumptions {
				background-color:blue;
				&:after {
					content:'CA';
				}
			}
			&.icon-scenarios {
				background-color:gold;
				&:after {
					content:'S';
				}
			}
			&.icon-objectives {
				background-color:green;
				&:after {
					content:'O';
				}
			}
			&.icon-decisionbooks {
				background-color:violet;
				&:after {
					content:'DB';
				}
			}
			&.icon-productfactors {
				background-color:darkblue;
				&:after {
					content:'PF';
				}
			}
			&.icon-mediaplans {
				background-color:darkgreen;
				&:after {
					content:'MP';
				}
			}
			&.icon-playbook {
				background-color:aqua;
				&:after {
					content:'PB';
				}
			}
			&.icon-hardconstraints {
				background-color:blueviolet;
				&:after {
					content:'HC';
				}
			}
			&.icon-softconstraints {
				background-color:brown;
				&:after {
					content:'SC';
				}
			}
			&.icon-economicvariables {
				background-color:gray;
				&:after {
					content:'EV';
				}
			}
			&.icon-competitivespend {
				background-color:darkgray;
				&:after {
					content:'CS';
				}
			}
			&.icon-pricing {
				background-color:crimson;
				&:after {
					content:'P';
				}
			}
			&.icon-brandawardness {
				background-color:darkcyan;
				&:after {
					content:'BA';
				}
			}
			&.icon-masterset {
				background-color:red;
				&:after {
					content:'M';
				}
			}
			&.icon-marketingfactors {
				background-color:hotpink;
				&:after {
					content:'MF';
				}
			}
		}
		.multi-select {
			margin-right: 10px;
		}
		.file-management-buttons {
			opacity: 0.0;
			margin:10px 20px 0 0;
			transition: all 0.4s ease 0s;
			> div {
				font-size:12px;
				padding-right:10px;
				> i {
					font-size:14px;
					padding-right:3px;
				}
			}
			a {
				color:black;
				&:hover {
					// text-decoration: none;
				}
			}
		}
	}
	.delete-and-filter {
		height:30px;
		width: 100%;
		margin: 0 0 10px;
		.select-menus {
			margin:0 10px;
			.filter-by {
				margin:0 5px 0 0;
			}
		}
		.search-field {
			overflow:hidden;
			.search {
				width:100%;
			}
		}
		.filter-by {
			margin:0 5px 0;
		}
		.master-delete {
			float:left;
			margin: 8px 10px 0;
			a {
				color:$black;
				text-decoration: none;
				cursor:pointer;
			}
			.delete[disabled] {
				pointer-events:none;
				color:lightgray;
				a, span {
					color:lightgray;
				}
			}
		}
	}
}