<!-- this is a hack becausse the <form> tag is stripped out of the <rename> directive when used through the popover directive -->
<span style="display:none;"><rename id='{{item.id}}'></rename></span>

<div class="panel panel-default file-manager" ng-controller="FileBrowserCtrl" nav orderBy="lastModified">
  <div class="panel-heading relative">
    <form class="form-inline sorting-bar" name="sorting-bar">
        <div class="checkbox">
            <input type="checkbox" />
        </div>

        <!-- <span class="name heading" ng-class="{'selected': orderBy === 'name'}"><a ng-click="sortBy('name')">Name&nbsp;</a></span> -->
        <sorting-options label="name"></sorting-options>
        <div class="pull-right">
<!--             <span class="modified-by heading" ng-class="{'selected': orderBy === 'author'}"><a <a ng-click="sortBy('author')">Modified By&nbsp;</a></span> -->
            <sorting-options label="modifiedBy"></sorting-options>
           <!--  <span class="last-modified heading" ng-class="{'selected': orderBy === 'lastModified'}"><a ng-click="sortBy('lastModified')">Last Modified&nbsp;</a></span> -->
           <sorting-options label="lastModified"></sorting-options>
<!--             <span class="file-type heading" ng-class="{'selected': orderBy === 'fileType'}"><a ng-click="sortBy('fileType')">File Type&nbsp;</a></span> -->
            <sorting-options label="fileType"></sorting-options>
        </div>
    </form>

  </div>
  <div class="panel-body relative no-padding">

    <div ng-repeat="item in data | orderBy: orderBy : reverse" class="file-cell" ng-class="getClass($index)" ng-click="toggleSelected($index)">
         <form class="form-inline relative categories">
            <div class="checkbox pull-left multi-select">
                <input type="checkbox" />
            </div>
            <div class="symbol-holder"><span class="icon">{{item.icon}}</span></div>
            <h5 class="media-heading name"><a>{{item.name}}&nbsp;</a><a  class="edit"  popover-title="<b>Rename Simulation</b>" popover-placement="right" mypopover="<rename id='{{item.id}}'></rename>"  popover-trigger="click" ng-click="stop($event)"><i class="icon-pencil"></i></a></h5>
            <div class="pull-right">
                <span class="modifiedBy heading">{{item.modifiedBy}}</span>
                <span class="lastModified heading">{{item.lastModified}}</span>
                <span class="fileType heading">{{item.fileType}}</span>
            </div>
        </form>
        <div class="text">{{item.description}}</div>

        <div class="hidden-content">
            <div class="file-preview-pane">If there was a preview, it would appear here.</div>

            <div class="dependency-count text">This entity is being used in {{item.scenarios.length}} scenarios. <a ng-click="toggleScenarioView($event)">{{hideScenarios ? "Show" : "Hide"}} scenarios</a></div>

            <div ng-if="item.scenarios.length" class="panel panel-default divTable" ng-class="{'myHide': hideScenarios}">
                <div class="tableHead">
                    <div class="symbol cell"><span class="icon">M</span></div>
                    <div class="name cell">Name</div>
                    <div class="last-modified cell">Last Modified</div>
                    <div class="modified-by cell">Modified By</div>
                </div>
                <div class="tableBody">
                    <div ng-repeat="scenario in item.scenarios">
                        <div class="symbol cell"><span class="icon">{{scenario.icon}}</span></div>
                        <div class="name cell">{{scenario.name}}</div>
                        <div class="last-modified cell">{{scenario.lastModified}}</div>
                        <div class="modified-by cell">{{scenario.author}}</div>
                    </div>
                </div>
            </div>
        </div>
        <file-management-buttons></file-management-buttons>
    </div>
  </div>
</div>