<div class="file-manager-mavigation">
    <div class="navbar-default navbar-static-side no-background-color" role="navigation" ng-controller="FileManagerNavigationCtrl">
        <ul class="right-margin" id="side-menu">
            <li class="sidebar-search">
             <!-- search -->
                <form class="navbar-form no-padding no-top-margin" role="search">
                    <div class="input-group add-on">
                        <input type="text" class="form-control" placeholder="Search" name="srch-term" id="srch-term" ng-model="filterService.searchText">
                        <div class="input-group-btn">
                            <button class="btn btn-default" type="submit"><span class="glyphicon glyphicon-search"></span></button>
                        </div>
                    </div>
                </form>
            </li>
        </ul>
        <ul class="file-manager-navigation" nav firstSelected="All" radio="true">
            <li ng-repeat="item in menuItems" ng-class="getClass(item.label)">
                <a ng-click="toggleSelected(item.label, !!item.subMenu || item.label === 'Master Set'); setFilter(item.label, !!item.subMenu || item.label === 'Master Set')">{{item.label}}</a>&nbsp;({{data.fileTypeCounts[item.label] || 0}})
                <ul ng-if="item.subMenu" ng-class="{'hideXXX': activeSubMenu !== item.label}">
                    <li ng-repeat="subMenuItem in item.subMenu" ng-class="getClass(subMenuItem.label)">
                        <a ng-click="toggleSelected(subMenuItem.label, item.label); setFilter(item.label, subMenuItem.label)">{{subMenuItem.label}}</a>&nbsp;({{data.fileTypeCounts[subMenuItem.label] || 0}})
                    </li>
                </ul>
            </li>
        </ul>
        <!-- /#side-menu -->
    </div>
</div>