<!-- this is a hack becausse the <form> tag is stripped out of the <rename> directive when used through the popover directive -->
<!-- TODO: fix me -->
<span style="display:none;"><rename id='{{item.id}}'></rename></span>

<div class="btn-group file-filter-list" ng-controller="FileManagerNavigationCtrl">
    <div class="master-delete" ng-disabled="filesToDeleteCount === 0">
        
        <a ng-click="stop($event)" popover-title="<b>Group Delete</b>" popover-placement="left" mypopover="<set-as-master text='Are you sure you want to delete the {{filesToDeleteCount}} files?' completedText='The files has been successfully deleted.' completedTitle='<b>Deleted!</b>' callback='cb'></set-as-master>"  popover-trigger="click" ><i class="icon-trash"></i>&nbsp;Delete ({{filesToDeleteCount}})</a>

    </div>
    <div class="filter-by">
        <label>Filter by: </label>
        <select ng-model="filterService.activeFilters.createdBy" ng-options="item.filter as item.label for item in [{'label':'Created by me', filter: 'Ann Kross'}, {'label':'Imported documents', 'filter': 'imported'}]" ng-change="clearCreatedBy(filterService.activeFilters.createdBy)">
            <option value="">All</option>
        </select>
  </div>
</div>

<sorter orderBy="lastModified">
    <div class="panel panel-default file-manager" ng-controller="FileBrowserCtrl" nav>
      <div class="panel-heading relative">
        <form class="form-inline sorting-bar plans" name="sorting-bar">
            <div class="checkbox">
                <tri-state-checkbox checkboxes="data.data"  class="select-all-cb" delete-service-For-checkbox></tri-state-checkbox>
            </div>

            <sorting-options label="title"></sorting-options>
            <div class="pull-right">
                <sorting-options label="modifiedBy"></sorting-options>
                <sorting-options label="lastModified"></sorting-options>
                <sorting-options label="fileType"></sorting-options>
            </div>
        </form>

      </div>
      <div class="panel-body relative no-padding">
        <div ng-repeat="item in data.data | orderBy: orderBy : reverse | filter: filterService.activeFilters | filter: filterService.searchText" class="file-cell" ng-class="getClass($index)" ng-click="toggleSelected($index)">
             <form class="form-inline relative categories">
                <div class="checkbox pull-left multi-select">
                    <input type="checkbox" ng-click="dontPassEvent($event)" ng-model="item.isSelected" />
                </div>
                <div class="symbol-holder">
                    <span ng-switch='item.masterSet'>
                        <span ng-switch-when='false' class="icon icon-{{item.fileType | fileType | normalize}}"></span>
                        <span ng-switch-default class="icon icon-masterset"></span>
                    </span>
                </div>
                <h5 class="media-heading name"><a>{{item.title}}&nbsp;</a><a  class="edit"  popover-title="<b>Rename Simulation</b>" popover-placement="right" mypopover="<rename id='{{item.id}}'></rename>"  popover-trigger="click" ng-click="stop($event)"><i class="icon-pencil"></i></a></h5>
                <div class="pull-right">
                    <span class="modifiedBy heading">{{item.modifiedBy}}</span>
                    <span class="lastModified heading">{{item.lastModified | timeago}}</span>
                    <span class="fileType heading">{{item.fileType}}</span>
                    <span class="hide">{{item.search}}</span>
                </div>
            </form>
            <div class="text indent">{{item.description}}</div>

            <div class="hidden-content">
                <div class="dependency-count text indent">This entity is being used in {{item.scenarios.length || 'no'}} scenarios. <a ng-click="toggleScenarioView($event)" ng-show="item.scenarios.length">{{hideScenarios ? "Show" : "Hide"}} scenarios</a></div>
                <div class="text indent">Created by: {{item.createdBy}}</div>
                <div class="text indent">Created On: {{item.createdDate | date : fullDate}}</div>

                <sorter orderBy="lastModified" ng-if="item.scenarios.length">
                    <div class="panel panel-default divTable" ng-class="{'myHide': hideScenarios}">
                        <div class="tableHead sorting-bar">
                            <span class="symbol cell">   
                                <span class="file-type-icon">
                                  <span class='square red'>&nbsp;</span>
                                  <span class='square yellow'>&nbsp;</span>
                                  <span class='square green'>&nbsp;</span>
                                  <span class='square blue'>&nbsp;</span>
                                </span>
                            </span>
                            <sorting-options label="title"></sorting-options>
                            <sorting-options label="lastModified"></sorting-options>
                            <sorting-options label="modifiedBy"></sorting-options>
                        </div>
                        <div class="tableBody">
                            <div ng-repeat="scenario in item.scenarios | orderBy: orderBy : reverse">
                                <span class="symbol cell"><span class=" icon icon-{{scenario.fileType | fileType | normalize}}"></span></span>
                                <span class="name cell">{{scenario.title}}</span>
                                <span class="lastModified cell">{{scenario.lastModified | timeago}}</span>
                                <span class="modifiedBy cell">{{scenario.modifiedBy}}</span>
                            </div>
                        </div>
                    </div>
                </sorter>
            </div>
            <file-management-buttons></file-management-buttons>
        </div>
      </div>
    </div>
</sorter>