<div ng-controller="CreateRecommendationDefineCtrl" class="sub-view">
	<form>
		<ul class="kpi-buttons">
			<li class="kpi-btn" ng-repeat="kpi in kpis" ng-click="selectKpi(kpi)">
				<input type="radio" id="radio{{$index}}" ng-model="newRecommendation.kpi.label" value="{{kpi.label}}" />
				<label class="label-holder" for="radio{{$index}}">
					<span class="label-text">{{kpi.label}}</span>
				</label>
			</li>
		</ul>
	</form>
	<div class="editor">
		<div class="filters-list">
			<div class="list">
				<dimension-filter ng-repeat="dimension in getOutcomeDimensions()" ng-if="addedFilters[dimension.label] && isOutcomeDimensionVisible(dimension)" dimension="dimension" categorized-values="categorizedValue[$index]" action="filtersModal(dimension)" view="list"></dimension-filter>
			</div>
		</div>
	</div>
</div>