<div ng-controller="CreateRecommendationDefineCtrl" class="sub-view">
	<svg class="icon" version="1.1" baseProfile="tiny" id="Capa_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
	 x="0px" y="0px" viewBox="-273 75 412 412" xml:space="preserve" height="50px" width="50px">
		<g>
			<g>
				<g>
					<path fill="#4D83DE" d="M-67,75c-113.6,0-206,92.4-206,206s92.4,206,206,206s206-92.4,206-206S46.6,75-67,75z M-67,455
						c-95.9,0-174-78.1-174-174c0-95.9,78.1-174,174-174s174,78.1,174,174C107,376.9,28.9,455-67,455z"/>
					<path fill="#4D83DE" d="M-67,155c-69.5,0-126,56.5-126,126s56.5,126,126,126c23.4,0,45.4-6.4,64.2-17.6l-8.8-9.1
						c-1,2.2-2.3,4.2-4.1,5.9c-3.4,3.3-7.9,5.1-12.7,5.1c-7.5,0-14.1-4.5-16.9-11.3l-2.8-6.9c-6.1,1.3-12.4,1.9-18.9,1.9
						c-51.8,0-94-42.2-94-94s42.2-94,94-94s94,42.2,94,94c0,7.4-0.9,14.6-2.5,21.5l7.1,3.2c6.7,3.1,10.9,9.8,10.7,17.2
						c-0.2,7.3-4.8,13.8-11.6,16.4l8.7,9C51.8,328.9,59,305.8,59,281C59,211.5,2.5,155-67,155z"/>
					<path fill="#4D83DE" d="M-66.2,263.1c2.6,0,5.2,0.5,7.5,1.6l29.5,13.4C-30.6,258.5-47,243-67,243c-21,0-38,17-38,38
						c0,19.8,15.2,36.1,34.5,37.8l-12.6-30.5c-2.9-7-1.2-14.9,4.2-20.1C-75.4,264.9-70.9,263.1-66.2,263.1z"/>
					<path fill="#4D83DE" d="M5.4,333.4l21.1-8c1.2-0.5,2.1-1.6,2.1-3c0-1.3-0.7-2.5-1.9-3.1l-90.3-41.1c-1.2-0.6-2.7-0.3-3.6,0.6
						c-1,0.9-1.3,2.4-0.8,3.6l37.8,91.7c0.5,1.2,1.7,2,3,2c0.9,0,1.7-0.3,2.3-0.9c0.3-0.3,0.6-0.7,0.7-1.1l8.7-20.8l32.5,33.6
						c1.3,1.3,3.3,1.3,4.6,0.1l16-15.4c1.3-1.3,1.3-3.3,0.1-4.6L5.4,333.4z"/>
				</g>
			</g>
		</g>
	</svg>
	<div class="header">
		Define your goals
		<icon type="info-circle" cname="info"></icon>
	</div>
	<div class="sub-header">
		What KPI do you want to optimize for?
	</div>
	<div class="register">
		<form>
			<ul class="kpi-buttons">
				<li class="kpi-btn" ng-repeat="kpi in kpis" ng-click="selectKpi(kpi)">
					<input type="radio" id="radio{{$index}}" ng-model="newRecommendation.goal.label" value="{{kpi.label}}" />
					<label class="animated fadeIn label-holder" for="radio{{$index}}">
						<span class="label-text">{{kpi.label}}</span>
					</label>
				</li>
			</ul>
		</form>
	</div>
	<div class="editor">
		<div class="filters-list">
			<div class="list">
				<dimension-filter ng-repeat="dimension in getOutcomeDimensions()" ng-if="addedFilters[dimension.label] && isOutcomeDimensionVisible(dimension)" dimension="dimension" categorized-values="categorizedValue[$index]" action="filtersModal(dimension)" list-view="true"></dimension-filter>				
			</div>
		</div>
	</div>
</div>