<div ng-controller="CreateRecommendationSelectCtrl" class="sub-view">
	<div class="row">
		<div class="col-md-7">
			<div class="row date-container">
				<div class="col-md-5">
					<div class="prompt-small">Start Date</div>
					<span>
						<div class="underlined">date</div>
						<div class="underline non-input"></div>
					</span>
				</div>
				<div class="col-md-1 hyphen">
					<span>-</span>
				</div>
				<div class="col-md-5">
					<div class="prompt-small">End Date</div>
					<span>
						<div class="underlined">date</div>
						<div class="underline non-input"></div>
					</span>
				</div>
			</div>
			<div class="editor">
				<div class="filters-list">
					<div class="list">
						<dimension-filter ng-repeat="dimension in getSpendDimensions()" ng-if="addedFilters[dimension.label] && dimension.type !== 'TimeDimension'" dimension="dimension" categorized-values="categorizedValue[$index]" action="filtersModal(dimension)" view="list"></dimension-filter>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="budget-box">
	  <div class="icon-container">
	    <div class="budget-wrapper">
	      <svg-icon class="budget-icon" type="budget"></svg-icon>
	    </div>
	  </div>
	  <div class="number-container">
	    <div class="budget-wrapper">
	      <div class="description">Budget based on scope</div>
	      <div class="number hide-overflow" title="{{totalBudget | currency}}">{{totalBudget | currency}}</div>
	      <div class="action"><a href="">Change?</a></div>
	    </div>
	  </div>
	</div>
</div>
