<div ng-controller="CreateRecommendationSelectCtrl" class="sub-view bottom-border">
	<svg-icon type="optimize" class="sub-view-icon"></svg-icon>
	<div class="prompt">
		Select the budget to optimize
		<icon type="info-circle" cname="info"></icon>
	</div>
	<div class="sub-header">
		Narrow down to only the area of the plan you would like to get recommendations for
	</div>
	<div class="row register">
		<div class="col-md-7">
			<div class="row date-container">
				<div class="col-md-5">
					<div class="prompt-small">Start Date</div>
					<span>
						<div class="underlined">date</div>
						<div class="underline non-input"></div>
					</span>
				</div>
				<div class="col-md-1 hyphen">
					<span>-</span>
				</div>
				<div class="col-md-5">
					<div class="prompt-small">End Date</div>
					<span>
						<div class="underlined">date</div>
						<div class="underline non-input"></div>
					</span>
				</div>
			</div>
			<div class="editor">
				<div class="filters-list">
					<div class="list">
						<dimension-filter ng-repeat="dimension in getSpendDimensions()" ng-if="addedFilters[dimension.label] && dimension.type !== 'TimeDimension'" dimension="dimension" categorized-values="categorizedValue[$index]" action="filtersModal(dimension)" list-view="true"></dimension-filter>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="budget-box">
		<div class="budget-text">
			<p class="budget-description">Budget based on scope</p>
			<p class="budget-number">{{totalBudget | currency}}</p>
		</div>
	</div>
</div>
