<!DOCTYPE html>
<html>
<head>
	<title>Add title</title>
	<script src="../bower_components/angular/angular.js"></script>

</head>
<body ng-app="myApp">

	<div ng-controller="MainCtrl">
		<ul>
			<li ng-repeat="item in roster.data track by item.id">{{item.title}}</li>
		</ul>
		<button ng-click="dump()">delete first</button>
	</div>

	<div ng-controller="UnitCtrl">
		<ul>
			<li ng-repeat="item in rosterXXX.data track by item.id">{{item.title}}</li>
		</ul>
		<button ng-click="dump()">add more</button>
	</div>

	<tester></tester>
		
	<script>
		angular.module("myApp", [])
		.controller('MainCtrl', function($scope, bdRoster){
			$scope.roster = bdRoster.$get();
			$scope.dump = function (){bdRoster.deleteFirst()}
		})
		.controller('UnitCtrl', function($scope, bdRoster) {
			$scope.rosterXXX = bdRoster.$get();
			$scope.dump = function (){bdRoster.addMore()}
			})
		.controller("OtherCtrl", function($scope, bdRoster){

		}).run(function(bdRoster){
				bdRoster.$find();
			}
		).directive("tester", function(bdRoster){
			return{
				restrict: "AE",
				template:"<div><ul><li ng-repeat='item in data.data track by item.id'>{{item.title}}</li></ul><button ng-click='dump()'>change title</button></div>",
				replace:true,
				scope:{},
				link:function($scope){
					$scope.data = bdRoster.$get();
					$scope.dump = bdRoster.changeTitle;
				}
			}
		})
	</script>

	<script src="../bower_components/underscore/underscore.js"></script>
	<script src="../bower_components/q/q.js"></script>
	<script src="./resource.js"></script>
	<script src="./roster-model.js"></script>
	<script src="./unit-model.js"></script>
</body>
</html>