@mixin right-margin ($howMuch) {
	margin-right: $howMuch;
}

@mixin left-margin ($howMuch) {
	margin-left: $howMuch;
}

.column {
	//overflow:hidden;
}

.no-bottom-margin {
	margin-bottom:0;
}

.no-top-margin {
	margin-top:0;
}

.no-background-color {
	background-color:transparent;
}

.no-padding {
	padding: 0;
}

.left-margin {
	@include left-margin (20px);
}

.bold {
	font-weight:bold;
}

.relative {
	position: relative;
}

.inline-block {
	display:inline-block;
}

ul {
	list-style: none;
	padding: 0;
}

.right-margin {
	@include right-margin (40px);
}