/* Animation CSS */
#fade-in.ng-enter, #fade-in.ng-leave {
  -webkit-transition: 10.3s linear all;
  transition: 10.3s linear all;
  display: block !important; }

#fade-in.ng-enter {
  opacity: 0.0; }

#fade-in.ng-enter.ng-enter-active {
  opacity: 1; }

#fade-in.ng-leave.ng-leave-active {
  opacity: 0.0; }

#slide-in.ng-hide-add,
#slide-in.ng-hide-remove {
  -webkit-transition: 10.3s linear all;
  transition: 10.3s linear all;
  display: block !important; }

#slide-in.ng-hide-add {
  width: 300px; }

#slide-in.ng-hide-add.ng-hide-add-active {
  width: 0px; }

#slide-in.ng-hide-remove {
  width: 0px; }

#slide-in.ng-hide-remove.ng-hide-remove-active {
  width: 300px; }
