/* Icon Styles */
.fa-marketshare {
  background-color: white;
  background-image: url(../images/ms-confirm_gray.png);
  width: 16px;
  height: 16px; }

/* Icons */
.symbol {
  display: inline-block;
  margin: 0 5px 0 0;
  height: 18px;
  width: 18px;
  color: white;
  font-size: 9px;
  text-align: center;
  vertical-align: middle;
  font-family: arial, helvetica, sans-serif;
  padding: 2px 0 0 0; }
  .symbol.icon-costassumptions {
    background-color: blue; }
    .symbol.icon-costassumptions:after {
      content: 'CA'; }
  .symbol.icon-competition {
    background-color: gold; }
    .symbol.icon-competition:after {
      content: 'S'; }
  .symbol.icon-objectives {
    background-color: green; }
    .symbol.icon-objectives:after {
      content: 'O'; }
  .symbol.icon-economy {
    background-color: violet; }
    .symbol.icon-economy:after {
      content: 'DB'; }
  .symbol.icon-productfactors {
    background-color: darkblue; }
    .symbol.icon-productfactors:after {
      content: 'PF'; }
  .symbol.icon-laborcost {
    background-color: darkgreen; }
    .symbol.icon-laborcost:after {
      content: 'MP'; }
  .symbol.icon-playbook {
    background-color: aqua; }
    .symbol.icon-playbook:after {
      content: 'PB'; }
  .symbol.icon-hardconstraints {
    background-color: blueviolet; }
    .symbol.icon-hardconstraints:after {
      content: 'HC'; }
  .symbol.icon-softconstraints {
    background-color: brown; }
    .symbol.icon-softconstraints:after {
      content: 'SC'; }
  .symbol.icon-economicvariables {
    background-color: gray; }
    .symbol.icon-economicvariables:after {
      content: 'EV'; }
  .symbol.icon-competitivespend {
    background-color: darkgray; }
    .symbol.icon-competitivespend:after {
      content: 'CS'; }
  .symbol.icon-pricing {
    background-color: crimson; }
    .symbol.icon-pricing:after {
      content: 'P'; }
  .symbol.icon-brandawardness {
    background-color: darkcyan; }
    .symbol.icon-brandawardness:after {
      content: 'BA'; }
  .symbol.icon-masterset {
    background-color: goldenrod;
    background-image: url(../images/ms-confirm_gray.png); }
  .symbol.icon-marketingfactors {
    background-color: hotpink; }
    .symbol.icon-marketingfactors:after {
      content: 'MF'; }
