<div class="display-actions">

	<h4 class="filter-holder" ng-click="toggle()" data-ms-id="filterBy"><span class="title">{{SortAndFilterService.getSelectedLabel()}}&nbsp;(<span data-ms-id='itemCount'>{{SortAndFilterService.getCount()}}</span>)<span  class="filterToggle"><icon type="caret-down"></icon></span></span>

		<ul ms-link-group selected-item="{{CONFIG.filterMenu.items[0].label}}" radio="true" class='filterDropdown dropdownshadow title hide menu'>
			<li ng-repeat="item in CONFIG.filterMenu.items" class="header" ms-link="{{item.label}}" ng-click="setFilter(item.filterType, item, true)" data-ms-id="{{item.label}}">
				 <a>{{item.label}}</a>
			</li>
	    </ul>
	</h4>

	<div class="input-holder">
		<icon type="filter"></icon>
		<input type="text" class="search-input" ng-model="SortAndFilterService.searchText" ng-change="SortAndFilterService.filter()" placeholder="Filter List" ng-maxlength="1000" />&nbsp;
	</div>

	<div class="button-holder">
		<button class="btn btn-default" ng-click="create(CONFIG.displayActionsCreate)" data-ms-id='createButton'><icon type="plus"></icon>CREATE</button>
	</div>
</div>
