<div class="display-actions">
	<h4 class="pull-left title">{{SortAndFilterService.getSelectedLabel()}}&nbsp;<span>({{SortAndFilterService.getCount()}})</span><icon type="sort-desc"></icon></h4>
	<div class="filterDropdown">
		<span class="selected">All Projects</span>
		<span>Favorites</span>
		<span>Created by Me</span>
		<span>I Can Edit</span>
	</div>
	<span>
		<icon type="filter"></icon>
		<input type="text" class="search-input" ng-model="SortAndFilterService.searchText" ng-change="SortAndFilterService.filter()" placeholder="Filter Search"/>&nbsp;
	</span>
	<div class="button-holder">
		<div class="actions">
			<span ng-if="view.create" ng-click="create(CONFIG.displayActionsCreate)"><icon type="plus"></icon>CREATE</span>
			<!-- <span ng-if="view.filter"><icon type="filter"></icon></span>
			<span ng-if="view.search"><search></search></span> -->
		</div>
		
	</div>
</div>
 <script>
// 	$("h4.title").click( function(){
// 		$("div.filterDropdown").toggle();
// 	});
// </script>