<div class="draggable-item dropdown" data-as-sortable-item ng-class="{locked: !!lockedDimensions[item.level.label]}">
	<div data-as-sortable-item-handle>
		<span class="drag-handle" title="Reorder"><icon type="reorder"></icon></span>
		<span class="dropdown-toggle clickable dimension-label" ng-click="clickedItem = item.level.label">{{item.level.label}}</span>
		<span ng-hide="!!lockedDimensions[item.level.label]" class="action-icon clickable" title="Remove" ng-click="delete($index)"><icon type="remove"></icon></span>
		<span ng-show="!!lockedDimensions[item.level.label]" class="action-icon" title="This dimension cannot be removed, because a filter has been applied."><icon type="info-circle"></icon></span>
	</div>
	<div ng-if="!lockedDimensions[item.level.label]" ng-include src="'views/includes/dimensions_pop_menu.tpl.html'" class="dropdown-menu"></div>
</div>