<div class="dimensionItem dropdown" data-as-sortable-item>
	<div data-as-sortable-item-handle>
		<span title="Reorder"><icon type="reorder"></icon></span>
		<span class="dimensionItemInfo dropdown-toggle">
			<span class="dimensionItemName clickable">{{item.level.label.toLowerCase()}}</span>
		</span>
		<span ng-hide="!!lockedDimensions[item.level.label]" class="actionIcon clickable" title="Remove" ng-click="delete($index)"><icon type="remove"></icon></span>
		<span ng-show="!!lockedDimensions[item.level.label]" class="actionIcon" title="This dimension cannot be removed, because a filter has been applied."><icon type="info-circle"></icon></span>
	</div>
	<div ng-if="!lockedDimensions[item.level.label]" ng-include src="'views/includes/dimensions_pop_menu.tpl.html'" class="dropdown-menu"></div>
</div>