<form class="inlineDescription" name="form" data-ms-id="inlineDescription">
	<div>
		<span class='field-label'>Description</span>
		<span class="controls" ng-show="isActive">
			<button class="submit btn btn-default btn-xs" ng-click="submit(item)" ng-disabled="(form.$dirty && form.$invalid) || form.$pristine"><icon type="check"></icon></button>&nbsp;
			<button class="cancel btn btn-default btn-xs" ng-click="cancel()"><icon type="times"></icon></button>
		</span>
		<span class='action' ng-click="action()" ng-hide="isActive"><icon type="pencil" cname="icon"></icon></span>
	</div>

	<div class="noEdit" ng-hide="isActive">
		<div ng-class="{'description':item.description, 'noDescription': !item.description}" ng-show="!isActive">{{item.description}}</div>
	</div>

	<div class="edit" ng-show="isActive">
		<textarea ng-maxlength="256" ng-pattern='/^[^\\\/\?\:\*"><|]+$/' ng-model="item.description" ng-class="{'active': isActive}" class="description inputTarget"></textarea>
	</div>
</form>