<form class="inlineRename" name="inlineRename">
	<span ng-transclude></span>
	<h4 class="title" ng-hide="isActive">{{item.title}}</h4>&nbsp;
	<a class="edit" ng-click="action()"><icon ng-hide="isActive" type="pencil" cname="pencil clearfix"></icon></a>
    <h4 ng-show="isActive">
    	<input ng-maxlength="256" ng-minlength="2" ng-pattern='/^[^\\\/\?\:\*"><|]+$/' class="inputTarget" ng-model="item.title" type="text"></input>&nbsp;<button ng-click="submit(item)" ng-disabled="(inlineRename.$dirty && inlineRename.$invalid) || inlineRename.$pristine"><icon type="check"></icon></button>&nbsp;<button ng-click="cancel()"><icon type="times"></icon></button></h4>
</form>
