<form class="inlineRename" name="form" novalidate role="form" data-ms-id='inlineRename'>
	<span ng-transclude></span>

	<span class="noEdit" ng-hide="isActive" ng-click="action()">
		<span class="title">{{item.title}}</span>&nbsp;
		<span class="action"><icon type="pencil" cname="icon"></icon></span>
	</span>


	<div class="alert alert-danger" ng-show="form.$error.isUnique" role="alert">The scenario name &quot;{{item.title}}&quot; has been taken. Please choose another name.</div></label>

    <span class="edit" ng-show="isActive">
    	<input type="text" class="title" ng-model="item.title" required ng-maxlength="256" ng-minlength="2" ng-pattern='inputRestrictions.characterRestrictions' tabindex="1" is-unique="inputrestriction"/>&nbsp;
    	<button class="submit btn btn-default btn-sm" ng-click="submit(item)" ng-disabled="(form.$dirty && form.$invalid) || form.$pristine"><icon type="check"></icon></button>&nbsp;
    	<button class="cancel btn btn-default btn-sm" ng-click="cancel()"><icon type="times"></icon></button>
    </span>
</form>