<form class="inlineDescription" name="inlineDescription">
	<span class='field-label'>Description</span>
	<a ng-hide="isActive" class='edit' ng-click="action()"><icon  type="pencil"></icon></a>

	<span ng-show="isActive" class="controls"><button ng-click="submit(item)" ng-disabled="(inlineDescription.$dirty && inlineDescription.$invalid) || inlineDescription.$pristine"><icon type="check"></icon></button>&nbsp;<button ng-click="cancel()"><icon type="times"></icon></button></span>

	<textarea ng-disabled="!isActive" ng-maxlength="256" ng-pattern='/^[^\\\/\?\:\*"><|]+$/' ng-model="item.description" ng-class="{'active': isActive}" class="description inputTarget"></textarea>
</form>