<div class="list-subcategory" ng-class="{'list-item': !hasMembers()}">
	<span class="expand-handle clickable" ng-if="hasMembers()" ng-click="expanded[member.label] = !expanded[member.label]">
		<icon type="caret-right" cname="{{setToggleStyle(member)}}"></icon>
	</span> 
	<label class="clickable" ng-class="{'all-selected': isAllSelected(member)}" ng-click="toggleMember(member)">
		<span ng-switch="determineStyle(member)">
			<span ng-switch-when="ALL_SELECTED"> <!-- all selected -->
				<icon type="check-square"></icon>
			</span>
			<span ng-switch-when="NOT_SELECTED"> <!-- not selected -->
				<icon type="square-o"></icon>
			</span>
			<span ng-switch-default> <!-- indeterminent -->
				<icon type="minus-square"></icon>
			</span> 
		</span>
		<span>{{member.label}}</span> 
		<span ng-if="hasMembers()">({{outputSelectedOverTotal(member)}})</span>
	</label>
</div>