<div ng-class="{pbFilterListCategory: hasMembers(), pbFilterListValue: !hasMembers()}">
	<span class="pbExpandHandle clickable" ng-if="hasMembers()" ng-click="expanded[member.label] = !expanded[member.label]">
		<icon type="caret-right" cname="{{(!!expanded[member.label] || expandall.label !== '') ? 'fa-rotate-90':''}}"></icon>
	</span> 
	<label class="clickable" ng-class="{allSelected: determineStyle(member) === 1}" ng-click="toggleMember(member)">
		<span ng-show="determineStyle(member) === 1">
			<icon type="check-circle"></icon>
		</span>
		<span ng-show="determineStyle(member) === 0">
			<icon type="circle-o"></icon>
		</span>
		<span ng-show="determineStyle(member) % 1 > 0">
			<icon type="minus-circle"></icon>
		</span> 
		<span>{{member.label}}</span> 
		<span ng-if="hasMembers()">({{checkedItems(member).checked}}/{{checkedItems(member).total}})</span>
	</label>
</div>