<div class="ms-dropdown" id="{{id}}"> 
	<h6 class="ms-label" ng-class="{active: DropdownService.isActive(id)}">
		<span ng-click="toggle()" class="status select">{{selectedItem.label}}</span>&nbsp<span class="toggle"><icon type="caret-down"></icon></span></h6> 
	<ul class="ms-select-list dropdownshadow hide"> 
		<li class="list-label">Sort Order</li>
		<ul>
			<li class="ms-item selectSort" ng-class="{disabled:reverse}" ng-click="select(selectedItem)"><icon type="check" cname="ms-ok"></icon>Descending</li>
			<li class="ms-item selectSort" ng-class="{disabled:!reverse}" ng-click="select(selectedItem)"><icon type="check" cname="ms-ok"></icon>Ascending</li>
		</ul>
		<li class="list-label">Switch  Column</li>
		<ul>
			<li class="ms-item selectSort" ng-repeat="item in items" ng-class="{disabled:item.label === selectedItem.label}" ng-click="selectSort(item)"><icon type="check" cname="ms-ok"></icon>{{item.label}}</li>  
		</ul>
	</ul> 
</div>