<div class="dimensionCard kpiDimensionCard">
    <div class="dimensionCheckbox">
        <div class="parent-checkbox ms-checkbox no-select" ng-class="{selected: dimensionData.isSelected}">
            <label>
                <input type="checkbox" ms-tristates-checkbox child-list="allDimensionsData" property="isSelected" ng-model="allDimensionsData.isSelected"><i></i><span>KPIs</span>
            </label>
        </div>
        <div class="row no-margin">
            <div ng-repeat="item in allDimensionsData">
                <div class="clearfix" ng-if="$index % 3 == 0"></div>
                <div class="col-md-4 children-checkbox ms-checkbox no-select" ng-class="{selected: item.isSelected}">
                    <label>
                        <input type="checkbox" ng-model="item.isSelected" ng-disabled="item.isLocked"><i></i><span>{{item.label}}</span>
                    </label>
                    <icon type="lock" class="pull-right" ng-if="item.isLocked"></icon>
                </div>
            </div>
        </div>
    </div>
</div>