<div class="flipbook">
	<div class="col-md-3 left-column">
		<div class="product-banner">
			<div class="ms-logo"></div>
			&nbsp;{{currentType.label}}
		</div>
		<div class="template-steps-header">
			Create a Scenario Template
		</div>
		<div class="template-steps">
			<ul>
				<li ng-repeat="view in views">
					<span class="currentView" ng-if="isCurrentView($index)"> 
						<span class="icon-stack">
							<icon type="circle"></icon>
							<icon type="circle-o"></icon>
						</span>
						&nbsp;{{view.label}}
					</span>
					<span ng-if="!isCurrentView($index)"> 
						<icon ng-if="$index > currentViewIndex" type="circle-o"></icon>
						<icon ng-if="$index < currentViewIndex" type="circle"></icon>
						&nbsp;{{view.label}}
					</span>
					<div ng-if="!view.buttonLabel" class="pipe-line">|</div>
				</li>
			</ul>
		</div>
	</div>
	<div class="col-md-9 right-column">
		<div ng-transclude></div>
		<div class="button-container">
			<ms-button type="cancel" label="Cancel" action="dismiss()"></ms-button>
			<span class="right">
				<ms-button type="cancel" label="Back" action="backward()" ng-disabled="isDisabled()"></ms-button>
				&nbsp;
				<ms-button type="submit" label="{{label}}" action="forward()" ng-disabled="isDisabled(DIRECTION)"></ms-button>
			</span>
		</div>
	</div>
</div>