<div ng-switch on="displayBy" class="text-holder">
	<span ng-switch-when="Last Modified">
		<span ng-if="!test">{{::item.auditInfo.lastUpdatedOn | timeago}}<span class="name">{{::item.auditInfo.lastUpdatedBy.name}}</span></span>
		<span ng-if="test">{{::item.auditInfo.lastUpdatedOn}}<span class="name">{{::item.auditInfo.lastUpdatedBy.name}}</span></span>
	</span>
	<span ng-switch-when="Modified By">{{::item.auditInfo.lastUpdatedBy.name}}</span>
	<span ng-switch-when="Type">{{::item.template.type}}</span>
	<span ng-switch-when="Creator">{{::item.auditInfo.createdBy.name}}</span>
	<span ng-switch-when="Created Date">
		<span ng-if="!test">{{::item.auditInfo.createdOn | date: 'longDate'}}<span class="name">{{::item.auditInfo.createdBy.name}}</span></span>
		<span ng-if="test">{{::item.auditInfo.createdOn}}<span class="name">{{::item.auditInfo.createdBy.name}}</span></span>
	</span>
	<span ng-switch-default>FAIL</span>
</div>