<div ng-switch on="displayBy" class="text-holder"> 
	<span ng-switch-when="Last Modified">
		<span ng-if="!test" bind-once>{{item.auditInfo.lastUpdatedOn | timeago }}</span>
		<span ng-if="test">{{item.auditInfo.lastUpdatedOn}}</span>
	</span> 
	<span ng-switch-when="Modified By" bind-once>{{item.auditInfo.lastUpdatedBy.name}}</span> 
	<span ng-switch-when="Type" bind-once>{{item.template.type}}</span> 
	<span ng-switch-when="Creator" bind-once>{{item.auditInfo.createdBy.name}}</span> 
	<span ng-switch-when="Created Date" bind-once>
		<span ng-if="!test" bind-once>{{item.auditInfo.createdOn | date: 'longDate' }}</span>
		<span ng-if="test">{{item.auditInfo.createdOn}}</span>
	</span> 
	<span ng-switch-default>FAIL</span> 
</div>