<div bindonce ng-switch on="displayBy" class="text-holder"> 
	<span ng-switch-when="Last Modified">
		<span ng-if="!test" bo-bind="item.auditInfo.lastUpdatedOn | timeago"></span>
		<span ng-if="test" bo-bind="item.auditInfo.lastUpdatedOn"></span>
	</span> 
	<span ng-switch-when="Modified By" bo-bind="item.auditInfo.lastUpdatedBy.name"></span> 
	<span ng-switch-when="Type" bo-bind="item.template.type"></span> 
	<span ng-switch-when="Creator" bo-bind="item.auditInfo.createdBy.name"></span> 
	<span ng-switch-when="Created Date" bo-bind="">
		<span ng-if="!test" bo-bind="item.auditInfo.createdOn | date: 'longDate'"></span>
		<span ng-if="test" bo-bind="item.auditInfo.createdOn"></span>
	</span> 
	<span ng-switch-default>FAIL</span> 
</div>