.fade-in.ng-enter, .fade-in.ng-leave {
	transition: 0.3s linear all;
	-webkit-transition: 0.3s linear all;
}

.fade-in.ng-enter {
	opacity: 0.0;
}

.fade-in.ng-enter.ng-enter-active {
	opacity: 1.0
}

.fade-in.ng-leave {}

.fade-in.ng-leave.ng-leave-active {
	opacity: 0.0;
}


.slide-in.ng-hide-add,
.slide-in.ng-hide-remove {
-webkit-transition:0.5s linear all;
  transition:0.5s linear all;
  display: block !important;
}

.slide-in.ng-hide-add {
 /* opacity: 1.0;*/
 width:300px;
}

.slide-in.ng-hide-add.ng-hide-add-active {
	/*opacity: 0.0;*/
	width:0px;
}

.slide-in.ng-hide-remove {
	/*opacity: 0.0;*/
	width:0px;
}

.slide-in.ng-hide-remove.ng-hide-remove-active {
	/*opacity: 1.0;*/
	width:300px;
}