@import "utility_classes";
.cap {
	width:100%;
	background-color:#222;
	height: 50px;
	position: fixed;
	z-index: 1000;
}

.app {
	max-width:1300px;
	min-width:1024px;
	font-size: 13px;
	margin: auto;
	position: relative;
	.left { 
		width:200px;
		background-color:$lightgray;
		position:absolute;
		top:0;
		bottom:0;
		height:100%;
		padding:50px 10px 0;
	}
	.center {
		transition: 0.3s linear all;
		-webkit-transition: 0.3s linear all;
		margin:0 0 0 200px;
		height:100%;
		padding: 0 0 0 10px;
		&.condense {
			min-width:1100px;
		}
	}
	.right {
		width:300px;
		background-color:$lightgray;
		height: 100%;
		position: absolute;
		right: 0;
	}

	.holder {
		max-width:1300px;
		margin:auto;
	}
	.navigation {
		margin: 50px 0 0 0;
		.bar {
			max-width:1300px;
			min-width:1024px;
			width:100%;
			height:50px;
			padding:0 15px;
			position: fixed;
			z-index:1000;
			top:0;
			
		}
		a.logo {
			background: transparent url($spirte) -214px -3px no-repeat;
			display:inline-block;
			height: 50px;
			width: 200px;
			text-indent: -1000px;
			&:hover {
				background: transparent url($spirte) -214px -3px no-repeat;
			}
		}
		.navbar-nav {
			li a {
				&:hover {
					background-color: inherit;
					.glyphicon {
						color: $lightgray;
					}
				}
				.glyphicon {
					color: white;
				}
			}
		}
	}
	.display-table {
		&.condense {
			float:left;
			width:784px;
		}
		table {
			font-size:13px;
			transition: 0.3s linear all;
			-webkit-transition: 0.3s linear all;
			width: 100%;
			&.condense {
				// width: 750px;
			}
			td {
				white-space: nowrap;
			}
		}
	}
	.display-actions {
		float:left;
		min-width:772px;
		width:100%;
		&.condense {
			width: inherit;
		}
		.title {
			max-width:400px;
			font-weight:bold;
			span {
				color:$lightgray;
			}
			&.condense {
				// width:150px;
				// text-overflow: ellipsis;
				// overflow: hidden;
				// white-space: nowrap;
			}
		}
		.table {
			font-size:13px;
		}
		span {
			font-family: "font awesome";
		}
		.actions {
			margin:10px 10px 10px 0;
			border-right: 1px solid $gray;
			max-width:132px;
			display:inline-block;
			span {
				padding: 0 10px 0 0;
				font-size: 17px;
				color:$gray;
				&.enabled {
					color:$active;
					cursor: pointer;
				}
			}
		}
		.toggle-info-tray {
			padding:0 15px;
			a {
				cursor: pointer;
				text-decoration: none;
			}
		}
		.search-field {
			display:inline-block;
			margin:10px 0;
			padding:0 15px 0 0;
			max-width:340px;
			border-right: 1px solid $gray;
		}
		.info {
			margin:10px 0 0 10px;
		}
	}
	.display-table {
		thead {
			background-color:$lightgray;
			th {
				a {
					color:$black;
				}
				&.selected:after {
					font-family: "font awesome";
					color: $black;
					content : '\f0de';
				}
				&.selected {
					a {color:red;}
					&:after {
						content: '\f0dd';
					}
				}
				&.selected.reverse {
					a {color:red;}
					&:after {
						content: '\f0de';
					}
				}
			}
		}
	}
	.search {
		.title {
			margin: 10px 0 30px 0;
		}
		.header {
			font-weight:bold;
			&.selected {
				color:$selected;
			}
		}
		.file-types {
			margin: 0 0 20px 20px;
		}
	}
}

.symbol{
	display: inline-block;
	margin: 0 5px 0 0;
	height:18px;
	width:18px;
	color:white;
	font-size: 9px;
	text-align: center;
	vertical-align: middle;
	font-family: arial, helvetica, sans-serif;
	padding:2px 0 0 0;
	&.icon-costassumptions {
		background-color:blue;
		&:after {
			content:'CA';
		}
	}
	&.icon-competition {
		background-color:gold;
		&:after {
			content:'S';
		}
	}
	&.icon-objectives {
		background-color:green;
		&:after {
			content:'O';
		}
	}
	&.icon-economy {
		background-color:violet;
		&:after {
			content:'DB';
		}
	}
	&.icon-productfactors {
		background-color:darkblue;
		&:after {
			content:'PF';
		}
	}
	&.icon-mediaplans {
		background-color:darkgreen;
		&:after {
			content:'MP';
		}
	}
	&.icon-playbook {
		background-color:aqua;
		&:after {
			content:'PB';
		}
	}
	&.icon-hardconstraints {
		background-color:blueviolet;
		&:after {
			content:'HC';
		}
	}
	&.icon-softconstraints {
		background-color:brown;
		&:after {
			content:'SC';
		}
	}
	&.icon-economicvariables {
		background-color:gray;
		&:after {
			content:'EV';
		}
	}
	&.icon-competitivespend {
		background-color:darkgray;
		&:after {
			content:'CS';
		}
	}
	&.icon-pricing {
		background-color:crimson;
		&:after {
			content:'P';
		}
	}
	&.icon-brandawardness {
		background-color:darkcyan;
		&:after {
			content:'BA';
		}
	}
	&.icon-masterset {
		background-color:red;
		&:after {
			content:'M';
		}
	}
	&.icon-marketingfactors {
		background-color:hotpink;
		&:after {
			content:'MF';
		}
	}
}

@import "animation";