@import "utility_classes";
@import "modals";
@import "dropdown";
.cap {
	width:100%;
	background-color:#222;
	height: 50px;
	position: fixed;
	z-index: 1000;
}

.navigation {
  .bar {
    max-width:1300px;
    min-width:1024px;
    width:100%;
    height:50px;
    padding:0 15px;
    margin:auto;
    
  }
  a.logo {
    background: transparent url($spirte) -214px -3px no-repeat;
    display:inline-block;
    height: 50px;
    width: 200px;
    text-indent: -1000px;
    &:hover {
      background: transparent url($spirte) -214px -3px no-repeat;
    }
  }
  .navbar-nav {
    li a {
      &:hover {
        background-color: inherit;
        .glyphicon {
          color: $lightgray;
        }
      }
      .glyphicon {
        color: white;
      }
    }
  }
}

.app {
	max-width:1300px;
	min-width:1024px;
	font-size: 13px;
	margin: auto;
	position: relative;
	top: 50px;
	.left { 
		width:200px;
		border:1px solid $lightgray;
		position:fixed;
		top:50px;
		bottom:0;
		height:100%;
	}
	.center {
		transition: 0.3s linear all;
		-webkit-transition: 0.3s linear all;
		margin:0 0 0 200px;
	}
	.right {
		width:300px;
		background-color:$lightgray;
		height: 100%;
    	float:right;
    	overflow-x: hidden;
	}
	.display-table {
		table {
			td {
				white-space: nowrap;
				cursor: pointer;
			}
			tr.active  td{
				background-color:#F2F5A9;
			}
		}
		.default {
			color: goldenrod;
		}
	}
	.display-actions {
		padding:0 0 0 10px;
    	height:50px;

    	.trash {
    		margin:0 30px 0 0;
    		font-size:14px;
    		color:#0081DB;
    		cursor: pointer;
    	}
		.title {
			color:gray;
			max-width:400px;
			font-weight:bold;
			text-transform: capitalize;
			span {
				color:$lightgray;
			}
		}
		span {
			i {
				font-size:24px;
			}
		}
		.actions {
			height:50px;
			max-width:200px;
			display:inline-block;
			border-left: 1px solid  #BCC6D0;
			span {
				padding: 12px;
				font-size: 17px;
				color:$gray;
				display:inline-block;
				border-right: 1px solid  #BCC6D0;
				height:100%;
				cursor: pointer;
				&:hover {
					color:navy;
				}
			}
			.toggle-info-tray {
				cursor: default;
				&:hover {
					color:$gray;
				}
				&.enabled {
					&:hover {
						cursor: pointer;
						color:navy;
					}
				}
			}
		}
	}
	.display-table {
		thead {
			th {
				background-color:#F6F6F6;
				border: 0 none;
				border-top:1px solid #BCC6D0 !important;
				border-bottom:1px solid #BCC6D0;
				a {
					color:#8695B4;
          			text-decoration: none;
          			cursor: pointer;
				}
	        span {
	  				&.selected:after {
	  					font-family: "font awesome";
	  					color: $black;
	  				}
	  				&.selected {
	  					a {color:red;}
	  				}
	        	}
			}
		}
		tbody tr:hover .dropdown-trigger {
			display: block;
		}
	}
	.search {
			text-transform: uppercase;
			font-size:14px;
			font-weight: bold;
	    .menu > li {
	    	padding: 0 10px;
	     	margin: 0 0 10px;
	    }
		.title {
			font-weight: bold;
			font-size:14px;
			color: gray;
			margin: 10px 0 30px;
			padding: 0 10px;
		}
		.header {
			&.selected {
				background-color: #8796B4;
				> a {
					color:white;
				}
			}
		}
    .submenu {
      margin:0 0 0 10px;
      li {
        font-weight:normal;
        margin: 5px 0 0;
          &.selected > a{
          color:$selected;
        }
      }
    }
    ul {
      li a {
        color: $black;
        text-decoration: none;
        cursor: pointer;
      }
    }
		.file-types {
			margin: 0 0 20px 20px;
		}
	}
}

.info-tray {
  .details {
    .sub-header {
      font-weight: bold;
    }
    margin:0 0 10px;
    p {
      margin:0 0 5px;
      a {
      	cursor: pointer;
      	color:$active;
      	text-decoration: none;
      	&:hover {
      		span.enabled {
      			color:navy;
      		}
      		color:navy;
      	}
      }
    }
  }
  h4, h5, h6 {
    margin-top:0;
    clear:both;
    border-bottom: 1px solid $black;
    padding: 0 0 4px 0;
  }
  p {
    margin:0;
  }
  margin:10px;
  width: 280px;
  .entity-holder {
    height: 100px;
    overflow:hidden;
    &.see-all {
      height: auto;
    }
  }
  .see-all-toggle {
    margin:5px 0  0;
    cursor: pointer;
  }
  .entity {
    margin:0 0 5px;
  }
  .profile{
    padding:8px 5px;
    margin-bottom:10px
  }
}

/* Icons */
.symbol{
	display: inline-block;
	margin: 0 5px 0 0;
	height:18px;
	width:18px;
	color:white;
	font-size: 9px;
	text-align: center;
	vertical-align: middle;
	font-family: arial, helvetica, sans-serif;
	padding:2px 0 0 0;
	&.icon-costassumptions {
		background-color:blue;
		&:after {
			content:'CA';
		}
	}
	&.icon-competition {
		background-color:gold;
		&:after {
			content:'S';
		}
	}
	&.icon-objectives {
		background-color:green;
		&:after {
			content:'O';
		}
	}
	&.icon-economy {
		background-color:violet;
		&:after {
			content:'DB';
		}
	}
	&.icon-productfactors {
		background-color:darkblue;
		&:after {
			content:'PF';
		}
	}
	&.icon-laborcost {
		background-color:darkgreen;
		&:after {
			content:'MP';
		}
	}
	&.icon-playbook {
		background-color:aqua;
		&:after {
			content:'PB';
		}
	}
	&.icon-hardconstraints {
		background-color:blueviolet;
		&:after {
			content:'HC';
		}
	}
	&.icon-softconstraints {
		background-color:brown;
		&:after {
			content:'SC';
		}
	}
	&.icon-economicvariables {
		background-color:gray;
		&:after {
			content:'EV';
		}
	}
	&.icon-competitivespend {
		background-color:darkgray;
		&:after {
			content:'CS';
		}
	}
	&.icon-pricing {
		background-color:crimson;
		&:after {
			content:'P';
		}
	}
	&.icon-brandawardness {
		background-color:darkcyan;
		&:after {
			content:'BA';
		}
	}
	&.icon-masterset {
		background-color:goldenrod;
		background-image: url(../images/ms-confirm_gray.png);
	}
	&.icon-marketingfactors {
		background-color:hotpink;
		&:after {
			content:'MF';
		}
	}
}

/* Bootstrap overrides */
.table {
  width: inherit;
  font-size:13px;
}

table {
  max-width: 100%
}

/* this has to be below everything to work */
@import "animation";