@import "utility_classes";
@import "ms-popover";
@import "animation";

.cap {
	width:100%;
	background-color:#222;
	height: 50px;
	position: fixed;
	z-index: 1000;
}

.app {
	max-width:1300px;
	font-size: 13px;
	margin: auto;

	.col-3 {
		width: 200px;
	}
	.col-9 {
		float: none;
		margin-left: 200px;
		width:auto;
	}
	.navigation {
		margin: 50px 0 0 0;
		.bar {
			max-width:1300px;
			min-width:1024px;
			width:100%;
			height:50px;
			padding:0 15px;
			position: fixed;
			z-index:1000;
			top:0;
			
		}
		a.logo {
			background: transparent url($spirte) -214px -3px no-repeat;
			display:inline-block;
			height: 50px;
			width: 200px;
			text-indent: -1000px;
			&:hover {
				background: transparent url($spirte) -214px -3px no-repeat;
			}
		}
		.navbar-nav {
			li a {
				&:hover {
					background-color: inherit;
					.glyphicon {
						color: $lightgray;
					}
				}
				.glyphicon {
					color: white;
				}
			}
		}
	}
}