@import "utility_classes";
.cap {
	width:100%;
	background-color:#222;
	height: 50px;
	position: fixed;
	z-index: 1000;
}

.navigation {
  margin: 50px 0 0 0;
  .bar {
    max-width:1300px;
    min-width:1024px;
    width:100%;
    height:50px;
    padding:0 15px;
    position: fixed;
    z-index:1000;
    top:0;
    
  }
  a.logo {
    background: transparent url($spirte) -214px -3px no-repeat;
    display:inline-block;
    height: 50px;
    width: 200px;
    text-indent: -1000px;
    &:hover {
      background: transparent url($spirte) -214px -3px no-repeat;
    }
  }
  .navbar-nav {
    li a {
      &:hover {
        background-color: inherit;
        .glyphicon {
          color: $lightgray;
        }
      }
      .glyphicon {
        color: white;
      }
    }
  }
}

.app {
	max-width:1300px;
	min-width:1024px;
	font-size: 13px;
	margin: auto;
	position: relative;
	.left { 
		width:200px;
		background-color:$lightgray;
		position:fixed;
		top:0;
		bottom:0;
		height:100%;
		padding:0 10px 0;
	}
	.center {
		transition: 0.3s linear all;
		-webkit-transition: 0.3s linear all;
		margin:0 0 0 200px;
		height:100%;
		padding: 0 0 0 10px;
	}
	.right {
		width:300px;
		background-color:$lightgray;
		height: 100%;
    float:right;
    overflow: hidden;
	}
	.display-table {
		table {
			td {
				white-space: nowrap;
				cursor: pointer;
			}
		}
	}
	.display-actions {
    height:50px;
		.title {
			max-width:400px;
			font-weight:bold;
			span {
				color:$lightgray;
			}
		}
		span {
			// font-family: "font awesome";
		}
		.actions {
			margin:10px 10px 10px 0;
			border-right: 1px solid $gray;
			max-width:132px;
			display:inline-block;
			span {
				padding: 0 10px 0 0;
				font-size: 17px;
				color:$gray;
				&.enabled {
					color:$active;
					cursor: pointer;
				}
			}
		}
		.toggle-info-tray {
			padding:0 15px;
			a {
				cursor: pointer;
				text-decoration: none;
			}
		}
		.search-field {
			display:inline-block;
			margin:10px 0;
			padding:0 15px 0 0;
			max-width:340px;
			border-right: 1px solid $gray;
		}
		.info {
			margin:10px 0 0 10px;
		}
	}
	.display-table {
		thead {
			background-color:$lightgray;
			th {
				a {
					color:$black;
          text-decoration: none;
          cursor: pointer;
				}
        span {
  				&.selected:after {
  					font-family: "font awesome";
  					color: $black;
  					content : '\f0de';
  				}
  				&.selected {
  					a {color:red;}
  					&:after {
  						content: '\f0dd';
  					}
  				}
  				&.selected.reverse {
  					a {color:red;}
  					&:after {
  						content: '\f0de';
  					}
  				}
        }
			}
		}
	}
	.search {
    .menu > li {
      margin: 0 0 20px;
    }
		.title {
			margin: 10px 0 30px 0;
		}
		.header {
			font-weight:bold;
			&.selected > a{
				color:$selected;
			}
		}
    .submenu {
      margin:0 0 0 10px;
      li {
        font-weight:normal;
        margin: 5px 0 0;
          &.selected > a{
          color:$selected;
        }
      }
    }
    ul {
      li a {
        color: $black;
        text-decoration: none;
        cursor: pointer;
      }
    }
		.file-types {
			margin: 0 0 20px 20px;
		}
	}
}

.info-tray {
  .details {
    .sub-header {
      
    }
    margin:0 0 10px;
    p {
      margin:0 0 5px;
    }
  }
  h4, h5, h6 {
    margin-top:0;
    clear:both;
    border-bottom: 1px solid $black;
  }
  p {
    margin:0;
  }
  margin:10px;
  width: 280px;
  .entity-holder {
    height: 100px;
    overflow:hidden;
    &.see-all {
      height: auto;
    }
  }
  .see-all-toggle {
    margin:5px 0  0;
    cursor: pointer;
  }
  .entity {
    margin:0 0 5px;
  }
  .profile{
    padding:8px 5px;
    margin-bottom:10px
  }
}

/* Icons */
.symbol{
	display: inline-block;
	margin: 0 5px 0 0;
	height:18px;
	width:18px;
	color:white;
	font-size: 9px;
	text-align: center;
	vertical-align: middle;
	font-family: arial, helvetica, sans-serif;
	padding:2px 0 0 0;
	&.icon-costassumptions {
		background-color:blue;
		&:after {
			content:'CA';
		}
	}
	&.icon-competition {
		background-color:gold;
		&:after {
			content:'S';
		}
	}
	&.icon-objectives {
		background-color:green;
		&:after {
			content:'O';
		}
	}
	&.icon-economy {
		background-color:violet;
		&:after {
			content:'DB';
		}
	}
	&.icon-productfactors {
		background-color:darkblue;
		&:after {
			content:'PF';
		}
	}
	&.icon-laborcost {
		background-color:darkgreen;
		&:after {
			content:'MP';
		}
	}
	&.icon-playbook {
		background-color:aqua;
		&:after {
			content:'PB';
		}
	}
	&.icon-hardconstraints {
		background-color:blueviolet;
		&:after {
			content:'HC';
		}
	}
	&.icon-softconstraints {
		background-color:brown;
		&:after {
			content:'SC';
		}
	}
	&.icon-economicvariables {
		background-color:gray;
		&:after {
			content:'EV';
		}
	}
	&.icon-competitivespend {
		background-color:darkgray;
		&:after {
			content:'CS';
		}
	}
	&.icon-pricing {
		background-color:crimson;
		&:after {
			content:'P';
		}
	}
	&.icon-brandawardness {
		background-color:darkcyan;
		&:after {
			content:'BA';
		}
	}
	&.icon-masterset {
		background-color:red;
		&:after {
			content:'M';
		}
	}
	&.icon-marketingfactors {
		background-color:hotpink;
		&:after {
			content:'MF';
		}
	}
}

/* Bootstrap overrides */
.table {
  width: inherit;
  font-size:13px;
}

table {
  max-width: 100%
}

/* this has to be below everything to work */
@import "animation";