$spirte: "../images/360sprite.png";

/*color variables */
$darkgray: darkgray;
$black: #222;
$white: white;
$selected: red;
$lightgray: #F6F6F6;
$gray: gray;
$divider: #BCC6D0;
$disabled: gray;
$enabled: cornflowerblue;
$active: #F2F5A9;
$mouseover: #8796B4;
$highlight: orange;
$mediumgray: #dddddd;


/* sizes */
$cap_height: 50px;
$app_left: 200px;
$app_right: 300px;
$app_max_width: 1300px;
$app_min_width: 1024px;
