<div class="display-table" sorter>
	<table class="table table-hover">
		<colgroup>
		    <col width="490">
		    <col width="315">
		</colgroup>
		<thead>
			<th><sorting-options label="title" display="Name" msid="column_1"></sorting-options></th>
			<th><ms-dropdown reverse=true is-active=true msid="column_2"></ms-dropdown></th>
		</thead>
		<tbody>
			<tr ng-repeat="item in getData()" ng-class="{active: isActiveItem(item)}" ng-click="selectItem(item)">
				<td ng-class="{master: item.isMaster}">
					<div class="text-holder favorites-holder">
						<span class="favorites"><a ng-class="{favorite:isFavorite(item.id)}" ng-click="toggleFavorite($event, item)">&nbsp;</a></span>
					</div>
					<div class="text-holder">
                    	<span class="title">
	                        <a ng-if="!e2e" class="default" ng-click="goto($event, CONFIG.nameClickAction, item)">{{item.title}}</a>
	                        <a ng-if="e2e" data-ms-id="{{item.id}}" class="default" ng-click="goto($event, CONFIG.nameClickAction, item)">{{item.title}}</a>
	                        &nbsp;<icon ng-if="item.isMaster" type="marketshare"></icon>
                    	</span>
                    	<span class="status"><icon type="{{item.currentState.icon}}"></icon></span>
                	</div>
				</td>
				<td ng-click="showDetails(item)">
					<sortable-columns item=item display-by="getSorter('column_2')" test="e2e"></sortable-columns>
				</td>
			</tr>
		</tbody>
	</table>
</div>
