<!-- alerts -->
<div class="alerts" ng-show="hasAlerts"><ng-include src="alertSrc"></ng-include></div>

<!-- display actions -->
<display-actions show="['create', 'search']"></display-actions>

<!-- <pre>
SortAndFilterService.getActiveFilters is {{SortAndFilterService.getActiveFilters()}}
SortAndFilterService.getFilterBy is {{SortAndFilterService.getFilterBy()}}
SortAndFilterService.getOrderBy is {{SortAndFilterService.getOrderBy()}}
</pre> -->


<!-- sorter -->
<ng-include src="'views/includes/sorter.tpl.html'"></ng-include>