 <!-- start navigation -->
<div class="container-fluid no-padding footerrow">
    <div class="row">
        <div class="col-xs-3 navigation footerLeft">
                <div class="navbar-header">
                    &nbsp;
                </div>
                <div class="colorRow">
                </div>
        </div>
        <div class="col-xs-6 navigation footerCenter" >
            <ul class="nav navbar-nav">
                <li><a ng-click="alert('Information workflow TDB')" class="information">New Features</a></li>
                <li><a ng-click="alert('Information workflow TDB')" class="information">Help</a></li>
                <li><a ng-click="alert('Information workflow TDB')" class="information">Contact Us</a></li>
            </ul>
        </div>
        <div class="col-xs-3 navigation footerRight">
            <a href="#"><icon type="angle-up"></icon><br>TOP<a>
        </div>
    </div>
</div>
<!-- end navigation -->