<!-- start navigation -->
<div class="header-wrapper">
    <div class="ms-navigation row">
        <div class="col-xs-3 ms-logo">
            <a class="logo">{{CONFIG.client.name}}</a>
        </div>
        <div class="col-xs-9 ms-nav">
            <ul class="nav navbar-nav">
                <li>
                    <a ng-click="alert('Information workflow TDB')" class="link">Dashboard</a>
                </li>
                <li class="active">
                    <a ng-click="alert('Information workflow TDB')" class="link">Projects&nbsp;<icon type="caret-down"></icon></a>
                </li>
                <li>
                    <a ng-click="alert('Information workflow TDB')" class="link">Reports</a>
                </li>
                <li>
                    <a ng-click="alert('Information workflow TDB')" class="link">Manage</a>
                </li>
                <li>
                    <a ng-click="alert('Information workflow TDB')" class="icon search">
                        <icon type="search"></icon>
                    </a>
                </li>
                <li>
                    <a ng-click="alert('Information workflow TDB')" class="icon">
                        <icon type="user"></icon>
                        <div class="user-status"><span class="notification">6</span></div>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</div>
<!-- end navigation -->
