 <!-- start navigation -->
<div class="container-fluid no-padding">
    <div class="col-xs-12 navigation">
        <div class="bar">
            <div class="navbar-header">
                <a class="logo">MarketShare Logo</a>
            </div>
            <ul class="nav navbar-nav navbar-right">
                <li><a ng-click="alert('Information workflow TDB')" class="information"><icon type="question-circle"></icon></a></li>
            </ul>
        </div>
    </div>
</div>
<!-- end navigation -->