 <!-- start navigation -->
<div class="navbar-holder">
	<div class="container-fluid no-padding headerrow">
		<div class="row">
			<div class="col-xs-3 navigation">
					<div class="navbar-header">
						<a class="logo">{{CONFIG.client.name}}</a>
					</div>
			</div>
			<div class="col-xs-9 navigation headerCenter">
				<ul class="nav navbar-nav">
					<li><a ng-click="alert('Information workflow TDB')" class="action"><span class="midHead">Dashboard</span></a></li>
					<li class="active"><a ng-click="alert('Information workflow TDB')" class="action"><span class="midHead">Projects</span>&nbsp;<i class="fa fa-caret-down " type="caret-down"></i></a></li>
					<li><a ng-click="alert('Information workflow TDB')" class="action"></icon><span class="midHead">Reports</span></a></li>
					<li><a ng-click="alert('Information workflow TDB')" class="action"><span class="midHead">Manage</span></a></li>
					<li><a ng-click="alert('Information workflow TDB')" class="information search"><icon type="search"></icon></a></li>
					<li><a ng-click="alert('Information workflow TDB')" class="information"><icon type="user"></icon>
						<div class="userStatus"><span class="notification">6</span></div>
					</a></li>
				</ul>
			</div>
		</div>
	</div>
	<div class="smallrow">
		<breadcrumb></breadcrumb>
	</div>
</div>
<!-- end navigation -->