<p class="alert alert-info alert-dismissible">
	<button ng-click="$parent.hasAlerts=false" type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
	<strong>Welcome to your new project!</strong><br/>
	Kick things off by <a ng-click="gotoScenarioCreate()" data-ms-id="noScenariosAlert">creating scenarios.</a> All scenarios are based on the Current Master Plan. To change your scenario baseline click 'Base Scenario' on the upper left.
</p>