<div id="pivotBuilder">
	<div class="pbTitle" ng-class="{pbTitleSel: pbShow}">
		<div class="pbRenameArea" ng-mouseOver="rename = true" ng-mouseOut="rename = false">
			<span class="fa fa-eye" ng-show="pbShow"></span>
			<span class="pbTitleText" ng-clicks="pbShow = !pbShow; undoList = [];" ng-click="adjustHeightOnClick(); pbShow ? closeSlider() : (pbShow = true)" ng-hide="saveAs">{{viewName}}</span>
			<span class="pbSaveAsBox" ng-show="saveAs">
				<input type="text" ng-model="saveAsName" ng-keyup="renameAction($event)">
				<span class="glyphicon glyphicon-ok clickable" ng-click="finishSaveAs(true)"></span>
				<span class="glyphicon glyphicon-remove clickable" ng-click="finishSaveAs(false)"></span>
			</span>
			<span ng-show="pbShow && changeMade() && !saveAs" class="pbTitleEdited">- Draft</span>
			<div class="pbRename"><span class="pbRenameButt glyphicon glyphicon-pencil clickable" ng-show="rename && pbShow && !saveAs" ng-click="startSaveAs()"></span></div>
		</div>
	</div>

	<!-- <span class="holder col-2" ng-click="globalInfo.showTray=!globalInfo.showTray"><i class="fa fa-book"></i>&nbsp;Contentual Info</span>
	<span class="holder col-2"><i class="fa fa-building"></i>&nbsp;Adjust Amounts</span>
	<span class="holder col-1"><i class="fa fa-expand"></i>&nbsp;Import/Export</span>
	<span class="holder col-1" style="width: 200px">&nbsp;</span>
	<span class="holder col-1"><i class="fa fa-undo"></i>&nbsp;Undo</span>
	<span class="holder col-1"><i class="fa fa-cog"></i>&nbsp;</span> -->

	<div ng-class="{pbOpened: pbShow}" class="pbSlider">
		<div class="pbViewConf" ng-mouseleave="viewMenu = false" ng-show="!saveAs">
			<span ng-show="pbShow" class="glyphicon glyphicon-cog pbViewConfButt clickable" ng-class="{pbViewConfMenuBack: viewMenu}" ng-click="viewMenu = !viewMenu"></span>
			<div class="pbViewConfMenu" ng-show="viewMenu">
				<span class="pbViewConfMenuTitl">RECENT VIEWS</span>
				<ul>
					<li class="pbViewConfMenuSel clickable" ng-repeat="view in pbData.viewsList">
						<span class="glyphicon glyphicon-eye-open"></span> {{view.name}}
					</li>
				</ul>
				<span class="pbViewConfMenuSel bold clickable">View all saved views</span>
				<hr>
				<span class="pbViewConfMenuSel bold clickable">Share</span>
			</div>
		</div>
		<div class="pbViewSaved" ng-show="notifMsg">{{titleMsg}}</div>
		<div class="pbViewSave" ng-show="pbShow && !saveAs && !notifMsg" ng-mouseleave="viewSaveMenu = false">
			<span class="clickable"><span class="pbSaveHolder" ng-click="saveView()" ng-class="{pbViewSaveDisabled: !changeMade()}"><span class="glyphicon glyphicon-floppy-disk"></span> Save View</span><span class="pbSaveHolder" ng-click="viewSaveMenu = !viewSaveMenu"><span class="caret"></span></span></span>
			<div class="pbViewSaveMenu" ng-show="viewSaveMenu">
				<span class="pbViewSaveMenuItem clickable" ng-click="startSaveAs()">Save As New</span>
				<hr>
				<span class="pbViewSaveMenuItem clickable" ng-click="resetView()">Reset</span>
			</div>
		</div>
		<div class="pbSliderClose">
			<span class="clickable" ng-click="adjustHeightOnClick(); closeSlider()"><span class="glyphicon glyphicon-remove"></span><span class="pbCloseText"> Close</span></span>
			<div class="alert alert-warning alert-dismissible pbCloseAlert" ng-style="{opacity: alertOpacity, 'z-index': (alertOpacity - 0.2)*1000}" role="alert"> <!-- add a class to 0 z-index -->
				<button type="button" class="close" ng-click="alertOpacity = 0;">&times;</span><span class="sr-only">Close</span></button>
				<strong>Warning!</strong> You made changes that you haven't saved. Click '<span class="clickable" ng-click="saveView(); applyView(); pbShow = false; alertOpacity = 0;">Apply</span>' to commit these changes.
			</div>
		</div>
		<div id="dragDropArea">
			<div class="pbSec">
				<div class="pbSecTitle"><span class="glyphicon glyphicon-th-list rotate90"></span> Columns</div>
				<div class="pbItemsHolder" data-as-sortable="dragOptions" ng-model="pbData.viewData.columns" ng-blur="addPopUp['columns'] = false" tabindex="-1">
					<div class="pbItem" ng-repeat="item in pbData.viewData.columns" data-as-sortable-item>
						<span class="pbItemInfo" data-as-sortable-item-handle>
							<!-- <span ><i class="fa fa-arrows"></i></span> -->
							<!-- <span class="pbItemCat">{{item.category}}</span> -->
							<span class="pbItemName clickable" ng-click="add.replaceItem = $index; add.selected = 'columns'; addPopUp['columns'] = !addPopUp['columns']; addPopUp['rows'] = false; popUpLocSet($event);">{{item.name}}</span>
						</span>
						<span class="glyphicon glyphicon-remove clickable" ng-click="delItem(item.name, 'columns')"></span>
					</div>
					<div class="pbAddBox">
						<div class="pbItemAdd clickable" no-drag ng-click="add.replaceItem = -1; add.selected = 'columns'; addPopUp['columns'] = !addPopUp['columns']; addPopUp['rows'] = false; popUpLocSet($event);">+ Add</div>
						<div ng-show="addPopUp['columns']" class="pbAddPopUp modal-content" ng-style="{top: (popUpLoc.top + 30) + 'px', left: (popUpLoc.left - 150) + 'px'}">
							<table>
								<tr ng-repeat="category in pbData.itemsList">
									<td>{{category.label}}</td>
									<td>
										<div ng-repeat="item in category.members">
											<span class="pbItemAddEnabled" ng-if="!added[item.label]" ng-click="addItem(item.label, category.label)">{{item.label}}</span>
											<span class="pbItemAddDisabled" ng-if="added[item.label]">{{item.label}}</span>
										</div>
									</td>
								</tr>
							</table>
						</div>
					</div>
				</div>
			</div>
			<div class="pbSec">
				<div class="pbSecTitle"><span class="glyphicon glyphicon-th-list"></span> Rows</div>
				<div class="pbItemsHolder" data-as-sortable="dragOptions" ng-model="pbData.viewData.rows" ng-blur="addPopUp['rows'] = false" tabindex="-1">
					<div class="pbItem" ng-repeat="item in pbData.viewData.rows" data-as-sortable-item>
						<span class="pbItemInfo" data-as-sortable-item-handle>
							<!-- <span ><i class="fa fa-arrows"></i></span> -->
							<!-- <span class="pbItemCat">{{item.category}}</span> -->
							<span class="pbItemName clickable" ng-click="add.replaceItem = $index; add.selected = 'rows'; addPopUp['rows'] = !addPopUp['rows']; addPopUp['columns'] = false; popUpLocSet($event);">{{item.name}}</span>
						</span>
						<span class="glyphicon glyphicon-remove clickable" ng-click="delItem(item.name, 'rows')"></span>
					</div>
					<div class="pbAddBox">
						<div class="pbItemAdd clickable" ng-click="add.replaceItem = -1; add.selected = 'rows'; addPopUp['rows'] = !addPopUp['rows']; addPopUp['columns'] = false; popUpLocSet($event);">+ Add</div>
						<div ng-show="addPopUp['rows']" class="pbAddPopUp modal-content" ng-style="{top: (popUpLoc.top + 30) + 'px', left: (popUpLoc.left - 150) + 'px'}">
							<table>
								<tr ng-repeat="category in pbData.itemsList">
									<td>{{category.label}}</td>
									<td>
										<div ng-repeat="item in category.members">
											<span class="pbItemAddEnabled" ng-if="!added[item.label]" ng-click="addItem(item.label, category.label)">{{item.label}}</span>
											<span class="pbItemAddDisabled" ng-if="added[item.label]">{{item.label}}</span>
										</div>
									</td>
								</tr>
							</table>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="pbSec">
			<div class="pbSecTitle"><span class="glyphicon glyphicon-filter"></span> Filters</div>
			<div ng-repeat="cat in pbData.itemsList" class="pbFilterBox clickable" ng-click="selectedFilter.cat = cat; selectedFilter.selFil = chooseViewBy(cat.members); cancelChangeFilter();" data-toggle="modal" data-target="#filterModal">
				<div>
					<div class="pbFilterCat">{{cat.label}} <span class="pbFilterSize">({{pbData.viewData.filters[$index].items.length}}/{{cat.members[cat.members.length - 1].members.length}})</span></div>
					<div class="pbFilterVal" ng-show="pbData.viewData.filters[$index].items.length < cat.members[cat.members.length - 1].members.length" data-toggle="tooltip" data-placement="bottom" title="{{pbData.viewData.filters[$index].items.join(', ')}}"><span ng-repeat="fltr in pbData.viewData.filters[$index].items">{{fltr}}<span ng-hide="$last">, </span></span></div>
					<div class="pbFilterVal" ng-show="pbData.viewData.filters[$index].items.length == cat.members[cat.members.length - 1].members.length">ALL</div>
				</div>
			</div>
		</div>
		<!-- <div class="pull-right pbViewButt">
			<button class="btn btn-default btn-undo" ng-click="undoViewChange()" ng-disabled="undoList.length === 0">Undo</button>
			<button class="btn btn-primary" ng-click="applyView()" ng-disabled="viewApplied">APPLY</button>
		</div> -->
	</div>


	<!-- more revised filter modal -->
	<div class="modal fade" id="filterModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" resize>
		<div class="modal-dialog modal-lg">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
					<h4 class="modal-title" id="myModalLabel">Filters</h4>
				</div>
				<div class="modal-body">
					<div class="pbFilterModalLinks" ng-style="{height: (windowHeight - 128) + 'px'}">
						<div class="pbFilterModalLink clickable" ng-repeat="cat in pbData.itemsList" ng-click="selectedFilter.cat = cat; selectedFilter.selFil = chooseViewBy(cat.members);" ng-class="{active: cat.label == selectedFilter.cat.label}">
							<div>{{cat.label}}
								<span class="pbFilterSize">({{categorizeValues($index, addedFilter[cat.label]).selected}}/{{categorizeValues($index, addedFilter[cat.label]).total}})</span>
							</div>
							<div ng-show="categorizeValues($index, addedFilter[cat.label]).selected<categorizeValues($index, addedFilter[cat.label]).total" class="pbFilterModalValues" data-toggle="tooltip" data-placement="bottom" title="{{categorizeValues($index, addedFilter[cat.label]).label.join(', ')}}">{{categorizeValues($index, addedFilter[cat.label]).label.join(', ')}}</div>
							<div ng-hide="categorizeValues($index, addedFilter[cat.label]).selected<categorizeValues($index, addedFilter[cat.label]).total" class="pbFilterModalValues" data-toggle="tooltip" data-placement="bottom" title="{{categorizeValues($index, addedFilter[cat.label]).label.join(', ')}}">ALL</div>
							<!-- <div class="pbFilterModalValues" data-toggle="tooltip" data-placement="bottom" title="{{pbData.viewData.filters[$index].items.join(', ')}}">
								<span ng-repeat="ind in addedFilter[cat.label] | objToArr">{{ind}}<span ng-hide="$last">, </span></span>
							</div> -->
						</div>
					</div>
					<div class="pbFilterModalMain">
						<div class="pbFilterTitle">
							{{selectedFilter.cat.label}}
							<span class="pbFilterSize">
								({{filterCount(addedFilter[selectedFilter.cat.label],false,'')}}/{{totalFilterCount(selectedFilter.cat.members[selectedFilter.cat.members.length - 1].members,'')}})
							</span>
						</div>
						<div class="pbFilterSelect control-label">
							View by: <select ng-model="selectedFilter.selFil" ng-change="searchFilters(selectedFilter.selFil, filterSearch);" ng-options="item.label for item in selectedFilter.cat.members" class="form-control">
								<!-- <option value=""> --- Choose a group --- </option> -->
							</select>
						</div>

						<div class="pbFilterSearch" ng-show="selectedFilter.selFil">
							<input class="form-control" type="text" placeholder="Search" ng-model="filterSearch.label"  ng-keyup="searchFilters(selectedFilter.selFil, filterSearch)">
						</div>

						<div class="pbModalHeight" ng-style="{height: (windowHeight - 290) + 'px'}">
							<filters ng-if="searchResults.members" collection="searchResults" filters="addedFilter" category="{label: selectedFilter.cat.label}"></filters>
						</div>
						<div class="pbFilterModalButtons">
							<button type="button" class="btn btn-default pull-left" data-dismiss="modal" ng-click="cancelChangeFilter()">CANCEL</button>
							<button type="button" class="btn btn-primary pull-right" data-dismiss="modal" ng-click="changeFilter()" ng-disabled="filterCount(addedFilter[selectedFilter.cat.label], false,'') == 0">UPDATE</button>
							<div class="alert alert-danger pbFilterModalAlert" role="alert" ng-show="filterCount(addedFilter[selectedFilter.cat.label], false, '') == 0">
								You should select at least one item.
							</div>
						</div>
					</div>
				</div>
				<!-- <div class="modal-footer">

				</div> -->
			</div>
		</div>
	</div>
</div>

<!--
<pre>
{{appliedView}}
</pre> -->
