<div id="pivotExport">
	<h4>Exporting Data</h4>
	<p class="warning">The data set you have selected exceeds the 1.4 million row limit on Excel.</p>
	<div ng-show="!exportObj.exportClicked">
		<div class="pbSecTitle">Dimensions:</div>
		<div class="pbItemsHolder" data-as-sortable="dragOptions" ng-model="viewData" tabindex="-1">
			<draggable-dimension ng-repeat="item in viewData"></draggable-dimension>
						
			<add-dimension-btn menu="menuList"></add-dimension-btn>
		</div>
	</div>

	<div ng-show="exportObj.exportClicked" class="prepareContainer">
		<div ng-show="!exportObj.readyForDownload">
			<p>Preparing files for download</p>
			<progressbar value="exportObj.prepareProgress"></progressbar>
			<p class="percentage">{{exportObj.prepareProgress}}%</p>
		</div>
		<p ng-show="exportObj.readyForDownload">Your file is ready</p>
	</div>

	<div class="btnGroup">
		<button class="btn inactiveBtn">Cancel</button>
		<button class="btn activeBtn" ng-click="prepareFile()" ng-show="!exportObj.exportClicked">Export</button>
		<a href="http://127.0.0.1:9001/views/360D_report.xls" download="sample.xls" ng-show="exportObj.readyForDownload" class="btn activeBtn">Download</button>
	</div>
</div>