<div class="pbAddPopUp" ng-show="show">
	<div class="pbAddPopUpVisible">
		<table>
			<tr ng-repeat="dimension in dimensions">
				<td>{{dimension.label}}</td>
				<td>
					<div ng-repeat="menuItem in dimension.members">
						<span class="pbItemAddEnabled clickable" ng-if="!selected(menuItem.label)" ng-click="selectDimension(menuItem, item.level.label.toLowerCase())"><icon type="circle-o"></icon> {{menuItem.label.toLowerCase()}}</span>
							<span class="pbItemAddDisabled" ng-if="selected(menuItem.label)"><icon type="circle"></icon> {{menuItem.label.toLowerCase()}}</span>
					</div>
				</td>
			</tr>
		</table>
	</div>
</div>
