<div class="scenario-type-dropdown">
    <div class="dropdown">
        <span class="dropdown-toggle">
            {{selectedScenarioElement.title}} <icon type="caret-down"></icon>
        </span>
        <span class="dropdown-filename"><icon type="file-text-o"></icon> {{selectedScenarioElementsFile}}</span>
        <ul class="dropdown-menu" ms-link-group selected-item="{{selectedScenarioElement.id}}" radio="true">
            <li ng-repeat="scenarioElement in getScenarioElements()" ms-link="{{type.id}}" >
                <a href="" ng-click="setScenarioElement(scenarioElement)">{{scenarioElement.title}}</a>
            </li>
        </ul>
    </div>
</div>

<div class="editor">
    <tabset>
        <tab id="pivotBuilderTab" ng-controller="PivotBuilderCtrl">
            <tab-heading>
                <div class="pbTitle" ng-class="{pbTitleSel: pbShow, pbGray: !pbShow}">
                    <div class="pbRenameArea">
                        </i><icon type="eye" cname="{{pbShow ? '':'pbGray'}}"></icon>
                        <div class="pbTitleText clickable" ng-click="heightChanged(); pbShow ? startSaveAs(true) : (pbShow = true)" ng-hide="saveAs">{{viewName}}</div>
                        <div class="pbSaveAsBox" ng-show="saveAs">
                            <input type="text" ng-model="saveAsName" ng-keyup="renameAction($event)">
                            <span class="clickable" ng-click="finishSaveAs(true)"><icon type="check"></icon></span>
                            <span class="clickable" ng-click="finishSaveAs(false)"><icon type="remove"></icon></span>
                        </div>
                    </div>
                </div>
            </tab-heading>
        	<ng-include src="'views/includes/pivot_table_builder.tpl.html'"></ng-include>
        </tab>
        <tab heading="Import">
        	<ng-include src="'views/includes/pivot_table_import.tpl.html'" ng-controller="importCtrl"></ng-include>
        </tab>
        <tab heading="Export">
        	<ng-include src="'views/includes/pivot_table_export.tpl.html'" ng-controller="exportCtrl"></ng-include>
        </tab>
    </tabset>
    <ng-include src="'views/includes/pivot_table.tpl.html'" ng-controller="pivotTableCtrl" onload="init()"></ng-include>
</div>