<div class="scenario-type-dropdown">
    <div class="dropdown">
        <span class="dropdown-toggle">
            {{selectedType.title}} <icon type="caret-down"></icon>
        </span>
        <span class="dropdown-filename"><icon type="file-text-o"></icon> {{selectedFile}}</span>
        <ul class="dropdown-menu" ms-link-group selected-item="1" radio="true">
            <li ng-repeat="type in getTypes() | orderBy:'type.id'" ms-link="{{type.id}}" >
                <a href="" ng-click="setType(type)">{{type.title}}</a>
            </li>
        </ul>
    </div>
</div>

<div class="editor">
    <tabset>
        <tab heading="Pivot Table">
        	<ng-include src="'views/includes/pivot_table_builder.tpl.html'" ng-controller="PivotBuilderCtrl"></ng-include>
        </tab>
        <tab heading="Import">
        	<h1>Import here</h1>
        </tab>
        <tab heading="Export">
        	<ng-include src="'views/includes/pivot_table_export.tpl.html'" ng-controller="exportCtrl"></ng-include>
        </tab>
    </tabset>
    <ng-include src="'views/includes/pivot_table.tpl.html'" ng-controller="pivotTableCtrl" onload="init()"></ng-include>
</div>