<div class="scenario-type-dropdown" data-ms-id="ScenarioEdit.scenarioElements">
    <div class="dropdown">
        <span class="dropdown-toggle">
            {{selectedScenarioElement.cubeMeta.label}}<icon type="caret-down"></icon>
        </span>
        <span ng-hide="hiddenScenarioElement(selectedScenarioElement)">
            <span class="dropdown-filename"><icon type="file-text-o"></icon>{{selectedScenarioElementsFile}}</span>
            <span ng-click="openScenarioElementFileModal(scenario.id, selectedScenarioElement, e2e)" class="filename-option"><icon type="folder-open-o"></icon>Replace</span>
            <span ng-click="openScenarioElementCopyModal(scenario.id, selectedScenarioElement)" class="filename-option"><icon type="folder-open-o"></icon>Copy &amp; Replace</span>
        </span>
        <ul class="dropdown-menu" ms-link-group selected-item="{{selectedScenarioElement.id}}" radio="true">
            <li ng-repeat="element in getScenarioElements() | orderBy:'cubeMeta.id'" ms-link="{{type.id}}" ng-click="setScenarioElement(element)">
                <span class="clickable">{{element.cubeMeta.label}}</span>
            </li>
        </ul>
    </div>
</div>

<div class="editor">
    <tabset>
        <tab id="pivotBuilderTab" ng-controller="PivotBuilderCtrl">
            <tab-heading>
                <div id="pivotBuildHeader" class="pbTitle" expand-collapse-control target-area="#pivotBuilder" tab-id="1">
                    <div class="pbRenameArea">
                        <icon type="eye"></icon>
                        <div class="pbTitleText" ng-hide="saveAs">{{viewData.name}}</div>
                        <div class="pbSaveAsBox" ng-show="saveAs">
                            <input type="text" ng-model="saveAsName" ui-keydown="{'esc': 'cancelSaveAs()', 'enter': 'submitSaveAs()'}">
                            <span class="clickable" ng-click="submitSaveAs()"><icon type="check"></icon></span>
                            <span class="clickable" ng-click="cancelSaveAs()"><icon type="remove"></icon></span>
                        </div>
                    </div>
                </div>
            </tab-heading>
            <div id="pivotBuilder" class="hidden">
                <div class="pbSlider">
                    <div class="pbControlBar">
                        <div class="pbFunctionFlip clickable" ms-link-group  selected-item="table">
                            <div class="pbFunctionFlipButton" ng-click="showTable(false);" ms-link="table"><icon type="table"></icon></div>
                            <div class="pbFunctionFlipButton" ng-click="showTable(true);" ms-link="filters"><icon type="filter"></icon></div>
                        </div>

                        <div class="pbSaveMenu">
                            <div class="dropdown">
                                <span class="pbSaveButton clickable" ng-click="saveView()" >
                                    <icon type="save"></icon>Save View
                                </span>
                                <span class="dropdown-toggle pbSaveDropButton clickable">
                                    <icon type="caret-down"></icon>
                                </span>
                                <ul class="dropdown-menu pbViewSaveMenu">
                                    <div class="pbViewSaveMenuVisible">
                                        <li>
                                            <div class="pbViewSaveMenuItem" ng-click="startSaveAs();"><icon type="save"></icon>Save As</div>
                                        </li>
                                        <li>
                                            <div class="pbViewSaveMenuItem" ng-click="revertView();"><icon type="undo"></icon>Revert</div>
                                        </li>
                                        <li>
                                            <div class="pbViewSaveMenuItem" ng-click="startRename()"><icon type="pencil"></icon>Rename</div>
                                        </li>
                                    </div>
                                </ul>
                            </div>
                        </div>

                        <div class="pbViewsList">
                            <div class="dropdown">
                                <span class="dropdown-toggle pbRecentViewsButton clickable">
                                    <icon type="eye"></icon>Recent Views<icon type="caret-down"></icon>
                                </span>
                                <ul class="dropdown-menu pbRecentViewsMenu">
                                    <div class="pbRecentViewsMenuVisible">
                                        <li ng-repeat="view in getViewsList() | limitTo:4">
                                            <div ng-click="loadView(cubeId, view.id);"><icon type="eye"></icon>{{view.name}}</div>
                                        </li>
                                        <hr>
                                        <li>
                                            <div ng-click="openAllViewsModal()"><icon type="folder-open-o"></icon>All Views</div>
                                        </li>
                                    </div>
                                </ul>
                            </div>
                        </div>
                    </div>

                    <div id="dragDropArea" ng-hide="isFiltersVisible">
                        <div ng-repeat="pivotBuilderItem in getPivotBuilderItems()" class="pbSec" ng-if="viewData">
                            <div class="pbSecTitle">{{pivotBuilderItem.label}}</div>
                            <div class="pbItemsHolder" data-as-sortable="dragOptions" ng-model="viewData[pivotBuilderItem.name]" tabindex="-1">
                                <draggable-dimension ng-repeat="item in getViewData(pivotBuilderItem.name)" row-or-col="{{pivotBuilderItem.name}}" template="draggable_dimension"></draggable-dimension>
                                <draggable-dimension row-or-col="{{pivotBuilderItem.name}}" template="add_dimension_button" ng-hide="isDragging"></draggable-dimension>
                            </div>
                        </div>
                    </div>

                    <div class="pbSec" ng-show="isFiltersVisible">
                        <div class="pbSecTitle">Filters</div>
                        <div class="pbFilterValues">
                            <div ng-repeat="cat in getDimensions()" class="pbFilterBox clickable" ng-click="filtersModal(cat)" ng-if="addedFilters[cat.label]">
                                <div class="pbFilterCat">{{cat.label}} <span class="pbFilterSize">({{categorizedValue[$index].selected}}/{{categorizedValue[$index].total}})</span></div>
                                <div class="pbFilterVal" ng-show="categorizedValue[$index].selected < categorizedValue[$index].total" data-toggle="tooltip" data-placement="bottom" title="{{categorizedValue[$index].label.join(', ')}}">{{categorizedValue[$index].label.join(', ')}}</div>
                                <div class="pbFilterVal" ng-hide="categorizedValue[$index].selected < categorizedValue[$index].total" title="{{categorizedValue[$index].label.join(', ')}}">All</div>
                            </div>
                        </div>
                    </div>
                    <div class="pbSliderCollapse">
                        <span class="clickable" ng-click="cancelSaveAs();" collapse-control target-area="#pivotBuilder">
                            <icon type="chevron-up"></icon>Collapse
                        </span>
                    </div>
                </div>
            </div>
        </tab>
        <tab ng-controller="importCtrl">
            <tab-heading>
                <div id="importHeader" expand-collapse-control target-area="#importBody" tab-id="2">
                    <icon type="download" ></icon>
                </div>
            </tab-heading>
        	<div id="importBody" class="importExport hidden">
                <div class="tabTitle">Importing Data</div class="tabTitle">
                <p>Do you want to download an import template first? <a class="clickable" onclick="exportHeader.click()">Yes</a></p>
                <div>
                    <div class="fileName" ng-class="{activeFileName: fileSelected, errFileName: invalidFile}" onclick="fileInput.click()">
                        {{selectedFileName}}
                    </div>
                    <ms-button type="submit" label="Browse" onclick="fileInput.click()" ng-disabled="importStarted"></ms-button>
                    <input id="fileInput" type="file" onchange="angular.element(this).scope().newFileSelected(event)" class="ng-hide"></input>
                    <div class="error" ng-show="invalidFile"><icon type="warning"></icon>This file is invalid. Please try again.</div>
                </div>
                <div class="btnGroup">
                    <ms-button type="cancel" action="cancelUpload()" label="Cancel" ng-disabled="!importStarted"></ms-button>
                    <ms-button type="submit" action="startUpload()" label="Import" ng-disabled="!fileSelected || invalidFile || importStarted"></ms-button>
                </div>
                <div ng-show="importStarted" class="uploadContainer">
                    <div ng-hide="uploadCompleted">
                        <progressbar value="uploadProgress"></progressbar>
                        <p class="percentage">{{uploadProgress}}%</p>
                    </div>
                    <div ng-show="uploadCompleted" class="successMsg">You successfully imported {{selectedFileName}}</div>
                </div>
                <div class="pbSliderCollapse">
                    <span class="clickable" collapse-control target-area="#importBody" header="#importHeader">
                        <icon type="chevron-up"></icon>Collapse
                    </span>
                </div>
            </div>
        </tab>
        <tab ng-controller="exportCtrl">
            <tab-heading>
                <div id="exportHeader" expand-collapse-control target-area="#exportBody" tab-id="3" ng-click="setupExportView()">
                    <icon type="upload"></icon>
                </div>
            </tab-heading>
        	<div id="exportBody" class="importExport hidden">
                <div class="tabTitle">Exporting Data</div>
                <div ng-hide="exportInProgress">
                    <div class="pbSec">
                        <div class="pbSecTitle">Dimensions</div>
                        <div class="pbItemsHolder" data-as-sortable="dragOptions" ng-model="exportViewData.rows" tabindex="-1">
                            <draggable-dimension ng-repeat="item in getExportViewDataRows()" template="draggable_dimension" added-values="exportAdded"></draggable-dimension>
                            <draggable-dimension ng-hide="isDragging" template="add_dimension_button"></draggable-dimension>
                        </div>
                    </div>
                   <div class="pbSec">
                        <div class="pbSecTitle">Filters</div>
                        <div class="pbFilterValues">
                            <div ng-repeat="cat in getDimensions()" class="pbFilterBox clickable" ng-click="filtersModal(cat)" data-toggle="modal" data-target="#filterModal"  ng-if="addedExportFilters[cat.label]">
                                <div class="pbFilterCat">{{cat.label}} <span class="pbFilterSize">({{categorizedExportValue[$index].selected}}/{{categorizedExportValue[$index].total}})</span></div>
                                <div class="pbFilterVal" ng-show="categorizedExportValue[$index].selected < categorizedExportValue[$index].total" data-toggle="tooltip" data-placement="bottom" title="{{categorizedExportValue[$index].label.join(', ')}}">{{categorizedExportValue[$index].label.join(', ')}}</div>
                                <div class="pbFilterVal" ng-hide="categorizedExportValue[$index].selected < categorizedExportValue[$index].total" title="{{categorizedExportValue[$index].label.join(', ')}}">All</div>
                            </div>
                        </div>
                    </div>
                </div>

                <div ng-show="exportInProgress" class="prepareContainer">
                    <div ng-hide="downloadReady">
                        <p>Preparing file for download</p>
                        <progressbar value="progressPercentage"></progressbar>
                        <p class="percentage">{{progressPercentage}}%</p>
                    </div>
                    <p ng-show="downloadReady">Your file is ready</p>
                </div>

                <div class="btnGroup">
                    <ms-button type="cancel" action="cancelExport()" label="Cancel" ng-disabled="!exportInProgress"></ms-button>
                    <ms-button type="submit" action="requestExport()" label="Export" ng-hide="exportInProgress"></ms-button>
                    <a ng-href="downloadLink" download="sample.html" ng-show="downloadReady" class="btn active">DOWNLOAD</a>
                </div>

                <div class="pbSliderCollapse" >
                    <span class="clickable" collapse-control target-area="#exportBody" header="#exportHeader">
                        <icon type="chevron-up"></icon>Collapse
                    </span>
                </div>
            </div>
        </tab>
    </tabset>
    <ng-include src="'views/includes/pivot_table.tpl.html'" ng-controller="pivotTableCtrl" onload="init()"></ng-include>
</div>
