<div class="display-table" sorter>
	<table class="table table-hover">
		<colgroup>
			<col width="30" ng-if="CONFIG.status"> <!-- only include column if we have status indicators -->
		    <col width="490">
		    <col width="315">
		</colgroup>
		<thead>
			<th ng-if="CONFIG.status"><!-- holds a column for the status indicator icon, if applicable --></th>
			<th><sorting-options label="title" display="Name" msid="name-field"></sorting-options></th>
			<th><ms-dropdown selected-sort-index="0" reverse=true is-active=true msid="column_1"></ms-dropdown></th>
			<!-- <th><ms-dropdown selected-sort-index="1" reverse=false msid="column_2"></ms-dropdown></th> -->
		</thead>
		<tbody>
			<tr ng-repeat="item in getData()" ng-class="{active: isActiveItem(item)}" class="{{CONFIG.status && item.status.className || ''}}"> 
				<td ng-if="CONFIG.status">
					<span ng-if="item.status"><icon type="{{item.status.icon}}" cname="{{item.status.spin}}"></icon></span>
				</td>
				<td ng-click="showDetails(item)">
					<div class="text-holder">
					<span class="favorites" ng-if="CONFIG.hasFavorites"><a ng-class="{favorite:isFavorite(item.id)}" ng-click="toggleFavorite($event, item.id)"></a></span>
					</div>
					<div class="text-holder">
                    	<span class="title" ng-click="goto($event, CONFIG.where, item.title)">
	                        <span  class="default" type="{{item.isMaster}}" ng-class="{master: item.isMaster}">{{item.title}}&nbsp;<icon type="marketshare"></icon></span>
                    	</span>
                	</div>
				</td>
				<td ng-click="showDetails(item)">
					<sortable-columns item=item display-by="getSorter('column_1')"></sortable-columns>
					<span class="name">{{item.modifiedBy}}</span>
				</td>
			</tr>
		</tbody>
	</table>
</div>
