<!-- <div class="row">
	<wij-spread id="spreadjs" style="width:100%; height: 290px; border: 1px solid #D0D7E5;" backcolor="white" newtabvisible="false" tabstripvisible="false" canUserDragDrop="false" showVerticalScrollbar="false" showHorizontalScrollbar="true">
		<sheets>
			<sheet datasource="data" name="data"></sheet>
		</sheets>
	</wij-spread>
</div>
<div class="row" style="margin-top:20px">
	<button type="button" class="btn btn-default" ng-click="lockCell()" ng-model="toggleText">{{toggleText}}</button>
	<button type="button" class="btn btn-default" ng-click="sortAscending()">Sort A-Z</button>
	<button type="button" class="btn btn-default" ng-click="sortDescending()">Sort Z-A</button>
</div> -->

<div class="row" style="margin-top: 20px; margin-bottom: 20px;">
	<wij-spread id="spreadjs" style="width:1100px; height: 500px;" backcolor="white" newtabvisible="false" tabstripvisible="false" canUserDragDrop="false" showVerticalScrollbar="true" showHorizontalScrollbar="true" useWijmoTheme="true">
	<sheets>
		<sheet datasource="data" name="data"></sheet>
	</sheets>
</wij-spread>
</div>
<div class="row" style="margin-top: 20px; margin-bottom: 20px;">
	<label>Columns:</label>
	<button class="btn btn-default" ng-click="addColumn()"><i class="fa fa-plus"></i>
	</button>
	<button class="btn btn-default" ng-click="deleteColumn()"><i class="fa fa-minus"></i>
	</button>

	<label>Rows:</label>
	<button class="btn btn-default" ng-click="addRow()"><i class="fa fa-plus"></i>
	</button>
	<button class="btn btn-default" ng-click="deleteRow()"><i class="fa fa-minus"></i>
	</button>

	<label>Bar Chart:</label>
	<button class="btn btn-default" ng-click="addDataBar()">{{addDataBarText}}
	</button>

	<label>Save:</label>
	<button class="btn btn-default" ng-click="sendToBackend()">Save
	</button>
</div>

<!-- <div class="row" style="margin-top: 20px; margin-bottom: 20px; overflow-y: auto; max-height: 250px;">
	<pre>
{{pivotTableData | json}}
	</pre>
</div> -->
