<div class="info-tray">
	<div class="details">
		<div class="clearfix title-holder">
			<span ng-switch="selectedItem.isMaster">
				<h4 ng-switch-when="true" class="title clear"><icon type="marketshare"></icon>&nbsp;{{selectedItem.title}}</h4>
				<span ng-switch-default>
					<inline-edit template="inline_rename" test="e2e" submitAction="CONFIG.renameAction" item="selectedItem"></inline-edit>
				</span>
			</span>
		</div>
		<ul class="detail-list no-margin" ng-show="CONFIG.trayButtons">
			<li class="detail" ng-repeat="button in CONFIG.trayButtons">
				<button class="pull-left btn btn-default" ng-disabled="selectedItem.isMaster || !selectedItem" ng-click="action(button.action, selectedItem)" data-ms-id="trayActions.copy">
					<icon type="{{button.icon}}"></icon>&nbsp;{{button.label}}
				</button>
			</li>
		</ul>
	</div>
	<div class="well profile description-holder">
		<span ng-switch="selectedItem.isMaster">
			<span ng-switch-default>
				<inline-edit template="inline_description" focusTarget="textarea" item="selectedItem" test="e2e" submitAction="CONFIG.renameAction"></inline-edit>
			</span>
			<span ng-if="selectedItem.createdBy">
				<h5>Created By</h5>
				 <p class="name">{{selectedItem.createdBy}} , {{selectedItem.createdOn | date}}</p>
			</span>
			<span ng-if="selectedItem.modifiedBy">
				 <h5>Modified by</h5>
				 <p class="name">{{selectedItem.modifiedBy}} , {{selectedItem.modifiedOn | date}}</p>
			</span>
		</span>
	</div>

	<div class="well profile description-holder" ng-if="selectedItem.referenceScenario.name">
		<h5>Base Scenario</h5>
		<p class="entity-holder" data-ms-id="ScenarioListing:baseScenario">{{selectedItem.referenceScenario.name}}</p>
	</div>

	<div class="well profile scenario-listing" ng-if="selectedItem.scenarios.length">
		<div class="scenarioWrapper">
			<h5 class="media-heading bold">Contains</h5>
			<span class='field-label bold'>Total&nbsp;<span>{{selectedItem.scenarios.length}}</span>&nbsp;scenarios</span>
			<span class="create"><icon type="plus-circle"></icon>Create</span>
			<div class="entity-holder" >
				<div class="scenario" ng-show="{{$index < 3}} || showScenario" ng-repeat="scenario in selectedItem.scenarios">
					<a ng-click="goto($event, 'gotoScenarioEdit', scenario)">
						<icon type="cubes"></icon> {{scenario.title}}
					</a>
				</div>

			</div>
		</div>
		<div class="profile-footer" ng-click="toggleShowScenarios()" ng-if="selectedItem.scenarios.length > 3">
			<a>{{viewAll}}</a>
		</div>
	</div>
</div>