<div class="info-tray" ng-controller="InfoTrayCtrl">
	<div class="details">
		<div class="clearfix title-holder" ng-class="{'hasFavorites': hasFavorites}">
			<span ng-switch="selectedItem.isMaster">
				<h4 ng-switch-when="true" class="title clear"><icon type="marketshare"></icon>&nbsp;{{selectedItem.title}}</h4>
				<span ng-switch-default>
					<inline-edit template="inline_rename" item="selectedItem">
						<span ng-if="hasFavorites"><span class="favorites"><a ng-class="{favorite:isFavorite(selectedItem.id)}" ng-click="toggleFavorite(selectedItem.id)"></a></span></span>
					</inline-edit>
				</span>
			</span>
		</div>
		<ul class="detail-list no-margin">
		  <li class="detail">
		  <a class="pull-left"><icon type="files-o"></icon>Copy</a>
		  </li>
		  <li class="detail">
		    <a class="pull-left share">
		      <icon type="users"></icon>Share
		    </a>
		  </li>
		  <li class="detail">
		    <a class="pull-left">
		      <icon type="inbox"></icon>Archive
		    </a>
		  </li>
		  <li class="detail">
		    <a class="pull-left">
		      <icon type="ellipsis-h" cname="dropdown-trigger"></icon>
		    </a>
		  </li>
		</ul>
	</div>
	<div class="well profile description-holder">
		<span ng-switch="selectedItem.isMaster">
			<span ng-switch-default>
				<inline-edit template="inline_description" item="selectedItem"></inline-edit>
			</span>
			<span ng-if="selectedItem.createdBy">
				<h5>Created By</h5>
				 <p class="name">{{selectedItem.createdBy}} , {{selectedItem.createdOn | date}}</p>
			</span>
			<span ng-if="selectedItem.modifiedBy">
				 <h5>Modified by</h5>
				 <p class="name">{{selectedItem.modifiedBy}} , {{selectedItem.modifiedOn | date}}</p>
			</span>
		</span>
	</div>

	<div class="well profile">
		<ul class="media-list no-margin">
		  <li class="media">
		    <div class="media-body">
		      <h5 class="media-heading bold">Access</h5>
		    </div>
		    <a class="pull-left">
		      <img class="media-object" src="images/users_pic_sprite.png">
		    </a>
		  </li>
		</ul>
	</div>

	<div class="well profile" ng-if="selectedItem.base">
		<h4 class="used-in">Base Scenario</h4>
		<p class="entity-holder"><a ng-click="alert('edit base scenario')">{{selectedItem.base}}</a></p>
	</div>

	<div class="well profile scenario-listing" ng-if="selectedItem.scenarios.length">
	<!-- <div class="well profile scenario-listing" ng-if="true"> -->
		<h5 class="media-heading bold">Contains</h5>
		<span class='field-label bold'>Total&nbsp;<span>{{selectedItem.scenarios.length}}</span>&nbsp;scenarios</span>
		<span class="create"><icon type="plus-circle"></icon>Create</span>
		<div class="entity-holder" >
			<div class="scenario" ng-repeat="scenario in selectedItem.scenarios |limitTo:3">
				<a ng-click="goto($event, 'gotoScenarioEdit', scenario.title )">
					<icon type="cubes"></icon> {{scenario.title}}
				</a>
			</div>
		</div>
	</div>
	<div class="profile-footer" ng-if="selectedItem.scenarios.length > 3">View All</div>
</div>