<div class="file-manager-search" ng-controller="FileManagerSearchCtrl">
    <div class="navbar-default navbar-static-side no-background-color" role="navigation">
        <ul class="right-margin" id="side-menu">
            <li class="sidebar-search">
             <!-- search field -->
                <form class="navbar-form no-padding no-top-margin" role="search">
                    <div class="input-group search-field">
                        <input type="text" class="form-control" placeholder="Search" name="srch-term" id="srch-term" ng-model="FilterService.searchText">
                        <div class="input-group-btn">
                            <button class="btn btn-default" type="submit"><span class="glyphicon glyphicon-search"></span></button>
                        </div>
                    </div>
                </form>
            </li>
        </ul>
        <!-- filter links -->
        <ul class="file-manager-filters" link-group firstSelected="All" radio="true">
            <li ng-repeat="item in menuItems" ng-class="{selected: item.label === selectedItem}">
                <a ng-click="toggleSelected(item.label, !!item.subMenu || item.label === 'Master Set'); setFilter(item.label, !!item.subMenu || item.label === 'Master Set')">{{item.label}}</a>
                <ul ng-if="item.subMenu" ng-class="{'closed': activeSubMenu !== item.label}">
                    <li ng-repeat="subMenuItem in item.subMenu" ng-class="{selected: subMenuItem.label === selectedItem}">
                        <a ng-click="toggleSelected(subMenuItem.label, item.label); setFilter(item.label, subMenuItem.label)">{{subMenuItem.label}}</a>
                    </li>
                </ul>
            </li>
        </ul>
    </div>
</div>