@import "variables";

.scenario-edit {
	margin: 25px;
	.details {
		margin: 0 0 20px 0;
		.media {
			margin: 0 0 20px 0;
		}
		form {
			display:inline-block;
		}
		.results {
			display:inline-block;
			margin:0 0 0 10px;
			cursor:pointer;
			&.disabled {
				color:$disabled;
			}
		}
	}
	.display {
		width: 100%;
		.actions {
			border: 1px solid $mediumgray;
			border-bottom: 0 none;
			height: 30px;
			> span:hover {
				background-color:$mouseover;
				cursor: pointer;
			}
			.holder {
				border-right: 1px solid $mediumgray;
				height:29px;
				padding:4px 0 0 9px;
				&:last-child {
					border-right: 0 none;
				}
			}
			.pivotTableControlsHolder {
				position: relative;
				.pivotTableControls {
					position: absolute;
					top: 29px;
					left: 0px;
					width:100%;
					border: 1px solid $mediumgray;
					background-color: $white;
					.dimensions {
						padding:15px;
						.dimension {
							margin: 0 0 8px;
							span {
								display:inline-block;
							}
							.tag {
								font-size:14px;
								color: $darkgray;
								margin:0 5px 0 0;
							}
							.type {
								width:120px;
								text-transform: uppercase;
							}
							.name {width:100px}
							.trigger {float:right}
						}
					}
				}
			}
			.pivitTableHolder {
				border:1px solid $mediumgray;
				padding: 0;
			}
		}
		.tableHolder {
			width: 100%;
			.trayHolder {
				border:1px solid $mediumgray;
				border-right: 0 none;
				width: 300px;
				overflow: hidden;
				.tray {
					overflow: hidden;
				}

			}
			 table {
				width: 100%;
				tr {
					td.editable {
						cursor:pointer;
						width:170px;
						input {
							width:120px;
						}
					}
				}
			}
		}
		table {
			thead {
				background-color:$lightgray;
				th {
					text-transform:uppercase;
					color: $mouseover;
					font-size:12px;
				}
			}
		}
	}
}