<!doctype html>
<html ng-app="myApp">
  <head>
    <script src="../bower_components/jquery/dist/jquery.js"></script>
    <script src="./angular.js"></script>
        <script src="../bower_components/angular-sanitize/angular-sanitize.js"></script>
      <script src="../bower_components/angular-bootstrap/ui-bootstrap-tpls.js"></script>
    <link href="../bower_components/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
    <style>
    .popover .popover-inner .close {
      position: absolute;
      top: 6px;
      right: 10px;
      }
  </style>

  </head>
  <body ng-controller="MainCtrl">

<div ng-controller="PopoverDemoCtrl" style="margin:100px 0 0 300px">

        <a ms-popover popoverTemplate="./popover.html"  additionalData="file='{{data.file}}' callback='rename'" contentTemplate="renameDirective.html" label="rename" title="Rename file" placement= "bottom" trigger="click" class="btn btn-default"><!-- replaced by label --></a>




</div>

<script>
    angular.module('myApp', ['ngSanitize','ui.bootstrap']);
      var PopoverDemoCtrl = function ($scope) {
          $scope.data = {};
          $scope.data.file = 'foo.txt';

          $scope.doIt = function (data){console.info ("controller callback called with "); console.info (data);}

          $scope.rename = function (which) {console.info ("file " + $scope.data.file + " has been renamed to " + which );$scope.data.file = which}
    };

    var x = angular.module('myApp');

    // I will be the popup
    x.directive('msPopover', function($interpolate, $templateCache){
      return {
        priority:130,
        scope: true, 
        templateUrl: function(el, attrs){return attrs.popovertemplate},
        link: function ($scope, $element, $attrs){
          angular.extend($scope, $attrs);
          var data = $templateCache.get($attrs.contenttemplate),
              e = $interpolate(data),
              content = e($scope);

         $scope.content = content;
        }, 
        controller: function ($scope){
          
        }
      }
    });

    // I will be the popUp content
    x.directive('rename', function(){
      return {
        restrict: "E",
        replace: true,
        templateUrl: "input.html",
        link:function (scope, element, attrs){
          angular.extend(scope, attrs);
        },
        controller: function ($scope, $rootScope){
          $scope.submit = function (which){
            console.info ("you submitted " + which);
             $scope.$parent.$parent[$scope.callback](which);

            $rootScope.$broadcast("$close");
          }
          $scope.cancel = function(){
            console.info("cancelled");
            $rootScope.$broadcast("$close");
          }
        }
      }
    });

    x.directive('delete', function() {
        return {
            restrict: 'E',
            replace: true,
            templateUrl: 'twoStage.html',
            link: function(scope, element, attrs) {
              angular.extend(scope, attrs);
            },
            controller: function($scope, $element, $attrs, $rootScope, $timeout) {
                $scope.completed = false;

                $scope.close = function(evt) {
                    evt.stopPropagation();
                    evt.preventDefault();
                };

                $scope.submit = function(evt) {
                    $scope.close(evt);
                    $scope.completed = true;
                    $scope.setTitle($scope.completedtitle);

                    //TODO:  this is a very strong dependency
                    if ($scope.callback) {
                        $scope.$parent.$parent[$scope.callback]($scope.$parent.$parent[$scope.callbackdata]);
                    }

                    $timeout(function() {
                        $rootScope.$broadcast("$close")
                    }, 3000);
                };

                $scope.cancel = function(evt) {
                    $scope.close(evt);
                    $rootScope.$broadcast("$close");
                }
            }
        }
      });

    x.run(function($templateCache) {
      $templateCache.put('renameDirective.html', "<rename {{additionaldata}}></rename>");
    });

    x.run(function($templateCache) {
      $templateCache.put('deleteDirective.html', "<delete {{additionaldata}}></delete>");
    });

    x.run(function($templateCache) {
      $templateCache.put('input.html', "<form novalidate name='myForm'><div>rename file {{file}}</div><label>Enter name<input type='text' placeholder='please enter a name' ng-model='filename' required/></label><br/><button class='btn btn-primary' ng-click='submit(filename)' ng-disabled='myForm.$invalid'>submit</button>&nbsp;<button class='btn btn-default' ng-click='cancel()'>cancel</button></form>");
    });

    x.run(function($templateCache){
      $templateCache.put ("twoStage.html","<div><div ng-hide='completed'><div class='text'>{{text}}</div><div style='white-space:nowrap;margin:5px 0 5px;' class='pull-right'><button class='btn btn-primary' ng-click='submit($event)'>Ok</button>&nbsp;<button ng-click='cancel($event)' class='btn btn-default'>Cancel</button></div></div><div ng-show='completed'><div class='text'>{{completedtext}}</div></div></div>")
    });


    x.controller('MainCtrl', function($scope){
      // $scope.name = "Tripp";
      // $scope.doIt = function (){
      //   console.info ("doing it");
      // }
    });

    x.controller('FirstCtrl', function($scope){

    });


    x.controller('SecondCtrl', function($scope){

    });


    x.controller('ThirdCtrl', function($scope){
  
    });


    

  </script>
  </body>
</html>
