<div class="display-table viewport" sorter>
	<div>
		<table class="table table-hover">
			<colgroup>
			    <col width="490">
			    <col width="315">
			</colgroup>
			<thead>
				<th><sorting-options value="name" label="Name" msid="column_1"></sorting-options></th>
				<th><ms-dropdown reverse=true is-active=true msid="column_2"></ms-dropdown></th>
			</thead>
			<tbody>
				<tr ng-repeat="item in getData()" ng-class="{active: isActiveItem(item)}" ng-click="selectItem(item)">
					<td ng-class="{master: item.isMaster}">
						<div class="text-holder">
							<span class="favorites-holder">
								<span class="favorites"><a ng-class="{favorite:isFavorite(item.uuid)}" ng-click="toggleFavorite($event, item)">&nbsp;</a></span>
							</span>
	                    	<span class="title">
		                        <a ng-if="!e2e" class="default" ng-click="goto($event, CONFIG.nameClickAction, item)">{{::item.name}}</a>
		                        <a ng-if="e2e" data-ms-id="{{item.uuid}}" class="default"  ng-click="goto($event, gotoScenarioCalculate(CONFIG.nameClickAction, item), item)">{{::item.name}}</a>
		                        &nbsp;<icon ng-if="item.isMaster" type="marketshare"></icon>
	                    	</span>
	                    	<span class="status"><icon type="{{item.currentState.icon}}"></icon></span>
	                	</div>
					</td>
					<td ng-click="showDetails(item)">
						<sortable-columns item=item display-by="getSorter('column_2')" test="e2e"></sortable-columns>
					</td>
				</tr>
			</tbody>
		</table>
	</div>
</div>
