<!-- alerts -->
<div class="alerts" ng-show="hasAlerts"><ng-include src="hasAlerts"></ng-include></div>

<!-- display actions -->
<div class="display-actions">
	<ms-filter-dropdown></ms-filter-dropdown>
	<ms-filter-input></ms-filter-input>

	<div class="button-holder">
		I am a scenario listing page {{!!project}}
		<ms-button type="submit" action="createTemplate()" label="New Template" ng-show="project.isMaster"></ms-button>
		<ms-button type='submit' action='create(CONFIG.displayActionsCreate)' label='Create' icon='plus' data-ms-id='createButton' ng-disabled="project.isMaster"></ms-button>
	</div>
</div>
