<td ng-class="{master: item.isMaster}">xxxxxxxxxxxxx{{item}} ccc
	<div class="text-holder">
		<span class="favorites-holder">
			<span class="favorites"><a ng-class="{favorite:isFavorite(item.id)}" ng-click="toggleFavorite($event, item)">&nbsp;</a></span>
		</span>
    	<span class="title">
            <a ng-if="!e2e" class="default" ng-click="goto($event, gotoScenarioCalculate(CONFIG.nameClickAction, item), item)">{{item.title}}</a>
            <a ng-if="e2e" data-ms-id="{{item.id}}" class="default" ng-click="goto($event, gotoScenarioCalculate(CONFIG.nameClickAction, item), item)">{{item.title}}</a>
            &nbsp;<icon ng-if="item.isMaster" type="marketshare"></icon>
    	</span>
    	<span class="status"><icon type="{{item.currentState.icon}}"></icon></span>
	</div>
</td>