<div class="tray-holder">
	<div class="details">
		<div class="clearfix title-holder">
			<span ng-switch="selectedItem.isMaster || ! selectedItem || project.isMaster">
				<span ng-switch-when="true" class="title master"><icon ng-if="selectedItem.isMaster" type="marketshare"></icon>&nbsp;{{selectedItem.name}}</span>
				<span ng-switch-default>
					<inline-edit template="inline_rename" test="e2e" submitAction="CONFIG.renameAction" item="selectedItem" comparison-model="isScenarioTitleUnique"></inline-edit>
				</span>
			</span>
		</div>

		<ul class="button-group" ng-show="CONFIG.trayButtons.length > 0" ng-if="selectedItem && !project.isMaster">
			<li class="button-holder" ng-repeat="button in CONFIG.trayButtons">
				<button class="pull-left" ng-disabled="selectedItem.isMaster || !selectedItem" ng-click="action(button.action, selectedItem)" data-ms-id="trayActions.copy">
					<icon type="{{button.icon}}"></icon>&nbsp;{{button.label}}
				</button>
			</li>
		</ul>
	</div>

	<div class="well meta" ng-if="selectedItem" bindonce>
		<div class="inlineDescription-holder">
			<p class="description-label ms-label">Description</p>
			<span ng-switch="selectedItem.isMaster || ! selectedItem">
				<span ng-switch-when="true" class="description" bo-bind="item.description"></span>
				<span ng-switch-default>
					<inline-edit template="inline_description" focusTarget="textarea" item="selectedItem" test="e2e" submitAction="CONFIG.editAction"></inline-edit>
				</span>
			</span>
		</div>
		<span class="createdBy-holder" ng-if="selectedItem.auditInfo.createdBy">
			<p class="ms-label">Created By</p>
			 <p class="name" data-ms-id="tray.createdBy">{{selectedItem.auditInfo.createdBy.name}},&nbsp;{{selectedItem.auditInfo.createdOn | date}}</p>
		</span>
		<span class="modifiedBy-holder" ng-if="selectedItem.auditInfo.lastUpdatedBy" >
			 <p class="ms-label">Modified By</p>
			 <p class="name" data-ms-id="tray.modifiedBy">{{selectedItem.auditInfo.lastUpdatedBy.name}},&nbsp;{{selectedItem.auditInfo.lastUpdatedOn | date}}</p>
		</span>
	</div>

	<div class="well meta" ng-if="selectedItem.referenceScenario.name" bindonce>
		<div class="referenceScenario-holder">
			<p class="ms-label">Base Scenario</p>
			<p class="reference-label"><a data-ms-id="ScenarioListing:baseScenario" ng-click="gotoBaseScenario(selectedItem.referenceScenario)" bo-bind="selectedItem.referenceScenario.name">{{selectedItem.referenceScenario.name}}</a></p>
			<p class="text-holder template {{selectedItem.template.type | lowercase}}"><span>{{selectedItem.template.name}}</span></p>
		</div>
	</div>

	<div class="well relatedItems" ng-if="selectedItem.scenarios.length">
		<div class="relatedItems-holder">
			<p class="ms-label">Contains</p>
			<p class='field-label'>Total&nbsp;<span>{{selectedItem.scenarios.length}}</span>&nbsp;scenarios</p>
			<div class="item-holder">
				<p class="item hide-overflow" bindonce ng-repeat="scenario in selectedItem.scenarios | limitTo: limit">
					<a ng-click="goto($event, 'gotoScenarioEdit', scenario)" bo-bind="scenario.name">{{scenario.name}}</a>
				</p>
			</div>
			<div class="item-expand" ng-if="selectedItem.scenarios.length > 3" ng-click="setLimit(3, false)">
				<span>View {{limitText}}</span>
			</div>
		</div>
	</div>

	<div class="well relatedItems" ng-if="selectedItem.scenarioElements.length">
		<div class="relatedItems-holder">
			<p class="ms-label">Scenario Elements</p>
			<div class="item-holder" >
				<div class="item" bindonce ng-repeat="element in selectedItem.scenarioElements | orderBy:['group','name'] | limitTo: limit">
					<div class="element-title" bo-bind="element.cubeMeta.label">{{element.cubeMeta.label}}</div>
					<p class="element-name hide-overflow clickable"><a ng-click="goto($event, 'gotoScenarioEdit', selectedItem, element.id)" bo-bind="element.name">{{element.name}}</a></p>
				</div>
			</div>
			<div class="item-expand" ng-if="selectedItem.scenarioElements.length > 3" ng-click="setLimit(3, false)">
				<span>View {{limitText}}</span>
			</div>
		</div>
	</div>
</div>