/*color variables */
/* sizes */
.cap {
  width: 100%;
  background-color: #222222;
  height: 50px;
  position: relative;
  z-index: 1000; }
  .cap .navigation .bar {
    max-width: 1300px;
    min-width: 1024px;
    width: 100%;
    height: 50px;
    padding: 0 15px;
    margin: auto; }
  .cap .navigation a.logo {
    background: transparent url("../images/360sprite.png") -214px -3px no-repeat;
    display: inline-block;
    height: 50px;
    width: 200px;
    text-indent: -1000px; }
  .cap .navigation .navbar-nav li a:hover {
    background-color: inherit; }
    .cap .navigation .navbar-nav li a:hover .glyphicon {
      color: darkgray; }
  .cap .navigation .navbar-nav li a .glyphicon {
    color: white; }

.app {
  max-width: 1300px;
  min-width: 1024px;
  font-size: 13px;
  margin: auto; }
  .app .left {
    width: 200px;
    border: 1px solid #bcc6d0;
    position: fixed;
    top: 50px;
    bottom: 0;
    height: 100%; }
  .app .center {
    transition: 0.3s linear all;
    -webkit-transition: 0.3s linear all;
    margin: -50px 0 0 200px;
    padding: 50px 0 0 0;
    width: auto;
    overflow-y: auto;
    overflow-x: hidden;
    height: 100%; }
  .app .right {
    width: 300px;
    background-color: #e9e9e9;
    height: 100%;
    float: right;
    overflow-x: hidden;
    overflow-y: auto;
    padding: 50px 0 0 0;
    -webkit-box-shadow: -5px 1px 5px 0px rgba(0, 0, 0, 0.3);
    -moz-box-shadow: -5px 1px 5px 0px rgba(0, 0, 0, 0.3);
    box-shadow: -5px 1px 5px 0px rgba(0, 0, 0, 0.3); }
  .app .search {
    text-transform: uppercase;
    font-size: 14px;
    font-weight: bold; }
    .app .search .title {
      color: gray;
      margin: 10px 0 30px;
      padding: 0 10px;
      /* over write bootstrap */
      font-size: 14px;
      font-weight: bold; }
      .app .search .title > i {
        padding: 0 5px 0 0; }
    .app .search .menu > .header {
      padding: 0 10px;
      margin: 0 0 10px; }
      .app .search .menu > .header a {
        color: #222222;
        text-decoration: none;
        cursor: pointer;
        display: inline-block;
        width: 100%; }
      .app .search .menu > .header.selected {
        background-color: #8796b4; }
        .app .search .menu > .header.selected > a {
          color: white; }
  .app .display-actions {
    padding: 0 0 0 10px;
    height: 50px; }
    .app .display-actions .title {
      color: gray;
      max-width: 400px;
      font-weight: bold;
      text-transform: capitalize;
      margin-top: 15px; }
    .app .display-actions .trash {
      margin: 11px 30px 0 0;
      font-size: 14px;
      color: cornflowerblue;
      cursor: pointer;
      display: inline-block; }
    .app .display-actions span i {
      font-size: 24px; }
    .app .display-actions .button-holder {
      float: right;
      height: 50px;
      width: auto; }
      .app .display-actions .button-holder .actions {
        border-left: 1px solid #bcc6d0;
        display: inline-block; }
        .app .display-actions .button-holder .actions > span {
          padding: 12px;
          font-size: 17px;
          color: gray;
          display: inline-block;
          border-right: 1px solid #bcc6d0;
          height: 100%;
          cursor: pointer; }
          .app .display-actions .button-holder .actions > span:hover {
            color: #8796b4; }
        .app .display-actions .button-holder .actions .search-holder {
          border: 1px solid gray;
          display: inline-block;
          padding: 2px 5px; }
          .app .display-actions .button-holder .actions .search-holder .search-input {
            border: 0 none;
            font-size: 14px;
            width: 250px; }
          .app .display-actions .button-holder .actions .search-holder .close-button i {
            font-size: 18px; }
        .app .display-actions .button-holder .actions .toggle-info-tray {
          cursor: default;
          color: #e9e9e9; }
          .app .display-actions .button-holder .actions .toggle-info-tray:hover {
            cursor: default;
            color: #e9e9e9; }
          .app .display-actions .button-holder .actions .toggle-info-tray.enabled {
            color: gray; }
            .app .display-actions .button-holder .actions .toggle-info-tray.enabled:hover {
              cursor: pointer;
              color: #8796b4; }
  .app .display-table table td {
    white-space: nowrap;
    cursor: pointer; }
    .app .display-table table td .master {
      font-weight: bold;
      font-size: 16px; }
    .app .display-table table td .title {
      font-weight: bold; }
    .app .display-table table td .view-only {
      color: gray; }
    .app .display-table table td.favorites {
      padding: 8px 0; }
      .app .display-table table td.favorites a {
        font-family: "font awesome";
        display: inline-block;
        width: 10px;
        height: 10px;
        background-color: inherit; }
        .app .display-table table td.favorites a:hover {
          text-decoration: none; }
          .app .display-table table td.favorites a:hover:after {
            content: '\f006'; }
        .app .display-table table td.favorites a.favorite:after {
          content: '\f005'; }
  .app .display-table table tr.active td {
    background-color: #f2f5a9; }
  .app .display-table thead .title.active a {
    color: orange; }
  .app .display-table thead th {
    background-color: #e9e9e9;
    border: 0 none;
    border-top: 1px solid #bcc6d0 !important;
    border-bottom: 1px solid #bcc6d0; }
    .app .display-table thead th a {
      color: #8796b4;
      text-decoration: none;
      cursor: pointer; }
  .app .display-table tbody tr:hover .dropdown-trigger {
    display: block; }

.info-tray {
  margin: 10px;
  width: 280px; }
  .info-tray a {
    cursor: pointer; }
  .info-tray .details .sub-header {
    margin: 0 0 10px;
    font-weight: bold;
    color: gray; }
  .info-tray .details .title-holder {
    border-bottom: 1px solid gray; }
    .info-tray .details .title-holder .title {
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
      float: left;
      width: 240px;
      padding: 0 0 3px; }
  .info-tray .details .pencil {
    float: right;
    font-size: 18px;
    margin: 0 15px 0 0; }
  .info-tray .details input {
    width: 225px; }
  .info-tray .details .contextual-menu {
    margin: 10px 0; }
    .info-tray .details .contextual-menu .details, .info-tray .details .contextual-menu .divider {
      display: none; }
  .info-tray .details p {
    margin: 0 0 5px; }
    .info-tray .details p a {
      color: cornflowerblue;
      text-decoration: none; }
      .info-tray .details p a:hover {
        color: #8796b4; }
        .info-tray .details p a:hover span.enabled {
          color: #8796b4; }
      .info-tray .details p a.disabled {
        color: gray; }
  .info-tray .details .close {
    margin: 0 15px 0 0; }
  .info-tray h4, .info-tray h5, .info-tray h6 {
    margin-top: 0;
    clear: both; }
  .info-tray p {
    margin: 0; }
  .info-tray .entity-holder {
    clear: both;
    max-height: 100px;
    padding: 0 10px;
    overflow: hidden; }
    .info-tray .entity-holder.see-all {
      height: auto;
      max-height: none; }
  .info-tray .see-all-toggle {
    margin: 0 8px;
    float: right;
    cursor: pointer; }
  .info-tray .scenario {
    margin: 0 0 8px; }
    .info-tray .scenario .in-project {
      margin: 0 0 10px 30px;
      font-style: italic;
      color: gray;
      line-height: 9px; }
  .info-tray .measures h4 {
    margin: 0 0 8px 10px; }
  .info-tray .measures ul li {
    list-style-type: disc;
    margin: 0 0 5px 25px; }
  .info-tray .profile {
    padding: 8px 5px;
    margin-bottom: 10px;
    background-color: white; }
    .info-tray .profile.description-holder .field-label {
      font-weight: bold;
      float: left; }
    .info-tray .profile.description-holder .edit {
      float: right; }
    .info-tray .profile.description-holder .description {
      clear: both;
      width: 100%;
      display: block;
      border: 0 none; }
    .info-tray .profile .used-in {
      float: left;
      font-size: 16px;
      font-weight: bold;
      padding: 0 0 0 10px; }
      .info-tray .profile .used-in span {
        color: orange; }
    .info-tray .profile .add-scenario-holder {
      position: relative; }
      .info-tray .profile .add-scenario-holder .add-scenario {
        margin: 15px auto 5px;
        width: 140px;
        display: block; }
      .info-tray .profile .add-scenario-holder > ul li {
        padding: 0 12px; }
        .info-tray .profile .add-scenario-holder > ul li:hover {
          background-color: #e9e9e9;
          cursor: pointer; }

/* Icons */
.symbol {
  display: inline-block;
  margin: 0 5px 0 0;
  height: 18px;
  width: 18px;
  color: white;
  font-size: 9px;
  text-align: center;
  vertical-align: middle;
  font-family: arial, helvetica, sans-serif;
  padding: 2px 0 0 0; }
  .symbol.icon-costassumptions {
    background-color: blue; }
    .symbol.icon-costassumptions:after {
      content: 'CA'; }
  .symbol.icon-competition {
    background-color: gold; }
    .symbol.icon-competition:after {
      content: 'S'; }
  .symbol.icon-objectives {
    background-color: green; }
    .symbol.icon-objectives:after {
      content: 'O'; }
  .symbol.icon-economy {
    background-color: violet; }
    .symbol.icon-economy:after {
      content: 'DB'; }
  .symbol.icon-productfactors {
    background-color: darkblue; }
    .symbol.icon-productfactors:after {
      content: 'PF'; }
  .symbol.icon-laborcost {
    background-color: darkgreen; }
    .symbol.icon-laborcost:after {
      content: 'MP'; }
  .symbol.icon-playbook {
    background-color: aqua; }
    .symbol.icon-playbook:after {
      content: 'PB'; }
  .symbol.icon-hardconstraints {
    background-color: blueviolet; }
    .symbol.icon-hardconstraints:after {
      content: 'HC'; }
  .symbol.icon-softconstraints {
    background-color: brown; }
    .symbol.icon-softconstraints:after {
      content: 'SC'; }
  .symbol.icon-economicvariables {
    background-color: gray; }
    .symbol.icon-economicvariables:after {
      content: 'EV'; }
  .symbol.icon-competitivespend {
    background-color: darkgray; }
    .symbol.icon-competitivespend:after {
      content: 'CS'; }
  .symbol.icon-pricing {
    background-color: crimson; }
    .symbol.icon-pricing:after {
      content: 'P'; }
  .symbol.icon-brandawardness {
    background-color: darkcyan; }
    .symbol.icon-brandawardness:after {
      content: 'BA'; }
  .symbol.icon-masterset {
    background-color: goldenrod;
    background-image: url(../images/ms-confirm_gray.png); }
  .symbol.icon-marketingfactors {
    background-color: hotpink; }
    .symbol.icon-marketingfactors:after {
      content: 'MF'; }

.fa-marketshare {
  background-color: goldenrod;
  background-image: url(../images/ms-confirm_gray.png); }
